body {
  font-size: 16px;
  color: #666666;
  font-family: "Microsoft YaHei";
  overflow-y: hidden;
}
.container-fluid {
  padding: 0;
}
input[type=text] {
  display: inline-block;
}
#profess-product {
  width: 100%;
  height: 100%;
}
#profess-product .title {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #f7f7f7;
  border-bottom: 1px dashed #e5e5e5;
}
#profess-product .nav-left {
  height: 880px;
  color: #333333;
  background-color: #f7f7f7;
  padding-bottom: 150px;
}
#profess-product .nav-left h4 {
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  color: #333333;
  cursor: pointer;
}
#profess-product .nav-left .nav-list {
  height: 100%;
  overflow-y: auto;
  font-size: 14px;
  margin: 15px 0 0 0;
}
#profess-product .nav-left .nav-list .merchant {
  background-color: #ededed;
  line-height: 54px;
  margin: 0 0 2px 0;
}
#profess-product .nav-left .nav-list .merchant .shop-list {
  display: none;
}
#profess-product .nav-left .nav-list .merchant .shop-list .shop-name {
  background-color: #e5e5e5;
  padding: 0 21px;
  font-size: 14px;
  color: #666666;
}
#profess-product .nav-left .nav-list .merchant .shop-list .shop-name span {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #7d7d7d;
  margin-bottom: 5px;
}
#profess-product .nav-left .nav-list .merchant .shop-list .shop-name a.active {
  color: #c83d2d;
}
#profess-product .nav-left .glyphicon {
  margin: 0 12px 0 21px;
  cursor: pointer;
}
#profess-product .main {
  padding: 0;
}
#profess-product .main .tabs {
  height: 72px;
  line-height: 72px;
  border-bottom: 2px solid #dadada;
}
#profess-product .main .tabs a {
  float: left;
  display: block;
  width: 130px;
  height: 100%;
  font-size: 20px;
  color: #999999;
  text-align: center;
  margin: 0 53px;
}
#profess-product .main .tabs a.active {
  color: #c83d2d;
  border-bottom: 6px solid #c83d2d;
}
#profess-product .main .main-content {
  height: 900px;
  position: relative;
}
#profess-product .main .main-content .live {
  position: absolute;
  top: 92px;
  left: 80px;
}
#profess-product .main .main-content .live .liveAddress {
  padding: 0 0 55px 110px;
}
#profess-product .main .main-content .live .liveAddress .channel {
  float: left;
  width: 265px;
  height: 134px;
  line-height: 2.5;
  background-color: #ffffff;
  border: 2px solid #00a0e9;
  font-size: 24px;
  color: #00a0e9;
  text-align: center;
  margin: 0 30px 0 0;
  cursor: pointer;
}
#profess-product .main .main-content .live .liveAddress .channel.active {
  background-color: #00a0e9;
  color: #ffffff;
}
#profess-product .main .main-content .live .liveAddress:after {
  display: table;
  content: '';
  clear: both;
}
#profess-product .main .main-content .live label {
  font-weight: normal;
  font-size: 20px;
  color: #333333;
  margin: 0 0 62px 0;
}
#profess-product .main .main-content .live input {
  width: 920px;
  height: 40px;
  margin: 0 0 62px 0;
}
#profess-product .main .main-content .full-screen {
  display: none;
  position: absolute;
  top: 92px;
  left: 80px;
}
#profess-product .main .main-content .full-screen label {
  font-weight: normal;
  font-size: 20px;
  color: #333333;
  margin: 0 0 62px 0;
}
#profess-product .main .main-content .full-screen input {
  width: 920px;
  height: 40px;
  margin: 0 0 62px 0;
}
#profess-product .main .main-content .full-screen .subtitle {
  font-size: 20px;
  color: #333333;
  margin: 0 0 62px 0;
}
#profess-product .main .main-content .full-screen .gifCover {
  width: 660px;
  margin: 41px 0 0 57px;
}
#profess-product .main .main-content .full-screen .gifCover #gifCover {
  display: block;
  width: 130px;
  height: 160px;
  margin: 0 auto 20px auto;
  cursor: pointer;
  background: url(../img/add-1.png);
  background-size: cover;
  border: 1px solid #cccccc;
}
#profess-product .main .main-content .full-screen .gifCover #gifCover img {
  width: 100%;
  height: 100%;
}
#profess-product .main .main-content .full-screen .gifCover p {
  text-align: center;
  font-size: 20px;
  color: #999999;
}
#profess-product .main .main-content .upload-video {
  display: none;
}
#profess-product .main .main-content .upload-video .row:nth-of-type(1) {
  border-bottom: 1px solid #dadada;
}
#profess-product .main .main-content .upload-video .row .subtitle {
  display: inline-block;
  margin: 41px 0 0 57px;
  font-size: 20px;
  color: #333333;
}
#profess-product .main .main-content .upload-video .row .upload-area {
  width: 660px;
  margin: 41px 0 20px 57px;
}
#profess-product .main .main-content .upload-video .row .upload-area video {
  display: block;
  width: 130px;
  height: 160px;
  margin: 0 auto 20px auto;
  cursor: pointer;
  background: url(../img/add-2.png);
  background-size: cover;
}
#profess-product .main .main-content .upload-video .row .upload-area p {
  text-align: center;
  font-size: 20px;
  color: #999999;
}
#profess-product .main .main-content .upload-video .row .upload-cover {
  width: 660px;
  margin: 41px 0 0 57px;
}
#profess-product .main .main-content .upload-video .row .upload-cover #uploadCover {
  display: block;
  width: 130px;
  height: 160px;
  margin: 0 auto 20px auto;
  cursor: pointer;
  background: url(../img/add-1.png);
  background-size: cover;
  border: 1px solid #cccccc;
}
#profess-product .main .main-content .upload-video .row .upload-cover #uploadCover img {
  width: 100%;
  height: 100%;
}
#profess-product .main .main-content .upload-video .row .upload-cover p {
  text-align: center;
  font-size: 20px;
  color: #999999;
}
#profess-product .main .main-content .upload-img {
  display: none;
}
#profess-product .main .main-content .upload-img .subtitle {
  display: inline-block;
  margin: 41px 0 0 57px;
  font-size: 20px;
  color: #333333;
}
#profess-product .main .main-content .upload-img .upload-area {
  width: 660px;
  margin: 41px 0 0 57px;
}
#profess-product .main .main-content .upload-img .upload-area #uploadImg {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto 20px auto;
  cursor: pointer;
  background: url(../img/add-3.png);
  background-size: cover;
}
#profess-product .main .main-content .upload-img .upload-area #uploadImg img {
  width: 100%;
  height: 100%;
}
#profess-product .main .main-content .upload-img .upload-area p {
  text-align: center;
  font-size: 20px;
  color: #999999;
}
#profess-product .main .main-content .save {
  display: none;
  position: absolute;
  left: 600px;
  top: 628px;
  width: 140px;
  height: 40px;
  background-color: #00c1de;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
#img-area {
  padding: 20px;
}
#img-area .area {
  margin: 0 0 40px 0;
}
#img-area .area button {
  float: left;
}
#img-area .area button#cut {
  float: right;
}
#img-area .area:after {
  display: table;
  content: '';
  clear: both;
}
#img-area .img-show {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  border: 1px solid #eeeeee;
}
#img-area .img-show .jcrop-holder {
  float: left;
}
#img-area .img-show:after {
  display: table;
  content: '';
  clear: both;
}
