/*通用搜索*/
.h100{
    height: 100px!important	;
}
.h30{
    height: 40px!important	;
}
.flex{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100%!important;
}
.p4{
    padding: 4px 10px;
}
.c0{
	color: #000!important;
	}


#common-tool{
    height: 40px;
    background-color: #F8F7F7;
    border-top: 1px solid #DCDCDC;
    border-bottom:1px solid #DCDCDC;
}
#common-tool #search{
    float: left;
}
#common-tool #rig-tool{
    float: right;
}
#rig-tool>button{
    float: left;
}
.input-group .form-control {
    width: 200px;
    height: 30px;
    padding: 0 5px;
}
/*end*/
#search-tool{
    background-color: #fff;
    border-top: 1px solid #DCDCDC;
    border-bottom:1px solid #DCDCDC;
    padding: 10px;
    position: relative;
    display: none;
}
#search-tool .input-group{
    float: left;
    margin-left: 10px;
}
#search-tool .input-group:first-child{
    margin-left: 0;
}
#search-tool .input-group>span{
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    margin-right: 5px;
}
#search-tool-show{
    float: right;
}
/*layer*/
#demo111,#lookDemo,.tipdemo{
    padding: 20px 10px 0;
    display: none;
}
#demo111>.leftCon,#demo111>.rightCon,.tipdemo>.leftCon,.tipdemo>.rightCon,{
    width: 50%;
    float: left;
}
#demo111 .layui-input-block,.tipdemo .layui-input-block {
    margin-left:150px!important;
    top: 0;
}
#demo111 .layui-form-label,.tipdemo .layui-form-label{
    background-color: #F5F5F5;
    width: 176px;
    height: 100%;
    margin-bottom: 0;
    text-align: center;
}
#demo111 .layui-form-item,.tipdemo .layui-form-item{
    margin-bottom: 0!important;
    border: 1px solid #E9E9E9;
    height: 50px;
}
#demo111 .layui-input, .layui-textarea,.tipdemo .layui-input {
    width: 98%!important;
    position: static!important;
}
#demo111 .layui-textarea {
    min-height: 80px!important;
}
#demo111 .layui-form-select {
    width: 98%!important;
}
.visiable{
    visibility: hidden;
    padding: 1px 0;
}
.tabale-list{
    padding: 0 10px;
}
.rightCon img{
    display: block;
    width: 200px;
    height: 140px;
    margin: 5px auto;
}
.leftCon img{
    display: block;
    width: 200px;
    height: 140px;
    margin: 5px auto;
}
.looktit{
    margin-bottom: 20px;
}
.looktit img{
    display: block;
    width: 98%;
}
/*有图时label*/
.busimg label{
    height: 150px !important;
}
/*表单修改*/
#lookDemo .centerCon{
    margin-bottom:20px;
}
/*#oneDemo .centerCon{
    margin-bottom:20px;
}*/
#oneDemo .leftCon,#oneDemo .rightCon{
    width: 50%;
    float: left;
    margin-bottom: 20px;
}
#lookDemo .centerCon h4{
    margin-bottom: 10px;
    font-weight: 600;
}
#oneDemo .centerCon h4{
    margin-bottom: 10px;
    font-weight: 600;
}
.layui-form-label{
    width: 115px;
}
.layui-input-block{
    margin-left: 115px;
}
.tip{
    display: inline-block;
    color: red;
    margin: 5px 0 0;
}
.table-list .layui-table-view{
    margin:10px;
}
.rightCon .layui-form-select{
    width: 100%;
}
.rightCon .layui-form-select .layui-select-title input{
    margin: 0 auto;
    height: 30px;
}
#thirdDemo>.leftCon,#thirdDemo>.rightCon{
    height: 420px;
    width: 50%;
    float: left;
}
#thirdDemo>.leftCon .layui-form-item,#thirdDemo>.rightCon .layui-form-item{
    height: 420px;
}
#thirdDemo>.leftCon .layui-input-block{
    height: 420px;
    overflow: auto;
}
#thirdDemo>.leftCon ul{
    height: 420px;
    width: 100%;
    text-align: center;
}
#thirdDemo>.leftCon ul li{
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}
#fourDemo>.centerCon .layui-form-item{
    height: 120px;
}
#fourDemo>.centerCon label{
    line-height: 110px;
}
#fourDemo>.centerCon .layui-input-block textarea{
    margin: 10px auto;
    height: 100px;
    resize: none;
}
.rolename li.aee{
    background: #cbefff;
    color:#17abf5;
}
.usercity{
    padding: 0 5px;
}
#changeDemo .layui-form-select{
    width: 100%;
    margin: 0 auto;
}
#oneDemo .layui-form-select{
    width: 100%;
    margin: 0 auto;
}
#changeDemo .layui-form-select .layui-select-title{
    width: 100%;
}
.layui-form-select .layui-select-title input{
    margin:0 auto;
    height: 40px;
}
.selectbox .layui-select-title,.selectbox .layui-form-select{
    width: 100%;
}
#uprobox{
    padding: 0 5px;
}
.layui-disabled{
    background: #eee;
}
#secondDemo .centerCon label{
    height: 200px;
    line-height: 200px;
}
#secondDemo .centerCon textarea{
    height: 210px;
    padding: 5px;
    width: 99%;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    margin: 5px 0 0 0;
    resize: none;
}
/*日期*/
.date{
    padding: 0;
}
.date input{
    border:0;
    height: 28px;
    text-indent: 10px;
}
/*tab*/
.tab-title{
    height: 42px;
    border-bottom: 1px solid #ddd;
}
.tab-title ul li{
    height: 42px;
    padding: 10px 15px;
    float: left;
    cursor: pointer;
}
.tab-title ul li a{
    display: inline-block;
}
.tab-title ul li.active{
    border-bottom: 2px solid #02a0ea;
}
.table-rgt{
    margin-right: 10px;
}
/*搜索右侧*/
.titrgt{
    display: inline-block;
    float: right;
}
.titrgt button:first-child{
    background: #22ad38;
    color:#fff;
}
.titrgt button:last-child{
    background: #01a1e9;
    color:#fff;
}
/*限制树高度*/
.ztree{
    height: 400px;
    overflow: auto;
    width: 100%;
}
/*推荐人弹窗*/
.inputReave{
    position: relative;
}
.inputReave input{
    background: #eee;
}
.inputReave span{
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
}
.topsearch .input-group span{
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    margin-right: 5px;
    margin-left: 10px;
}
.infoReaves{
    display: none;
}
.infoReaves textarea{
    margin:5px 6px;
}
.inputarea{
    text-align: center;
}
.jiange{
    width: 100%;
    height: 20px;
}
/*修改弹窗*/
.areaitem .labeltitle{
    height: 40px;
    display: inline-block;
    float: left;
    line-height: 40px;
    padding: 0 2px;
}
.areaitem .layui-input-block .area-select{
    width: 33%;
}
.areaitem .area-select input{
    height: 40px;
}
.layui-anim{
    height: 120px;
}
.topsearch .layui-btn{
    color:#1E9FFF;
    position: absolute;
    right: 0;
    z-index: 99;
    background: rgba(255,255,255,0);
}
.topsearch .input-group{
    position: relative;
}
.topsearch .input-group input{
    width: 250px;
}
.topsearch .layui-icon{
    font-size: 20px !important;
}
.namelist{
    border: 1px solid #dfdfdf;
    margin: 20px 10px;
    height: 360px;
    overflow: auto;
}
.namelist ul{
    height: 340px;
    display: table;
}
.namelist ul li{
    width: 130px;
    height: 50px;
    background: #eeeeee;
    float: left;
    text-align: center;
    word-break: break-all;
    padding: 5px 10px;
    margin: 10px 0 10px 25px;
    cursor: pointer;
    display: table-cell;
    vertical-align:middle;
}
.namelist ul li.lgt{
    line-height: 50px;
    padding: 0 10px;
}
.namelist ul li.ave{
    background: #d7eefe !important;
    color:#000;
}
#using .layui-anim{
    height: 84px;
}
.layui-form-switch{
    width: 100%!important;
    top: -5px!important;
}
.layui-form-onswitch i {
    left: 46px!important;
    }
    
/*图像上传*/
.tipdemo .imgid{
    height:180px;
}
.uploadimg{
    text-align: center;
}
.imgid .layui-input-block{
    height: 180px;
}
.imgid img{
    margin:5px;
}

