//头部导航
html {
  font-family: MicrosoftYahei;
}

.Nav {
  display: none;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .12);
  .index-nav {
    // display: none;
    width: 12rem;
    margin: 0 auto;
    a {
      transition: all 1s ease;
    }
    .title-logo {
      float: left;
      height: 80px;
      line-height: 80px;
      font-size: 26px;
      color: #fff;
      img {
        height: 40px;
        width: 40px;
        vertical-align: middle;
      }
    }
    ul {
      float: right;
      li {
        float: left;
        padding: 0 .1rem;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          height: 80px;
          line-height: 80px;
          font-size: .18rem;
          font-weight: bold;
          color: #fff;
          box-sizing: border-box;
          &.visited {
            color: #000;
            border-bottom: 3px solid rgb(232, 69, 69);
          }
          &:hover {
            color: #000;
            border-bottom: 3px solid rgb(232, 69, 69);
          }
        }
      }
    }
  }
}

.section>div {
  width: 12rem;
  margin: 0 auto;
  line-height: 100%;
  // overflow-y: hidden;
}
#full{
  display: none;
}
// 首页
.index {
  background: url(../img/web_zhanshiduan_shouyebg.png) no-repeat center/cover;
  padding-top: 1.5rem;
  box-sizing: border-box;
  overflow-y: hidden;
  &>div {
    margin-top: -1.5rem;
    position: relative;
    padding-top: 1.5rem;
    box-sizing: border-box;
  }
  .index-title {
    // flex:1;
    color: #fff;
    h3 {
      font-size: .6rem;
      font-weight: bold;
    }
    p {
      font-size: .26rem;
    }
    a {
      display: block;
      border-radius: 5px;
      width: 2.92rem;
      height: .74rem;
      font-size: .3rem;
      text-align: center;
      line-height: .74rem;
     margin-bottom: .5rem;
      color: #fff;
      &.btn1 {
        background-color: #04d298;
      }
      &.btn2 {
        background-color: rgb(0, 132, 255);
      }
    }
  }
  .index-logo {
    margin-right: -1.5rem;
    position: relative;
    li {
      position: absolute;
      .index-logo1 {
        width: 1.59rem;
        height: 1.59rem;
        z-index: 10;
        left: -1.3rem;
        top: -1rem;
      }
      .index-logo2 {
        width: 1.54rem;
        height: 1.54rem;
        z-index: 10;
        left: -3.3rem;
        top: 1.5rem;
      }
      .index-logo3 {
        width: 2.46rem;
        height: 2.46rem;
        z-index: 10;
        left: -5.3rem;
        top: 4rem;
      }
      .index-logo4 {
        width: 2.87rem;
        height: 2.87rem;
        z-index: 10;
        left: 6.5rem;
        top: 1rem;
      }
      .index-logo5 {
        width: 1.66rem;
        height: 1.66rem;
        z-index: 10;
        left: 4.5rem;
        top: -4rem;
      }
      .index-logo6 {
        width: 1.54rem;
        height: 1.54rem;
        z-index: 10;
        left: 2.5rem;
        top: -2rem;
      }
    }
    img {
      width: 7.96rem;
      height: 5.63rem;
      position: relative;
      z-index: 9;
    }
  }
  .next {
    position: absolute;
    bottom: .5rem;
    left: 50%;
  }
}

//one 销售
.one {
  background: url(../img/web_zhanshiduan_erping.png) no-repeat center/cover;
  padding-top: 2.1rem;
  box-sizing: border-box;
  overflow-y: hidden;
  &>div {
    margin-top: -2.1rem;
    position: relative;
    padding-top: 2.1rem;
    box-sizing: border-box;
  }
  .one-title {
    h3 {
      font-family: Sans-serif;
      font-size: 1rem;
      color: #333;
      font-weight: bold;
    }
    div {
      width: 4px;
      height: .63rem;
      background-color: #333;
      margin-bottom: .2rem;
    }
    h5 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: .3rem;
      line-height: .6rem;
      color: #333;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: rgb(156, 193, 255);
        height: .14rem;
        bottom: .1rem;
        left: 0;
        width: 3rem;
        z-index: -1;
      }
      &.h5-second::after {
        width: 1.2rem;
      }
    }
    p {
      margin-top: .36rem;
      font-size: .2rem;
      line-height: .22rem;
      color: #333;
    }
  }
  .one-video {
    margin-top: -1rem;
    &,
    video {
      width: 8.08rem;
      height: 5.6rem;
      position: relative;
    }
    i {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
    .video-check {
      margin-top: .56rem;
      width: 2.2rem;
      height: .87rem;
    }
  }
}

.two {
  background: url(../img/web_zhanshiduan_sanping_bg.png) no-repeat center/cover;
  padding-top: 2rem;
  box-sizing: border-box;
  overflow-y: hidden;
  &>div {
    margin-top: -2rem;
    position: relative;
    padding-top: 2rem;
    box-sizing: border-box;
  }
  .two-video {
    &,
    video {
      width: 8.08rem;
      height: 5.6rem;
      position: relative;
    }
    i {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
    .video-check {
      margin-top: .3rem;
      width: 2.2rem;
      height: .87rem;
    }
  }
  .two-title {
    margin-top: -.9rem;
    text-align: right;
    h3 {
      font-family: Sans-serif;
      font-size: 1rem;
      color: #333;
      font-weight: bold;
    }
    div {
      border-right: 4px solid #333;
      // width: 4px;
      height: .63rem;
      // background-color: #333;
      margin-bottom: .2rem;
    }
    h5 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: .3rem;
      line-height: .6rem;
      color: #333;
      position: relative;
      z-index: 1;
      &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: rgb(156, 193, 255);
        height: .14rem;
        bottom: .1rem;
        right: 0;
        width: 3.5rem;
        z-index: -1;
      }
      &.h5-second::after {
        width: 1.6rem;
      }
    }
    p {
      // padding-left: .68rem;
      margin-top: .36rem;
      font-size: .2rem;
      line-height: .2rem;
      color: #333;
      text-align: left;
    }
  }
}

.three {
  background: url(../img/web_zhanshiduan_erping.png) no-repeat center/cover;
  padding-top: 2.1rem;
  box-sizing: border-box;
  overflow-y: hidden;
  &>div {
    margin-top: -2.1rem;
    position: relative;
    padding-top: 2.1rem;
    box-sizing: border-box;
  }
  .one-title {
    h3 {
      font-family: Sans-serif;
      font-size: 1rem;
      color: #333;
      font-weight: bold;
    }
    div {
      width: 4px;
      height: .63rem;
      background-color: #333;
      margin-bottom: .2rem;
    }
    h5 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: .3rem;
      line-height: .6rem;
      color: #333;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: rgb(156, 193, 255);
        height: .14rem;
        bottom: .1rem;
        left: 0;
        width: 3rem;
        z-index: -1;
      }
      &.h5-second::after {
        width: 1.6rem;
      }
    }
    p {
      margin-top: .36rem;
      font-size: .2rem;
      line-height: .22rem;
      color: #333;
    }
  }
  .one-video {
    margin-top: -1rem;
    &,
    video {
      width: 8.08rem;
      height: 5.6rem;
      position: relative;
    }
    i {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
    .video-check {
      margin-top: .56rem;
      width: 2.2rem;
      height: .87rem;
    }
  }
}

.four {
  background: url(../img/web_zhanshiduan_sanping_bg.png) no-repeat center/cover;
  padding-top: 2rem;
  box-sizing: border-box;
  overflow-y: hidden;
  &>div {
    margin-top: -2rem;
    position: relative;
    padding-top: 2rem;
    box-sizing: border-box;
  }
  .two-video {
    &,
    video {
      width: 8.08rem;
      height: 5.6rem;
      position: relative;
    }
    i {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
    .video-check {
      margin-top: .3rem;
      width: 2.2rem;
      height: .87rem;
    }
  }
  .two-title {
    margin-top: -.9rem;
    text-align: right;
    h3 {
      font-family: Sans-serif;
      font-size: 1rem;
      color: #333;
      font-weight: bold;
    }
    div {
      border-right: 4px solid #333;
      // width: 4px;
      height: .63rem;
      // background-color: #333;
      margin-bottom: .2rem;
    }
    h5 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: .3rem;
      line-height: .6rem;
      color: #333;
      position: relative;
      z-index: 1;
      &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: rgb(156, 193, 255);
        height: .14rem;
        bottom: .1rem;
        right: 0;
        width: 3.5rem;
        z-index: -1;
      }
      &.h5-second::after {
        width: 1.6rem;
      }
    }
    p {
      // padding-left: .68rem;
      margin-top: .36rem;
      font-size: .2rem;
      line-height: .2rem;
      color: #333;
      text-align: left;
    }
  }
}

.gone {
  display: none;
}