.homePage {
  background-color: #f2f2f2;
}
.homePage .main-title {
  width: 100%;
  height: 98px;
  padding-top: 33px;
  text-align: center;
  background: #fff;
}
.homePage .main-title .return-icon {
  display: block;
  width: 22px;
  height: 33px;
  margin-left: 42px;
}
.homePage .main-content {
  /*display: flex;
        justify-content: space-between;
        flex-wrap: wrap;*/
  margin-top: 46px;
  padding: 0 42px;
  background-color: #f2f2f2;
}
.homePage .main-content p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 28px;
  color: #333;
}
.homePage .main-content p a {
  color: #333;
}
.homePage .main-content p a:hover {
  color: #fe6869;
}
.homePage .main-content .recording-module {
  position: relative;
  /*width: 724px;*/
  height: 470px;
  background-color: #fff;
  margin-bottom: 46px;
}
.homePage .main-content .recording-module .module-title {
  font-size: 32px;
  color: #333;
  padding-right: 34px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: right;
}
.homePage .main-content .recording-module .module-title a {
  color: #333;
}
.homePage .main-content .recording-module .module-title a:hover {
  color: #fe6869;
}
.homePage .color-grey {
  display: block;
  color: #999;
  font-size: 24px;
}
.module-1 .dividing-line,
.module-6 .dividing-line,
.module-7 .dividing-line {
  border-right: 2px solid #eee;
}
.module-1 .module-con,
.module-6 .module-con,
.module-7 .module-con {
  margin-top: 42px;
  height: 250px;
}
.module-1 .module-con .item,
.module-6 .module-con .item,
.module-7 .module-con .item {
  height: 125px;
  padding-left: 64px;
}
.module-1 .module-con .count-num,
.module-6 .module-con .count-num,
.module-7 .module-con .count-num {
  margin-top: 22px;
}
.module-2 .module-con,
.module-5 .module-con,
.module-8 .module-con {
  height: 256px;
  margin-top: 22px;
  padding-left: 84px;
}
.module-2 .item + .item,
.module-5 .item + .item,
.module-8 .item + .item {
  margin-top: 68px;
}
.module-2 .item p,
.module-5 .item p,
.module-8 .item p {
  font-size: 40px;
}
.module-2 .item:first-child p {
  font-size: 50px;
  color: #fe6869;
}
.module-2 .item:first-child p span {
  font-size: 30px;
}
.module-2 .item .color-grey,
.module-5 .item .color-grey,
.module-8 .item .color-grey {
  font-size: 26px;
  color: #999;
  margin-top: 18px;
}
.module-5 .module-con .radius-chart,
.module-8 .module-con .radius-chart {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 300px;
  height: 350px;
}
.module-3 .module-con .bar-chart,
.module-4 .module-con .bar-chart {
  width: 100%;
  height: 350px;
}
