.subtitle {
  height: 50px;
  line-height: 50px;
  padding-left: 32px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
  color: #333;
}

.yw-induce {
  padding-left: 20px;
  font-size: 16px;
  height: 40px;
  line-height: 50px;
}

.title {
  height: 60px;
  margin-bottom: 10px;
}

.title ul {
  margin-top: 15px;
}

.title ul li {
  float: left;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  width: 150px;
  margin-right: 10px;
  text-align: center;
  background-color: #5cb85c;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.title ul li.active {
  background-color: #d9534f;
}

.add_gs {
  margin-top: 20px;
  margin-bottom: 30px;
}

.add_gs .addbtn {
  display: inline-block;
  height: 34px;
  font-size: 16px;
  padding: 0 12px;
  line-height: 34px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background-color: #31b0d5;
  cursor: pointer;
}

.add_gs .addbtn:nth-of-type(1) {
  margin: 0 20px 0 0;
}

.search-wrap {
  float: left;
}

.no-data {
  text-align: center;
}

.page_dt {
  float: left;
  height: 55px;
  line-height: 55px;
}

.page {
  float: right;
  width: 500px;
  display: inline-block;
}

.showImg {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 1px solid #5cb85c;
  border-radius: 50px;
  position: relative;
}

.showImg .imgs {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  background-color: #5cb85c;
}

.showImg .play-music {
  width: 30px;
  height: 30px;
  position: absolute;
  background: #5cb85c;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.tableBox table th {
  text-align: center;
}

.tableBox table td {
  text-align: center;
  vertical-align: middle !important;
}

.tableBox table td .play {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background: #5cb85c url(img/qmx_music_start@3x.png) no-repeat center center;
  background-size: 40% 40%;
}

.tableBox table td .play.stop {
  background: #5cb85c url(img/qmx_music_stop@3x.png) no-repeat center center;
  background-size: 40% 40%;
}

.modal-dialog {
  margin: 200px auto !important;
}

.modal .modal-header {
  text-align: center;
  font-size: 20px;
}

.modal .modal-body .show-upload {
  display: none;
}

.modal .modal-body .tag-list .tag, .tag-add {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 12px;
  margin-right: 10px;
  border: 1px solid #337ab7;
  cursor: pointer;
}

.modal .modal-body .tag-list .tag.active {
  background: #337ab7;
  color: #fff;
}

.modal .modal-body .img_wrap {
  width: 100%;
  height: 120px;
}

.modal .modal-body .img_wrap .img_fl {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 30px;
}

.modal .modal-body .img_wrap .img_fl img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #337ab7
}

.modal .modal-body .img_wrap .img_fr {
  height: 120px;
}

.modal .modal-body .img_wrap .img_fr p {
  line-height: 25px;
  color: #337ab7;
}

.modal .modal-body .img_wrap audio {
  margin-bottom: 5px;
}

.modal .modal-body .fix_img {
  margin-left: 20px;
}

.modal .modal-body .fixedUrl {
  margin-top: 20px;
  color: #31b0d5;
  display: none;
}

.delmodal .modal-header {
  border-bottom: none;
}

.delmodal .modal-footer {
  text-align: center;
}

.delmodal .modal-dialog {
  margin: 300px auto !important;
}

#updateType {
  display: none;
  width: 100%;
  height: 100%;
}

#updateType .title {
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 0;
}

#updateType .title span {
  font-size: 16px;
  color: #999999;
}

#edit-area {
  width: 100%;
  height: auto;
  padding: 20px 0 20px 20px;
}

#edit-area:after {
  display: table;
  content: '';
  clear: both;
}

#edit-area .type-item {
  float: left;
  width: 98px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0 15px 15px 0;
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333333;
  border-radius: 4px;
  cursor: pointer;
}

.layui-layer-btn .layui-layer-btn0 {
  border-color: #dedede !important;
  background-color: #f1f1f1 !important;
  color: #333 !important;
}

.layui-layer-btn .layui-layer-btn1 {
  border-color: #4898d5;
  background-color: #2e8ded;
  color: #fff;
}
