.myTitle{
	display: block;
	background-color: #353b53;
	font-size: 2rem;
	padding: 1rem 0 1rem 3.8rem;
}
.myTitle .fa-close{
    font-size: 2.8rem;
    margin-right: 1rem;
    cursor: pointer;
}
.myForm{
	padding: 1rem 2rem;
}
.explain{
	display: inline-block;
	font-weight: normal;
}
#shareTitle{
	padding-left: 5px;
}
#imgdiv{
	display: block;
	width: 172px;
	height: 125px;
	background-color: #f7f7f7;
	text-align: center;
	cursor: pointer;
}
#imgPreview{
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}
.explainBottom{
	padding: 0.8rem 0;
	letter-spacing: 0.5px;
}
.rowContent .form-group{
    height: 75px;
	margin-bottom: 0px !important;
}
#shareCouponTitle {
    height: 16px;
}

