/*plarlayer*/
ul li{
    list-style: none;
}
.plarLayer{
    width: 100%;
    height: 563px;
}
.plarLayer h3{
    font-size: 12px;
    color: #666666;
    background: #eeeeee;
    height: 29px;
    line-height: 29px;
    font-style: normal;
    text-indent: 31px;
    margin: 0;
}
.plarLayer .plarLayer_container{
    margin:10px 31px 0;
    overflow: hidden;
}
.plarLayer_container .plarLayer_lft{
    width: 60%;
    float: left;
}
.plarLayer_lft .form-group{
    margin-bottom: 5px;
}
.plarLayer_lft .form-group label{
    font-size: 14px;
    color: #666;
}
.plarLayer_lft .form-group .form-control{
    width: 251px;
    background: #eee;
}
.plarLayer_lft .plarLayer_radio{
    height: 22px;
    line-height: 22px;
    margin-bottom: 5px;
}
.plarLayer_radio span{
    font-size: 14px;
    color: #666;
    display: block;
    float: left;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
}
.plarLayer_radio label{
    font-size: 15px;
    color: #666;
}
.plarLayer_radio label input{
    width:16px;
    height: 16px;
    margin-left: 25px;
    border-radius: 0 !important;
}
.plarLayer_lft .plarBigCLass{
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
.plarBigCLass ul{
    display: inline-block;
    float: left;
}
.plarBigCLass ul li{
    width: 200px;
    float: left;
    height: 31px;
}
.plarBigCLass ul li input{
    width: 200px;
    background: #eee;
    height: 31px;
    line-height: 31px;
    border-radius: 0 !important;
}
.plarBigCLass .plarABig{
    color: #999999;
    font-size: 14px;
    margin: 4px 10px;
    cursor: pointer;
}
.plarLayer_lft .plarSmalClass{
    display: none;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
.plarSmalClass .form-group label{
    font-size: 14px;
    color: #999999;
    float: left;
    line-height: 31px;
    height: 31px;
}
.plarSmalClass select,.plarLayer-class select{
    width: 150px !important;
    border-radius: 0 !important;
}
.plarSmalClass select option,.plarLayer-class select option{
    border-bottom: 1px solid #eeeeee;
    color: #666;
    font-size: 15px;
    padding: 5px;
}
.plarSmalClass .plarAddCls{
    margin-bottom: 5px;
}
.plarSmalClass .plarAddCls p{
    font-size: 14px;
    color: #999999;
    display: inline-block;
    float: left;
    line-height: 31px;
    height: 31px;
    font-weight: 600;
}
.plarAddCls ul{
    display: inline-block;
    float: left;
    padding: 0;
}
.plarAddCls ul li{
    width: 200px;
    float: left;
    height: 31px;
}
.plarAddCls ul li input{
    width: 200px;
    background: #eee;
    height: 31px;
    line-height: 31px;
    border-radius: 0 !important;
}
.plarAddCls .plarASma{
    color: #999999;
    font-size: 20px;
    margin: 4px 10px;
    cursor: pointer;
}
.plarLayer_lft .plarContent p{
    font-size: 14px;
    font-weight: 600;
    color: #666;
}
.plarLayer_lft .plarContent textarea{
    background: #eee;
    width: 80%;
    margin-bottom: 5px;
    resize:none;
    border-radius: 0 !important;
}
.plarLayer_lft .plarContent textarea:first-child{
    height: 94px;
}
.plarLayer_lft .plarContent textarea:last-child{
    height: 74px;
}
.plarLayer_rgt{
    width: 40%;
    float: right;
    text-align: center;
}
.plarLayer_rgt .showImg{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    margin: 0 auto;
}
.plarLayer_rgt .showImg img{
    display: block;
    width: 350px;
    height: 350px;
}
.plarLayer_rgt .plarLayer_file{
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #666;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    font-size: 13px;
    margin:22px 0;
}
.plarLayer_file span{
    color: #999;
}
.plarLayer_file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.plarLayer_file:hover {
    background: #fff;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.pplarButton,.pplar-import {
    margin:30px 31px  0;
    padding-bottom:5px;
    text-align: right;
}
.pplarButton .pplBtn{
    width: 70px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    cursor: pointer;
}
.pplar-import .pplBtn{
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
}
.pplarButton .pplSure{
    margin-right: 26px;
    background: #999;
    color:#fff;
    border:1px solid  #999;
}
.pplarButton .pplCancel{
    background: #fff;
    color:#666;
    border:1px solid  #999;
}
.pplar-import .pplImport{
    margin-right: 54px;
    background: #999;
    color:#fff;
    border:1px solid  #999;
}
/*优惠弹出框商品介绍详情*/
.plarContent{
    margin-bottom: 5px;
    overflow: hidden;
    height: 204px;
}
.plarContent .plarContent-text{
    width: 80%;
    height: 144px;
}
.plarContent:last-child{
    height: 110px;
    margin: 0;
}
