.homePage{
	background-color: #f2f2f2;
	font-size:16px;
}

.main-title{
	position:relative;
	width: 100%;
	text-align: center;
}
.rightTitle{
	font-size:2.25rem;
}
.main-title .return-icon{
	position:absolute;
	left: 1.25rem;
	top: 0.938rem;
}
.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
    padding:0;
    line-height: inherit;
}
.content-top{
    position: relative;
    min-height:2.5rem;
    line-height: 2.5rem;
    padding-right:6.25rem;
    margin:0.375rem 0;
}
.content-top .slogen{
	position:relative;
    width:100%;
	padding-left:3.375rem;
}
.slogen .slogen-icon{
	position:absolute;
	top:0;
	left:0.625rem;
    display:inline-block;
    width:2.5rem;
    height:2.5rem;
    background-repeat: no-repeat;
	background-size:cover;
}
.slogen .slogen-icon.type0{
    background-image: url(../image/fsj0.png);
}
.slogen .slogen-icon.type1{
    background-image: url(../image/fsj1.png);
}
.slogen .slogen-icon.type2{
    background-image: url(../image/fsj2.png);
}
.slogen .slogen-icon.type3{
    background-image: url(../image/fsj3.png);
}
.slogen .slogen-icon.type4{
    background-image: url(../image/fsj4.png);
}
.slogen .slogen-icon.type5{
    background-image: url(../image/fsj5.png);
}
.slogen .slogen-icon.type6{
    background-image: url(../image/fsj6.png);
}
.slogen .slogen-icon.type7{
    background-image: url(../image/fsj7.png);
}
.slogen .slogen-icon.type8{
    background-image: url(../image/fsj8.png);
}
.slogen .slogen-icon.type9{
    background-image: url(../image/fsj9.png);
}
.slogen .slogen-icon.type10{
    background-image: url(../image/fsj10.png);
}
.slogen .slogen-desc{
    display:inline-block;
	margin-left:0.625rem;
    font-size:1.25rem;
    color:#666;
}
.content-top .publish-btn{
    position:absolute;
    right:1rem;
    top:0;
	border-radius: 0.25rem;
    font-size:1.125rem;
}

.list-box .list-table{
    border-bottom:1px solid #eee;
}
.list-box .list-table thead>tr>th{
	padding:0.75rem 0;
    font-size:1.25rem;
}
.list-box .list-table tbody>tr>td{
	text-align: center;
    font-size:1.125rem;
}
.list-box .list-table tbody>tr>td:first-child{
    color:#333;
	width:38%;
}
.list-box .list-table tbody>tr>td:not(:first-child){
    color:#999;
	vertical-align: middle;
}
.list-table .fav-icon{
	display:inline-block;
	width:1.438rem;
	height:1.438rem;
	margin-right:0.25rem;
	background-image: url(../image/fsj_zan.png);
	background-size:cover;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}
.list-table .view-icon{
	display:inline-block;
	width:1.438rem;
	height:1.438rem;
	margin-right:0.25rem;
	background-image: url(../image/fsj_see.png);
	background-size:cover;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}
.pagination{
	margin:0.625rem auto;
}
.fixed-table-pagination .pagination-detail{
	display:none;
}
.fixed-table-pagination .pull-right{
	width:100%;
	text-align: center;
}
.pagination .page-first,
.pagination .page-last{
	display:none;
}
.pagination>li>a, .pagination>li>span {
    color: #666;
}
