*{
    margin: 0;
    padding: 0;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.required{
    color:#fe6869;
    vertical-align: text-top;
}
.inline-block{
    display:inline-block;
}
.main-content{
    padding:0.625rem 0;
    background-color: #fff;
    text-align: left;
}
.main-content .inline-label{
    display:inline-block;
    width:10%;
    text-align: right;
}
.main-content .inline-input{
    display:inline-block;
    width:90%;
}
.main-content .view-authority{
    margin-bottom:0.625rem;
}
.view-authority .radio-chk{
    width:1.125rem;
    height:1.125rem;
    margin:0;
    vertical-align: middle;
}

.text-box{
    /*position: relative;*/
    padding:0 0.625rem;
}

.text-detail{
    width:100%;
    height:31rem;
    margin:0 auto;
    resize: none;
    overflow-y: scroll!important;
}
.handle-btn {
    margin:0.625rem;
    text-align: right;
}

.handle-btn .btn{
    padding:0;
    width:4.5rem;
    height:2rem;
    line-height: 2rem;
    margin-bottom:0;
}
.handle-btn .submit-btn{
    background-color:#fe6869;
}
.handle-btn .cancel-btn{
    background-color:#999;
    margin-left:0.5rem;
}
@media screen and (max-height:600px){
    .text-detail{
        width:100%;
        height:22rem;
        margin:0 auto;
    }
}
.ke-icon-images{
    width: 16px;
    height: 16px;
    background:none;
}
.upload-btn {
    position: absolute;
    top:0.4rem;
    left:1.25rem;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background-image: url(../js/kindeditor-4.1.7/themes/default/default.png);
    background-repeat: no-repeat;
    background-position: 0px -496px;
}

/*
.uploadContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: url(../image/discount_default.png) no-repeat;
    background-size: 100%;
}
.uploadContainer .uploadShare{
    width: 100%;
    height: auto;
    overflow: hidden;
    line-height: 1.375rem;
}
.uploadShare .show-back{
    display: inline-block;
    color:#333;
    font-size: 1.25rem;
    padding: 1.25rem 1.875rem;
    background: #fff;
}
.show-back img{
    display: inline-lock;
    width: 1.25rem;
    height: 1.65rem;
    margin-right:.5rem;
}
.uploadShare .upload-img{
    float: right;
    display: block;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 100%;
}
.upload-img img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.uploadContainer .upload-form{
    width: 92%;
    margin-left: 1.875rem;
}
.upload-form .form-group{
    height: 2.625rem;
    line-height: 2.625rem;
    border: 1px solid #999;
    margin-bottom: 1.125rem;
    position: relative;
}
.upload-form input{
    width: 100%;
    border: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0;
    float: left;
    text-indent: 1.5rem;
    font-size: 1rem;
    background: #eee;
}
.upload-form-btn{
    display: inline-block;
    float: right;
    margin-top: 0.5rem;
}
.upload-form-btn .upload-form-submit{
    margin-right: 0.375rem;
}
.upload-form-btn{
    margin-top:1.5rem;
}
.upload-form-btn .btn{
    width: 6.25rem;
}
.upload-form-btn .upload-form-submit{
    background: #fe6869;
    color: #fff;
}
.upload-form-btn .upload-form-back{
    background: #dddddd;
    color: #999;
}
.upload-form-total{
    position: absolute;
    right: 0;
    top: 0;
    height: 2.625rem;
    line-height: 2.625rem;
    color: #666;
    z-index: 3;
    padding: 0 0.75rem;
    font-size: 1rem;
}
.upload-form-total i{
    font-style: normal;
}*/
