html, * {
    margin: 0;
    padding: 0;
}

body {
    width:100%;
    height:100vh;
    background: url('../image/tree_bg.jpg');
    background-size: cover;
	overflow:hidden;
}

.wrapper {
    width: 100%;
    text-align: center;
}

img[usemap] {
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-25rem;
    border: none;
    height: 37.5rem;
    max-width: 100%;
    width: 50rem;
}
