body{
    background: #fff;
}
.fr{
    float: right;}
.app-wrap{
    padding: 10px;
}
.app-title{
    height: 47px;
    background: #eeeeee;
    border-bottom: 1px solid #dcdcdc;
    line-height: 47px;
    padding-left: 15px;
    font-size: 16px;
}
.disn{
    display:none;
}
.input-box{
    width:80%;
    margin: 0 auto;
    padding-top: 25px;
}
.star{
    color: red;

}
.signform-face-img{
    border-radius: 5px;
}
.layui-table img{
    width:250px;
    height: 150px;
    max-width:none;
}
.layui-table-cell{
    min-height:28px;
    height:auto;
}
.layui-table-view .layui-table td{
    height: 160px!important;

}