<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<title>智享城市运营管理系统</title>

	<!-- 轻量Spectre框架 -->
	<link rel="stylesheet" href="common/assets/spectre/spectre.min.css">
	<link rel="stylesheet" href="common/assets/spectre/spectre-exp.min.css">
	<link rel="stylesheet" href="common/assets/spectre/spectre-icons.min.css">
	<!-- font-awesome -->
	<link rel="stylesheet" href="common/assets/hplus/css/font-awesome.min93e3.css">
	<!-- ztree -->
	<link rel="stylesheet" type="text/css" href="common/assets/zTree_v3/css/zTreeStyle/zTreeStyle.css" />
	<!-- layui -->
	<link rel="stylesheet" type="text/css" href="common/assets/layui-v2.0.1/layui/css/layui.css" />
	<!-- material-ripple-button -->
	<link rel="stylesheet" type="text/css" href="login_success/ripple.min.css" />
	<!-- 自定义 -->
	<link rel="stylesheet" type="text/css" href="common/css/common.css" />
	<link rel="stylesheet" type="text/css" href="login_success/mainpage_override.css">

	<style>
	</style>
</head>

<body>
	<!-- vue wrapper -->
	<div id="admin" class="noselect">
		<!-- 头部区域  -->
		<div class="main-header">
			<!-- logo -->
			<a href="#" class="logo nodrag">
				<span class="logo-lg">
					智享城市运营管理系统
				</span>
			</a>
			<!-- 顶部导航栏 -->
			<div class='main-navbar'>
				<div class="right">
					<ul class='navbar-menu'>
						<li class='navchat hide' id='contorl-wechat' data-href="web_chat/main.html">
							<a class='weba'>
								<span class='webchaticon fa fa-comments-o'></span>客服工作台</a>
							<!--<span class='glyphicon glyphicon-triangle-top'></span>-->
							<i class='message'></i>
						</li>
						<li class="dropdown hide">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-envelope-o"></i>
								<span class="upper-label">4</span>
							</a>

							<ul class="dropdown-menu messages-menu">
								<li class="header">You have 4 messages</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
											<li v-for="(item, index) in todoTickets">
													<!-- start message -->
													<!-- <a href="#">
														<div class="pull-left">
															<img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
														</div>
														<h4>
															Support Team
															<small>
																<i class="fa fa-clock-o"></i> 5 mins</small>
														</h4>
														<p>Why not buy a new awesome theme?</p>
													</a> -->
		
													<a href="#" >
														<i class="fa fa-users text-aqua"></i>
														<i v-text="item.ticketNo"></i>
													</a>
												</li>
												<!-- end message -->
									</ul>

									<div class="empty">
										<div class="empty-icon">
										  <i class="icon icon-people"></i>
										</div>
										<p class="empty-title h5">You have no new messages</p>
										<p class="empty-subtitle">Click the button to start a conversation.</p>
										<div class="empty-action">
										  <button class="btn btn-primary">Send a message</button>
										</div>
									</div>
								</li>
								<li class="footer">
									<a href="#">See All Messages</a>
								</li>
							</ul>
						</li>

						<li id='superUser'>
							<a href='javascript:void(0);'>
								<span class='nav_user'></span>
								<i v-cloak class='nav_username' v-text="userInfo.nickName"></i>
							</a> 
							<ul class="dropdown-menu user-menu">
								<li>
									<!-- <a data-trigger="profile">个人档案</a> -->
									
									<div class="tile">
											<div class="tile-icon">
												<figure class="avatar avatar-lg">
														<img :src="userInfo.avator" alt="Avatar">
												</figure>
											</div>
											<div class="tile-content">
											  <p class="tile-title" v-text="userInfo.nickName"></p>
											  <p class="tile-subtitle text-gray" v-text="userInfo.roleName"></p>
											</div>
										  </div>
								</li>
								<li class="menu-separator"></li>
								<!-- <li>
									<a data-trigger="quit">退出</a>
								</li> -->
								<li>
									<a data-trigger="password">
											<i class="fa fa-unlock-alt">&nbsp;&nbsp;</i>
										  修改密码</a>
								</li>
							</ul>  
						</li>
						<li id='contorl-quit'>
							<a id="btnLogoff">
								<span class='nav_exit'></span>退出</a>
						</li>
					</ul>
				</div>
			</div>
		</div>




		<!-- 左侧栏 -->
		<div class="main-sidebar">
			<!-- 导航按钮 -->
			<div class="menu-box">
				<ul class="menu-nav">
					<li v-for="(item, index) in navBtns" :class="{ave:item.active}">
						<a @click="misc.toggleMenuBar(item, $event)">
							<span class="firstmenu" v-text=item.name></span>
						</a>
					</li>
				</ul>
			</div>
			<!-- 菜单栏 -->
			<div class="side-menu-bar">
				<h4 class="side-menu-bar-caption"></h4>


				<div class="input">
					<input type="text" id="txtMenuQuery" value="" />
				</div>

				<div class="menu-filter-box hide">
					<ul class="recent-list">
						<li v-for="(item, index) in recents">
							<a href="javascript:void(0)" v-text=item.name @click="admin.addOpen(item.name, item.url)"></a>
						</li>
					</ul>

					<ul class="filter-list">
						<li v-for="(item, index) in filterList">
							<a href="javascript:void(0)" v-text=item.name @click="admin.addOpen(item.name, item.url)"></a>
						</li>
					</ul>
				</div>


				<div class="do-nicescroll4">
					<div class="wrap">
						<ul class='ztree side-menu' lay-filter='test'>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<!-- 右侧内容 -->
		<div class="content-wrapper">
			<!-- 下拉菜单按钮 -->
			<div class='menu-tab-row'>
				<a href="javascript:;" class="tab-action-button">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</a>
				<!-- 顶部选项卡 -->
				<ul class='menu-head'>
					<li v-bind:class="{ave:item.active}" v-for="(item, index) in tabs" :style="misc.computeTabLeft(index)">
						<a :title=item.title @click="tabCtrl.switchTo(item.title, $event)">
							<span :class=item.iconClass></span>
							<span class='head-txt' v-text=item.title></span>
						</a>
						<i class="nav-close" v-if="index > 1" @click="tabCtrl.close(item.title, $event)"></i>
					</li>
				</ul>
			</div>
			<!-- 内嵌页面 -->
			<div class="tab-content">
				<iframe v-show=form.visible v-for="form in forms" :src=form.url :data-key=form.title frameborder="0" width="100%" height="100%" >
				</iframe>
			</div>
		</div>
	</div>



	<!-- 下拉菜单 -->
	<div class="tab-action-dropdown hide" data-delay="1">
		<ul>
			<li>
				<a id="reload">刷新当前</a>
			</li>
			<li class="menu-separator"></li>
			<li>
				<a id="closeOther">关闭其他</a>
			</li>
			<li>
				<a id="closeAll">关闭全部</a>
			</li>
		</ul>
	</div>

	<!-- jSCommon -->
	<script type="text/javascript" src="common/assets/hplus/js/jquery.min.js"></script>
	<script type="text/javascript" src="common/assets/jquery.nicescroll/jquery.nicescroll.min.js"></script>
	<!-- <script type="text/javascript" src="common/assets/hplus/js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="common/assets/layui-v2.0.1/layui/layui.all.js"></script>
	<script type="text/javascript" src="login_success/ripple.min.js"></script>

	<script type="text/javascript" src="common/assets/iframeTracker/jquery.iframetracker.js"></script>
	<!-- 注: yyCache.js 需要放在其他业务脚本前面 -->
	<script type="text/javascript" src="common/js/yyCache.js"></script>


	<!-- 登录时注册云信 -->
	<script type="text/javascript" src="common/assets/jquery.cookie.js"></script>
	<script type="text/javascript" src="login/webchat.js"></script>
	<script id="yxa" src=""></script>
	<script id="yxb" src=""></script>
	<script id="yxc" src=""></script>
	<script id="yxd" src=""></script>
	<script id="yxe" src=""></script>
	
	<script type="text/javascript" src="common/js/common.js"></script>
	<script type="text/javascript" src="common/js/util/pub.js"></script>
	<script type="text/javascript" src="common/assets/zTree_v3/js/jquery.ztree.core.js"></script>
	<script type="text/javascript" src="common/assets/zTree_v3/js/jquery.ztree.excheck.js"></script>
	<script type="text/javascript" src="common/assets/zTree_v3/js/jquery.ztree.exedit.js"></script>
	<script type="text/javascript" src="common/js/util/util.js"></script>

	<!--jSCurr-->
	<script type="text/javascript" src="common/assets/vue/vue.min.js"></script>
	<script type="text/javascript" src="login_success/mainpage.js"></script>


	<script>
	</script>
</body>

</html>