
$yh:"Microsoft yahei";
@function pxToRem($px, $base: 75) {
  @return ($px / $base) * 1rem;
}

html {
   font-size: 62.5%; font-family:$yh;
}
body,h1,h2,h3,h4,h5,h6,blockquote,ol,ul,dl,dd,p,textarea,input,select,option,form {
    margin:0; padding:0;
    box-sizing: border-box;
}
body{
    background:#eee;
}
 
ol,ul,textarea,input,option,th,td {
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size:100%;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
table {
    border-collapse:collapse;border-spacing: 0;
}
ul,ol {
    list-style-type:none;
}
.clearfix:after {
    content:'.';display:block;height:0;clear:both;visibility:hidden;
}

.clear { 
    clear:both;height:0;overflow:hidden;
}

input[type=text],textarea{
    -webkit-appearance:none;
}

input:focus{
    -webkit-user-modify:read-write-plaintext-only;
}
fieldset, img {
    border: 0;
    width: 100%;
    height: 100%
}
a {
    color: #000;
    text-decoration:none;
}
a:hover{
    text-decoration: none;
    list-style: none;
}
a,textarea,input{
    outline:none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
textarea {
    overflow:auto;resize:none;
}
//
.activity-img{
    height: pxToRem(424);
    width: 100%;
    background-position: center;
    background-size: cover;
}

.activity-details{
    padding:pxToRem(35) pxToRem(24) pxToRem(30);
    margin-bottom: pxToRem(20);
    background: #fff;
}
.ac-name{
    font-size: pxToRem(30);
    color: #333;
    display: inline-block;
}
.namingName{
    display: inline-block;
    font-size: pxToRem(26);
    color: #fcd001;
    position: relative;
    padding:0 pxToRem(30);
}
.namingShopName,.sponsor{
    background-color: #fff;
    padding-left: pxToRem(84);
    position: relative;
    height: pxToRem(88);
    font-size: pxToRem(28);
    line-height: pxToRem(88);
    font-weight: 400;
    border-bottom: 1px solid #eee;
}

.namingShopName::after,.sponsor::after{
    content: "";
    position: absolute;
    width: pxToRem(30);
    height: pxToRem(30);
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: pxToRem(24);
}
.namingShopName::after{
    background-image: url('./img/qz_hdxq_gm@2x.png');
}
.sponsor::after{
    background-image: url('./img/qz_hdxq_zanzhu@2x.png');
}
.sponsor span{
    display: inline-block;
    margin-left: pxToRem(10);
    color: #ff825a;
}
.namingName::after,.namingName::before{
    content: "";
    position: absolute;
    width: pxToRem(24);
    height: pxToRem(24);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/qz_hd_jiangb@2x.png');
    top: 50%;
    transform: translateY(-50%);
}
.namingName::before{
    left: 0;
}
.activity-details p{
    position: relative;
    font-size: pxToRem(26);
    margin-top: pxToRem(14);
    color: #999;
    padding-left: pxToRem(60);
}
.activity-details .ac-charge {
    color:#e94d47;
}
.activity-details p::after{
    content: "";
    position: absolute;
    width: pxToRem(30);
    height: pxToRem(30);
    top: 0;
    left: 0;
    background-position: center center;
    background-size: 100%;
}
.ac-time::after{
    background-image: url('./img/qz_hdxq_sj@2x.png');
}
.ac-site::after{
    background-image: url('./img/qz_hdxq_diandian@2x.png');
}
.ac-charge::after{
    background-image: url('./img/qz_hdxq_qb@2x.png');
}
.activity-publisher{
    background: #fff;
    margin-bottom: pxToRem(20);
}
.face{
    padding-left: pxToRem(24);
    height: pxToRem(140);
    margin-top: -1px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.face img{
    display: block;
    overflow: hidden;
    width: pxToRem(82);
    height: pxToRem(82);
    border-radius: 5px;
     margin-top: pxToRem(24);
    float: left;
}
.publisher {
    padding-top: pxToRem(38);
    margin-left: pxToRem(82);
    padding-left: pxToRem(25);
}
.pub-title{
    font-size: pxToRem(24);
    line-height: pxToRem(24);
    margin-bottom: pxToRem(14);
    color: #999;
}
.pub-name{
    font-size: pxToRem(30);
    line-height: pxToRem(30);
    color: #666;
    display: inline-block;
    margin-right: pxToRem(30)
}
.shop{
    width: pxToRem(30);
    display: inline-block;
    vertical-align: text-bottom;
    height: pxToRem(30);
    background: url('./img/qz_hd_shangjiabiao@2x.png') no-repeat center;
    background-size: cover;
}
.participator{
    position: relative;
    padding-top: pxToRem(30);
    padding-left: pxToRem(24);
    box-sizing: border-box;
}
.par-title{
    margin-bottom: pxToRem(32);
    font-size: pxToRem(24);
    line-height: pxToRem(24);
}
.par-list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: pxToRem(664);
}
.par-list::-webkit-scrollbar {display:none}
.par-list li {
    display: inline-block;
    text-align: center;
    margin-right: pxToRem(20);
}
.par-list li .userName{
    font-size: pxToRem(20);
    line-height: pxToRem(20);
}
.par-list a {
    display: inline-block;
}
.par-list img{
    display: block;
    margin-bottom: pxToRem(20); 
    border-radius: 50%;
    width: pxToRem(70);
    height: pxToRem(70);
}
.more {
    position: absolute;
    background: #fff;
    top: 50%;
    right: pxToRem(24);
    transform: translateY(-50%);
    height: pxToRem(30);
    width: pxToRem(30);
    background:url('./img/qz_fbhd_huijt@2x.png') no-repeat center center ;
    background-size: 50%;
}
.activity-presentation {
    background: #fff;
    padding-top: pxToRem(28);
    padding-left: pxToRem(24);
}
// .ac
#header {
    height: pxToRem(90);
    width: 100%;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 999;
    max-width: 640px;
    margin:0 auto;
}
#header>.header_logo {
    width: pxToRem(206);
    height: pxToRem(60);
    float: left;
    margin-left: pxToRem(20);
    margin-top: pxToRem(20);
    img{
        width: 100%;
    }
}
#header>.header_load {
    margin-right: pxToRem(24);
    border: none;
    font-size: pxToRem(30);
    background-color: #d50811;
    width: pxToRem(136);
}
.btn {
    height: pxToRem(50);
    text-align: center;
    line-height:pxToRem(50);
    color: #fff;
    border: 1px solid #fff;
    border-radius: pxToRem(10);
    float: right;
    margin-top: pxToRem(20);
}
.content{
    margin-top: pxToRem(90);
}
.model{
    width: 100%;
    height:pxToRem(1334);
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    top:0;
    display: none;
}
.model .model_cont{
    width: 100%;
    height:pxToRem(330);
    background: #fff;
    padding-top:pxToRem(70);
    padding-left:pxToRem(150);
    position: relative;
    z-index: 1000;
}
.model_cont .text1{
       height:pxToRem(60);
       line-height:pxToRem(60);
       font-size:pxToRem(32);
       color: #131313;
}
.model_cont .text1 span{
  display: inline-block;
  width: pxToRem(60);
  height:pxToRem(60);
  background:url('./img/moreheng@2x.png') no-repeat center center;
  background-size: 100% 100%;
  transform: translateY(pxToRem(20));
}
.model_cont .text2{
       height:pxToRem(60);
       line-height: pxToRem(60);
       font-size:pxToRem(32);
       color: #131313;
       margin-top:pxToRem(46);
}
.model_cont .text2 span{
  display: inline-block;
  width: pxToRem(290);
  height: pxToRem(60);
  background:url('./img/liulanqi@2x.png') no-repeat center center;
  background-size: 100% 100%;
  transform: translateY(pxToRem(20));
}
.model .model_cont .pointTo{
  position: absolute;
  width:pxToRem(140);
  height:pxToRem(116);
  background:url('./img/shape_up@2x.png') no-repeat center center;
  background-size: 100% 100%;
  top:pxToRem(36);
  right:pxToRem(180);
}
#contBlank{
    padding-top: pxToRem(200);
    height: pxToRem(1334);
    text-align: center;
}
.blank_icon{
    width:pxToRem(178);
    height:pxToRem(192);
    display: inline-block;
    background: url('./img/blank_2x.png') no-repeat center center;
    background-size: 100% 100%;
}
.msg_miss{
    font-size:pxToRem(32);
    color: #666666;
    font-weight: bold;
    margin:pxToRem(50) auto pxToRem(28);
}
.content-title{
    font-size: pxToRem(28);
    margin-bottom: pxToRem(28);
}
.content-text{
    text-indent: 2em;
    font-size:  pxToRem(28);
    color: #666;
    line-height:  pxToRem(34);
    margin-bottom: pxToRem(20);
}
.videoBox{
    position: relative;
}
.video {
    width: pxToRem(702);
    height: pxToRem(395);
}
.play{
    position: absolute;
    width: pxToRem(124);
    height: pxToRem(124);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.imgBox{
    margin-top: pxToRem(20);
    width: pxToRem(702);
    height: pxToRem(395);
}
.imgBox img{
    display: block;
}
.footer img {
    width: 100%;
}
/*新样式*/
.left-state{
    display: inline-block;
    position: relative;
    top: pxToRem(35);
    color: #fff;
}
.right-state{
    // background: url(./img/zhuangtailan.png) no-repeat;
    background-size: contain;
    display: inline-block;
    width: pxToRem(60);
    height: 15px;
    position: relative;
    top: pxToRem(40);
    right: pxToRem(-262);
}
.back-btn{
    // background: url(./img/icon-back.png) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 8px;
    height: 14px;
    position: absolute;
    top: 40px;
    left: 14px;
}

.cover-img{
    background-size: cover;
    display: inline-block;
    width: 100%;
    height: pxToRem(400);
    position: relative;
    // top: 3px;
    // z-index: -10;
}
.user-info{
    position: absolute;
    bottom: pxToRem(15);
    left: pxToRem(48);
}
.user-info>.user-icon{
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}
.user-info>.user-icon>img{
    width: 100%;
    height: 100%;
}
.user-info>.user-text{
    display: inline-block;
    vertical-align: top;
    color: #fce09e;
    margin-left: 8px;
    font-size: pxToRem(24);
    position: relative;
    top: pxToRem(4);
}
.user-text>.user-title{
    font-size: pxToRem(20);
    font-weight: 700;
}
.user-text>.user-name{
    font-size: pxToRem(20);
    font-weight: 100;
}
.user-name>img{
    width: pxToRem(28);
    height: pxToRem(18);
    position: relative;
    // top: pxToRem(1);
}
.activity-about{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e8d6be;
    
}
.activity-about::-webkit-scrollbar{
  display:none;
}

.active-process{
    position: relative;
    top: pxToRem(30);
    // margin-bottom: pxToRem(30);
}
.process-info-box{
    width: 100%;
    height: pxToRem(600);
    background-color:#fff;
    border-radius: pxToRem(10);
    box-shadow: pxToRem(10) pxToRem(10) pxToRem(5) #906322; /*阴影*/
    -moz-box-shadow: pxToRem(10) pxToRem(10) pxToRem(5) #906322; /* 老的 Firefox */
}
.active-process-photo{
    width: 100%;
    height: pxToRem(400);
    border-radius: pxToRem(10);
    position: relative;
    top: pxToRem(-10);
    left: pxToRem(10);
}
.photo-label-box{
    display: inline-block;
    width: 100%;
    height: pxToRem(40);
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}
.active-process-title{
    margin-bottom: pxToRem(20);
    font-size: pxToRem(28);
    font-weight: 700;
    line-height: pxToRem(30);
}
.active-process-title>.title-bar{
    display: inline-block;
    width: pxToRem(4);
    height: pxToRem(30);
    background-color: #A87C4E;
    margin-right: 9px;
    vertical-align: text-bottom;
    position: relative;
    top: -0.03rem;
}
.process-content{
    width: 100%;
    height: pxToRem(200);
    position: relative;
    left: pxToRem(10);
    font-size: pxToRem(28);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 17;
    /* overflow: hidden; */
    
    color: #333;
}

#staffCheck{
    display: none;
}

/**/
.swipe {
    overflow:hidden;
    position:absolute;
    left: pxToRem(20);
    bottom: pxToRem(20);
    width: 100%;
    height: pxToRem(180);
    white-space:nowrap;
    overflow:hidden;
    overflow-x: scroll;
    z-index: 2;
}
.fansTeamLogo{
margin-right: pxToRem(2);
width: pxToRem(180);
height: pxToRem(180);
font-weight:bold;
color:#fff;
font-size:20px;
text-align:center;
border: #fff solid pxToRem(1);
display: inline-block;
}
.fansTeamLogo>img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.fansTeam-name{
    display: inline-block;
    position: relative;
    bottom: pxToRem(10);
    font-size: pxToRem(28);
    font-weight: 100;
}

.swipe::-webkit-scrollbar {display:none}

.fen-member-wall{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap ;
    justify-content: flex-start;
}
.fen-member{
    width: 20%;
    height: pxToRem(120);
    display: inline-block;
    
}
.fen-member-photo{
    width: pxToRem(80);
    height: pxToRem(80);
    border-radius: pxToRem(80);
    background-image: url(../src/img/face.png);
}
.fen-team-wall{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap ;
    justify-content: flex-start;
}
.fen-team{
    width: 33%;
    height: pxToRem(200);
    display: inline-block;
    background: url(../src/img/qz_hd_maidanbq@3x.png) no-repeat;
    position: relative;
}
.fen-team-name{
    position: relative;
    top: pxToRem(80);
    text-align: center;
}
.fen-team-photo-11{
    width: pxToRem(80);
    height: pxToRem(80);
    position: relative;
    left: pxToRem(60);
    top: pxToRem(60);
}
.fen-team-photo-11>img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.fen-team-photo-21{
    width: pxToRem(80);
    height: pxToRem(80);
    border-radius: pxToRem(80);
    position: absolute;
    left: pxToRem(20);
    top: pxToRem(50);
}
.fen-team-photo-22{
    width: pxToRem(80);
    height: pxToRem(80);
    border-radius: pxToRem(80);
    position: absolute;
    left: pxToRem(100);
    top: pxToRem(50);
}
.fen-team-photo-31{
    width: pxToRem(80);
    height: pxToRem(80);
    border-radius: pxToRem(80);
    position: relative;
    left: pxToRem(60);
}
.fen-team-photo-32{
    width: pxToRem(80);
    height: pxToRem(80);
    border-radius: pxToRem(80);
    position: relative;
    left: pxToRem(20);
    top: pxToRem(-10);
}
.fen-team-photo-33{
    width: pxToRem(80);
    height: pxToRem(80);
    border-radius: pxToRem(80);
    position: relative;
    left: pxToRem(100);
    top: pxToRem(-90);
}
.check-more{
    width: 100%;
    height: pxToRem(60);
    text-align: center;
}
.check-more-btn{
    display: inline-block;
    width: pxToRem(300);
    height: pxToRem(60);
    line-height: pxToRem(60);
    border: 1px solid #a67227;
    color: #a67227;
    border-radius: pxToRem(10);
    font-size: 16px;
    text-align: center;
}
.padding-lr-24{
    padding: 0 pxToRem(48) pxToRem(48) pxToRem(48);
}
.fengcai-box{
    width: 100%;
    height: pxToRem(600);
    background-color: #fff;
    position: relative;
    border-radius: pxToRem(10);
}
.fengcai-photo{
    width: pxToRem(80);
    height: pxToRem(80);
    border-radius: pxToRem(80);
    // background-image: url(../src/img/qz_hd_shangjiabiao@3x.png);
    position: relative;
    top: pxToRem(-40);
    margin: 0 auto;
}
.fengcai-photo>img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.fengcai-info-title{
    font-size: pxToRem(28);
    text-align: center;
    position: relative;
    top: pxToRem(-20);
}
.fengcai-info-photo{
    width: 90%;
    height: pxToRem(380);
    margin: auto;
}
.fengcai-info-detail{
    width: 90%;
    height: pxToRem(60);
    margin: auto;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 将对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;
    
}
.fengcai-info-zan{
    z-index: 10;
    width: pxToRem(400);
    height: pxToRem(80);
    border-radius: pxToRem(60);
    position: relative;
    bottom: pxToRem(40);
    margin: 0 auto;
    background-color: #fff;
    box-shadow:0 pxToRem(1) pxToRem(10) pxToRem(2) #eee;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around ;
}
.total-box{
    width: 100%;
    height: pxToRem(660);
}
.fengcai-info-zan-detail{
    width: 50%;
    height: pxToRem(40);
    margin: auto 0;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center ;
}
.zan-heart{
    width: pxToRem(40);
    height: pxToRem(40);
    display: inline-block;
    background-image: url(../src/img/qz_hd_shangjiabiao@3x.png)
}
.zan-num{
    width: pxToRem(40);
    height: pxToRem(40);
    line-height: pxToRem(40);
    display: inline-block;
    position: relative;
    left: pxToRem(40);
}
.swiper-container{
    width: 100%;
    margin-top: pxToRem(20);
}

.pinkLvl-nav{
    height: pxToRem(110);
}
.lvlNav{
    width: 100%;
    margin: auto;
    text-align: center;
}
.lvlName{
    font-size: pxToRem(28);
    color: #A67227;
}
.pinkLvl-nav .swiper-slide>.lvlicon{
    transform: scale(.8);
}
.pinkLvl-nav .swiper-slide.swiper-slide-active>.lvlicon{
    transform: scale(1);
}

.lvlicon{
    position: relative;
    height: pxToRem(50);
    width: pxToRem(50);
    border: pxToRem(2) solid #A67227;
    border-radius: pxToRem(50);
    margin: 0 auto;
    background: url(../src/img/white-back.png)
}
.lvlicon>img{
    width: 80%;
    height: 60%;
    position: relative;
    top: pxToRem(10);
}
.right-line{
    height: pxToRem(2);
    width: pxToRem(310);
    display: block;
    background: #A67227;
    left: 100%;
    top: pxToRem(-10);
    position: relative;
    z-index: -10;
}
.swiper-slide-prev>.lvlicon>.right-line{
    width: pxToRem(300);
}
.swiper-slide.swiper-slide-active>.lvlicon>.right-line{
    width: pxToRem(280);
}
// .swiper-slide.swiper-slide-active .lvlicon::after{
//     content: "";
//     height: 2px;
//     width: pxToRem(250);
//     display: block;
//     background: #A67227;
//     left: 100%;
//     top: pxToRem(-10);
//     // transform: translateY(.5px);
//     position: relative;
// }
// .swiper-slide:not(.swiper-slide-active) .lvlicon::after{
//     content: "";
//     height: 2px;
//     width: pxToRem(310);
//     display: block;
//     background: #A67227;
//     left: 100%;
//     top: pxToRem(-10);
//     // transform: translateY(-0.5px);
//     position: relative;
// }
.lv0{
    background: url(../src/img/fensidengji1-xiao@2x.png) no-repeat center;
    background-size: cover;
}
.lv1{
    background: url(../src/img/fensidengji1-xiao@2x.png) no-repeat center;
    background-size: cover;
}
.lv2{
    background: url(../src/img/fensidengji1-xiao@2x.png) no-repeat center;
    background-size: cover;
}
.lv3{
    background: url(../src/img/fensidengji1-xiao@2x.png) no-repeat center;
    background-size: cover;
}
.lv4{
    background: url(../src/img/fensidengji1-xiao@2x.png) no-repeat center;
    background-size: cover;
}
.lvlContent {
    height: auto;
}
.swiper-wrapper{
    height: auto ;
}
.pinklvl-box{
    overflow-y: auto;
}

.pink-power{
    background: #fff;
    position: relative;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
}
.add-pink-content .pink-power{
    padding: 10px ;
    
}
.pink-power::after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top:0;
    left: 50%;
    background: #fff;
    transform: rotateZ(45deg) translateX(-50%);		
}


.power-title{
    font-size: pxToRem(28);
    font-weight: 800;
    color: #333;
    line-height: pxToRem(28);
    margin: 0 auto;
    text-align: center;
    margin-top: pxToRem(10);
    margin-bottom: pxToRem(20);
}
.myicon {
    display: inline-block;
    margin-right: pxToRem(20);
    width: pxToRem(24);
    height: pxToRem(24);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.myicon-money{
    background-image: url(../src/img/chongzhilisong@2x.png);
}
.myicon-gift{
    background-image: url(../src/img/fensizengpin@2x.png);
}
.myicon-privilege{
    background-image: url(../src/img/teshuquanyi@2x.png);
}
.myicon-video {
    background-image: url(../src/img/jiangzuoluntan@2x.png);
}
.myicon-stage {
    background-image: url(../src/img/zhanfangwutai@2x.png);
}
.reduced{
    width: 100%;
    height: pxToRem(160);
    padding-bottom: pxToRem(20);
    border-bottom: 1px solid #f1f1f1;
}
.discount{
    display: flex;
    height: pxToRem(120);
}
.sum{
    flex: 2;
    font-size: pxToRem(28);
    padding-left: pxToRem(60);
    padding-top: pxToRem(10);
    color: #333;
    margin-left: -2px;
    border-right: 1px solid #f1f1f1;
}
.payNum {
    margin-left: 4px;
}
.ratioNum{
    margin-left: 4px;
}
.ratio{
    line-height: 26px;
    color: #A67227;
}
.enjoy-cion {
    margin: 0 auto;
    display: block;
    width: 19px;
    height: 14px;
    background: url(../src/img/fsqy_zunxiangzhekou@2x.png) no-repeat center;
    background-size: contain;
}
.activity-cion {
    margin: 0 auto;
    display: block;
    width: 17px;
    height: 14px;
    background: url(../src/img/fsqy_huodongjingfei@2x.png) no-repeat center;
    background-size: cover;
}
.enjoy-discount{
    color: #289dff;
    margin: 6px;
    font-size: 14px;
    line-height: 14px;
}
.enjoy{
    flex: 1;
    text-align: center;
    border-right: 1px solid #f1f1f1;
}
.activity-fund{
    color: #ff7f38;
    margin: 6px;
    font-size: 14px;
    line-height: 14px;
}
.activity{
    flex: 1;
    text-align: center;
}
.lvlContent {
    height: auto;
}

.pinklvl-box{
    overflow-y: auto;
}
.myIframe{
    border: none;
    display: block;
    height: 100%;
}
.gift{
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
    min-height: pxToRem(240);
    overflow: hidden;
}
.gift-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gift-box{
    box-sizing: border-box;
    padding-top: 10px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    width: 50%;
}
.gift-img{
    height: 78px;
    width: 150px;
    background-position: center;
    // background: url(../src/img/surface_bg.jpg) no-repeat;
    background-size: cover;
    margin: auto;
}
.giftIco,.cardIco{
    position: absolute;
    top: pxToRem(-2);
    left: pxToRem(50);
    width: pxToRem(70);
    height: pxToRem(64);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}
.giftIco {
    background-image: url(../src/img/git-icon.png);
}
.cardIco {
    background-image: url(../src/img/card-icon.png);
}
.gift-name{
    display: inline-block;
    width: pxToRem(100);
    font-size: 12px;
    margin-left: 5px;
    color: #333;
    padding-left: pxToRem(30);
    text-overflow: ellipsis;
    display: -webkit-box; /** 将对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 1; /** 显示的行数 **/
    overflow: hidden;
}
.photo {
    display: block;
    position: relative;
    left: pxToRem(-2);
    top: pxToRem(-2);
    width: 102%;
    height: 102%;
    vertical-align: middle;
}
.gift-price{
    position: absolute;
    right: 10px;
    top: 90px;
    font-size: 10px;
    line-height: 17px;
    padding-right: pxToRem(30);
}
.privilege{
    word-break:break-all;
    word-wrap: break-word;
    // padding-bottom: 20px;
    // border-bottom: 1px solid #f1f1f1;
    // height: pxToRem(360);
}
.privilege-box{
    width: 90%;
    height: 90%;
    margin: auto;
    position: relative;
    overflow: hidden;
    // background: url(../src/img/surface_bg.jpg) no-repeat;
}
.privilege-box img {
    width: 100%;
}
.privilege-str{
    height: pxToRem(80);
    margin-left: pxToRem(30);
    margin-right: pxToRem(30);
    font-size: pxToRem(28);
    text-overflow: ellipsis;
    display: -webkit-box; /** 将对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;
    
}
.chair{
    height: pxToRem(1100);
    background-color: #fff;
    border-radius: 5px;
}
.chair-title{
    padding-top: pxToRem(20);
}
.stage{
    height: pxToRem(400);
    background-color: #fff;
}
.video-box{
    height: pxToRem(400);
}
.chair-list .swiper-slide>div{
    transform: scale(.8);
}
.chair-list .swiper-slide.swiper-slide-active>div{
    transform: scale(1);
}
.video-describe{
    text-align: center;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 将对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;
}