body {
  font-size: 16px;
  color: #666666;
  font-family: "Microsoft YaHei";
  overflow-y: hidden;
}

.container-fluid {
  padding: 0;
}

input[type=text] {
  display: inline-block;
}

#profess-product {
  width: 100%;
  height: 100%;
  .title {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #f7f7f7;
    border-bottom: 1px dashed #e5e5e5;
  }
  .nav-left {
    height: 880px;
    color: #333333;
    background-color: #f7f7f7;
    padding-bottom: 150px;
    h4 {
      height: 52px;
      line-height: 52px;
      font-size: 16px;
      color: #333333;
      cursor: pointer;
    }
    .nav-list {
      height: 100%;
      overflow-y: auto;
      font-size: 14px;
      margin: 15px 0 0 0;
      .merchant {
        background-color: #ededed;
        line-height: 54px;
        margin: 0 0 2px 0;
        .shop-list {
          display: none;
          .shop-name {
            background-color: #e5e5e5;
            padding: 0 21px;
            font-size: 14px;
            color: #666666;
            span {
              width: 5px;
              height: 5px;
              border-radius: 100%;
              background: #7d7d7d;
              margin-bottom: 5px;
            }
            a.active {
              color: #c83d2d;
            }
          }
        }
      }
    }
    .glyphicon {
      margin: 0 12px 0 21px;
      cursor: pointer;
    }
  }
  .main {
    padding: 0;
    .tabs {
      height: 72px;
      line-height: 72px;
      border-bottom: 2px solid #dadada;
      a {
        float: left;
        display: block;
        width: 130px;
        height: 100%;
        font-size: 20px;
        color: #999999;
        text-align: center;
        margin: 0 53px;
        &.active {
          color: #c83d2d;
          border-bottom: 6px solid #c83d2d;
        }
      }
    }
    .main-content {
      height: 900px;
      position: relative;
      .live {
        position: absolute;
        top: 92px;
        left: 80px;
        .liveAddress {
          padding: 0 0 55px 110px;
          .channel {
            float: left;
            width: 265px;
            height: 134px;
            line-height: 2.5;
            background-color: #ffffff;
            border: 2px solid #00a0e9;
            font-size: 24px;
            color: #00a0e9;
            text-align: center;
            margin: 0 30px 0 0;
            cursor: pointer;
            &.active {
              background-color: #00a0e9;
              color: #ffffff;
            }
          }
          &:after {
            display: table;
            content: '';
            clear: both;
          }
        }
        label {
          font-weight: normal;
          font-size: 20px;
          color: #333333;
          margin: 0 0 62px 0;
        }
        input {
          width: 920px;
          height: 40px;
          margin: 0 0 62px 0;
        }
      }
      .full-screen {
        display: none;
        position: absolute;
        top: 92px;
        left: 80px;
        label {
          font-weight: normal;
          font-size: 20px;
          color: #333333;
          margin: 0 0 62px 0;
        }
        input {
          width: 920px;
          height: 40px;
          margin: 0 0 62px 0;
        }
        .subtitle {
          font-size: 20px;
          color: #333333;
          margin: 0 0 62px 0;
        }
        .gifCover {
          width: 660px;
          margin: 41px 0 0 57px;
          #gifCover {
            display: block;
            width: 130px;
            height: 160px;
            margin: 0 auto 20px auto;
            cursor: pointer;
            background: url(../img/add-1.png);
            background-size: cover;
            border: 1px solid #cccccc;
            img {
              width: 100%;
              height: 100%;
            }
          }
          p {
            text-align: center;
            font-size: 20px;
            color: #999999;
          }
        }
      }
      .upload-video {
        display: none;
        .row {
          &:nth-of-type(1) {
            border-bottom: 1px solid #dadada;
          }
          .subtitle {
            display: inline-block;
            margin: 41px 0 0 57px;
            font-size: 20px;
            color: #333333;
          }
          .upload-area {
            width: 660px;
            margin: 41px 0 20px 57px;
            video {
              display: block;
              width: 130px;
              height: 160px;
              margin: 0 auto 20px auto;
              cursor: pointer;
              background: url(../img/add-2.png);
              background-size: cover;
            }
            p {
              text-align: center;
              font-size: 20px;
              color: #999999;
            }
          }
          .upload-cover {
            width: 660px;
            margin: 41px 0 0 57px;
            #uploadCover {
              display: block;
              width: 130px;
              height: 160px;
              margin: 0 auto 20px auto;
              cursor: pointer;
              background: url(../img/add-1.png);
              background-size: cover;
              border: 1px solid #cccccc;
              img {
                width: 100%;
                height: 100%;
              }
            }
            p {
              text-align: center;
              font-size: 20px;
              color: #999999;
            }
          }
        }
      }
      .upload-img {
        display: none;
        .subtitle {
          display: inline-block;
          margin: 41px 0 0 57px;
          font-size: 20px;
          color: #333333;
        }
        .upload-area {
          width: 660px;
          margin: 41px 0 0 57px;
          #uploadImg {
            display: block;
            width: 250px;
            height: 250px;
            margin: 0 auto 20px auto;
            cursor: pointer;
            background: url(../img/add-3.png);
            background-size: cover;
            img {
              width: 100%;
              height: 100%;
            }
          }
          p {
            text-align: center;
            font-size: 20px;
            color: #999999;
          }
        }
      }
      .save {
        display: none;
        position: absolute;
        left: 600px;
        top: 628px;
        width: 140px;
        height: 40px;
        background-color: #00c1de;
        color: #ffffff;
        border-radius: 5px;
        border: none;
      }
    }
  }
}

#img-area {
  padding: 20px;
  .area {
    margin: 0 0 40px 0;
    button {
      float: left;
      &#cut {
        float: right;
      }
    }
    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }
  .img-show {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    border: 1px solid #eeeeee;
    .jcrop-holder {
      float: left;
    }
    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }
}