body{
  background: #eaedf1;
  font-family: tahoma,arial,"Hiragino Sans GB","Microsoft Yahei","\5b8b\4f53";
  font-size: 14px;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
}

/* 日期开始  */
ul.tool-box-ul {
	padding:19px 25px;
}

ul.tool-box-ul>li.tool-box-li {
	width: 250px;
	margin-right: 20px;
	float: left;
}

div.layui-input-inline {
	width: 100%!important;
}

ul.tool-box-ul>li.tool-box-li .tool-box-label {
	display: block;
	font: normal 14px/2em "微软雅黑";
}

#searchBtn {
	width: 112px;
	height: 38px;
	position: relative;
	top: 27px;
}
#resetBtn {
	width: 112px;
	height: 38px;
	position: relative;
	top: 27px;
}
/* 日期结束  */

.left-content{
  width: 1100px;
  margin: 10px;
  margin-top: 0px;
  margin-left: 26px;
}
.headline-left{
  /* background-color: rgba(6,16,36,.2); */
  height: 120px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.headline-left-list{
  display: block;
  margin: 10px 0px;
  border: 1px solid #fff;
}
.headline-left-list .item{
  background-color: #F5F5F6;
  border: 1px solid #F5F5F6;
  width: 380px;   /*  310px; */
  margin: 5px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.right-content{
  width: 330px;
  position: absolute;
  right: 0px;
  top: 109px;
  left: 1150px;
}
.right-module{
  height: 260px;
  background: #fff;
  margin: 10px 0px;
  width: 440px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.titel-name{
  font-size: 16px;
  font-weight: inherit;
  padding: 10px;
  background: #f5f5f6;
  color: #1a1818;
}
.titel-name a{
  float: right;
  font-size: 14px;
  text-decoration: none;
  color: #03A9F4;
}
.left-details{
  height: 800px;
}
.details-info{
  float: left;
  width: 544px;
  margin-top: 10px;
  background: #f5f5f6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.details-list{
  margin: 10px;
  padding: 10px;
  background: #fff;
}
.details-list .item-titel{
 text-align: center;
 font-size: 20px;
 border-bottom: 1px solid #ddd;
}
.details-list li{
  /* padding: 10px; */
  font-size: 15px;
  color: #666;
  padding-bottom: 5px;
}
.details-list .item{
  margin: 10px;
  background-color: #F5F5F6;
  border: 1px solid #F5F5F6;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
}
.item-float1{
  float: left;
  width: 219px;   /*  230px; */
} 
.details-titel{
  height: 60px;
  display: block;
  line-height: 60px;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
}
.details-titel .item{
  background-color: #F5F5F6;
  border: 1px solid #F5F5F6;
  height: 40px;
  line-height: 40px;
  margin: 0px 10px;
  padding-left: 10px;
}
.item:hover{
  border: 1px solid #00c1de;
  background-color: #fff;
  opacity: 1;
}
.cursor-pointer{
  cursor: pointer;
}
.li-f-mr{
  float: right;
  margin-right: 10px;
}
.right-module .item-titel{
  text-align: center;
  font-size: 18px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
