html,
body {
	font-family: "微软雅黑";
	height: 100%;
	box-sizing: border-box;
}
/* 禁止拖拽和选择 */

* {
	user-select: none;
	-webkit-user-drag: none;
}

ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
/* 不要滚动条 */

/*::-webkit-scrollbar {
	display: none;
}*/


/* 过长省略号 */

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.box{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.header{
	text-align: center;
	height: 60px;
	background-color: #353b53;
	color: #fff;
	line-height: 60px;
	font-weight: bold;
	font-size: 20px;
}
.content{
	flex: 1;
	padding-top: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 635px;
}
.upFace{
	height: 220px;
	width: 340px;
	position: relative;
}
.must{
	color: #d9524e;
	line-height: 28px;
	font-size: 14px;
	margin-left: -10px;
	display: inline-block;
	margin-right: 5px;
}
.upFace img{
	height: 100%;
	width: 100%;
}
.mylabel{
	font-size: 18px;
	display: block;
	color: #333;
	font-weight: 600;
}
.textHint{
	padding-left: 10px;
	font-size: 16px;
	color: #ffa500;
}
.circleName{
	height: 36px;
	width: 100%;
	font-size: 18px;
	color: #666;
	padding-left: 12px;
}
.storeName{
	font-size: 18px;
	color: #999;
}


.circleDuc{
	height: auto;
	width: 100%;
	min-height: 50px;
}
.btnBox{
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
	padding-top: 20px;
}
.btnBox .btn{
	height: 50px;
	width: 118px;
	font-size: 20px;
	font-weight: bold;
}
.submitBtn{
	background-color: #353b53;
	color: #fff;
}
.toBack{
	border: 1px solid #353b53;
	color: #353b53;
	margin-right: 40px;
}

.radioLabel{
	font-size: 18px;
	color: #333;
	margin: 0;
}
.magic-radio{
	display: none;
	position: absolute;
}

.magic-radio + label{
	position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
    vertical-align: middle; 
}
.magic-radio + label:before{
	position: absolute;
	top: 5px;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: '';
	border-radius: 50%;
	border: 1px solid #6a6a6a;
}
 .magic-radio + label:after{
 	content: "";
 	position: absolute;
 	top: 8px;
 	left: 8px;
 	box-sizing: border-box;
 	width: 6px;
 	height: 12px;
 	transform: rotate(45deg);
 	border-width: 2px;
 	border-style: solid;
 	border-color: #fff;
 	border-top: 0;
 	border-left: 0;
 }

 .magic-checkbox + label:before {
 	border-radius: 3px; }
 .magic-radio:checked + label:before{
  	border: none;
  	background-color: #e94c47;
   }
.markBox{
	margin-top: -14px;
	margin-left: -20px;
	display: flex;
	flex-wrap: wrap;
}
.markBox button{
	margin-top: 14px;
	margin-left: 20px;
	height: 36px;
	font-size: 16px;
	color: #666;
	border: 1px solid #dadada;
}
.serviceMark.btn-info,.serviceMark.btn-info:hover,btn-info:active{
	background-color: #E94C47;
	color: #fff;
	border-color: #E94C47;
}
.serviceMark{
	height: 36px;
	font-size: 16px;
	color: #666;
	border: 1px solid #dadada;
}
.shadow{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
}
.shadow::after{
	content: "点击修改圈子头像";
	color: #fff;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.form-group{
	position: relative;
}
 html input[disabled],textarea[disabled]{
	background-color: #dadada;
	border: none;
}
input[type=radio][disabled]+label {
	color: #999;
}
input[type=radio]:checked[disabled]+label::before{
	border: none;
	background-color: #999;
}
.compile{
	position: absolute;
	right: 18px;
	top: -6px;
	font-size: 26px;
	color: #353b53;
	height: 30px;
	width: 80px;
	text-align: right;
}
.glyphicon-remove{
	margin-right: 20px;
	color: #e94c47;
}
.glyphicon-ok{
	color: #26c2b2;
}
.compile span{
	cursor: pointer;
}
.faceGrounp{
	margin-bottom: 15px;
}
.memberContent{
    transition: transform 0.5s;
}
