
.table th, .table td { 
text-align: center;
vertical-align: middle!important;
}
.p20{
	padding: 20px 0;	
}
#content{
	width: 100%;
	height: 100%;
}
.red{
    color:#f05050;
}
.remove-modifier{
    cursor: pointer;
}
.paging-number{
    font:normal 14px/34px 'MicrsoftYaHei';
}
li.paging-number div{
    display: inline-block;
}
.input-group .input-group-addon{
    width: 100px;
    text-align: right;
    border: 0 none;
    background-color: transparent;
}
.input-group .form-control{
    width: 450px;
}
.input-group  button.btn-parameter{
    width: 450px;
}
.remove-modifier>div{
    height: 30px;
    line-height: 30px;
    display: inline-block;
}
.remove-modifier>div:first-child{
     float: left;
     margin-left: 10px;
     cursor: pointer;
 }
.remove-modifier>div:last-child{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.delete-parameter i{
    font-size: 18px;
    float: left;
    cursor: pointer;
    margin-right: 5px;
}
/**/
td.td1{width: 60px;}
td.td2{width: 105px;}
td.td3{width: 130px;}
td.td4{width: 145px;}
td.td5{width: 150px;}
td.td6{width: 130px;}
td.td7{width: 120px;}
td.td8{width: 145px;}
td.td9{width: 185px;}
td.td10{width: 200px;}

#tbodyParameter .check.yellow{
	background-color: #FEAD1D}
	
div.details{
	width: 76px;
	background-color: #00a0e8;
	color:#fff;
	height: 30px;
	line-height: 30px;
}
i.edicticon{
	position: relative;
	top: 4px;
}
i.delete{
	position: relative;
	top: 4px;
}










.mr5{
	margin-right: 5px;
}
#commercialList{
	width: 280px;
}
#commerList{
	width: 150px;
}
/*时间*/
#starTime{
	width: 225px;
}
#datetimepicker1 input,#datetimepicker2 input{
	width: 105px;
}
.form-inline .lasttime{
    margin-right: 0;
    display: inline;
}
.date{
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.date input{
    border:none;
    cursor: pointer;
}
.datepicker{
    background: #fff;
    border:1px solid #b3b3b3;
    position: absolute;
    left: 0;
    width: 214px;
    display: none;
}
.form-group label{
	font-weight: normal;
}
#starTime{
	margin-right: 5px;
}
#tbodyParameter td.red{
	color: red;
}
#tbodyParameter td.green{
	color: green;
}
#tbodyParameter button.check{
	width: 76px;
    background-color: #00a0e8;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border: 0;
}
#tbodyParameter td button.check.not{
	cursor: not-allowed;
	background-color: #ccc;
}
/*motal 审核*/
#modal-tbody >tr>td:nth-of-type(1) {
    width: 120px;
    font-weight: bold;
}
#modal-tbody >tr>td:nth-of-type(2) {
    text-align: left;
}
#addAduit-motal{
    padding: 0 30px;
}
#addAduit-motal>h2{
	font: normal 16px/40px "microsoft yahei";
}
/*motal审核*/
#modal-tbody >tr>td{
	width: 260px;
	text-align: left;
	
	padding:20px 5px;
}
#add-newuser #modal-tbody >tr>td{
	border: 0;
}
#modal-tbody >tr>td.img-td>p{
	width: 150px;
	height: 100px;
}
#modal-tbody >tr>td.img-td>p>img{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}
#modal-tbody >tr>td.img-td>p>img.act{
	z-index: 5;
}
#modal-tbody >tr>td:nth-of-type(2n+1) {
    width: 120px;
    font-weight: bold;
    text-align: right;
}
#add-newuser .modal-footer .close-btn {
    background-color: transparent;
    color: #29b24a;
    border: none;
    width: 50%;
    float: left;
    height: 100%;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
#add-newuser .modal-footer{
	height: 66px;
	padding: 0;
}
#add-newuser .modal-footer .close-btn{
	transition: all 0.3s;
}
#add-newuser .modal-footer .close-btn:hover{
	    background-color: #f1f1f1;
}
#add-newuser .modal-footer .close-btn.red{
	color: #FC5A2C;
}

