


.table th, .table td { 
text-align: center;
vertical-align: middle!important;
}
.p20{
	padding: 15px 0;	
}
#content{
	width: 100%;
	height: 100%;
}
.red{
    color:#f05050;
}
.remove-modifier{
    cursor: pointer;
    }
.paging-number{
    font:normal 14px/34px 'MicrsoftYaHei';
}
li.paging-number div{
    display: inline-block;
}
.input-group .input-group-addon{
    width: 100px;
    text-align: right;
    border: 0 none;
    background-color: transparent;
}
.input-group .form-control{
    width: 450px;
}
.input-group  button.btn-parameter{
    width: 450px;
}
.modal-dialog .modal-footer{
    transition:all .3s;
}
.modal-dialog .modal-footer:hover{
    background-color: #f1f1f1;
}
.remove-modifier>div{
    height: 30px;
    line-height: 30px;
    display: inline-block;
}
.remove-modifier>div:nth-of-type(1){
	margin-right:5px;
}
.remove-modifier>div:last-child{
    cursor: pointer;
}
.delete-parameter i{
    font-size: 18px;
    float: left;
    cursor: pointer;
    margin-right: 5px;
}
/**/

#common-table td.td1{width: 60px;}
#common-table td.td2{width: 470px;}
#common-table td.td3{width: 370px;}
#common-table td.td4{width: 270px;}
#common-table td.td5{width: 320px;}

div.details{
	width: 76px;
	background-color: #00a0e8;
	color:#fff;
	height: 30px;
	line-height: 30px;
}
i.edicticon{
	position: relative;
	top: 4px;
}
i.delete{
	position: relative;
	top: 4px;
}
#showNotice span.tit{
	font-weight: bold;
}
#showNotice div.notice{
	padding: 6px 12px;
	word-break: break-all;
	
}
#showNotice span.not{
	text-align: left;
}
#modal-tbody >tr>td:nth-of-type(1){
	width: 120px;
	font-weight: bold;
}
#modal-tbody >tr>td:nth-of-type(2){
	text-align: left;
}

/**/
.common-search .form-group.re{
	display: block;
	margin-top: 20px;
}
#one {
	width: 113px;
	text-align: right;
}
#two {
	width: 113px;
	text-align: right;
}
.common-search .form-group.ro input{
	width: 600px;
}
.common-search .form-group.re input{
	width: 600px;
}
