.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.formContent>div{
	margin-top: 1rem;
}
.formContent label{
	font-size: 1.5rem;
	line-height: 1;
}
.formContent span{
	font-size: 1rem;
	line-height: 1.5rem;
	color: #888;
}
/* 标题 */
.formContent .formTitle {
	display: block;
	margin: 0;
	font-size: 2rem;
	font-weight: 600;
	line-height: 3rem;
}
 .formContent .formTitle .couponName{
	font-size: 2rem;
	font-weight: 600;
	line-height: 3rem;
}
.shelve{
	display: inline-block;
	padding: 0.1rem 0.5rem;
	font-size: 0.5rem;
	font-weight: normal;
	background-color: #21c7c9;
	color: #fff !important;
}
.shelve.off{
	background-color: #f8ac59;
}

.myForm{
	padding: 1rem 2rem;
}
.myTitle{
	display: block;
	background-color: #353b53;
	font-size: 2rem;
	padding: 1rem 0 1rem 3.8rem;
}
.myTitle .fa-close{
    font-size: 2.8rem;
    margin-right: 1rem;
}
/* 新增需求 */	
.searchForm .form-group{
	display: block;
	padding: 15px 0 0;
	margin: 0;
}
.searchForm .icon{
	font-size: 2rem;
}
.searchForm.form-inline .inline-input{
	display: inline-block;
	width: 250px;
    vertical-align: middle;
}
.searchForm .searchBtn{
	margin-left: 5px;
}

.fixed-table-body{
	height: auto !important;
} 

#couponTable >tbody >tr:hover{
	background: #29C3CD;
	color:#fff;
	cursor: pointer;
}

.no-records-found:hover{
	background: #f9f9f9 !important;
	color: #666 !important;
}

button.btn.btn-md.pull-right {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #FFF;
}

button.btn.btn-md.pull-right:hover {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #FFF;
}

.off{
	background-color: #23c6c8!important;
    border-color: #23c6c8!important;
    color: #FFF;
}
