.layui-table-cell {  
    height: 45px;  
    line-height: 45px;  
}
.showImg {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 1px solid #5cb85c;
  border-radius: 50px;
  position: relative;
}

.showImg .imgs {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 60px;
  height: 60px;
  line-height: 80px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  background-color: #5cb85c;
}