.layui-table-cell {  
    height: 45px;  
    line-height: 45px;  
}
.showImg {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 1px solid #5cb85c;
  border-radius: 50px;
  position: relative;
}

.showImg .imgs {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 60px;
  height: 60px;
  line-height: 80px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  background-color: #5cb85c;
}
.column_box{
    width: 100%;
    height: 220px;
    background-color: #F6F6F6;
}

.three_row{
    float: left;
    box-sizing: border-box;
    width: 33.33%;
    height: 100%;
    /*background-color: red;*/
    border: none;
    position: relative;
}

.content_box {
    width: 80%;
    height: 70%;
    /*margin:0 auto;*/
    /*background-color:lightpink;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.two_row {
    width: 100%;
    height: 550px;
    background-color: #F6F6F6;
}

.information_box{
    width: 33.33%;
    height: 550px;
    background-color: #F6F6F6;
    float: left;
    position: relative;
}

.earnings_box {
    width: 66.67%;
    height: 550px;
    background-color: #F6F6F6;
    float: left;
    position: relative;
}

.rankingtide_box{
    width: 100%;
    height: 700px;
    background-color: #F6F6F6;
    float: left;
    position: relative;
}
.total{
	background: #F9C383;
	color:#fff;
	width: 93%;
	padding: 40px 0;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.total .layui-col-md3 img{
	float: right;
	width: 80px;
}
.total .weight{
	text-align: left;
    text-indent: 28px;
}
.today{
	background: #9986F9;
	color:#fff;
	width: 96%;
	margin:0 auto;
	padding: 40px 0;
	margin-top: 15px;
	text-align: center;
}
.today .layui-col-md3 img{
	float: right;
	width: 80px;
}
.today .weight{
	text-align: left;
    text-indent: 28px;
}
.number{
	background: #84D7F9;
	color:#fff;
	width: 95%;
	padding: 40px 0;
	margin-top: 15px;
	text-align: center;
	float: right;
}
.number .layui-col-md3 img{
	float: right;
	width: 80px;
}
.number .weight{
	text-align: left;
    text-indent: 28px;
}
.layui-fluid{
	padding: 0 30px;
}
#speedChart{
	background: #FFFFFF;
	width: 580px;
}
.person{
	background: #FFFFFF;
}
.zhuzai{
	border-bottom: #D9D9D9 1pt solid; 
	border-left: #D9D9D9 1pt; 
	padding-bottom: 1px; 
	padding-left: 1px; 
	padding-right: 1px; 
	vertical-align: middle; 
	word-break: break-all; 
	border-top: #D9D9D9 1pt; 
	border-right: #D9D9D9 1pt; 
	padding-top: 1px
}
.jiesuan{
	display: none;
}
