.container {
    padding-bottom: 30px;   
}
.wrapper {
    min-height: 800px;
}
.nav {
	font-size: 16px;
	padding: 30px;
}
.articleBox {
    padding: 0 100px 30px 100px;
}
#artTitle {
    font-weight: 600;
    font-size: 40px;
    width: 800px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.artInform {
    padding: 10px 0;
    color: darkgray;
}
.artInform span:nth-child(1) {
    margin-right: 15px;
}
.artResourceBox {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.artResourceBox video {
    /*width: 600px;*/
    height: 900px;
}
.artResourceBox img {
    margin-bottom: 20px;
    width: 80%;
}
#artCon {
    text-indent: 30px;
    font-size: 16px;
}

video, img {
    max-width: 100%;
}