#selArtfiles.show, #clickDrawImg.show {
    display: inline-block!important;
}
#page_R {
    padding: 30px;
}
/*表格*/
#pageRTit {
    font-size: 16px;
    margin-bottom: 20px;
}
#labelTabHead th, #addArtTableHead th {
    background-color: #f5f5f5; 
}
#labelTabHead th, #labelTabCon td, #labelTabFoot td, #addArtTableHead th, #addArtTableCon td {
    text-align: center;
    padding: 0;
    height: 40px;
    line-height: 40px;
}
#labelTabCon td {
    height: 100px;
    line-height: 100px;
}
.updateTotalOpera i {
    margin-right: 10px;
}
.carouselImg {
    height: 80px;
    margin: 10px 0;
}
#addCarouselBtn, .addArtTabBtnBox button {
    height: 25px;
    line-height: 25px;
    width: 45px;
    background: #FFA893;
    color: #fff;
    border-radius: 3px;
    border: 0;
}
/*表格*/
/*添加轮播图模态框*/
.setCarouselBox, .addArtDialog, .addFArtImgDialog {
	width: 900px;
	margin-top: 80px;
}

.setCarouselCon, .addArtBox, .addFartImgBox {
	width: 900px;
}

.setCarouselTop {
	border-bottom: 0;
}

.setCarouselTit {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

#addSubBtnBox {
	border-top: 0;
	text-align: center;
}

#addSubBtnBox button {
	color: #fff;
	margin: 0 30px;
}

.artCheckBtn a {
    display: block;
    color: #fff;
}

#confirmAddSub {
	background-color: #2BC6FF;
	padding: 6px 25px;
}

#cancelAddSub {
	padding: 6px 25px;
}

.localUpload {
	background-color: #FFFFFF;
    padding: 5px 20px;
    border: 1px solid #F0F0EE;
    display: inline-block;
}
.localUpload:nth-child(1) {
    margin-right: 20px;
}

#previews {
    width: 100%;
}

#previews img {
	display: inline-block;
    width: 100%;
}

.setCarouselCon form {
    padding-right: 60px;
}

#selChannel {
    width: 120px;
}
#inpSelArticle, #addAdvertLink {
    width: 560px;
}
#clickBtnToArt {
    font-size: 16px;
    color: #FFA893;
    padding-top: 5px;
    display: inline-block;
}
/*添加轮播图模态框*/
/*添加文章模态框*/
.addSubTop, .addFartImgTop {
	border-bottom: 0;
}
.addSubTitle, .addFartImgTitle {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
#artSearchBox {
	margin-right: 30px;
}
#artSearchIcon {
    height: 35px;
	box-sizing: border-box;
}
#artSearchInp {
    line-height: 35px;
	margin-right: 10px;
	padding: 0 0 0 15px;
	width: 230px;
    height: 35px;
	box-sizing: border-box;
}
#addArticleBox {
    padding: 0 30px;
}
.addArtTabBtnBox {
    width: 320px;
}
.addArtTabBtnBox button {
    margin: 0 20px;
}
.selChannelBox {
    padding: 30px 0 10px 30px;  
}
.selChannelBox > span {
    font-size: 16px;
}
#selArtChannel {
    width: 120px;
    display: inline-block;
    margin-left: 10px;
}
#artPage {
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 0;
}
.form-horizontal {
    max-height: 700px;
    overflow: auto;
}
.carouselImgTd {
    max-width: 90px;
}
.carouselArticle {
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#addFartImgList {
    height: 500px;  
    padding: 0 30px;
    overflow: scroll;
}
#addFartImgBtns {
	border-top: 0;
	padding: 30px 0;
	text-align: center;
}
#verifyBtn, #cancelBtn {
    border: 0;
	color: #fff;
	padding: 6px 40px;
	margin: 0 20px;
}
#verifyBtn {
    background-color: #2BC6FF;
}
#cancelBtn {
    background-color: #BBBBBB;
}
#addFartImgList {
    /*text-align: center;*/
    width: 100%;
}
#addFartImgList .artImgBox {
    display: inline-block;
    max-height: 150px;
    max-width: 30%; 
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}
.artImgBox img {
    width: 100%;
}
#addFartImgList .artImgIcon {
    background: url(../images/weixuanzhong.png) no-repeat center center;
    -webkit-background-size: 20px;
    background-size: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}
#addFartImgList .artImgIcon.active {
    background: url(../images/xuanzhong.png) no-repeat center center;
}
/*#selectedImg {
    width: 690px;
}*/