.addLabelName select,
.addLabelName input {
    width: 120px;
    height: 34px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    /*text-align: center;*/
    vertical-align: bottom;
}

.inpConnect {
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
}

#addDescriptionTxt {
    width: 70%;
}

.addLabelCon {
    padding-left: 35px;
}