#search_box {
	padding: 30px 20px 20px 20px;
	position: relative;
    text-align: center;
}

.searchInps {
    width: 170px;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
}

.searchInps:last-child {
    margin-right: 0;
} 

.searchInps > p, #search_icon {
    display: inline-block;
}

.searchInps > p {
	margin-bottom: 10px;
}

.searchInps input[type='text'], .searchInps #channelInp {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 34px;
	vertical-align: bottom;
	text-align: center;
	padding: 11px 0;
}

.searchSelect {
	width: 100px;
	height: 100%;	
}

.searchInps #channelInp {
	padding: 0;
	line-height: 34px;
	margin-bottom: 20px;
	display: block;
}

#search_icon img {
    vertical-align: middle;
	cursor: pointer;
	height: 34px;
    margin-bottom: 4px;
}

#account_Table {
	padding: 0 30px;
}

#table_head th {
	text-align: center;
	padding: 0;
	height: 40px;
	line-height: 40px;
	background-color: #f5f5f5;
}

#page {
	/*position: absolute;
	bottom: 0;
	left: 44%;
	margin-left: -70px;*/
}

#statement_con > tr > td {
	padding: 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
}

.articleTitle {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

