<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>工单管理</title>
    <link rel="stylesheet" href="../common/assets/foundation-v5.5.3/foundation.min.css">

    <!-- <link rel="stylesheet" href="../common/assets/layer/skin/default/layer.css"> -->

    <link rel="stylesheet" href="../common/assets/font/iconfont.css">
    <link rel="stylesheet" href="../common/assets/paging/dist/paging.css">
    <link rel="stylesheet" href="../common/assets/select2/select2.min.css">
    <link rel="stylesheet" href="../common/css/common.css"/>
    <link rel="stylesheet" href="css/work.css">
</head>
<body>
<div class="main-title">
    <div class="orderTab">
        <a href="javascript:;" class="active" data-order="10">我的工单</a>
        <a href="javascript:;" data-order="20">待领工单</a>
        <a href="javascript:;" data-order="30">工单列表</a>
    </div>
    <a href="javascript:;" class="timeCountBtn">时间统计</a>
</div>
<div class="main-content">
    <!--工单状态选择和搜索工单-->
    <div class="orderStatus">
        <div class="status">
            <span class="status-item selected" data-status="1"><i></i>待服务</span>
            <span class="status-item" data-status="11"><i></i>服务中</span>
            <span class="status-item" data-status="2"><i></i>服务完成</span>
        </div>
        <div class="search">
            <input type="text" placeholder="请输入工单号或客户名称" id="keyword"><a href="javascript:;" class="searchBtn">搜索</a>
        </div>
    </div>
    <!--工单列表-->
    <div class="orderList"></div>
    <div class="page-selection"></div>
</div>
<!--<div class="result-qrcode"></div>-->
<script src="../common/assets/jquery.min.js"></script>
<script src="../consumptionBilling/js/base.js"></script>
<script src="../common/assets/layer/layer.js"></script>
<script src="../common/assets/template-web.js"></script>
<script src="../common/assets/paging/dist/paging.js"></script>
<script src="../common/assets/select2/select2.min.js"></script>
<script src="../common/assets/html2canvas.min.js"></script>
<script src="../common/js/common.js"></script>
<script src="../common/assets/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="./js/upload.js"></script>
<!--<script src="../common/assets/hidpi-canvas/dist/hidpi-canvas.min.js"></script>-->
<script src="js/workOrderManage.js"></script>
<script type="text/html" id="beforeStartService">
    <div class="serviceOptions">
        <h2>{{serviceName}}</h2>
        <!--<div class="selServicePeople">-->
        <!--<span>服务人员:</span>-->
        <!--<i class="triangle iconfont icon-sanjiaoxing"></i>-->
        <!--<i class="line"></i>-->
        <!--<select name="">-->
        <!--<option value="0">王大大</option>-->
        <!--<option value="1">李四</option>-->
        <!--</select>-->
        <!--</div>-->
        <div class="selServiceEquipment">
            <span>服务设备:</span>
            <select id="equipmentSelector">
                <option value="-1">——请选择——</option>
                {{each data item index}}
                <option value="{{item.id}}">{{item.name}}</option>
                {{/each}}
            </select>
        </div>

    </div>
</script>
<script type="text/html" id="orderListTp">
    <ul>
        {{each data item index}}
        {{if searchType == 2}}
        <li>
            <div class="listTop">
                <div>
                    <span class="completedStatus">订单号：</span ><span class="completedStatus">{{item.presaleId}}</span>
                </div>
                <div>
                    <span class="completedStatus">客户：</span><span class="completedStatus">{{item.accountName}}</span>
                </div>
                <div>
                    <span class="completedStatus">开单者：</span><span class="completedStatus">{{item.operator}}</span>
                </div>
                <div>
                    <span class="completedStatus">开单时间：</span><span class="completedStatus">{{item.consumeTime}}</span>
                </div>
            </div>
            <div class="listInfo">
                <div class="top">
                    <img src="{{item.serviceImg?item.serviceImg:'../common/image/default_thumb.jpg'}}" crossOrigin="Anonymous" class="gray">
                    <div class="dsc">
                        <p class="completedStatus">{{item.serviceName}}</p>
                        <p class="completedStatus">工单号：{{item.id}}</p>
                        <p><span class="completedStatus">服务人员:</span><span class="completedStatus">{{item.waiterName}}</span></p>
                        <p><span class="completedStatus">服务设备:</span><span class="completedStatus">{{item.roomName}}</span></p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="operateStatus">
                        {{if item.signatureUrl!=''}}
                        <a href="javascript:;" class="lookSignBtn" data-sign="{{item.signatureUrl}}" data-score="{{item.score}}">
                            <span class="lookSignPic"></span>
                            <span>查看电子签名</span>
                        </a>
                        {{else}}
                        <!--<span>状态:</span>-->
                        <!--<span>服务完成</span>-->
                        {{/if}}
                    </div>
                    <div class="completedPostmark"></div>

                    <!--<div class="operate" data-orderId="{{item.id}}">-->
                        <!--{{if searchType == 1&&orderType!=30}}-->
                        <!--<a href="javascript:;" class="startService" data-status="5" data-servicename="{{item.serviceName}}">扫码开始</a>-->
                        <!--<a href="javascript:;" class="startService" data-status="1" data-servicename="{{item.serviceName}}">开始服务</a>-->
                        <!--<a href="javascript:;" class="startService" data-status="3">退回</a>-->
                        <!--{{else if searchType == 11&&orderType!=30}}-->
                        <!--&lt;!&ndash;<a href="javascript:;" class="startService" data-status="6" data-servicename="{{item.serviceName}}">扫码完成</a>&ndash;&gt;-->
                        <!--<a href="javascript:;" class="startService" data-status="2">完成服务</a>-->
                        <!--{{else if searchType == 12&&orderType!=30}}-->
                        <!--<a href="javascript:;" class="startService" data-status="4" data-orderId="{{item.orderId}}">领取</a>-->
                        <!--{{/if}}-->
                    <!--</div>-->
                </div>
            </div>
        </li>
        {{else}}
        <li>
            <div class="listTop">
                <div>
                    <span>订单号：</span><span>{{item.presaleId}}</span>
                </div>
                <div>
                    <span>客户：</span><span>{{item.accountName}}</span>
                </div>
                <div>
                    <span>开单者：</span><span>{{item.operator}}</span>
                </div>
                <div>
                    <span>开单时间：</span><span>{{item.consumeTime}}</span>
                </div>
            </div>
            <div class="listInfo">
                <div class="top">
                    <img src="{{item.serviceImg?item.serviceImg:'../common/image/default_thumb.jpg'}}" crossOrigin="Anonymous">
                    <div class="dsc">
                        <!--<p>{{item.serviceName}}</p>-->
                        <!--{{if searchType == 1 || searchType == 2 || searchType == 11}}-->
                        <!--<p><span>服务人员:</span><span>{{item.waiterName}}</span></p>-->
                        <!--{{else if searchType ==1}}-->
                        <!--<p></p>-->
                        <!--{{else if searchType == 2 || searchType == 11}}-->
                        <!--<p><span>服务设备:</span><span>{{item.roomName}}</span></p>-->
                        <!--{{/if}}-->
                        {{if searchType == 1}}
                        <p>{{item.serviceName}}</p>
                        <p>工单号：{{item.id}}</p>
                        <p><span>服务人员:</span><span>{{item.waiterName}}</span></p>
                        {{else if searchType == 2||searchType == 11}}
                        <p>{{item.serviceName}}</p>
                        <p>工单号：{{item.id}}</p>
                        <p><span>服务人员:</span><span>{{item.waiterName}}</span></p>
                        <p><span>服务设备:</span><span>{{item.roomName}}</span></p>
                        {{else if searchType == 12}}
                        <p>{{item.serviceName}}</p>
                        <p>工单号：{{item.id}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="bottom">
                    <div class="operateStatus">
                        <span>状态:</span>
                        <span>
                                {{if searchType == 1}}
                                待服务
                                {{else if searchType == 11}}
                                服务中
                                {{else if searchType == 2}}
                                服务完成
                                {{else if searchType == 12}}
                                待领取
                                {{/if}}
                         </span>
                    </div>
                    <div class="operate" data-orderId="{{item.id}}">
                        {{if searchType == 1&&orderType!=30}}
                        <a href="javascript:;" class="startService" data-status="5" data-servicename="{{item.serviceName}}">扫码开始</a>
                        <a href="javascript:;" class="startService" data-status="1" data-servicename="{{item.serviceName}}">开始服务</a>
                        <a href="javascript:;" class="startService" data-status="3">退回</a>
                        {{else if searchType == 11&&orderType!=30}}
                        <!--<a href="javascript:;" class="startService" data-status="6" data-servicename="{{item.serviceName}}">扫码完成</a>-->
                        <a href="javascript:;" class="startService" data-status="2">完成服务</a>
                        {{else if searchType == 12&&orderType!=30}}
                        <a href="javascript:;" class="startService" data-status="4" data-orderId="{{item.orderId}}">领取</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</script>
<script type="text/html" id="signTpl">
    <div class="evaluation_box">
        <span>请对本次的服务打分<sub>（注：一颗星代表1分，满分5分）</sub>：</span>
        <p class="fiveStar">
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
        </p>
    </div>
    <div id="canvas"></div>
    <a id="clearCanvas">清屏</a>
    <a id="saveCanvas">完成</a>
</script>
<script type="text/html" id="waiterSelectorTpl">
    <div class="waitersBox">
        <ul>
            {{each data item idnex}}
            {{if item.id == $data.backUserId}}
            <li class="active">
                <i></i>
                <span data-id="{{item.id}}">{{item.backUserName}}</span>
            </li>
            {{else}}
            <li class="option">
                <i></i>
                <span data-id="{{item.id}}">{{item.backUserName}}</span>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</script>
<div id="lookSignTpl" style="display: none;">
    <img src="" class="signPic">
    <div class="score">
        <span class="scoreText">服务评分：</span>
        <div class="fiveStarBox">
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
        </div>
    </div>
</div>
</body>
</html>
