.header-tabs>span{
    width: 200px;
}

.rank-img-box{
    height: 100%;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rank-img-box img{
    width: 42px;
    /* height: 42px; */
}
.tab-contents {
    margin-top: 10px;
}

.tab-content .tab-title{
    font-size: 18px;
    color: #333;
    line-height:40px;
}
#rank-list  .layui-table-header .layui-table-cell{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#rank-list  .layui-table-body .layui-table-cell{
    height: 50px;
    line-height: 50px;
}

#statistics{
    min-width: 1100px;
    overflow: auto;
}
.business-list{
     
    max-width: 1200px;
    width: auto;
}

.business-list li p:first-child{
    /* margin: 20px; */
}
.content-business li {
    float: left;
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
    height: 200px;
    width: 328px;
    border-radius:10px;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    position: relative;
}

.content-business li+li{
    margin-left:20px; 
}

.business-total {
    background-color: #FF7B7C;
}
.business-food {
    background-color: #29B3FB;
}

.business-recharge {
    background-color: #F2B323;
}
.business-price {
    margin-top: 20px;
    letter-spacing:3px;
    font-size: 30px;
}
.business-order {
    position: absolute;
    bottom: 20px;
}

.layui-table th,
.layui-table tr {
    height: 70px;
    line-height: 70px;
    text-align: center;
    padding: 0px;
}

.layui-table th,
.layui-table td {
    font-size: 18px;
}

thead tr {
    background-color: #fff!important;
}
  
.layui-table tbody tr:nth-child(even){
    background-color: #ffffff!important;
}

 .layui-table tbody tr:nth-child(odd){
    background-color: #f8f8f8!important;
}