    ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	
	.ele-block {
		width:400px;
		height:200px;
		float:left;
		margin-left: 20px;
		margin-bottom: 40px;
		border-radius:10px;
		box-shadow: 0px 5px 30px #bc8cec;
		cursor:pointer;
	}
	.block-title {
		font-family: "Microsoft Yahei";
		font-size: 24px;
		padding: 20px;
		color:#f9f9f9;
		border-bottom: solid rgba(249,249,249,0.2);
	}
	.block-content {
		padding-left: 20px;
	}
	
	.zhuanpan {
		background-color: #8792f2;
		box-shadow: 0px 5px 30px #8792f2
	}
	.zbyucun {
		background-color: #bc8cec;
		box-shadow: 0px 5px 30px #bc8cec
	}
	.zbgoumai {
		background-color: #fda998;
		box-shadow: 0px 5px 30px #fda998
	}
	.zyzz {
		background-color: #83c3f9;
		box-shadow: 0px 5px 30px #83c3f9
	}
	.shsj {
		background-color: #87d0f2;
		box-shadow: 0px 5px 30px #87d0f2
	}
	.tt {
		background-color: #35A1B5;
		box-shadow: 0px 5px 30px #35A1B5
	}
	.lwfcunru {
		background-color: #ec8ca5;
		box-shadow: 0px 5px 30px #ec8ca5
	}
	.chognzhang {
		background-color: #fdd898;
		box-shadow: 0px 5px 30px #fdd898
	}
	.shourutiqu {
		background-color: #f9b48a;
		box-shadow: 0px 5px 30px #f9b48a
	}
	.zbyjfafang {
		background-color: #87f2a3;
		box-shadow: 0px 5px 30px #87f2a3
	}
	
	.block-sub-title {
		font-family: "Microsoft Yahei";
		font-size:32px;
		color:#ffffff;
	}
	.block-sub-content {
		font-family: "Microsoft Yahei";
		font-size:32px;
		color:#ffffff;
	}
	
	label {
		cursor: default;
	    display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	    font-weight: 700;
	}