.tool-box {
	 padding: 0px 10px;
}
ul.tool-box-ul {
	padding: 25px 25px 0;
}

ul.tool-box-ul>li.tool-box-li {
	width: 250px;
	margin-right: 20px;
	float: left;
}
.tool-add-box{
	padding: 0 35px;
}
.tool-add-box .add{
	width: 112px;
    height: 38px;
    float: right;
}
.required-icon{
	color: red;
}
.tool-box-ul button {
	position: relative;
	top: 27px;
	width: 112px;
    height: 38px;
}

 
ul.tool-box-ul>li.tool-box-li .tool-box-label {
	display: block;
	font: normal 14px/2em "微软雅黑";
}

.layui-btn.my-btn {
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    font-size: 12px;
}
.table-rgt {
	text-align: right;
}

.tabale-list {
    padding: 0 35px;
    margin-top: 15px;
}
.layui-app {
    border-top:2px solid #009688;
}
.layui-table, .layui-table-view {
    margin: 0 0;
}

/* .addDetail{
    display: none;
} */
.centerCon {
    padding: 10px;
}
.deletebtn {
    float: right;
    position: absolute;
    right: -21px;
    /* top: -53px; */
}
.deletebtn i {
    /* margin-top: 6px; */
    cursor: pointer;
}

.deletebtn i {
    color: #f05050;
    font-size: 18px;
    /* margin-right: 5px; */
    float: left;
}

.form-label{
    width: 90px;
}
.layui-table, .layui-table-view {
	width: 100% !important;
}
.cls-area {
    max-height: 200px;
}
.input-area {
    padding: 0 20px;
}
.input-date {}
.layui-layer-page .layui-layer-content {overflow: inherit !important;}


.laytable-cell-1-msg {
    height: auto;
}

.layui-table-tips-main{
    word-wrap: break-word;
}
 
.layui-table-cell {
    height: auto !important;
    line-height: 20px !important;
}
.layui-table, .layui-table-view {
	width: 100% !important;
}