#add_lineClassification {
  width: 100%;
  height: 100%;
  padding: 48px 72px;
  overflow: hidden;
}
#add_lineClassification .layui-form-label {
  width: 150px;
}
.layui-form-item label,
.form-group label {
  font-size: 14px;
  color: #666;
}
.layui-input-block {
  width: 399px;
  margin-left: 150px;
  line-height: 36px;
}
.layui-unselect {
  width: 254px;
}
.layui-textarea {
  min-height: 153px;
}
#uploadImg {
  width: 236px;
  height: 141px;
  cursor: pointer;
  background: url(../img/add-4.png) no-repeat;
}
