*{
  box-sizing: border-box;
}
body{
  background-color: #f0f0f0;
}
.layout{
  width: 68.298%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 0 38px;
  .tabNav{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ebebeb;
    a{
      display: inline-block;
      height: 60px;
      font-size: 14px;
      color: #1eccc6;
      border-bottom: 2px solid #1eccc6;
      padding: 0 10px;
    }
  }
  .setting_people{
    border-bottom: 1px solid #ebebeb;
    .defaultApprovalPeople,.defaultCopyPeople{
      padding-top: 30px;
      min-height: 130px;
      label{
        display: inline-block;
        width: 13%;
        font-size: 14px;
        color: #333333;
        vertical-align: top;
        text-align: right;
      }
      >div{
        width: 86%;
        display: inline-block;
        p{
          color: #333333;
        }
        ul{
          padding-top: 30px;
          padding-left: 25px;
          min-height: 97px;
          li{
            //float: left;
            margin-bottom: 20px;
            display: inline-block;
            vertical-align: top;
            .arrowIcon{
              display: inline-block;
              width: 38px;
              height: 10px;
              background: url("../images/approval_set_arrow@2x.png") no-repeat center;
              -webkit-background-size: 100%;
              background-size: 100%;
              vertical-align: 42px;
              margin: 0 9px;
            }
            .approvalPeopleName{
              display: inline-block;
              span{
                display: block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 20px;
                color: #ffffff;
                background-color: #7789cf;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                //margin: 0 10px;
                cursor: pointer;
              }
              s{
                text-decoration: none;
                display: block;
                width: 50px;
                text-align: center;
                font-size: 14px;
                color: #333333;
                margin-top: 8px;
              }
            }
            &:first-of-type{
              .arrowIcon{
                //display: none;
              }
            }
            &.addBtn{
              .arrowIcon{
                vertical-align: 4px;
              }
              .approvalPeopleName{
                span{
                  background-color: #fff;
                  border: 1px solid #ebebeb;
                  color: #c5c5c5;
                  font-size: 30px;
                }
                s{
                  height: 19px;
                }
              }
            }
          }
        }
      }

    }
    .defaultCopyPeople{
      >div{
        ul{
          padding-left: 0;

          li{
            margin: 0 29px 20px 29px;
          }
        }
      }
    }
  }
  .setting_type{
    border-bottom: 1px solid #ebebeb;
    .approvalType,.noticeType{
      padding-top: 40px;
      label{
        display: inline-block;
        width: 13%;
        font-size: 14px;
        color: #333333;
        vertical-align: top;
        text-align: right;
      }
      ul{
        width: 86%;
        display: inline-block;
        li{
          margin-left: 30px;
          margin-bottom: 20px;
          cursor: pointer;
          .selectIcon{
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #dadada;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
          }
          &.active{
            .selectIcon{
              background: url("../images/selected.png") no-repeat center;
              -webkit-background-size: 100%;
              background-size: 100%;
              border: none;
            }
          }
        }
      }
    }
    .noticeType{
      padding-bottom: 30px;
    }
  }
  .btns{
    padding: 78px 15.569%;
    .saveBtn{
      outline: none;
      border: none;
      width: 80px;
      height: 30px;
      font-size: 14px;
      color: #ffffff;
      background-color: #1eccc6;
    }
  }
}
//选择审批人弹窗
.selectPeople.layui-layer{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  .layui-layer-content{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  .title{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #353b53;
    color: #1ae0d5;
    font-size: 20px;
  }
  .mainContent{
    font-size: 0;
    padding: 0 34px;
    overflow: hidden;
    >div{
      float: left;
      width: 45.336%;
      height: 100%;
      margin: 0 18px;
      font-size: 14px;
      >p{
        font-size: 20px;
        color: #333333;
        padding: 40px 0 16px 0;
      }
      >div{
        border: 1px solid #e3e3e3;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background-color: #f8f8f8;
        overflow-y: auto;
        &.selectContent{
          .search{
            text-align: center;
            padding-top: 12px;
            form{
              position: relative;
              width: 100%;
              height: 40px;
              input{
                position: absolute;
                left: 12px;
                top: 0;
                width: 93.142%;
                height: 40px;
                border: 1px solid #e3e3e3;
                outline: none;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                padding-left: 40px;
                background: url("../images/search.png") no-repeat 10px center;
                -webkit-background-size: 22px;
                background-size: 22px;
                background-color: #ffffff;
                color: #333333;
              }
            }
          }
          .items{
            .item{
              margin-top: 20px;
              h4{
                cursor: pointer;
                .triangleIcon{
                  display: inline-block;
                  width: 14px;
                  height: 8px;
                  background: url("../images/triangle.png") no-repeat center;
                  -webkit-background-size: 100%;
                  background-size: 100%;
                  vertical-align: middle;
                  margin: 0 14px 0 20px;
                }
                .shopName{
                  font-size: 14px;
                  color: #666666;
                }
              }
              ul{
                font-size: 0;
                li{
                  margin-top: 10px;
                  cursor: pointer;
                  >div{
                    display: inline-block;
                    font-size: 14px;
                    &.name{
                      width: 60%;
                      color: #333333;
                      .sIcon{
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        border: 1px solid #d9d9d9;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                        vertical-align: middle;
                        margin: 0 14px 0 20px;
                      }
                    }
                    &.phoneNum{
                      width: 40%;
                      .pIcon{
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        vertical-align: middle;
                        background: url("../images/phone.png") no-repeat center;
                        -webkit-background-size: 100%;
                        background-size: 100%;
                        margin-right: 10px;
                      }
                    }
                  }
                  &.active{
                    >div{
                      &.name{
                        .sIcon{
                          background: url("../images/selected_1.png") no-repeat center;
                          -webkit-background-size: 100%;
                          background-size: 100%;
                          -webkit-border-radius: 0;
                          -moz-border-radius: 0;
                          border-radius: 0;
                          border: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.selectedContent{
          padding: 20px 22px 0 22px;
          ul{
            li{
              font-size: 0;
              margin-bottom: 10px;
              .name{
                display: inline-block;
                width: 60%;
                font-size: 14px;
                .No{
                  display: inline-block;
                  width: 18px;
                  height: 18px;
                  -webkit-border-radius: 4px;
                  -moz-border-radius: 4px;
                  border-radius: 4px;
                  background-color: #1eccc6;
                  font-size: 12px;
                  color: #ffffff;
                  line-height: 18px;
                  text-align: center;
                  margin-right: 8px;
                  vertical-align: middle;
                }
              }
              .phoneNum{
                display: inline-block;
                width: 40%;
                font-size: 14px;
                .pIcon{
                  display: inline-block;
                  width: 12px;
                  height: 12px;
                  vertical-align: middle;
                  background: url("../images/phone.png") no-repeat center;
                  -webkit-background-size: 100%;
                  background-size: 100%;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  .btnBox{
    text-align: center;
    font-size: 0;
    margin: 30px 0;
    button{
      width: 100px;
      height: 40px;
      border: none;
      outline: none;
      font-size: 18px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin: 0 32px;
      &.cancel{
        color: #333333;
        background-color: #fff;
        border: 1px solid #ebebeb;
      }
      &.sure{
        color: #ffffff;
        background-color: #1eccc6;
      }
    }
  }
}