.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    color: #fff;
}
.main-wrapper{
    width: 100%;
    height: auto;
}
.layui-layer-setwin .layui-layer-ico{
    background: url(../../common/img/close.png) no-repeat !important;
    background-position: center !important;
}