.main-title{
	position:relative;
}
.main-title .save-btn{
	position: absolute;
	right:2rem;
	top:1rem;
}
/**日期选择*/
.select-date {
	display: flex;
	align-items: center;
	height:2.875rem;
	padding-left: 1.375rem;
	font-size: .875rem;
	color: #fe6869;
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
}

.select-date .select-day {
	display: flex;
	height: 100%;
	align-items: center;
}

.select-date .selected-cur-date {
	display: inline-block;
	width: 4.5rem;
	text-align: center;
	line-height: 1.15;
	color: #333;
}

.select-date .select-bottom-arrow {
	display: inline-block;
	width: 1rem;
	height: 0.625rem;
	background-image: url(../image/icon_datexiala@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
	margin-right: .938rem;
	vertical-align: middle;
}

.select-date .date-list-box {
	position: relative;
	border-left: 1px solid #f2f2f2;
	padding-left: 1rem;
}

.date-list-box .prev,
.date-list-box .next {
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -0.625rem;
	width: 1.125rem;
	height: 1.125rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.date-list-box .prev {
	left: 1rem;
	background-image: url(../image/btn-left@2x.png);
}

.date-list-box .next {
	left:496px;
	background-image: url(../image/btn-right@2x.png);
}

.date-list-box .date-list-inner {
	position: relative;
	width: 444px;
	height: 2rem;
	margin-left: 2.688rem;
	overflow: hidden;
}

.date-list-inner .date-list {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.date-list-inner .date-list a {
	float: left;
	display: block;
	width: 2rem;
	line-height: 2rem;
	text-align: center;
	color: #fe6869;
}

.date-list-inner .date-list a+a {
	margin-left: .75rem;
}

.date-list-inner .date-list a.selected {
	width: 2rem;
	height: 2rem;
	color: #fff;
	background-color: #fe6869;
	border-radius: 100%;
}

.date-list-inner .date-list a.disabled {
	color: #ccc;
}

/**列表数据*/
.list-wrap{
    width:100%;
    overflow:hidden;
}
.column+.column:last-child,
.columns+.column:last-child,
.column+.columns:last-child,
.columns+.columns:last-child{
    float:left;
}

.list-wrap .list-item{
    position:relative;
    width:100%;
    height:15.125rem;
    margin-top:1.25rem;
    padding-top:2.5rem;
}

.list-wrap .list-item .ava-img,
.list-wrap .list-item .ava-img img{
    width:5rem;
    height:5rem;
    margin:0 auto;
    border-radius: 100%;
}
.list-wrap .list-item .ava-img{
    position:absolute;
    top:0;
    left:50%;
    margin-left:-2.5rem;
    z-index:2;
}

.list-wrap .list-item .detail{
    width:100%;
    height:12.75rem;
    padding-top:3rem;
    background-color: #fff;
}
.detail .name{
    text-align: center;
    color:#333;
}
.more-schedule{
    margin:.938rem auto;
    text-align:center;
}
.more-schedule button{
    border-radius:1.875rem;
    color:#999;
    border-color:#999;
    background-color: #fff;
}
.more-schedule button+button{
    margin-left:.5rem
}
.more-schedule .btn:hover,
.more-schedule .btn:focus,
.more-schedule .btn:active{
	color:#999;
	border-color:#999;
    background-color: #fff;
}
.more-schedule .btn:hover,
.more-schedule .btn:focus,
.more-schedule .btn:active,
.more-schedule .btn.active{
    outline: none;

}
.more-schedule button.more.active{
    background-color: #f6cd64;
}
.more-schedule button.rest.active{
    background-color: #cc9fe2;
}
.more-schedule button.active{
    color:#fff;
    font-weight: bold;
}
.schedule-btn{
    padding-top:.5rem;
    border-top:1px solid #eee;
}
.schedule-btn ol{
    display:flex;
    height:4.875rem
    align-items: center;
    justify-content: space-around;
}
.schedule-btn ol>li{
    position:relative;
    background-color: #fff;
    border:1px solid #999;
    border-radius:100%;
}
.schedule-btn ol>li:nth-child(1).active{
    background-color:#61a5f0;
}
.schedule-btn ol>li:nth-child(2).active{
    background-color:#f6857d;
}
.schedule-btn ol>li:nth-child(3).active{
    background-color:#a48c80;
}
.schedule-btn ol>li:nth-child(4).active{
    background-color:#f6cd64;
}
.schedule-btn ol>li:nth-child(5).active{
    background-color:#96d471;
}
.schedule-btn ol>li.active a{
    color:#fff;
    font-weight: bold;
}

.schedule-btn ol>li.more:before{
    content:url(../image/plusicon.png);
    position:absolute;
    width:.688rem;
    height:.688rem;
    top:0;
    right:0;
}
.schedule-btn ol>li.leave:after{
    content:'';
    position:absolute;
    width:2.5rem;
    height:2.5rem;
    top:0;
    left:0;
    background-image: url(../image/disabled_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index:5;
}
.schedule-btn ol>li.disabled:after{
    content:'';
    position:absolute;
    width:2.5rem;
    height:2.5rem;
    top:0;
    left:0;
    z-index:6;
}

.schedule-btn a{
    display:block;
    width:2.5rem;
    height:2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius:100%;
    color:#999;
    transition: none;
}
