
#pageView{
	width: 100%;
	height: 100%;
}

#headPicDiv{
	height: 196px;
	width: 256px;
}

#headPic{
	width: 100px;
	height: 100px;
	margin-top: 96px;
	margin-left: 40px;
}

#mainLeftDiv{
	width: 260px;
	height: 1536px;
	float: left;
	position: fixed;
	background-color:#252c36;
}

#mainRightDiv{
	height: 1536px;
}

#rightTitleDiv{
	text-align: center;
	vertical-align: middle;
}

.right-page {
	margin-left: 260px;
	height: 100%;
	background-color: #CCCCCC;
}

.singleMenuImg{
	width: 256px;
	height: 100px;
	padding-top: 35px;
}
