body{
  background: #fff;

}
.wrapper-main{
  padding:10px;
}
.layui-form-label{
  width:auto;
}
.main{
  border-top: 2px solid #009688;
}
.layui-table-view{
  margin: 0;
}
.fr{
  float: right;
}
.mb10{
  margin-bottom: 10px;}
.tac{
  text-align: center;}
.addDemo{
  margin: 25px 70px;
  display: none;
  height:500px;
  img{
    max-width: 100%;
    max-height: 350px;
  }
}
.main  {
  .layui-form-switch{width: 80px;
    margin-top: 0;}
  .layui-form-onswitch i {
    left: 55px;
  }
}
.lj_ul{
  li{
    overflow: hidden;
    margin-bottom: 20px;
  }
  .layui-input-block{
    //margin-left: 20px;
    margin-left: 0;
    padding-left: 20px;
  }
  label{
    //line-height:38px;
  }
  button{
    margin-left: 20px;
  }
}
.layui-layer-btn .layui-layer-btn0{
  background: #009688!important;
  border-color:#009688!important;
}

.layui-laypage{
  float: right;
}
.header{
  .btn-box{
    padding:9px 10px 8px 10px;
    border-bottom:1px solid #ddd;
    background: #f2f2f2;
  }
  .layui-form-item{
    margin-bottom: 0;
  }
  .layui-input-block{
    margin-left: 0;
    padding-right:10px;
  }
  label{
    display: block;
    line-height:38px;
  }
  &_ul{
    padding:10px;
  }
  margin-bottom:20px;
}
.layui-form-checked[lay-skin=primary] i {
  border-color: #019688;
  background-color: #019688;
  color: #fff;
}
.layui-form-radio i:hover, .layui-form-radioed i{
  color: #019688;
}
.layui-disabled, .layui-disabled,.layui-disabled, .layui-disabled:hover{
  color: #333!important;
}
.layui-tab-title li{
  background: #efefef;
}
.layui-tab-title .layui-this{
  color: #009688;
  background: #fff;
}
.layui-tab-title .layui-this:after{
  border-top:2px solid #009688;
}