.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.formContent>div{
	margin-top: 1rem;
}
.formContent label{
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.formContent span{
	font-size: 1rem;
	line-height: 1.5rem;
}
.formContent a{
	text-decoration: underline;
}
.chartContent{
	display: block;
	height: 200px;
	margin-top: 1rem;
}