body {
	background: #deeeff;
}

.am-header-default {
	position: absolute;
	top: 0;
	background: transparent;
}

.am-header-default .am-header-nav>a i {
	color: #fff;
	font-size: 30px;
    margin-top: 8px;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;;
}

.am-list-news-default {
	margin-top: -13rem;
}

.am-list-news-hd  h3 {
	text-align: center;
	font-size: 1.8rem;
	color: #91b4f6;
}

.am-list-item-dated {
	border-radius:20px; 
}

.am-list-item-dated .title {
	padding: 1rem 0;
}
.am-list-item-dated .title span:first-child{
	width: 1.5rem;
	height: 0.8rem;
	display: inline-block;
	background: url(../img/guide/tip_left.png) no-repeat center center;
	background-size:cover ;
}
.am-list-item-dated .title span:last-child{
	width: 1.5rem;
	height: 0.8rem;
	display: inline-block;
	background: url(../img/guide/tip_right.png) no-repeat center center;
	background-size:cover;
}

.title-text {
	color: #3f7ee8;
	font-size: 1.5rem;
	padding: 0 1rem;
}

.am-list-item-hd {
	color: #666666;
	font-size: 1.3rem;
}

.work {
	padding: 0 2rem;
}

.am-figure-capition-btm {
	color:#3f7ee8;
	font-size: 1.5rem;
	padding-top: 2rem;
	text-align: center;
}
.am-figure-default {
	margin: 0;
}
.am-figure-default img {
	border: none;
}

.am-list-news-default .am-list .am-list-item-dated {
	border: 1px solid #fff;
	margin-bottom: 2.5rem;
	padding-bottom: 4rem;
}

.text-tip {
	border: none !important;
	margin-bottom: 2.5rem !important;
	background-color: transparent !important;
	text-align: center;
	color: #91B4F6;
	font-size: 1.5rem;
}
.am-list-item-dated .title-info {
	padding: 1rem 0 2rem 0;
}

@media screen and (max-width: 320px) {
    .custom-made {
    	padding: 0 0.4rem;
    }
    .custom-made-box {
    	padding-left: 0;
    	padding-right: 0;
    }
    .am-list-news-default {
    	margin-top: -10rem;
    }
    .am-figure-capition-btm {
		font-size: 1.2rem;
	}
	.text-tip {
		font-size: 1.2rem;
	}
}

@media screen and (min-width:321px) and (max-width:375px){
 .custom-made {
    	padding: 0 0.7rem;
    }
    .custom-made-box {
    	padding-left: 0;
    	padding-right: 0;
    }
    .am-list-news-default {
    	margin-top: -12rem;
    }
     .am-figure-capition-btm {
		font-size: 1.3rem;
	}
	.text-tip {
		font-size: 1.3rem;
	}
}
.master .am-list-item-hd {
	padding-top: 25%;
}








