.myForm{
	padding: 1rem 2rem;
}
.myTitle{
	display: block;
	background-color: #353b53;
	font-size: 2rem;
	padding: 1rem 0 1rem 3.8rem;
}
.myTitle .fa-close{
    font-size: 2.8rem;
    margin-right: 1rem;
}
.text-info {
    color: #23c6c8;
}
.explain{
	display: inline-block;
	font-weight: normal;
}
.myFormInline{
	display: inline-block;
	width: 150px;
	margin-right: 5px;
}
.imgContent{
	display: flex;
	align-items: center;
    justify-content: center;
	height: 100px;
	width: 100px;
	margin: 0 auto 20px;
	cursor: pointer;
}
.imgContent.active{
	display: block;
}
.imgContent img{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0;
    border: 1px dashed #23c6c8;
    outline: none;
}
.imgClose{
	position: absolute;
	display: block;
	width: 100px;
	padding: 0;
	margin: 0;
	text-align: right;
	z-index: 9;
}
.imgClose .fa-close{
	padding: 5px;
	cursor: pointer;
}
.imgClose .fa-close:hover{
	color: #c7254e;
}
.form-group label{
	display: block;
}

.card-items{
	text-align: center;
}
.mobile-img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 50px;
}
/* 权宜之计 */
.laydate_body .laydate_y .laydate_yms ul{
	overflow: hidden;
}
	.errow{
	border: 1px dotted #cc5965;
}
.tipinfo{
	font-size: 13px;
	color: #eb0000;
}
.empty{
	display: none;
}
