
/* layer 样式优化 */
.layui-layer-content{
	text-align: center;
}

.layui-layer-lan .layui-layer-btn {
	background-color: #4476A7;
	height: 60px;
}

.layui-layer-lan .layui-layer-btn a {
	width: 120px;
    text-align: center;
    height: 34px;
    margin-top: 8px;
    padding-top: 4px;
}

.layui-layer-btn0{
    margin-bottom: 8px;
    padding-bottom: 4px;
}

.layui-layer-btn1{
    margin-bottom: 8px;
    padding-bottom: 4px;
}
