.search-box{
    padding:0.75rem;
    text-align: right;
}
.search-box .datetime{
    display: inline-block;
    width:8.5rem;
    margin:0 0.5rem;
}

.inline-tit{
    font-size:1.125rem;
    color:#333;
}

.team-info .team-intro{
    height:3.125rem;
    line-height: 3.125rem;
    width:100%;
    margin-bottom:0.5rem;
    background-color:#fff;
}

.team-intro .intro-txt{
    color:#999;
}

.team-info .team-detail{
    margin-bottom:0.5rem;
}

.team-detail .detail-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height:3.75rem;
    background-color: #fff;
    text-align: center;
}
.team-detail .detail-item+.detail-item{
    border-left:0.625rem solid #f2f2f2;
}
.team-detail .sale-info,
.team-detail .consume-info{
    float:left;
    width:50%;
}

.team-detail label{
    display:block;
    color:#333;
    font-size:1rem;
}
.team-detail .icon{
    display:inline-block;
    width:1.875rem;
    height:1.875rem;
    margin-right:0.25rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-detail .czje-icon{
    background-image: url(../image/icon_czje.png);
}
.team-detail .xkrh-icon{
    background-image: url(../image/icon_xkrh.png);
}
.team-detail .fwrc-icon{
    background-image: url(../image/icon_fwrc.png);
}
.team-detail .yyrc-icon{
    background-image: url(../image/icon_yyrc.png);
}
.team-detail .czrc-icon{
    background-image: url(../image/icon_czrc.png);
}
.team-detail .ddrc-icon{
    background-image: url(../image/icon_ddrc.png);
}

.team-detail .detail-info{
    display:inline-block;
}

.team-detail .num{
    display: block;
    font-size: 0.938rem;
    text-align: left;
}

.team-detail .sale-info .num,
.team-detail .consume-info .num{
    text-align: center;
}

.list-title{
    padding-left:0.75rem;
}

#xseNum{
    color:#87bbeb;
}
#xheNum{
    color:#9579d3;
}
#czjeNum{
    color:#ff647e;
}
#xkrhNum{
    color:#55c1e9;
}
#fwrcNum{
    color:#dfa670;
}
#yyrcNum{
    color:#6ee1dc;
}
#czrcNum{
    color:#eb8797;
}
#ddrcNum{
    color:#f6ab00;
}
