@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: black;
}
li {
  list-style: none;
}
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #f9f8f8;
  font-family: PingFang SC, San Francisco, '微软雅黑', sans-serif, Arial;
}
.level-item {
  padding: 0.10666667rem 0.13333333rem;
  margin-left: 0.66666667rem;
  font-size: 24px;
  border: 0.01333333rem solid gainsboro;
  border-radius: 0.08rem;
}
[data-dpr='3'] .level-item {
  font-size: 36px;
}
[data-dpr='1'] .level-item {
  font-size: 12px;
}
.level-one {
  border: 0.01333333rem solid transparent;
  background-color: #96d452;
  color: white;
}
.level-two {
  border: 0.01333333rem solid transparent;
  background-color: #fab42f;
  color: white;
}
.level-three {
  border: 0.01333333rem solid transparent;
  background-color: #fa4646;
  color: white;
}
.layui-m-layercont {
  padding: 0.46666667rem 0.2rem !important;
  font-size: 28px !important;
}
[data-dpr='3'] .layui-m-layercont {
  font-size: 38px !important;
}
[data-dpr='1'] .layui-m-layercont {
  font-size: 14px !important;
}
.layui-m-layerbtn {
  height: 60px !important;
  line-height: 60px !important;
}
[data-dpr='3'] .layui-m-layerbtn {
  height: 90px !important;
  line-height: 90px !important;
}
[data-dpr='1'] .layui-m-layerbtn {
  height: 30px !important;
  line-height: 30px !important;
}
.layui-m-layerbtn span[no],
.layui-m-layerbtn span[yes] {
  font-size: 26px !important;
}
[data-dpr='3'] .layui-m-layerbtn span[no],
[data-dpr='3'] .layui-m-layerbtn span[yes] {
  font-size: 39px !important;
}
[data-dpr='1'] .layui-m-layerbtn span[no],
[data-dpr='1'] .layui-m-layerbtn span[yes] {
  font-size: 13px !important;
}
.layui-m-layerbtn span[yes] {
  color: #ff925a !important;
}
.title_tab {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 0.26666667rem;
  font-size: 34px;
  color: #333333;
  font-weight: bold;
  z-index: 500;
}
[data-dpr='3'] .title_tab {
  font-size: 51px;
}
[data-dpr='1'] .title_tab {
  font-size: 17px;
}
.title_tab .back_imgBtn {
  position: absolute;
  top: 0;
  left: 0.4rem;
  width: 1.17333333rem;
  height: 1.17333333rem;
}
.title_tab .back_imgBtn img {
  margin-top: 0.4rem;
  width: 19px;
  height: 30px;
}
[data-dpr='3'] .title_tab .back_imgBtn img {
  width: 30px;
  height: 53px;
}
[data-dpr='1'] .title_tab .back_imgBtn img {
  width: 10px;
  height: 15px;
}
.title_tab .createBtn {
  position: absolute;
  top: 0.29333333rem;
  right: 0.4rem;
  width: 45px;
  height: 45px;
}
[data-dpr='3'] .title_tab .createBtn {
  width: 68px;
  height: 68px;
}
[data-dpr='1'] .title_tab .createBtn {
  width: 25px;
  height: 25px;
}
.rejectBox {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  z-index: 1000000000000000000;
}
.rejectBox .innerBox {
  font-size: 30px;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 80%;
  height: 3.06666667rem;
  padding: 0.4rem;
  border-radius: 0.13333333rem;
}
[data-dpr='3'] .rejectBox .innerBox {
  font-size: 48px;
}
[data-dpr='1'] .rejectBox .innerBox {
  font-size: 12px;
}
.rejectBox .innerBox .title {
  text-align: center;
  color: #858585;
}
.rejectBox .innerBox input {
  width: 95%;
  padding-left: 2%;
  height: 1.06666667rem;
  font-size: 30px;
  margin: 0.4rem 0;
  border: 1px solid gainsboro;
}
[data-dpr='3'] .rejectBox .innerBox input {
  font-size: 36px;
}
[data-dpr='1'] .rejectBox .innerBox input {
  font-size: 12px;
}
.rejectBox .innerBox .commonbtn {
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
  float: left;
}
.rejectBox .innerBox .deleteBtn {
  border-right: 1px solid gainsboro;
  color: #858585;
}
.rejectBox .innerBox .certainBtn {
  color: #ff925a;
}
body {
  overflow: hidden;
}
.flag {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.06666667rem;
  margin-right: 0.01333333rem;
  color: red;
  font-size: 24px;
}
[data-dpr='3'] .flag {
  font-size: 36px;
}
[data-dpr='1'] .flag {
  font-size: 12px;
}
#centerContent {
  padding-top: 1.33333333rem;
}
#centerContent .commonTypeOne {
  padding: 0.4rem;
  background: white;
  margin-bottom: 0.26666667rem;
}
#centerContent .wordTips {
  font-size: 24px;
  color: #9b9da0;
}
[data-dpr='3'] #centerContent .wordTips {
  font-size: 36px;
}
[data-dpr='1'] #centerContent .wordTips {
  font-size: 12px;
}
#centerContent .wordPrompt {
  font-size: 28px;
  margin-right: 0.32rem;
}
[data-dpr='3'] #centerContent .wordPrompt {
  font-size: 42px;
}
[data-dpr='1'] #centerContent .wordPrompt {
  font-size: 14px;
}
#centerContent .addCommom {
  text-align: center;
  width: 88px;
  height: 88px;
  line-height: 88px;
  margin-top: 0.18666667rem;
  margin-left: 0.26666667rem;
}
[data-dpr='3'] #centerContent .addCommom {
  width: 132px;
  height: 132px;
  line-height: 132px;
}
[data-dpr='1'] #centerContent .addCommom {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
#centerContent .leaveType .nextPart {
  float: right;
  margin-top: 0.10666667rem;
  width: 0.21333333rem;
  height: 0.37333333rem;
}
#centerContent .leaveType .typeName {
  margin-left: 0.26666667rem;
}
#centerContent .leavetime {
  background: white;
  display: flex;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  margin-bottom: 0.26666667rem;
}
#centerContent .leavetime .toChooseType {
  padding: 0.26666667rem 0.37333333rem;
}
#centerContent .leavetime .wordTime {
  padding: 0.29333333rem 0;
  flex-grow: 2;
  color: #858585;
}
#centerContent .leavetime .wordTime .wordTips {
  display: inline-block;
  padding-top: 0.05333333rem;
}
#centerContent .inputReason {
  width: 8.66666667rem;
  height: 0.8rem;
  padding-left: 0.28rem;
}
#centerContent .toChoosed {
  display: flex;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
}
#centerContent .toChoosed .addPersonBtn {
  cursor: pointer;
  background-color: #EBEBEB ;
}
#centerContent .toChoosed .addPersonBtn .addpersonImg {
  width: 60px;
  height: 60px;
  margin-top: 0.16rem;
}
[data-dpr='3'] #centerContent .toChoosed .addPersonBtn .addpersonImg {
  width: 90px;
  height: 90px;
}
[data-dpr='1'] #centerContent .toChoosed .addPersonBtn .addpersonImg {
  width: 30px;
  height: 30px;
}
#centerContent .toChoosed .haveChoosed {
  padding-left: 0.26666667rem;
  display: none;
  font-size: 30px;
}
[data-dpr='3'] #centerContent .toChoosed .haveChoosed {
  font-size: 45px;
}
[data-dpr='1'] #centerContent .toChoosed .haveChoosed {
  font-size: 15px;
}
#centerContent .toChoosed .haveChoosed .dotImg {
  margin: 0.18666667rem auto;
  border-radius: 0.57333333rem;
  background-color: #ff925a;
  color: white;
  vertical-align: baseline;
}
#centerContent .toChoosed .haveChoosed .name {
  margin-top: 0.29333333rem;
  text-align: center;
}
#centerContent .picType {
  margin-left: 0.26666667rem;
  margin-bottom: 0.32rem;
}
#centerContent .havechoosedImg {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
#centerContent .havechoosedImg .imgBox {
  position: relative;
  margin-right: 0.26666667rem;
}
#centerContent .havechoosedImg .imgBox .deletPicBtn {
  position: absolute;
  right: -0.18666667rem;
  top: -0.13333333rem;
  width: 38px;
  height: 38px;
  border-radius: 0.25333333rem;
  background-color: #333333;
}
[data-dpr='3'] #centerContent .havechoosedImg .imgBox .deletPicBtn {
  width: 51px;
  height: 51px;
}
[data-dpr='1'] #centerContent .havechoosedImg .imgBox .deletPicBtn {
  width: 17px;
  height: 17px;
  border-radius: 0.21333333rem;
}
#centerContent .havechoosedImg .imgBox .deletPicBtn img {
  width: 26px;
  height: 26px;
  margin-top: 0.08rem;
  margin-left: 0.08rem;
}
[data-dpr='3'] #centerContent .havechoosedImg .imgBox .deletPicBtn img {
  width: 30px;
  height: 30px;
  margin-top: 0.09333333rem;
  margin-left: 0.08rem;
}
[data-dpr='1'] #centerContent .havechoosedImg .imgBox .deletPicBtn img {
  width: 11px;
  height: 11px;
  margin-top: 0.08rem;
  margin-left: 0.08rem;
}
#centerContent .havechoosedImg .addPinBtn {
  cursor: pointer;
  background-color: #EBEBEB ;
}
#centerContent .havechoosedImg .addPinBtn .addpicImg {
  width: 60px;
  height: 60px;
  margin-top: 0.16rem;
}
[data-dpr='3'] #centerContent .havechoosedImg .addPinBtn .addpicImg {
  width: 90px;
  height: 90px;
}
[data-dpr='1'] #centerContent .havechoosedImg .addPinBtn .addpicImg {
  width: 30px;
  height: 30px;
}
#centerContent .publishProval {
  padding: 0.8rem 0.4rem 0.53333333rem 0.4rem;
}
#centerContent .publishProval .pulishBtn {
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  background: #ff925a;
  border-radius: 0.05333333rem;
  color: white;
  text-align: center;
  font-size: 30px;
}
[data-dpr='3'] #centerContent .publishProval .pulishBtn {
  font-size: 45px;
}
[data-dpr='1'] #centerContent .publishProval .pulishBtn {
  font-size: 15px;
}
#mo {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  z-index: 1000000000000000000;
}
#chooseType {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  z-index: 1000000000000000000;
}
#chooseType ul {
  padding-top: 3.06666667rem;
}
#chooseType li {
  background: white;
  margin: 0 auto;
  width: 60%;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  border-bottom: 1px solid gainsboro;
  text-align: center;
  -webkit-animation: first 1s;
  -o-animation: first 1s;
  animation: first 1s;
  font-size: 34px;
  color: #333333;
}
[data-dpr='3'] #chooseType li {
  font-size: 51px;
}
[data-dpr='1'] #chooseType li {
  font-size: 17px;
}
#chooseType li:first-child {
  border-top-left-radius: 0.13333333rem;
  border-top-right-radius: 0.13333333rem;
}
#chooseType li:last-child {
  border-bottom-left-radius: 0.13333333rem;
  border-bottom-right-radius: 0.13333333rem;
}
@keyframes first {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
.triangle-up {
  position: absolute;
  top: 2.8rem;
  left: 47%;
  width: 0;
  height: 0;
  border-left: 0.33333333rem solid transparent;
  border-right: 0.33333333rem solid transparent;
  border-bottom: 0.4rem solid white;
  -webkit-animation: first 1s;
  -o-animation: first 1s;
  animation: first 1s;
}
#date-wrapper h3 {
  line-height: 0.93333333rem !important;
  background: #ff925a !important;
  font-size: 34px!important;
}
[data-dpr='3'] #date-wrapper h3 {
  font-size: 51px!important;
}
[data-dpr='1'] #date-wrapper h3 {
  font-size: 17px!important;
}
#d-tit {
  line-height: 0.93333333rem !important;
}
#d-cancel,
#d-confirm {
  border-radius: 0.06666667rem !important;
  line-height: 0.66666667rem !important;
  font-size: 28px!important;
}
[data-dpr='3'] #d-cancel,
[data-dpr='3'] #d-confirm {
  font-size: 32px!important;
}
[data-dpr='1'] #d-cancel,
[data-dpr='1'] #d-confirm {
  font-size: 14px!important;
}
#d-confirm {
  background: #ff925a !important;
}
#d-content #d-bg {
  height: 2.53333333rem !important;
}
