@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: black;
}
li {
  list-style: none;
}
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #f9f8f8;
  font-family: PingFang SC, San Francisco, '微软雅黑', sans-serif, Arial;
}
.level-item {
  padding: 0.10666667rem 0.13333333rem;
  margin-left: 0.66666667rem;
  font-size: 24px;
  border: 0.01333333rem solid gainsboro;
  border-radius: 0.08rem;
}
[data-dpr='3'] .level-item {
  font-size: 36px;
}
[data-dpr='1'] .level-item {
  font-size: 12px;
}
.level-one {
  border: 0.01333333rem solid transparent;
  background-color: #96d452;
  color: white;
}
.level-two {
  border: 0.01333333rem solid transparent;
  background-color: #fab42f;
  color: white;
}
.level-three {
  border: 0.01333333rem solid transparent;
  background-color: #fa4646;
  color: white;
}
.layui-m-layercont {
  padding: 0.46666667rem 0.2rem !important;
  font-size: 28px !important;
}
[data-dpr='3'] .layui-m-layercont {
  font-size: 38px !important;
}
[data-dpr='1'] .layui-m-layercont {
  font-size: 14px !important;
}
.layui-m-layerbtn {
  height: 60px !important;
  line-height: 60px !important;
}
[data-dpr='3'] .layui-m-layerbtn {
  height: 90px !important;
  line-height: 90px !important;
}
[data-dpr='1'] .layui-m-layerbtn {
  height: 30px !important;
  line-height: 30px !important;
}
.layui-m-layerbtn span[no],
.layui-m-layerbtn span[yes] {
  font-size: 26px !important;
}
[data-dpr='3'] .layui-m-layerbtn span[no],
[data-dpr='3'] .layui-m-layerbtn span[yes] {
  font-size: 39px !important;
}
[data-dpr='1'] .layui-m-layerbtn span[no],
[data-dpr='1'] .layui-m-layerbtn span[yes] {
  font-size: 13px !important;
}
.layui-m-layerbtn span[yes] {
  color: #ff925a !important;
}
.title_tab {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 0.26666667rem;
  font-size: 34px;
  color: #333333;
  font-weight: bold;
  z-index: 500;
}
[data-dpr='3'] .title_tab {
  font-size: 51px;
}
[data-dpr='1'] .title_tab {
  font-size: 17px;
}
.title_tab .back_imgBtn {
  position: absolute;
  top: 0;
  left: 0.4rem;
  width: 1.17333333rem;
  height: 1.17333333rem;
}
.title_tab .back_imgBtn img {
  margin-top: 0.4rem;
  width: 19px;
  height: 30px;
}
[data-dpr='3'] .title_tab .back_imgBtn img {
  width: 30px;
  height: 53px;
}
[data-dpr='1'] .title_tab .back_imgBtn img {
  width: 10px;
  height: 15px;
}
.title_tab .createBtn {
  position: absolute;
  top: 0.29333333rem;
  right: 0.4rem;
  width: 45px;
  height: 45px;
}
[data-dpr='3'] .title_tab .createBtn {
  width: 68px;
  height: 68px;
}
[data-dpr='1'] .title_tab .createBtn {
  width: 25px;
  height: 25px;
}
.rejectBox {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  z-index: 1000000000000000000;
}
.rejectBox .innerBox {
  font-size: 30px;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 80%;
  height: 3.06666667rem;
  padding: 0.4rem;
  border-radius: 0.13333333rem;
}
[data-dpr='3'] .rejectBox .innerBox {
  font-size: 48px;
}
[data-dpr='1'] .rejectBox .innerBox {
  font-size: 12px;
}
.rejectBox .innerBox .title {
  text-align: center;
  color: #858585;
}
.rejectBox .innerBox input {
  width: 95%;
  padding-left: 2%;
  height: 1.06666667rem;
  font-size: 30px;
  margin: 0.4rem 0;
  border: 1px solid gainsboro;
}
[data-dpr='3'] .rejectBox .innerBox input {
  font-size: 36px;
}
[data-dpr='1'] .rejectBox .innerBox input {
  font-size: 12px;
}
.rejectBox .innerBox .commonbtn {
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
  float: left;
}
.rejectBox .innerBox .deleteBtn {
  border-right: 1px solid gainsboro;
  color: #858585;
}
.rejectBox .innerBox .certainBtn {
  color: #ff925a;
}
body {
  width: 100%;
  overflow-x: hidden;
}
#leaveList {
  width: 10rem;
  height: 10.66666667rem;
  padding-top: 1.33333333rem;
}
#leaveList .topPart {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.4rem;
  margin-bottom: 0.66666667rem;
  background: white;
  font-size: 28px;
}
[data-dpr='3'] #leaveList .topPart {
  font-size: 42px;
}
[data-dpr='1'] #leaveList .topPart {
  font-size: 14px;
}
#leaveList .topPart .showType {
  display: none;
  position: absolute;
  top: 1.33333333rem;
  right: 0.26666667rem;
  width: 200px ;
  height: 100px;
}
[data-dpr='3'] #leaveList .topPart .showType {
  width: 300px ;
  height: 150px;
}
[data-dpr='1'] #leaveList .topPart .showType {
  width: 100px ;
  height: 50px;
}
#leaveList .topPart .topHead {
  padding: 0.4rem 0;
}
#leaveList .topPart .topHead .headImg {
  width: 1.66666667rem;
  padding-left: 0.66666667rem;
  float: left;
}
#leaveList .topPart .topHead .headImg .nameImg {
  display: inline-block;
  width: 1.06666667rem;
  height: 1.06666667rem;
  background: #ff925a;
  border-radius: 0.53333333rem;
  text-align: center;
  line-height: 1.06666667rem;
  color: white;
}
#leaveList .topPart .topHead .rightPart {
  margin-left: 1.66666667rem;
}
#leaveList .topPart .topHead .rightPart .nameTitle {
  margin-bottom: 0.13333333rem;
}
#leaveList .topPart .topHead .rightPart .nameTitle .level-item {
  margin-left: 0.4rem;
}
#leaveList .topPart .topHead .rightPart .timePrompt {
  color: #858585;
  font-size: 24px;
}
[data-dpr='3'] #leaveList .topPart .topHead .rightPart .timePrompt {
  font-size: 40px;
}
[data-dpr='1'] #leaveList .topPart .topHead .rightPart .timePrompt {
  font-size: 16px;
}
#leaveList .topPart .sencondHead {
  padding: 0.26666667rem 0;
}
#leaveList .topPart .sencondHead li {
  margin-bottom: 0.26666667rem;
  letter-spacing: 2px;
}
#leaveList .topPart .sencondHead li:nth-child(5) .reasonType {
  width: 2.26666667rem;
  float: left;
  color: #858585;
  text-align: right;
}
#leaveList .topPart .sencondHead li:nth-child(5) .reasonText {
  margin-left: 2.26666667rem;
  padding-left: 0.13333333rem;
  font-size: 28px;
}
[data-dpr='3'] #leaveList .topPart .sencondHead li:nth-child(5) .reasonText {
  font-size: 42px;
}
[data-dpr='1'] #leaveList .topPart .sencondHead li:nth-child(5) .reasonText {
  font-size: 16px;
}
#leaveList .topPart .sencondHead li span:first-child {
  display: inline-block;
  width: 2.26666667rem;
  color: #858585;
  text-align: right;
}
#leaveList .topPart .sencondHead li span:nth-child(2) {
  font-size: 28px;
}
[data-dpr='3'] #leaveList .topPart .sencondHead li span:nth-child(2) {
  font-size: 42px;
}
[data-dpr='1'] #leaveList .topPart .sencondHead li span:nth-child(2) {
  font-size: 16px;
}
#leaveList .topPart .sencondHead li span.time {
  font-size: 22px;
}
[data-dpr='3'] #leaveList .topPart .sencondHead li span.time {
  font-size: 33px;
}
[data-dpr='1'] #leaveList .topPart .sencondHead li span.time {
  font-size: 11px;
}
#leaveList .topPart .sencondHead .imgTips {
  height: 1.33333333rem;
  line-height: 1.33333333rem;
}
#leaveList .topPart .sencondHead .imgTips span {
  vertical-align: top;
}
#leaveList .topPart .sencondHead .imgTips img {
  margin-right: 0.33333333rem;
  width: 80px;
  height: 80px;
}
[data-dpr='3'] #leaveList .topPart .sencondHead .imgTips img {
  width: 150px;
  height: 150px;
}
[data-dpr='1'] #leaveList .topPart .sencondHead .imgTips img {
  width: 50px;
  height: 50px;
}
#leaveList .approvalRecord {
  background: white;
  width: 100%;
  margin-bottom: 1.46666667rem;
}
#leaveList .approvalRecord .recordTips {
  font-size: 32px;
  padding: 0 0.4rem;
  border-bottom: 1px solid gainsboro;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
}
[data-dpr='3'] #leaveList .approvalRecord .recordTips {
  font-size: 48px;
}
[data-dpr='1'] #leaveList .approvalRecord .recordTips {
  font-size: 16px;
}
#leaveList .approvalRecord .recordTips img {
  width: 42px;
  height: 42px;
  vertical-align: middle;
  margin-right: 0.33333333rem;
}
[data-dpr='3'] #leaveList .approvalRecord .recordTips img {
  width: 63px;
  height: 63px;
}
[data-dpr='1'] #leaveList .approvalRecord .recordTips img {
  width: 21px;
  height: 21px;
}
#leaveList .approvalRecord .approvalPath {
  padding: 0.66666667rem 0.4rem;
  font-size: 28px;
}
[data-dpr='3'] #leaveList .approvalRecord .approvalPath {
  font-size: 42px;
}
[data-dpr='1'] #leaveList .approvalRecord .approvalPath {
  font-size: 16px;
}
#leaveList .approvalRecord .approvalPath li {
  margin-bottom: 0.53333333rem;
}
#leaveList .approvalRecord .approvalPath li .reason {
  color: #858585;
  padding-left: 5%;
}
#leaveList .approvalRecord .approvalPath li .time {
  color: #858585;
  font-size: 24px;
}
[data-dpr='3'] #leaveList .approvalRecord .approvalPath li .time {
  font-size: 36px;
}
[data-dpr='1'] #leaveList .approvalRecord .approvalPath li .time {
  font-size: 13px;
}
#leaveList .approvalRecord .approvalPath .oneTab span {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#leaveList .approvalRecord .approvalPath .oneTab span:first-child {
  width: 0.34666667rem;
  height: 0.34666667rem;
  border-radius: 0.17333333rem;
  background-color: #ff925a;
  vertical-align: middle;
}
#leaveList .approvalRecord .approvalPath .oneTab span:nth-child(2) {
  width: 27%;
}
#leaveList .approvalRecord .approvalPath .oneTab span:nth-child(3) {
  width: 25%;
}
#leaveList .approvalRecord .approvalPath .oneTab span:nth-child(4) {
  width: 35%;
  text-align: right;
}
#leaveList .approvalRecord .approvalPath .oneTab .type_3 {
  color: #ff925a;
}
#leaveList .approvalRecord .approvalPath .oneTab .type_4 {
  color: red;
}
.operateBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
}
.operateBtn .commomBtn div {
  float: left;
  box-sizing: border-box;
  text-align: center;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  border-right: 1px solid gainsboro;
  flex-grow: 1;
  color: #ff925a;
  font-size: 32px;
}
[data-dpr='3'] .operateBtn .commomBtn div {
  font-size: 48px;
}
[data-dpr='1'] .operateBtn .commomBtn div {
  font-size: 16px;
}
.operateBtn .commomBtn div:last-child {
  border-right: none;
}
.operateBtn .typeOne div {
  width: 100%;
}
.operateBtn .TypeTwo div {
  height: 0;
}
.operateBtn .typeFive div,
.operateBtn .typeThree div {
  width: 33%;
}
.operateBtn .typeSix div,
.operateBtn .typeFour div {
  width: 50%;
}
.operateBtn .typeOne,
.operateBtn .TypeTwo,
.operateBtn .typeThree,
.operateBtn .typeFour,
.operateBtn .typeFive,
.operateBtn .typeSix {
  display: none;
}
.level-item {
  padding: 0.10666667rem 0.13333333rem;
  font-size: 24px;
  border: 0.01333333rem solid gainsboro;
  border-radius: 0.08rem;
  color: white;
}
[data-dpr='3'] .level-item {
  font-size: 36px;
}
[data-dpr='1'] .level-item {
  font-size: 12px;
}
.level-1 {
  background-color: #96d452;
}
.level-2 {
  background-color: #fab42f;
}
.level-3 {
  background-color: #fa4646;
}
#mo {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  z-index: 1000000000000000000;
}
#moimg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}
#moimg {
  -webkit-animation: first 1s;
  -o-animation: first 1s;
  animation: first 1s;
}
.close {
  width: 0.86666667rem;
  height: 0.86666667rem;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 0;
  color: #f1f1f1;
}
.close:hover,
.close:focus {
  color: #bbb;
  cursor: pointer;
}
@keyframes first {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@media only screen and (max-width: 750px) {
  #moimg {
    width: 100%;
  }
}
.rejectBox {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  z-index: 1000000000000000000;
}
.rejectBox .innerBox {
  font-size: 30px;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 80%;
  height: 3.06666667rem;
  padding: 0.4rem;
  border-radius: 0.13333333rem;
}
[data-dpr='3'] .rejectBox .innerBox {
  font-size: 48px;
}
[data-dpr='1'] .rejectBox .innerBox {
  font-size: 12px;
}
.rejectBox .innerBox .title {
  text-align: center;
  color: #858585;
}
.rejectBox .innerBox input {
  width: 95%;
  padding-left: 2%;
  height: 1.06666667rem;
  font-size: 30px;
  margin: 0.4rem 0;
}
[data-dpr='3'] .rejectBox .innerBox input {
  font-size: 36px;
}
[data-dpr='1'] .rejectBox .innerBox input {
  font-size: 12px;
}
.rejectBox .innerBox .commonbtn {
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
  float: left;
}
.rejectBox .innerBox .deleteBtn {
  border-right: 1px solid gainsboro;
  color: #858585;
}
.rejectBox .innerBox .certainBtn {
  color: #ff925a;
}
