.h100{
	height: 100px!important	;
}
.h30{
	height: 30px!important	;
}
.flex{
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	height: 100%!important;
}
.p4{
	padding: 4px 10px;
}


#common-tool{
	height: 40px;
	background-color: #F8F7F7;
	border-top: 1px solid #DCDCDC;
	border-bottom:1px solid #DCDCDC;
}
#common-tool #search{
	float: left;
}
#common-tool #rig-tool{
	float: right;
}
#rig-tool>button{
	float: left;
}
.input-group .form-control {
	width: 200px;
	height: 30px;
}
/*end*/
#search-tool{
	background-color: #fff;
	border-top: 1px solid #DCDCDC;
	border-bottom:1px solid #DCDCDC;
	padding: 10px;
	position: relative;
	display: none;
}
#search-tool .input-group{
	float: left;
	margin-left: 10px;
}
#search-tool .input-group:first-child{
	margin-left: 0;
}
#search-tool .input-group>span{
	line-height: 30px;
	font-size: 12px;
	color: #666666;
	margin-right: 5px;
}
#search-tool-show{
	float: right;
}
/*layer*/
#demo111{
	padding: 20px 10px 0;
	display: none;
}

#demo111 .layui-input-block {
    margin-left:112px!important;
    top: 0;
}
#demo111 .layui-form-label {
    background-color: #F5F5F5;
    width: 120px;
    height: 100%;
    margin-bottom: 0;
}
#demo111 .layui-form-item {
	margin-bottom: 0!important;
    border: 1px solid #E9E9E9;
}
#demo111 .layui-input, .layui-textarea {
    width: 98%!important;
    position: static!important;
}
#demo111 .layui-textarea {
    min-height: 80px!important;
}
#demo111 .layui-form-select {
    width: 98%!important;
    }
.tabale-list{
	padding: 0 10px;
}