html, body{
    min-height: 100%;
    background-color: #f7f7f7;
}
.main{
    padding: 2rem;
}
#table th, #table td{
    border: none;
}
#table th{
    background-color: #d7e1fa;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #fff;
}
.table-striped>tbody>tr:nth-of-type(even){
    background-color: #f6f9ff;
}
.header{
	height: 130px;
	padding-top: 77px;
	padding-right: 37px;
	border-bottom: 1px solid rgba(210, 210, 210, 1);
}
.header>button{
	border: none;
	margin-left: 40px;
	background-color: rgba(33, 199, 201, 1);
	border-radius: 3px;
	width: 120px;
	height: 34px;
	font-family: ﻿MicrosoftYaHei;
	font-size: 16px;
	padding: 0;
	text-align: center;
	color: #ffffff;
	line-height: 34px;
}
.fr{
	float: right;
}
.table-title{
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px 0;
    width: 240px;
    display: inline-block;
}
