body{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
#goBack{
	  background-color: #F3A836;
	  color: #fff;
	  float: right;
}
[v-cloak] {
  display: none;
}
.ffc{
	background-color: #FFCC99!important;
	}
.f25{
	font-size: 25px!important;
	font-family: "microsoft yahei"!important;
	color: #333!important;
}
.f18{
	font-size: 18px!important;
	font-family: "microsoft yahei"!important;
	color: #333!important;
}
.f15{
	font-size: 18px!important;
	font-family: "microsoft yahei"!important;
	color: #333!important;
}
.h175{
	height: 175px;
}
.app-li{
	border-bottom: 1px solid #D2D2D2;
	padding: 0;
}
.top-link{
	float: left;
	width: 180px;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;
	text-align: center;
	transition: .3s;
	cursor: pointer;
}
.top-link:hover{
	background-color:#F3A836;
	color: #fff;
}
.top-link.act{
	background-color:#F3A836;
	color: #fff;
}
.year-box{
	width: 440px;
	height: 46px;
	margin: 0 auto;
	margin-top: 36px;
}
.year-li{
	width: 50%;
	height: 46px;
	line-height: 46px;
	float: left;
	text-align: center;
	border: 1px solid #D2D2D2;
	border-radius: 2px;
	transition:0.3s;
	cursor: pointer;
}
.year-li:first-child{
	border-right: none;
}
.year-li:hover{
	background-color: #009E96;
	color: #fff;
}
.year-li.act{
	background-color: #009E96;
	color: #fff;
}
.year-totle{
	margin: 0 auto;
	width: 1070px;
}
.witch{
	width: 300px;
	line-height: 80px;
	text-align: center;
	margin: 0 auto;
	font-size: 16px;
	color: #999;
}
.totle-li{
	width: 300px;
	height: 96px;
	padding: 15px;
	float: left;
	border: 1px solid #D2D2D2;
	border-radius: 2px;
	margin-right: 40px;
	background-color: #fff;
}
.totle-li:nth-child(3n){
	margin-right: 0;
}
.totle-li{
	position: relative;
}

.totle-icon.toup{
	position: absolute;
	width: 22px;
	height: 12px;
	right: 14px;
    top: 22px;
	background: url(img/toup.png) 0 0 no-repeat;
	background-size: contain;
}
.totle-icon.todown{
	position: absolute;
	width: 22px;
	height: 12px;
    right: 14px;
    top: 22px;
	background: url(img/todown.png) 0 0 no-repeat;
	background-size: contain;
}
.totle-li .tit-h2{
	font-size: 16px;
	color: #333;
	line-height: 34px;
}
.totle-li .conut-h2.win{
	color: #FD4142;
}
.totle-li .conut-h2.lose{
	color:#009E96;
}
.totle-li .conut-h2.normal{
	color:#FE9626;
}
/**/
.table-div{
	padding: 20px;
	margin: 0 auto;
}
#firTable{
	background-color: #fff;
}
.left-table{
	float: left;
	width: calc(100% - 1100px);
}
.right-table{
	float: left;
	width: 1100px;
	overflow-x: auto;
	overflow-y: hidden;
}

.right-table th{
	min-width: 80px;
}
.right-table td{
	min-width: 80px;
}
.right-table td div{
	line-height: 40px;
	height: 40px
}
.fir{
	display: inline-block;text-align: center;width: 80px;height:20px;border-right: 1px solid #e7e7e7;overflow: hidden;font-family: "microsoft yahei";
}
.sec{
	display: inline-block;text-align: center;width: 80px;height:20px;border-right: 1px solid transparent;overflow: hidden;font-family: "microsoft yahei";
}
td{
	font-family: "microsoft yahei"!important;
}
