* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}
body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.clearfix::after {
  display: block;
  content: '';
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f3f3f4;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  line-height: 80px;
  padding-left: 0;
}
.header .searchBox {
  float: left;
  vertical-align: middle;
  height: 80px;
  width: 100%;
  text-align: right;
  padding-right: 4%;
  overflow: hidden;
}
.header .searchBox label {
  font-size: 18px;
  color: #353b53;
  font-weight: 400;
  padding-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.header .searchBox label:nth-of-type(1) {
  margin-left: 0;
}
.header .searchBox select {
  width: 212px;
  height: 34px;
  border-color: #353b53;
  color: #333333;
  font-size: 16px;
  vertical-align: middle;
}
.header .searchBox #facilityStatus,
.header .searchBox #timeSelector {
  width: 148px;
}
.header .searchBox > div {
  display: inline-block;
  margin-left: 5%;
}
.header .searchBox > div:nth-of-type(1) {
  margin-left: 0;
}
.header .searchBox .select2-container {
  z-index: 1;
  text-align: left;
}
.tabBar {
  width: 100%;
  height: 2.8125rem;
}
.tabBar .menu {
  float: left;
  padding-top: 0.9375rem;
  padding-left: 0.84375rem;
}
.tabBar .menu a {
  display: inline-block;
  width: 4.375rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  background-color: #fff;
  font-size: 0.5625rem;
  color: #666666;
  border-radius: 0.25rem 0.25rem 0 0;
  float: left;
  margin-right: 0.125rem;
}
.tabBar .menu a.active {
  border: 0.03125rem solid #353b53;
  color: #353b53;
}
.tabBar .occupiedDescription {
  float: right;
  height: 2.8125rem;
  line-height: 100%;
  padding-top: 0.71875rem;
  padding-right: 1.6875rem;
}
.tabBar .occupiedDescription .statusInstructions {
  display: inline-block;
  vertical-align: middle;
}
.tabBar .occupiedDescription .statusInstructions span {
  display: inline-block;
  float: left;
  height: 1.375rem;
  line-height: 1.375rem;
  text-align: center;
  font-size: 0.5625rem;
  color: #333;
  padding-left: 0.3125rem;
  border-left: 0.3125rem solid #f59701;
  margin-left: 2.1875rem;
}
.tabBar .occupiedDescription .statusInstructions span:last-of-type {
  border-left: 0.3125rem solid #2db623;
}
.tabBar .occupiedDescription .statusInstructions span:first-of-type {
  border-left: 0.3125rem solid #0080ff;
}
.tabBar .occupiedDescription .exportBtn {
  width: 3.125rem;
  height: 1.375rem;
  outline: none;
  border: none;
  background-color: #2fc4b5;
  color: #ffffff;
  font-size: 0.5625rem;
  margin-left: 0.9375rem;
}
.main {
  width: 100%;
  height: 100%;
  padding: 0 0.75rem 0.3125rem 0.75rem;
  background-color: #fff;
}
.main ul {
  width: 100%;
  height: 100%;
  padding-left: 0.15625rem;
}
.main ul li {
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 0.25rem;
  text-align: center;
  padding-top: 1.125rem;
  position: relative;
  background-color: #ffffff;
  float: left;
  margin-right: 1.0625rem;
  margin-top: 0.9375rem;
}
.main ul li:nth-of-type(6n) {
  margin-right: 0;
}
.main ul li:nth-of-type(6n) .erCodeBox {
  bottom: 5.46875rem;
  left: -8.75rem;
}
.main ul li:nth-of-type(6n-1) .erCodeBox {
  bottom: 5.46875rem;
  left: -8.75rem;
}
.main ul li:nth-of-type(1) .erCodeBox,
.main ul li:nth-of-type(2) .erCodeBox,
.main ul li:nth-of-type(3) .erCodeBox,
.main ul li:nth-of-type(4) .erCodeBox {
  bottom: 0;
  left: 7.8125rem;
  top: 1.5625rem;
}
.main ul li:nth-of-type(5) .erCodeBox,
.main ul li:nth-of-type(6) .erCodeBox {
  bottom: 0;
  left: -8.75rem;
  top: 1.5625rem;
}
.main ul li.free {
  border: 0.03125rem solid #2db623;
}
.main ul li.free h4 {
  font-size: 1.25rem;
  color: #2db623;
  font-weight: 400;
  margin-top: 1.25rem;
  padding-left: 0.1875rem;
  overflow: hidden;
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}
.main ul li.free p {
  font-size: 0.75rem;
  color: #2db623;
  margin-top: 0.3125rem;
}
.main ul li.free .erCodeIcon {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  background: url("../image/Qr-codewu@2x.png") no-repeat right top;
  -webkit-background-size: 100%;
  background-size: 100%;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
  -webkit-border-radius: 0 0.25rem 0 0;
  -moz-border-radius: 0 0.25rem 0 0;
  border-radius: 0 0.25rem 0 0;
}
.main ul li.free::before {
  position: absolute;
  content: '';
  width: 0.3125rem;
  height: 4.6875rem;
  background-color: #2db623;
  left: -0.15625rem;
  top: 1.5625rem;
}
.main ul li.used {
  border: 0.03125rem solid #f59701;
  text-align: left;
  padding-top: 0rem;
  position: relative;
}
.main ul li.used h4 {
  font-size: 0.75rem;
  color: #f59701;
  padding-left: 0.5rem;
  padding-right: 1.5625rem;
  margin-bottom: 0.15625rem;
  margin-top: 0.3125rem;
  overflow: hidden;
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}
.main ul li.used p {
  font-size: 0.5rem;
  color: #f59701;
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
  margin-bottom: 0;
  border-bottom: 0.03125rem dashed #f59701;
}
.main ul li.used p:first-of-type {
  font-weight: 700;
  font-size: 0.5625rem;
  overflow: hidden;
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}
.main ul li.used p:last-of-type {
  border-bottom: 0;
}
.main ul li.used p > img {
  width: 0.84375rem;
  height: 0.8125rem;
  margin-right: 0.125rem;
  display: inline-block;
  vertical-align: middle;
}
.main ul li.used .erCodeIcon {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  background: url("../image/Qr-codeyou@2x.png") no-repeat right top;
  -webkit-background-size: 100%;
  background-size: 100%;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
  -webkit-border-radius: 0 0.25rem 0 0;
  -moz-border-radius: 0 0.25rem 0 0;
  border-radius: 0 0.25rem 0 0;
}
.main ul li.used::before {
  position: absolute;
  content: '';
  width: 0.3125rem;
  height: 4.6875rem;
  background-color: #f59701;
  left: -0.15625rem;
  top: 1.5625rem;
}
.main ul li.InAppointment {
  border: 0.03125rem solid #0080ff;
}
.main ul li.InAppointment h4 {
  font-size: 1.25rem;
  color: #0080ff;
  font-weight: 400;
  margin-top: 1.25rem;
  padding-left: 0.1875rem;
  overflow: hidden;
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}
.main ul li.InAppointment p {
  font-size: 0.75rem;
  color: #0080ff;
  margin-top: 0.3125rem;
}
.main ul li.InAppointment .erCodeIcon {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  background: url("../image/Qr-codelan.fw.png") no-repeat right top;
  -webkit-background-size: 100%;
  background-size: 100%;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
  -webkit-border-radius: 0 0.25rem 0 0;
  -moz-border-radius: 0 0.25rem 0 0;
  border-radius: 0 0.25rem 0 0;
}
.main ul li.InAppointment::before {
  position: absolute;
  content: '';
  width: 0.3125rem;
  height: 4.6875rem;
  background-color: #0080ff;
  left: -0.15625rem;
  top: 1.5625rem;
}
.main ul li .erCodeBox {
  width: 8.625rem;
  height: 9.6875rem;
  border: 0.03125rem solid #000;
  position: absolute;
  bottom: 5.46875rem;
  left: 7.8125rem;
  z-index: 2;
  background-color: #fff;
  display: none;
}
.main ul li .erCodeBox .erCode {
  width: 8rem;
  height: 8rem;
  margin: 0.3125rem 0.3125rem 0 0.3125rem;
}
.main ul li .erCodeBox .erCode > img {
  width: 7.8125rem;
  height: 7.8125rem;
}
.main ul li .erCodeBox .downloadBtn {
  position: absolute;
  width: 3.125rem;
  height: 0.9375rem;
  text-align: center;
  line-height: 0.9375rem;
  font-size: 0.5625rem;
  color: #fff;
  background-color: #f8ac59;
  left: 50%;
  bottom: 0.15625rem;
  transform: translateX(-50%);
}
.mask {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.select2-container .select2-selection--single {
  height: 34px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  border-color: #353b53;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
}
.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #353b53 transparent transparent transparent;
}
.select2-results__option {
  font-size: 16px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #353b53 transparent;
}
.select2-container--default.select2-container--open .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(29, 191, 175, 0.7);
}
.select2-container--default.select2-container--open .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.select2-container--default.select2-container--open .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
}
.select2-container--default.select2-container--open .select2-results > .select2-results__options::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=facilityStatus.css.map */