			::-webkit-scrollbar{
				display: none;
			}
			.mylabel {
			    font-weight: 100;
			    display: block;
			    font-size: 18px;
			    color: #333;
			}
			.must {
				color: #d9524e;
				line-height: 28px;
				font-size: 14px;
				display: inline-block;
				margin-left: -12px;
				margin-right: 5px;
			}
	
			.form-group {
				margin-bottom:20px;
			}
			input[name='albumName']{
				height: 37px;
				width: 100%;
				padding-left: 10px;
				border:1px solid #dadada;
				color: #666;
				font-size: 18px;
			}
			.saveBtn {
				float: right;
				margin-right: 55px;
				width: 118px;
				height: 50px;
				border: none;
				background-color: #353b53;
				color: #fff;
				font-size: 20px;
				font-weight: 700;
				border-radius: 5px;
			}
			.container{
				padding: 0;
			}
			.form-group{
				padding: 0 40px;
			}
			.mylabel{
				color:  #353b53;
				font-weight: bold;
			}
			.textHint{
				color: #ffa500;
				font-weight: 100;
				font-size: 16px;
			}
			.mienTitle{
				height: 60px;
				text-align: center;
				line-height: 60px;
				font-size: 20px;
				font-weight: bold;
				color: #FFF;
				background-color: #353b53;
				margin-bottom: 40px;
			}
			.imgBox li {
				list-style: none;
			}
			.upImg {
				display: inline-block;
				cursor: pointer;
			}
			.saveBtn.cancelBtn {
				border: 1px solid #353b53;
				height: 50px;
				width: 118px;
				background-color: #fff;
				color: #353b53;
			}
			.mienPub{
				min-height: 662px;
			}
			.upBg {
				position: relative;
				cursor: pointer;
				height: 150px;
				width: 150px;
				padding-top: 20px;
				margin-bottom: 6px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.noSrc{
				background-color: rgba(0,0,0,.5);
				z-index: 2;
				position: absolute;
				height: 150px;
				width: 150px;
				top: 0;
			}
			.noSrc p {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translateX(-50%) translateY(-50%);
				color: #fff !important;
				width: 100%;
				font-size: 14px !important;
			}
			.upBg p {
				text-align: center;
				color: #A67227;
				font-size: 18px;
			}
	
			.bgShow{
				display: block;
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
			}
			
