html, body{
    background-color: #fff;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
body{
    overflow-y: scroll;
    font-size: 14px;
    color: #676a6c;
}
.input-body{
    width: 56%;
    min-width: 200px;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
}
.row-user{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFF;
}
.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #FFF;
}
#subaccountRemindTable thead{
    background: #1DC0AF;
    color: #fff;
}

