body{background: #f9f9f9;min-width: 1400px;}
.layout-left{height: 200px;width: 400px;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF5343), to(#FF335E));margin-top: 290px;margin-left: 230px;border-radius: 6px;position: relative;float: left;}
.content-left{float: left;width: 50%;height: 100%;position: relative;}
.content-left-top{margin-top: 35px;margin-left: 50px;}
.content-left-top img{border-radius: 50%;background: #c03737;}
.content-left-button{bottom: 20px;left: 45px;position: absolute;}
.content-left-button a{display: block;float: left;}
.content-left-button img{display: block;float: left;margin-top: 4px;margin-left: 9px;}
.content-right{cursor: pointer;text-align: center;position: absolute;top: 35px;right: 35px;}
.content-right p{color: #ffffff;font-family: MicrosoftYahei;font-size: 30px;word-break: break-all;margin-bottom: 2px;}
.content-right dd{color: #ffffff;}
.content-left-button a{text-decoration: none;color: #fff;}
.layout-center{width: 80px;float: left;position: relative;margin-top: 25px;margin-left: 40px;}
.layout-right ul{list-style: none;float: left;margin-top: 20px;margin-left: 20px;}
.layout-right ul li{cursor: pointer;height: 200px;width: 500px;background: #fff;border-radius: 6px;margin: 32px 2px;}
.layout-right ul li .top{height: 65px;}
.layout-right ul li .bottom{position: relative;overflow: hidden;height: 135px;}
.layout-right ul li .bottom img{float: right;right: -10px;top: 10px;position: absolute;}
.layout-right ul li .top p{width: 50%;text-align: center;float: left;line-height: 65px;margin: auto;font-family: MicrosoftYahei;font-size: 23px;}
.live-shadow{box-shadow: 0 0 10px 1px #8ac3f9;}
.headline-shadow{box-shadow: 0 0 10px 1px #bc8cec;}
.merchant-shadow{box-shadow: 0 0 10px 1px #8792f2;}
.live-top{border-bottom: 1px solid #8ac3f9;}
.headline-top{border-bottom: 1px solid #bc8cec;}
.merchant-top{border-bottom: 1px solid #8792f2;}
.live-title{color: #8ac3f9;}
.headline-title{color: #bc8cec;}
.merchant-title{color:#8792f2;}
.top span{float: right;display: block;line-height: 65px;font-size: 23px;font-family: MicrosoftYahei;}
.top .span-right{margin-right: 30px;}
.bottom div{margin: 20px 73px;font-family: MicrosoftYahei;font-size: 23px;}
