body{background: #f9f9f9;min-width: 1400px;}
.center{cursor: pointer;background: #1876F1;height: 248px;width: 826px;border-radius: 6px;margin: auto;margin-top: 180px;text-align: center;overflow: hidden;}
.center-left{margin-left: 50px;float: left;}
.center-left img{height: 255px;display: block;right: 25px;}
.center-right{background: #0044A1;width: 400px;height: 150px;float: right;border-radius: 6px;margin-top: 50px;margin-right: 55px;}
.center-right li{margin: 15px 5px;font-family: MicrosoftYahei;color: #c0df27;text-align: initial;}
.center-right .top{font-size: 24px;border-bottom: 1px solid rgba(255, 255, 255, 0.55);height: 50px;line-height: 42px;margin: 10px 0px;}
.center-right .bottom{font-size: 18px;}
.center .margin-left{margin-left: 20px;}
