@function vm($px) {
  @return ($px / 750) * 100vw;
}
*{
  padding: 0;
  margin: 0;}

.div1{
  background-image: url("img/04_02.jpg");
  ;
  height:vm(1224);
}
.div2{
  background-image: url("img/04_03.jpg");
  height:vm(2510);
}
.div3{
  background-image: url("img/04_04.jpg");
  height:vm(2467);
}
.div4{
  background-image: url("img/04_05.jpg");
  height:vm(2420);
}
.div5{
  background-image: url("img/04_06.jpg");
  height:vm(1853);
}
div{
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
  font-size: 0;
}