.homePage{
	background-color: #f2f2f2;
}

.main-title{
	position:relative;
	width: 100%;
	height: 118px;
	padding-top:30px;
	text-align: center;
}

.main-title .return-icon{
	position:absolute;
	left: 42px;
	top: 30px;
}
.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
    padding:0;
    line-height: inherit;
}
.content-top{
    position: relative;
    min-height:80px;
    line-height: 80px;
    padding-right:200px;
    margin:10px 0;
}
.content-top .slogen{
	position:relative;
    width:100%;
	padding-left:100px;
}
.slogen .slogen-icon{
	position:absolute;
	top:0;
	left:20px;
    display:inline-block;
    width:80px;
    height:80px;
    background-repeat: no-repeat;
}
.slogen .slogen-icon.type0{
    background-image: url(../img/fsj0.png);
}
.slogen .slogen-icon.type1{
    background-image: url(../img/fsj1.png);
}
.slogen .slogen-icon.type2{
    background-image: url(../img/fsj2.png);
}
.slogen .slogen-icon.type3{
    background-image: url(../img/fsj3.png);
}
.slogen .slogen-icon.type4{
    background-image: url(../img/fsj4.png);
}
.slogen .slogen-icon.type5{
    background-image: url(../img/fsj5.png);
}
.slogen .slogen-icon.type6{
    background-image: url(../img/fsj6.png);
}
.slogen .slogen-icon.type7{
    background-image: url(../img/fsj7.png);
}
.slogen .slogen-icon.type8{
    background-image: url(../img/fsj8.png);
}
.slogen .slogen-icon.type9{
    background-image: url(../img/fsj9.png);
}
.slogen .slogen-icon.type10{
    background-image: url(../img/fsj10.png);
}
.slogen .slogen-desc{
    display:inline-block;
	margin-left:20px;
    font-size:36px;
    color:#666;
    vertical-align: text-bottom;
}
.content-top .publish-btn{
    position:absolute;
    right:20px;
    top:0;
    background-color:#a58f64;
    font-size:46px;
    color:#fff;
}

.list-box .list-table{
    border-bottom:1px solid #eee;
}
.list-box .list-table thead>tr>th{
    height:100px;
    line-height: 100px;
    background-color: #f8f8f8;
    font-size:44px;
    color:#333;
}
.list-box .list-table tbody>tr>td:first-child{
    font-size:36px;
    color:#333;
    text-align: center;
}
.list-box .list-table tbody>tr>td:not(:first-child){
    color:#999;
    font-size:30px;
    text-align: center;
	vertical-align: middle;
}
.list-table .like-icon{
	display:inline-block;
	width:46px;
	height:46px;
	background-image: url(../img/fsj_zan.png);
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}
.list-table .view-icon{
	display:inline-block;
	width:46px;
	height:46px;
	background-image: url(../img/fsj_see.png);
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}
.pagination{
	margin:20px auto;
}
.pagination .page-first,
.pagination .page-last{
	display:none;
}
.pagination>li>a, .pagination>li>span {
    color: #666;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus{
	background-color: #ccc;
    border-color: #ccc;
}
