html, * {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/tree_bg.png');
    background-size: cover;
    
	overflow:hidden;
}

.wrapper {
    width: 100%;
    text-align: center;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
    
    margin-top: 200px;
}