.iservicet{
  padding: 19px 25px;
  .isername-text{
    width: 100px;
  }
  .isername-input{
    width:50%;
  }
}

.tablewrap{
  padding: 0 25px;
}

.iseriver-table{
  padding: 0 25px;
  background: #e1e1e1;
  .seitit{
    font-size: 20px; 
    line-height: 45px; 
    text-align: center;
    color: #1E9FFF;
  }
  .layui-table, .layui-table-view{
    margin: 0;
  }
}
.addprovider{
  display: none;
}
.redstus{
  color: #FF5722;
  font-size: 18px;
}
.pat30{
  padding: 30px 20px 0;  
}
.addserivce{
  display: none;
}
.mybtn{
  padding: 0;background-color: transparent;
}