body {
  font-size: 16px;
  color: #666666;
  font-family: '微软雅黑';
  overflow-y: hidden;
}

.container-fluid {
  padding: 0;
}

label {
  font-weight: normal;
  font-size: 14px;
}

#shop_list {
  width: 700px;
  height: 550px;
  .search-area {
    height: 84px;
    .form-inline {
      margin: 23px 0 0 0;
      .form-group {
        display: inline-block;
        margin: 0 20px 0 0;
        .form-control {
          display: inline-block;
          width: 154px;
        }
      }
    }
  }
  table {
    margin: 0;
    th, td {
      text-align: center;
      vertical-align: middle;
    }
  }
  p {
    float: right;
    line-height: 40px;
    font-size: 14px;
    margin: 0 0 0 10px;
  }
  .active {
    background: #E8FFED;
  }
}