body {
  font-size: 16px;
  color: #666666;
  font-family: '微软雅黑';
  overflow-y: hidden;
}
.container-fluid {
  padding: 0;
}
label {
  font-weight: normal;
  font-size: 14px;
}
#shop_list {
  width: 700px;
  height: 550px;
}
#shop_list .search-area {
  height: 84px;
}
#shop_list .search-area .form-inline {
  margin: 23px 0 0 0;
}
#shop_list .search-area .form-inline .form-group {
  display: inline-block;
  margin: 0 20px 0 0;
}
#shop_list .search-area .form-inline .form-group .form-control {
  display: inline-block;
  width: 154px;
}
#shop_list table {
  margin: 0;
}
#shop_list table th,
#shop_list table td {
  text-align: center;
  vertical-align: middle;
}
#shop_list p {
  float: right;
  line-height: 40px;
  font-size: 14px;
  margin: 0 0 0 10px;
}
#shop_list .active {
  background: #E8FFED;
}
