/*审核详情相关*/
.detail_box{
    width: 100%;
    height: 100%;
}
.detail_box .leftCon{
    width: 60%;
    padding: 0 0 0 10px;
    height: 100%;
    overflow: auto;
    float: left;
}
.detail_box .leftCon .audit-detail{
    border: 1px solid #DCDCDC;
    padding: 20px;
    height: 100%;
}
.audit-detail .detail-title {
    margin-bottom: 18px;
}
.detail-title span{
    margin-right: 20px;
    color:#333;
}
.detail_box .rightCon{
    width: 40%;
    float: right;
}
.rightCon .jurisdiction-add{
    background: #f7f7f7;
    padding: 5px 20px;
    height: 40px;
}
.jurisdiction-add button:first-child{
    background: #409ffd;
    color:#fff;
}
.jurisdiction-add button:last-child{
    background: #4ab92f;
    color:#fff;
}
.rightCon .layui-form-label{
    width: 100%;
    text-align: left;
    text-indent: 5px;
}
.rightCon .layui-input-block{
    margin-left: 20px;
}
.rightCon textarea{
    width: 70%;
}
.noreom{
    display: none;
}
.rightHr{
    height: 30px;
}
.artic-content{
    height: 98%;
}
.noreomtype{
    display: none;
}
