.main-color {
  color: #26c3b2; }

.main-color-bg {
  background: #26c3b2; }

.f1 {
  background: #f1f1f1; }

.ml25 {
  margin-left: 25px; }

.layui-input, .layui-select, .layui-textarea, .layui-btn, .layui-table-cell {
  height: 35px;
  line-height: 35px; }

.layui-btn {
  font-size: 16px;
  border-radius: 3px; }

.layui-form-label {
  padding: 7px 15px; }

.layui-table-view .layui-table {
  width: 100%; }

.layui-table-view .layui-table td, .layui-table-view .layui-table th {
  padding: 10px 0;
  font-size: 16px; }

.layui-table thead tr {
  background: #26c3b2;
  color: #fff; }

.layui-table tbody tr:hover, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool {
  background: #f3f3f3; }

.layui-form-select dl dd.layui-this {
  background: #26c3b2; }

.layui-form-select .layui-input {
  padding-right: 0; }

.layui-btn .layui-icon {
  margin-right: 0; }

.layui-btn-sm i {
  font-size: 16px !important; }

.layui-table-body, .bg-white {
  background: #fff; }

.layui-table, .layui-table-view {
  margin: 0; }

.layui-laypage {
  float: right;
  padding-right: 10px; }

.layui-layer-btn .layui-layer-btn0 {
  background-color: #26c3b2 !important;
  border-color: #26c3b2 !important; }

.fr {
  float: right; }

.fl {
  float: left; }

body, html {
  width: 100%;
  overflow-x: hidden; }

body {
  font-size: 16px;
  color: #333333;
  background: #f3f3f3; }

.main-wapper {
  height: auto;
  padding: 0 10px; }

.hearder {
  background: #fff; }
  .hearder ul {
    padding-top: 15px; }
  .hearder li {
    float: left; }

.main {
  padding: 0 50px; }
  .main .btn-box {
    padding: 18px 0; }
    .main .btn-box button {
      padding: 0 40px;
      background: #f8ab59;
      line-height: 44px;
      height: 44px; }
  .main .tab-box {
    overflow: hidden;
    width: 100%;
    margin-top: 18px;
    position: relative;
    height: 44px;
    z-index: 1; }
    .main .tab-box li {
      float: left;
      line-height: 42px;
      padding: 0 40px;
      border: 1px solid #dadada;
      margin-bottom: -1px;
      cursor: pointer;
      color: #7c7c7c; }
    .main .tab-box li:nth-child(2) {
      border-left: none; }
    .main .tab-box li.active {
      background: #fff;
      border-bottom: 1px solid #f3f3f3;
      color: #333333; }
  .main .tab-box:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #dadada;
    top: 43px; }

.circle {
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #26c3b2; }

.addDemo {
  width: 100%;
  display: none;
  background: #fff;
  text-align: center;
  margin: 40px 0;
  margin-bottom: 25px; }
  .addDemo ul {
    width: 525px;
    margin: 0 auto;
    margin-bottom: 36px; }
  .addDemo .bgf3 {
    background: #f3f3f3;
    color: #333333; }
  .addDemo .bgf3:hover {
    color: #333333; }
  .addDemo .p35 {
    padding: 0 35px; }

.editDemo {
  display: block; }

.addUl .layui-form-item {
  margin-bottom: 14px;
  width: 460px; }

.addUl .remarkBox {
  width: 100%; }

.fujian {
  text-align: left; }
  .fujian button {
    background: none;
    color: #26c3b2;
    border: 1px solid #26c3b2; }
  .fujian button:hover {
    color: #fff;
    background: #26c3b2; }

.w142 + div {
  float: right;
  width: 142px; }

.w192 + div {
  width: 192px;
  float: left; }

.layui-table-cell {
  padding-right: 0; }

.layui-form-select dl {
  max-width: 100%;
  max-height: 220px; }

.layui-disabled, .layui-disabled:hover {
  color: #545454 !important;
  cursor: not-allowed !important; }

/*# sourceMappingURL=accounts_day.css.map */
