html, body{
    background-color: #fff;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
body{
    overflow-y: scroll;
    font-size: 14px;
    color:#000;
}
.input-body{
    width: 56%;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
}
.select-body{
    height: 34px;
    line-height: 34px;
    border-color: #999;
    border-radius: 4px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFF;
}
.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #FFF;
}
.title-sum{
    font-weight: 550;
    font-size: 16px;
}
.row-user{
    margin-top: 40px;
    margin-bottom: 40px;
}
.row-user1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-title>.row-user #userName{
    color:#439EFE;
}
/* step1 */
.is-lunar{
    margin-left: 30px;
}
.is-lunar>input{
    cursor: pointer;
}
.is-lunar>label{
    cursor: pointer;
    font-weight: 500;
}
.bottom-bar{
    width: 200px;
    position: relative;
    bottom: 10px;
    left: 42%;
    margin-top: 20px;
}
/* step1-check */
.check-top{
    text-align: center;
    margin-top: 10%;
}
.check-top>.check-content{
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color: #666;
}
.check-btn{
    position: absolute;
    left: 39%;
    margin-top: 70px;
}
.check-btn>.btn-continue{
    width: 100px;
    line-height: 25px;
}
.check-btn>.btn-cancel{
    width: 100px;
    line-height: 25px;
    background: 0;
    border: 1px solid #21b9bb;
    color: #21b9bb;
    margin-left: 90px;
}
/* step2 */
#serviceDetail{
    width: 92%;
    resize: none;
}
#accountList{
    /* border-bottom: 2px solid #E8E8E8; */
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#accountList>.row-user1{
    margin-top: 0;
    margin-bottom: 10px;
}
#accountList .step2-title{
    color:#666;
}
.yuan{
    position: relative;
    right: 30px;
}
.step2-input{
    width: 70%;
    padding-right: 30px;
}
/* step3 */
.line{
    border: 3px solid #eee;
}