.deletebtn{
    cursor: pointer;
}
.cagbtn{
    cursor: pointer;
    margin-right: 20px;
}
/*时间*/
.form-inline .lasttime{
    margin-right: 0;
    display: inline;
}
.date{
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.date input{
    border:none;
    cursor: pointer;
}
.datepicker{
    background: #fff;
    border:1px solid #b3b3b3;
    position: absolute;
    left: 0;
    width: 214px;
    display: none;
}
.table tbody tr{
    cursor: pointer;
}
.table tbody tr.actve{
    background: #eaeaea;
}
.statu-tr .statu-control{
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
}