html,body{
	height: 100%;
}
body{
	background: #fff;
}
.app-wrapper{
	padding:10px;
	overflow: hidden;
}
.app-left{
	width: 305px;
	float: left;
}
.search-box{
	padding:26px;
}
.ml0{
	margin-left: 0;
}
.input-me{
	border-radius: 100px;
	padding-right: 50px;
}
.icon-me{
	font-size: 28px;
	color: #ddd;
	cursor: pointer;
	position: absolute;
	right: 12px;
	margin-top: -33px;
}
.bdd1{
	border:1px solid #d1d1d1;
}
.trees-box{
	height: 700px;
	overflow-y: scroll;
}
.trees-box h4{
	line-height:28px;
	background: #dcdcdc;
	padding-left: 10px;
}
.app-container{
	/*width: 100%;*/
	margin-left: 315px;
	/*min-height: 915px;*/
	position: relative;
}
.header{
	height: 40px;
	background: #eeeeee;
}
.h3{
	line-height:52px;
	margin-left: 12px;
	width: 56px;
	background: #fff;
	position: relative;
	padding:0 5px;
	z-index: 99;
}
.line-me:after{
	content:'';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #d1d1d1;
	top: 66px;
	left: 0;
	z-index: 1;
}
.container{
	padding:25px 65px;
}
.dl-me{
	font-size: 16px;
	overflow: hidden;
}
.dl-me dt{
	float: left;
	width: 104px;
	height: 104px;
	border-radius: 50%;
	overflow: hidden;
	background: #eeeeee;
}
.dl-me img{
	width: 100%;
	height: 100%;
}
.dl-me dd{
	float: left;
	margin-left: 20px;
}
.dl-me h3{
	line-height: 55px;
	font-size: 16px;
}
.dl-me p{
	line-height: 52px;
}
.ul-me{
	margin:38px 0;
	overflow: hidden;
}
.bgc6{
	background: #c6ebf4;
}
.bgfd{
	background: #fde7cf;
}
.ul-me li{
	float: left;
	width: 370px;
	height: 120px;
	margin-right:62px;
	padding:10px 0 0 25px;
}
.ul-me h3{
	line-height: 48px;
	font-size: 16px;
	color: #666;
}
.ul-me span{
	color: #333;
}