.cr-top{
  /*border-bottom: 1px dashed #e5e5e5;*/
}
.ul-li-span-zdy{
  padding-left: 15px;
}

.div-padding-bottom-top-zdy{
  padding-top: 25px;
  padding-bottom: 25px;
}

.content-div-zdy{
  box-shadow: 0 0px 8px rgba(7, 17, 27, 0.2);
  height: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;"

}

.content-div-zdy-top{
  border-bottom: 1px solid #d9dde1;
  padding-bottom: 10px;
}

.content-div-zdy-top-left-p{
    font-size: 20px;
    font-weight: 600;
    color: #337ab7;
}

.btn-zdy-css{
  border-radius: 0px!important;
  width: 110px;
}

.zdy-div-button{
  padding-top: 75px;
}


.zdy-div-button a{
    background-color: #00c1de;
    border-color: #00c1de;
    color: #fff;
    height: 35px;
    width: 110px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
