body {
  position: relative;

}
html,body {
  height: 100%;
}
li,
ul {
  list-style: none
}

::-webkit-scrollbar {
  display: none
}

.fl {
  float: left
}

.fr {
  float: right
}

.lv {
  background-color: #3badff
}

.sport {
  background-color: #39d8c6
}

.music {
  background-color: #ff46a7
}

.gongyi {
  background-color: #ff493a
}

a,
a:active,
a:focus,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent
}

.clearfix:after,
.clearfix:before {
  content: "";
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
  clear: both
}