* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

html,
body {
	color: #333;
	font-size: 16px;
}

.content {
	margin: 0 1rem;
}

.content_title {
	margin-top: 25px;
	padding-left: 10px;
	height: 22px;
	border-left: 3.5px solid #349cee;
	line-height: 22px;
	font-size: 18px;
	color: #349cee;
}

.content_detail {
	font-size: 0.8rem;
}

.content_detail lable {
	height: 2rem;
	line-height: 2rem;
}

.content_detail p {
	text-indent: 1em;
}

.bottom {
	margin: 20px auto 30px;
	padding: 13px 0px 15px 17px;
	line-height: 1.1rem;
	letter-spacing: 1px;
	font-size: 15px;
	width: 300px;
	height: 124px;
	color: #349cee;
	border: 1px solid #349cee;
	border-radius: 5px;
}

.bottom div {
	height: 1.5rem;
	line-height: 1.5rem;
	overflow: hidden;
	color: #349cee;
}

.bottom>div span {
	display: inline-block;
	width: 70px;
	height: 1.5rem;
	line-height: 1.5rem;
	float: left;
	text-align: justify;
	text-align-last: justify;
	color: #3c9ded;
}