* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
html,body {
	color: #333;
} 
.hide {
	display: none !important;
}
.text-center{
	text-align: center;
}
#memberGroup{
	margin-bottom: 10px;
}
/*下拉提示按钮*/
.weui-icon-downIcon{
    background: url(../img/ckkf_xiajt.png) no-repeat;
    background-size: 100%;
    width: 15px;
    height: 9px;
}
.weui-cell__bd{
	min-height: 1rem;
}
.weui-cells:before, .weui-cells:after {
	border: none;
}
.weui-cell {
	border: 1px solid #dadada;
	margin: 8px;
	padding: 8px;
	font-size: 14px;
}
.weui-label{
	width: 80px;
}
.half.weui-label{
	width: 35px;
}
.weui-select{
	height: auto;
	line-height: 1;
}
.captcha .weui-btn{
    height: auto;
    margin: 8px 8px 0 0;
    font-size: 14px;
    line-height: 37px;
    background-color: #349CEE;
    border-radius: 2px;
}
.introduce{
	color: #333;
}
.team{
	border-top: 10px solid #eee;
	padding-top: 15px;
	color: #333;
}
.teamMember{
	display: block;
	margin: 8px;
	font-size: 14px;
	border: 1px solid #dadada;
	border-radius: 4px;
	text-align: left;
}
.teamMember .weui-flex__item{
	max-width: 50%;
}
.teamMember .property{
	display: block;
	flex: 1;
	padding: 4px 10px;
	height: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.teamMember .text{
	margin-left: 5px;
	font-size: 12px;
}
.teamMember .edit{
	display: block;
	flex: 1;
	font-size: 14px;
	line-height: 1;
	color: #349CEE;
	text-align: right;
	cursor: pointer;
}
.teamMember .edit img{
	display: inline;
	height: 12px;
	margin-right: 5px;
	vertical-align: middle;
}
.addTeamMember{
	display: block;
	margin: 8px;
	padding: 16px 0;
	text-align: center;
	border: 1px solid #349CEE;
	border-radius: 4px;
}
.addTeamMember img{
	display: inline;
	height: 16px;
	vertical-align: bottom;
}
.addTeamMember .text{
	display: block;
	font-size: 16px;
	color: #349CEE;
	line-height: 1;
}
.addTeamMember .subtext{
	margin-top: 8px;
	font-size: 12px;
	color: #999;
}
.btn-submit, .btn-info, .btn-warn{
	display: block;
	margin: 16px 8px 8px;
	background-color: #349CEE;
}
.btn-info{
	color: #349CEE;
	background-color: #fff;
}
.btn-info:after{
	border-color: #349CEE;
}
.btn-warn{
	color: #E64340;
	background-color: #fff;
}
.btn-warn:after{
	border-color: #E64340;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
	background-color: #4b9dff;
}