/*账户*/
.accountContainer{
    width: 100%;
    height: 100%;
    padding-top:20px;
    overflow-y: auto;
    background: #fff;
}
.import-msearch{
    margin:0 auto 20px;
}
.accountContainer h3{
    margin:20px 70px 16px;
    text-align: center;
    height: 44px;
    position: relative;
}
.accountContainer h3 span{
    display: block;
    height: 44px;
    line-height: 44px;
    color: #cccccc;
    font-size: 23px;
    width: 71px;
    background: #eeeeee;
    margin: 0 auto;
}
.accountContainer h3 .account-user{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.account-user img{
    display: block;
    width: 100%;
}
.account-shop label {
    height: 39px;
    line-height: 39px;
    float: left;
    font-size: 16px;
}
.account-shop{
    width: 250px;
    float: left;
    height: 39px;
}
.account-shop select {
    width: 65%;
    height: 39px;
    /* padding: 10px 0; */
    border: 1px solid #a58f64;
}

.import-msearch .search-text{
    width: 368px;
    height: 39px;
    border: 1px solid #a58f64;
    text-indent: 10px;
    vertical-align: middle;
    margin-right: 20px;
}
.import-msearch .btn{
    height: 39px;
    width: 80px;
    background:#a58f64;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.accountContainer .account-detail{
    margin:0 70px 20px;
}
.account-detail table{
    margin-bottom:0;
}
.account-detail table tr th{
    border:0;
    background-color: #a58f64 !important;
    color: #fff;
    text-align: center;
    font-size: 19px;
    height: 43px;
    line-height: 43px;
    padding: 0;
}
.account-detail table tr td{
    border: 0 none;
    color: #333333;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.pageview{
    text-align: center;
}
/*.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
    background-color: #337ab7;
    border-color: #337ab7;
    color:#fff;
}*/
.bars{
    text-align: center;
    float: none !important;
}
.pagination-detail{
    display: none;
}
.fixed-table-pagination .pull-right{
    width: 100%;
    text-align: center;
}
.page-first,.page-last{
    display: none !important;
}
