.myForm{
	padding: 1rem 2rem;
}
.myTitle{
	display: block;
	background-color: #353b53;
	font-size: 2rem;
	padding: 1rem 0 1rem 3.8rem;
}
.myTitle .fa-close{
    font-size: 2.8rem;
    margin-right: 1rem;
}
.explain{
	display: inline-block;
	font-weight: normal;
}
.myFormInline{
	display: inline-block;
	width: 150px;
	margin-right: 5px;
}

.article{
	display: flex;
	height: 70px;
	margin-top: 10px;
}
.articleSelect{
	display: block;
	text-align: center;
	width: 70px;
	padding-top: 25px;
	background-color: #fff;
	color: #faba03;
}
.articleContent{
	display: flex;
	flex: 1;
	align-items: center;
	padding: 10px;
	background-color: #f9f9f9;
}
.articleTitle{
	display: block;
	flex: 1;
	height: 100%;
	padding-left: 10px;
	font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
/* 加载更多 */
.loadMore{
	display: block;
	padding: 10px 0 0;
	text-align: center;
}
.loadMore .loadMoreText{
	text-decoration: underline;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.loadMoreText:hover{
	color: #00d2e7;
}
.payContent{
	display: block;
	padding: 10px 24px;
	border-top: 1px solid #efefef;
}

.myForm .form-group label{
	display: block;
}

#tips{
    padding: 15px;
	font-weight: normal;
}
.errow{
	border: 1px dotted #cc5965;
}
.tipinfo{
	font-size: 13px;
	color: #eb0000;
}
.empty{
	display: none;
}
