body{
  background: #fff;
  width: 100%;
}
.wrapper-main{
  padding:10px;
  //width: 100%;
}
.layui-form-label{
  width:auto;
  padding:9px 0;
  min-width: 100px;
  text-align: right;
}
.main{
  border-top: 2px solid #009688;
}
.layui-table-view{
  margin: 0;
}
.fr{
  float: right;
}
.mb10{
  margin-bottom: 10px;}
.tac{
  text-align: center;}
.addDemo{
  width:850px;
  margin: 25px;
  display: none;
  height:350px;
}
.recommendUserTip{
  .layui-form-item{
    margin-bottom: 0;
  }
  .layui-input-block{
    margin-left: 0;
    padding-right:10px;
  }
  label{
    display: block;
    line-height:38px;
  }
}
.autoBox{
  margin-right: 90px;
  button{
    position: absolute;
    top: 0;
    right: -90px;
    width: 90px;
    padding: 0;
    text-align: center;
  }
  input{

  }
}
.layui-layer-btn .layui-layer-btn0{
  background: #009688!important;
  border-color:#009688!important;
}

.layui-laypage{
  float: right;
}
.header{
  .btn-box{
    padding:9px 10px 8px 10px;
    border-bottom:1px solid #ddd;
    background: #f2f2f2;
  }
  .layui-form-item{
    margin-bottom: 0;
  }
  .layui-input-block{
    margin-left: 0;
    padding-right:10px;
  }
  label{
    display: block;
    line-height:38px;
  }
  &_ul{
    padding:10px;
  }
  margin-bottom:20px;
}
#addBtn{
  padding:0 20px;
}
.layui-form-item{
  clear: none;
}
.layui-form-selected dl{
  max-height: 200px;
}
.layui-form-checked[lay-skin=primary] i {
  border-color: #019688;
  background-color: #019688;
  color: #fff;
}
.layui-form-radio i:hover, .layui-form-radioed i{
  color: #019688;
}
.layui-disabled, .layui-disabled,.layui-disabled, .layui-disabled:hover{
  color: #333!important;
}