.shipin_xiala{width: 350px; height: auto; background: #fff; box-shadow:0px 0px 5px rgba(136,136,136,0.5);  position: absolute; top: 40px; right: 0px; z-index: 999}
.shipin_zhezhao{width: 140px;height: 84px; background: #000; opacity: 0.5; position: absolute; top: 0px; z-index: 1}
.shipin_liebiao{width: 350px; height: 84px;z-index: 999; margin:20px 0 20px 20px;cursor: pointer;}
.shipin_liebiao h2,.shipin_liebiao p{color: #999}
.shipin_liebiao h2{position: absolute; top: 30%;left: 10%; color: #fff; font-size: 2rem; z-index: 999; font-weight: bold;}
.shipin_liebiao p{position: absolute; top: 60%;left: 10%; color: #fff; font-size: 1.2rem; z-index: 999;}
.shipin_sp_bofang{width: 20%;position: absolute;z-index: 999; top: 38%; left: 76%}
.shipin_txt{position: absolute;width: 150px;height: 50px;left: 130px;}
.shipin_txt h3{color: #333; font-size: 3rem; position: absolute; top: 15px; left: 40px}
.shipin_txt p{color: #333; font-size: 1.5rem; position: absolute; left: 46px; top: 50px}