html,
body {
	display: block;
	/* max-width: 750px; */
	margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color:#69CDDC;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

#zxCityGiftBox {
    width: 100%;
    overflow: hidden;
}

.giftBTitle {
    height: 0.8rem;
    line-height: 0.8rem;
    padding-left: 0.24rem;
    font-size: 0;
}

#giftBTitIcon {
    height: 0.4rem;
    width: 0.4rem;
    vertical-align: middle;
    margin: 0.16rem 0.1rem 0 0;
}

#giftBTitTxt {
    font-size: 0.34rem;
    color: #fff;
}

.giftAdvertiBox {
    /* padding: 0 0.6rem; */
}
.giftAdvertiBox1{
    padding-left: 0.7rem;
    padding-right:0.2rem; 
}
#giftAdverti {
    width: 100%;
}

#registerBox {
    margin-top: 0.48rem;
}

.registerInpBox {
    width: 100%;
    text-align: center;
    position: relative;
}

.registerTit {
    position: absolute;
    top: -0.4rem;
    left: 50%;
    margin-left: -1.5rem;
    font-size: 0;
}

.registerTit span {
    display: inline-block;
    background: url(../image/zcxhzc@2x.png) no-repeat;
    width: 3.0rem;
    height: 0.8rem;
    line-height: 0.62rem;
    font-family: SourceHanSansCN-Regular;
    background-size: 3.0rem auto;
    font-size: 0.34rem;
    color: #fff;
}

#registerInpArea {
    display: inline-block;
    width: 6.08rem;
    height: 3.05rem;
    background-color: #b1dce3;
    border-radius: 0.15rem;
    font-size: 0;
}

#registerInpArea .bg-white {
    width: 5.2rem;
    height: 1.7rem;
    margin: 0.74rem auto;
    background-color: #ffffff;
}

#registerInpArea .bg-white .l_con {
    width: 1.44rem;
    height: 1.07rem;
    float: left;
    font-size: 0.36rem;
    margin: 0.32rem 0.29rem;
    color: #fff;
    position: relative;
    
    background: url(../image/qmx_share_yundianbg.png) center center no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.font32px {
    font-size: 0.32rem;
     align-self: center;
     margin-left: 0.35rem;
}

.yellow {
    text-align: center;
    color: #ffcf5c;
    font-size: 0.24rem;
    margin: 0.2rem 0;
}

#registerInpArea .bg-white .l_con .big_amount {
    font-size: 0.56rem;
}

#registerInpArea .bg-white .r_con {
    width: 2.6rem;
    height: 100%;
    float: left;
    text-align: left;
    margin-left: 0.34rem;
    border-left: 1px dashed #FE9C50;
}
#registerInpArea .bg-white .r_con .title {
    width: 100%;
    margin-top: 0.2rem;
    height: 0.3rem;
    color: #333;
    font-size: 0.28rem;
    line-height: 0.3rem;
    text-align: center;
}
#registerInpArea .bg-white .r_con .info {
    width: 100%;
    height: 0.3rem;
    line-height: 0.3rem;
    margin-top: 0.1rem;
    text-align: center;
    color: #ec2f38;
    font-size: 0.28rem;
}
#registerInpArea input[type="text"] {
    height: 0.8rem;
    border-radius: 0.1rem;
    border: 0;
    font-size: 0.3rem;
    background-color: #ffffff;
    color: #999999;
    padding-left: 0.2rem;
    box-sizing: border-box;
}

#registerTel,
#getRegisterBox {
    width: 80%;
}

#registerTel {
    margin-top: 0.58rem;
}

#getRegisterBox {
    margin-top: 0.3rem;
    margin-left: 0.6rem;
}

#registerIdentify {
	width: 50%;
}

#getIdentify {
    width: 45%;
    height: 0.8rem; 
	line-height: 0.8rem;
	border: 0;
	border-radius: 0.1rem;
	margin-left: 5%;
	background-color: #FC8584;
	font-size: 0.3rem;
	text-align: center;
	color: #ffffff;
}
.zhezhao{
    opacity: 0.4;
}
#getGiftBtn {
    text-align: center;
    width: 100%;
    margin-top: 0.7rem;
    font-size: 0;
}

#getGiftBtn span {
    display: inline-block;
    font-size: 0.38rem;
    color: #ffffff;
    background-image: url(../image/lijizhuce@2x.png);
    background-repeat: no-repeat;
    -webkit-background-size: auto 1.0rem;
    background-size: auto 1.0rem;
    height: 1.0rem;
    line-height: 0.9rem;
    width: 5.3rem;
}
/*弹框样式*/
.layui-m-layerchild {
    width: 70%!important; 
    max-width: 70%!important;
    font-size: 0.3rem!important;
    border-radius: 0.15rem!important;
}
.layui-m-layerbtn {
    border-radius: 0.15rem!important;
}
.layui-m-layerbtn span {
    font-size: 0.3rem!important;
}
.layui-m-layercont {
    height: 0.7rem!important;
    line-height: 0.7rem!important;
}
.layui-m-layerbtn {
    height: 0.7rem!important;
    line-height: 0.7rem!important;
}
.hidden{
    display: none;
}
.Libao{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 0rem;
    font-size: 0.5rem;
}
.zhuce{
    width: 3.76rem;
    height: 1.78rem;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 13% auto;
}
.success{
    font-family: SourceHanSansCN-Regular;
    font-size: 0.36rem;
    color: #ec8477;
    line-height: 1.78rem;
}