* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  height: 100%!important;
}
.right {
  float: right;
}
.h100 {
  height: 100px!important	;
}
.h30 {
  height: 30px!important	;
}
.h4 {
  height: 40px;
}
.topcontrol {
  width: 100%;
  background: #EDEDED ;
  margin: 0;
  padding-right: 20px;
  padding-top: 5px;
}
.topcontrol .searchbutton {
  float: left;
  margin-left: 10px;
}
.searchform {
  display: none;
  margin-top: 0;
  padding-left: 10px;
  height: 50px;
  padding-top: 5px;
  padding-left: 20px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  position: relative;
  margin-bottom: 10px;
}
.searchform #searchbtn {
  background: #049FE8 ;
}
.searchform #resetbtn {
  color: #049FE8 ;
}
.searchform div {
  margin-right: 10px;
}
.searchform .inputhidden {
  float: right;
  margin-right: 30px;
  color: #00A2E6 ;
  font-size: 35px;
  position: relative;
  font-weight: bold;
}
.searchform .inputhidden .iconlft {
  position: absolute;
  top: 10px;
  right: 0;
}
#demo111 {
  padding: 20px;
  display: none;
}
#demo111 p {
  margin-top: 10px;
}
#demo111 .groupimg {
  height: 70px;
  line-height: 70px;
}
#demo111 .title {
  padding-left: 10px;
  border-left: 2px solid #65A5E6;
}
