.h100{
	height: 100px!important	;
}
.h30{
	height: 30px!important	;
}
.flex{
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	height: 100%!important;
}
.p4{
	padding: 4px 10px;
}
.common-container{
	width: 100%;
	padding: 10px;
}
.common-container .layui-form{
	width: 70%;
	height: auto;
	margin: 30px 50px;
}
.common-container .layui-form .new-sollt{
	width: 100%;
	height: auto;
	position: relative;
	padding: 10px 0;
}
.new-sollt h4{
	background: #fff;
	display: inline-block;
	position: absolute;
	color:#00a0ea;
	font-size: 16px;
	top: 3px;
	padding: 0 5px;
}
.new-sollt .layui-form-item{
	border-top: 1px solid #dfdfdf;
	padding: 20px 0;
}
.new-sollt .layui-form-item .layui-input-block{
	display: inline-block;
	float: left;
	margin: 0;
}
.tip{
	display: inline-block;
	padding: 10px;
	margin-left: 50px;
	color:#7c7c7c;
}
.layui-form-switch{
	width: 55px;
}
.layui-form-switch i{
	top:2px;
}