.acve{
    background: #f3f3f3;
}
.changeinfo{
    cursor: pointer;
}
table td:nth-child(2){
    width: 600px;
    text-align: left !important;
}
table td.areaname a{
    margin-left: 260px;
    cursor: pointer;
}
table td.areaname1 a{
    margin-left: 280px;
    cursor: pointer;
}
table td.areaname2 a{
    margin-left: 300px;
    cursor: pointer;
}
table td.areaname3 a{
    margin-left: 320px;
    cursor: pointer;
}
.tablehegt{
    height:500px ;
    overflow-y: auto;
}