@CHARSET "UTF-8";
.main-content .recording-module{
    margin-bottom:1.875rem;
}

.recording-module .module-inner{
    height:16.5rem;
    background-color:#fff;
}
.module-inner .module-title{
    color: #333;
    padding:.875rem 1.5rem;
    text-align: right;
}
.recording-module a {
    color: #fe6869;
}

.recording-module .color-grey {
  display: block;
  color: #999;
}
.recording-module p{
    margin-bottom:0;
}
.recording-module .item .sub-title{
    color:#666;
}
.module-1 .module-con .bar-chart,
.module-2 .module-con .bar-chart {
  width:96%;
  height: 12rem;
  margin:0 auto;
}

.module-3 .module-con .item,
.module-5 .module-con .item,
.module-6 .module-con .item,
.module-7 .module-con .item,
.module-8 .module-con .item{
  padding-left: .75rem;
  margin-bottom:2rem;
}
.module-4 .module-con .item{
    padding-left: .75rem;
    margin-bottom:1rem;
}

.module-3 .dividing-line,
.module-4 .dividing-line,
.module-5 .dividing-line,
.module-6 .dividing-line {
  border-right: 1px solid #ccc;
}

.module-6 .module-con .count-num,
.module-7 .module-con .count-num {
  margin-top: .75rem;
}
.module-5 .module-con,
.module-6 .module-con {
  margin-top: .75rem;
  padding-left: 1.5rem;
}
.module-5 .item + .item,
.module-6 .item + .item {
  margin-top: 2rem;
}
.module-5 .item p,
.module-6 .item p,
.module-7 .item p{
  font-size: 1.25rem;
}
.module-2 .item:first-child p {
  font-size: 1.5rem;
  color: #fe6869;
}
.nodata{
    text-align: center;
    color:#ccc;
}
