body,html{
    margin: 0;
    width: 100%;
    height: 100%;
}

#openApp{
    height: 0.5rem;
    background-color: #343338;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.15rem;
    padding: 0 0.12rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 0.24rem);
    z-index: 9999;
}

#openApp #infoBox{
    font-weight: bold;
    font-size: 0.16rem;
    display: flex;
    align-items: center;
}

#openApp #logo{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.1rem;
}

#openApp #open{
    width: 0.6rem;
    height: 0.25rem;
    line-height: 0.25rem;
    border-radius: 0.125rem;
    border: solid 0.01rem #ffffff;
    text-align: center;
}

#model{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9999;
    color: #333333;
    padding: 0.3rem 0 0 1rem;
    width: calc(100% - 1rem);
    background: url(../images/line.png) no-repeat 96% 0.2rem;
    background-size: 0.7rem 0.58rem;
    padding-bottom: 0.5rem;
    background-color:#ffffff;
}

#model div{
    display: flex;
    align-items: center;
    height: 0.5rem;
}

#model img{
    margin-left: 0.15rem
}

#dot{
    width: 0.3rem;
    height: 0.3rem;
}

#broswer{
    width:1.4rem;
    height:0.3rem
}

#shade{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}