::-webkit-scrollbar{
    display: none;
}
html,
body {
    overflow-x: hidden;
}
.content {
    padding-top: 10px;
    padding-bottom: 10px;
}
.hasInputFile .well {
    cursor: pointer;
    min-height: 96px;
}
.hasInputFile img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.hasInputFile .progressContent {
    display: none;
}