body {
  background-color: #f3f3f4;
}
.clearfix::after {
  content: " ";
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
/**title和关闭按钮*/
.header {
  width: 100%;
  height: 40px;
  background-color: #5e637a;
  line-height: 40px;
  padding: 0 10px 0 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.header > span {
  float: left;
  color: #FFFFFF;
  font-size: 14px;
}
.header > i {
  float: right;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}
/**路径显示和tabNav按钮*/
.path-radio {
  width: 100%;
  height: 55px;
  line-height: 54px;
  background-color: #fff;
  padding: 0 20px;
  margin-top: 40px;
}
.path-radio .path {
  float: left;
  font-size: 16px;
  color: #333333;
}
.path-radio .path i {
  font-family: SimSun;
  font-weight: 700;
}
.path-radio .radioBtn {
  float: right;
}
.path-radio .radioBtn ul li {
  float: left;
  margin-left: 20px;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}
.path-radio .radioBtn ul li i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 10px;
}
.path-radio .radioBtn ul li.active i {
  border: 6px solid #1e9fff;
}
/**商品基本信息和销售概况*/
.baseInfo-overview ul li {
  float: left;
  height: 130px;
  background-color: #fff;
  border: 1px solid #dddddd;
  margin: 20px;
}
.baseInfo-overview ul li:nth-of-type(1) {
  width: 38.5781%;
  min-width: 660px;
}
.baseInfo-overview ul li:nth-of-type(1) img {
  float: left;
  width: 100px;
  height: 100px;
  margin: 15px;
}
.baseInfo-overview ul li:nth-of-type(1) div {
  float: left;
  margin-top: 20px;
}
.baseInfo-overview ul li:nth-of-type(1) div p {
  font-size: 14px;
  margin-bottom: 10px;
}
.baseInfo-overview ul li:nth-of-type(1) div p label {
  color: #999999;
}
.baseInfo-overview ul li:nth-of-type(1) div p span {
  color: #333333;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
.baseInfo-overview ul li:nth-of-type(1) div p b {
  color: #ff3030;
}
.baseInfo-overview ul li:nth-of-type(2) {
  width: 27.27%;
  min-width: 390px;
}
.baseInfo-overview ul li:nth-of-type(2) div:nth-of-type(1) {
  float: left;
  margin: 20px 0 0 20px;
}
.baseInfo-overview ul li:nth-of-type(2) div:nth-of-type(1) P {
  font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
}
.baseInfo-overview ul li:nth-of-type(2) div:nth-of-type(1) b {
  font-size: 26px;
  color: #fca259;
  margin-top: 20px;
}
.baseInfo-overview ul li:nth-of-type(2) div:nth-of-type(2) {
  float: right;
  font-size: 14px;
  color: #666666;
  margin: 20px 20px 0 0;
}
.baseInfo-overview ul li:nth-of-type(3) {
  width: 27.27%;
  padding: 20px;
  min-width: 390px;
}
.baseInfo-overview ul li:nth-of-type(3) p {
  font-size: 16px;
  color: #666666;
}
.baseInfo-overview ul li:nth-of-type(3) h4 {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  margin: 10px 0;
}
.baseInfo-overview ul li:nth-of-type(3) h5 {
  font-size: 14px;
  color: #666666;
}
.baseInfo-overview ul li:nth-of-type(3) h5 label {
  float: left;
}
.baseInfo-overview ul li:nth-of-type(3) h5 span {
  float: right;
}
/**商品销量走势*/
.trendBox {
  padding: 0 20px;
}
.trendBox > div {
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 1px solid #dddddd;
}
/**报表部分*/
.reportTable {
  padding: 0 20px;
  margin: 20px 0;
}
.reportTable .title-export {
  height: 55px;
  line-height: 55px;
  background-color: #fff;
  padding: 0 20px;
}
.reportTable .title-export .title {
  float: left;
  font-size: 15px;
  color: #333333;
}
.reportTable .title-export .export {
  float: right;
}
.reportTable .title-export .export a {
  display: inline-block;
  width: 80px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #dddddd;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
.reportTable .title-export .export a i {
  display: inline-block;
  width: 24px;
  height: 23px;
  vertical-align: -6px;
  background: url("../../../assets/common/img/exportIcon.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.reportTable .tableBox {
  padding: 0 20px;
  background-color: #fff;
}
.reportTable .tableBox table {
  margin: 0;
}
.reportTable .pageBox {
  width: 100%;
  height: 55px;
  background-color: #fff;
  padding: 0 20px;
}
.reportTable .pageBox > div {
  float: right;
}
/*# sourceMappingURL=inShopSaleDetail.css.map */