/* ----------------修改引入的css---------------------------- */
.nav-tabs{
	border-color: transparent;
}
.nav-tabs>li>a {
	background-color: #f3f3f4;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border-color: transparent;
	background-color: #23c6c8;
	color: white;
}
.btn-white, .btn-white.active, .btn-white:hover, .btn-white:active,.btn-white:visited{
	color: #333;
}
/* ----------------------------增加本页面的css----------------------------- */
.nav-top{
	padding: 1rem 0 0 2rem;
}
.table-tool-content{
	padding: 0 2rem;
	border-bottom: 1px solid #efefef;
}
.table-tool-content .table-tool{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.table-tool-content .table-content{
	padding-top: 15px;
	padding-bottom: 1rem;
}
.table-title{
    display: inline-block;
	padding: 6px 12px 6px 0;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	line-height: 1.5;
	user-select: none;
}

span.table-title.yellow-bg {
    padding-left: 10px;
}

.table-cell-text{
	display: inline-block;
	min-width: 30px;
}
.fixed-table-loading{
	line-height: 35px;
}
.table-cell-tips{
	position: absolute;
	line-height: 1rem;                                                                                                                                                                                                                                                                                   
	font-size: 0.5rem;
	padding: 0.25rem 0.5rem;
	margin-left: 0.25rem;
}
.table-ellipsis{
	position: absolute;
}
.chart-content>div{
	padding-left: 3rem;
	padding-right: 3rem;
}
.table >tbody >tr:hover,.table >tbody >tr:hover .text-info{
	background-color: #29C3CD;
	color :#fff;
	cursor: pointer;
}

.no-records-found:hover{
	background: #f9f9f9 !important;
	color: #666 !important;
}

.table-tool-content {
     border-bottom: 0; 
}