.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.formContent>div{
	margin-top: 1rem;
}
.formContent label{
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.formContent span{
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.formContent a{
	text-decoration: underline;
}
.chartContent{
	display: block;
	height: 200px;
	margin-top: 1rem;
}

.myForm{
	padding: 1rem 2rem;
}
.myTitle{
	display: block;
	background-color: #353b53;
	font-size: 2rem;
	padding: 1rem 0 1rem 3.8rem;
}
.myTitle .fa-close{
    font-size: 2.8rem;
    margin-right: 1rem;
}