/*公共部分*/
.h100{
	height: 100px!important	;
}
.h100p{
	height: 100%!important;}
.w30p{
	width: 30%!important;
}
.h30{
	height: 30px!important	;
}
.p5{
	padding: 5px!important;
}
.p05{
	padding: 0 5px!important;
}
.fs12{
	/* font-size: 12px!important; */
}
.flex{
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	height: 100%!important;
}
.h28{
	height: 28px!important;
}
.h144{
	height: 144px!important;
	line-height: 144px!important;
}
.b6{
    position: relative!important;
    bottom: 6px!important;
}

/*end*/
#app {
	/* padding:0px 20px; */
}
#common-tool{
	/* height: 40px; */
	background-color: #F8F7F7;
	border-top: 1px solid #DCDCDC;
	border-bottom:1px solid #DCDCDC;
}

#common-tool .search-ul{
	
}
#common-tool .search-ul .search-li{
	margin-right: 48px;
	float: left;
	border-bottom: 2px solid transparent;
	transition: all .3s;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
}
#common-tool .search-ul .search-li:hover{
	/* border-bottom: 2px solid #02a0ea; */
	/* color: #02a0ea; */
	background: #1E9FFF;
	color: #fff;
}
#common-tool .search-ul .search-li.act{
	/* border-bottom: 2px solid #02a0ea;
	color: #02a0ea; */
	background: #1E9FFF;
	color: #fff;
}
/*仿表格开始*/
#con{
	/* width: 1000px; */
	margin-top: 15px;
	padding:10px;
	/* border: 1px solid #e5e5e5; */
}

#con>ul{
	float: left;
}
#con>ul.left-con{
	width: 260px;
}
#con>ul.right-con{
	width: calc(100% - 260px);
}
#con li{
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #e5e5e5;
	border-width: 1px 1px 0 1px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
#con>ul.right-con li{
	border-width: 1px 1px 0 0;
	padding: 6px 10px;
}
/* #con>ul.right-con li input,
#con>ul.right-con li select{
	margin: 6px 0 0 0;
} */
#con li:last-child,
#con>ul.right-con li:last-child{
	border-width: 1px 1px 1px 1px;
}
/* .contable{
	border-bottom: 1px solid #e5e5e5;
} */
#con li.thead{
	background-color: #f4f4f4;
}
#con li.thead.l{
	text-align: center;
	/* font-weight: 700; */
}
#con li.thead.r{
	text-align: right;	
	padding:0 10px 0;
}
#con li.thead.r>a{
	margin-right: 20px;
	color: #1E9FFF;
}
#con li.thead.r>button{
	width: 68px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
    position: relative;
    top: -2px;
}
#goHistory{
	cursor: pointer;
}

.search-con{
	padding: 10px 25px;
}