body,html{
	height:100%!important;
}
.clearfix:after{
	content: '.';
	display: block;
	font-size: 0;
	height:0;
	clear: both;
}
.layui-form{
	padding-top:35px;
}
.layui-form-item{
	float:left;
}
.layui-input-block{
	width:250px;
}
.layui-btn{
	float:left;
	margin-left:20px;
}
#eChart{
	padding-top:30px;
	width:1400px;
	height:700px;
	margin:0 auto;
}
