/* 
* @Author: Marte
* @Date:   2017-05-09 10:53:31
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-17 15:31:04
*/

.table th,
.table td {
	text-align: center;
	vertical-align: middle!important;
}

.m5 {
	margin: 0px 5px;
}

.p-20 {
	padding: 20px 0;
}

.lh34 {
	line-height: 34px;
}

.green {
	color: #23ad44;
}

.red {
	color: #f05050;
}

.remove-modifier {
	cursor: pointer;
}

.paging-number {
	font: normal 14px/34px 'MicrsoftYaHei';
}

li.paging-number div {
	display: inline-block;
}

.input-group .input-group-addon {
	width: 100px;
	text-align: right;
	border: 0 none;
	background-color: transparent;
}

.input-group button.btn-parameter {
	width: 450px;
}

.add-users {
	width: 200px;
	height: 45px;
}

#body-box .input-group {
	width: 100%;
	;
}

#body-box .input-group.serach input {
	width: 196px;
	float: left;
}

.modal-dialog .modal-footer {
	transition: all .3s;
}

.modal-dialog .modal-footer:hover {
	background-color: #f1f1f1;
}


/*=======================================================================================================================================*/

.delete-parameter {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	width: auto;
	margin-top: 11.5px;
}
#changeAudit .input-group-addon>i.xh{
	color: red;
    font-size: 22px;
    position: relative;
    left: -3px;
    top: 6px;
}
#changeAudit .input-group.area>span{
	width: 120px;
}
#changeAudit .input-group.area>textarea{
	width: 500px;
	height: 200px;
}
#content{
	width: 100%;
}
#tbodyParameter td.red{
	color:red;
}
#content table.table-bordered{
	border-left-width: 0px;
	border-right-width: 0px;
}
#infoAudit .input-group-addon>i.xh{
	color: red;
	font-size: 22px;
	position: relative;
	left: -3px;
	top: 6px;
}
#infoAudit .input-group.area>span{
	width: 120px;
}
#infoAudit .input-group.area>textarea{
	width: 500px;
	height: 200px;
}
#feedbackStatu{
	color: #555;
	height: 26px;
	line-height: 26px;
}
.advice-search{
	margin: 35px 0;
	padding: 0 35px;
}
.advice-search>div{
	display: inline-block;
	margin-right: 20px;
	float: left;
}
.advice-search .btn{
	margin-left: 10px;
	width: 100px;
}
.advice-table{
	padding:0 35px;
}
.advice-table table .btn{
	padding: 3px 10px;
	border-radius: 0;
}
.advice-table table th{
	height: 42px !important;
	line-height: 42px !important;
	padding: 0 !important;
}
.advice-table table td{
	height: 26px !important;
	line-height: 26px !important;
	padding: 0 !important;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border:1px solid #ddd;
}
.remove-modifier .info,.remove-modifier .reply{
	padding: 7px 0;
}
.advicepage{
	padding: 0 35px;
}
.delete-parameter i{
	font-size: 18px;
	float: left;
}
select.form-control {
	width:163px !important;
}
.dismark:focus {
	border-color: #ccc;
	outline: 0;
	box-shadow: none;
}
#modal-tbody >tr>td:nth-of-type(1){
	width: 120px;
	font-weight: bold;
}
#modal-tbody >tr>td:nth-of-type(2){
	text-align: left;
}