@import 'style.css'
$testColor: red

*
    margin: 0
    padding: 0

body 
    color: $testColor
    >div 
        display: flex
        flex: 1
        color: blue
        transition: all 1s ease
    div
        font-size: 144px