$base-size:16px;
$base-color:#333333;
$bg:#f3f3f3;
$white:#fff;
$main-color:#26c3b2;
$second-color:#f8ab59;
.main-color{
  color: $main-color;
}
.main-color-bg{
  background: $main-color;
}

.ml25{
  margin-left: 25px;
}
.layui-input, .layui-select, .layui-textarea,.layui-table-cell{
  height: 35px;
  line-height: 35px;

}
.layui-btn{
  font-size:$base-size;
  border-radius: 3px;
}
.layui-form-label{
  padding:7px 15px;
}
.layui-table-view .layui-table{
  width: 100%;
}
.layui-table-view .layui-table td, .layui-table-view .layui-table th{
  padding:10px 0;
  font-size:$base-size;
}
.layui-table thead tr{
  background: $main-color;
  color: $white;
}
.layui-table tbody tr:hover, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool{
  background: $bg;
}
.layui-form-select dl dd.layui-this{
  background: $main-color;
}
.layui-form-select .layui-input{
  padding-right: 0;
}
.layui-btn .layui-icon{
  margin-right: 0;
}
.layui-btn-sm i{
  font-size: 22px!important;
}
.layui-table-body,.bg-white{
  background: $white;

}
.layui-table, .layui-table-view{
  margin: 0;
}
.layui-laypage{
  float: right;
  padding-right: 10px;
}
.layui-layer-btn .layui-layer-btn0{
  background-color:$main-color!important;
  border-color: $main-color!important;;


}
.fr{
  float: right;
}
.fl{
  float: left;}

body,html{
  width: 100%;
  overflow-x: hidden;
}
body{
  font-size:$base-size;
  color:$base-color;
  background: $bg;
}
.main-wapper{
  //width: 100%;
  height: auto;
  padding:0 10px;
}
.hearder{
  background: $white;
  ul{
    //overflow: hidden;
    padding-top: 15px;
  }
  li{
    float: left;
  }
}
.main{
  padding:0 50px;
  .btn-box{
    padding:18px 0;
    button{
      padding:0 40px;
      background: $second-color;
      line-height:44px;
      height: 44px;
    }
  }
  .table-box{

  }
}
.circle{
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: $main-color;
}

//新增模板
.addDemo{
  width: 100%;
  display: none;
  background: $white;
  text-align: center;
  margin:50px 0;

  ul{
    width: 440px;
    margin: 0 auto;
  }
  .bgf3{
    background: $bg;
    color: $base-color;
  }
  .bgf3:hover{
    color: $base-color;
  }
  .p35{
    padding:0 35px;
  }
}
//编辑模板
.editDemo{
  display: block;
}
.layui-select-disabled .layui-disabled{
  color: $base-color!important;
}

