/* 条件框样式 */
#tableCondition{
	position:relative;
	width: 100%;
	height: 54px;
	padding-top:12px;
	text-align: center;
	background-color: #FFFFFF;
}

/* 输入框样式 */
#keyword{
	display: inline-block;
	width: 281px;
	height: 30px;
	font-size: 14px;
	color:#333;
	border:1px solid #fe6869;
	padding-left:4px;
	margin-bottom:0;
	outline:none;
}

/* 查询按钮的样式 */
#btnSel{
	margin-left: 15px;
	width: 63px;
	height: 28px;
	line-height: 28px;
	padding:0;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	background-color: #FE6869;
}

/* 页面内容容器样式 */
#tableContent{
	width: 100%;
	text-align: center;
	font-size: 10px;
}

#tableContent .table{
	margin-bottom:10px;
}

/* 页面内容容器中表头 */
#customerTable th{
	font-size: 15px;
	color: #FFFFFF;
	background-color: #FE6869;
	vertical-align: middle;
}

/* 页面内容容器中表体 */
#customerTable td{
	height: 40px;
	font-size: 12px;
	vertical-align: middle;
}
#customerTable th,
#customerTable td{
	text-align: center;
}

#customerTable td .btn{
	font-size:12px;
	background-color:#fff;
}
.add-btn{
	border:1px solid #fe6869;
	color:#fe6869;

}
.remove-btn{
	border:1px solid #666;
	color:#666;
}
.pagination > li > a,
.pagination > li > span{
	font-size:14px;
	padding: 3px 8px;
	color:#fe6869;
}
