/* 条件框样式 */
#tableCondition{
	position:relative;
	width: 100%;
	height: 54px;
	padding-top:8px;
	text-align: center;
	background-color: #FFFFFF;
}

/* 关闭按钮容器样式 */
#closeDiv{
	position:absolute;
	display:block;
	top:10px;
	right: 15px;
	cursor:pointer;
}

/* 输入框样式 */
#keyword{
	width: 281px;
	height: 36px;
	border:1px solid #fe6869;
	padding-left:3px;
}

/* 查询按钮的样式 */
#btnSel{
	margin-left: 15px;
	width: 62px;
	height: 36px;
	line-height: 36px;
	padding:0;
	text-align: center;
	color: #FFFFFF;
	background-color: #FE6869;
}

/* 页面内容容器样式 */
#tableContent{
	width: 100%;
	text-align: center;
	font-size: 10px;
}

#tableContent .table{
	margin-bottom:10px;
}
/* 页面内容容器中表头 */
#customerTable th{
	font-size: 15px;
	color: #FFFFFF;
	height: 35px;
	background-color: #FE6869;
	font-weight: bold;
	vertical-align: middle;
}

/* 页面内容容器中表体 */
#customerTable td{
	height: 40px;
	vertical-align: middle;
}
.fixed-table-pagination .pull-right{
	width:100%;
	text-align: center;
}
.pagination-detail{
	display:none;
}
ul.pagination li.page-first, ul.pagination li.page-last{
	display:none;
}
