.common-containers {
    width: 100%;
    height: auto;
    text-align: center;
    overflow-x: hidden;
}
.content-body{
    width: 1380px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    padding: 40px 0 0px 0;
}
.content-body .menu-box{
    width: 220px;
    height: 140px;
    padding: 14px 0;
    background: #00a0e9;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    margin: 0 20px 40px;
    float: left;
    cursor: pointer;
    text-align: center;
}
.menu-box i{
    font-size: 60px;
    margin: 10px auto 14px;
    display: block;
}