


#head .head-nav a span {
    font-size: 20px;
    margin: 0 10px 0 0;
}
#head .head-nav a{
    cursor: pointer;
}
/*聊天*/
.navchat{
    position: relative;
}
.weachat{
   /* position: absolute;
    top: 61px;
    left: 400px;
    width: 710px;
    height: 652px;
    z-index: 55;
    background: rgba(0,0,0,0);
    overflow: hidden;*/
}
.smallicon{
    position: absolute;
    color: rgba(0,0,0,0.6);;
    top: 10px;
    left: 240px;
    cursor: pointer;
    display: inline-block;
}
.message{
    background: #ff525d;
    padding: 2px 4px 4px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: -10px;
    top: 4px;
    font-style: normal;
    border-radius: 100%;
    cursor: pointer;
    z-index: 55;
    display: none;
}
.webchaticon{
    margin-right: 10px;
}
.webclose{
    color:#fff;
    float: right;
    cursor: pointer;
    margin-right: -50px;
}
.minicon{
    top: 8px !important;
}
.minicon a{
    color:#000;
}
/**/
