<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>部门管理</title>
    <!-- CssCommon -->
    <link rel="stylesheet" href="../common/assets/hplus/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../common/assets/hplus/css/font-awesome.min93e3.css">
    <link rel="stylesheet" type="text/css" href="../common/css/reset.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../common/css/common.css" /> -->
    <link rel="stylesheet" type="text/css" href="../common/assets/layui-v2.0.1/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../common/assets/zTree_v3/css/zTreeStyle/zTreeStyle.css" />

    <!-- CssSinglepage-->
    <link rel="stylesheet" type="text/css" href="css/system_organization.css" />
    <style>
    </style>
</head>

<body>
    <div class="common-container">
        <div class="jurisdiction-content">
            <!-- <div class="jurisdiction-title">
                    <span>部门管理</span><span> 【可直接在树形结构图书进行拖动排序】</span>
                </div> -->
            <div class="jurisdiction-left">
                <div class="jurisdiction-trees">
                    <div class="trees-title">
                        <button id="openbtn" class="layui-btn layui-btn-small layui-btn-primary">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i> 展开
                        </button>
                        <button id="sqibtn" class="layui-btn layui-btn-small layui-btn-primary">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i> 折叠
                        </button>
                        <button id="addbtn" class="layui-btn layui-btn-small layui-btn-primary">
                            <i class="layui-icon">&#xe61f;</i> 添加
                        </button>
                        <button id="btnDelete" class="layui-btn layui-btn-small layui-btn-primary">
                            <i class="layui-icon">&#xe640;</i> 删除
                        </button>
                        <button id="refreshbtn" class="layui-btn layui-btn-small layui-btn-primary">
                            <i class="layui-icon">&#x1002;</i> 刷新
                        </button>
                    </div>
                    <div class="trees-box">
                        <!-- <h4>智享城市运营后台部门管理</h4> -->
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </div>
            </div>
            <div id="detailsForm" class="jurisdiction-right" v-cloak>
                <blockquote class="layui-elem-quote layui-text" v-html="title()"></blockquote>
                <div class="addcontent">
                        <div class="addcontent-table ">
                            <!-- <div class="layui-form-item">
                                <label class="layui-form-label"><b class="required-icon"></b>上级编码：</label>
                                <div class="layui-input-block">
                                    <input type="text" id="lblParentNo" class="layui-input " readonly>
                                    </input>
                                </div>
                            </div>
                            <div class="layui-form-item bitian">
                                <label class="layui-form-label"><b class="required-icon">＊</b>部门编码：</label>
                                <div class="layui-input-block">
                                    <input type="text" id="lblNo" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input " maxlength="10"
                                        data-num="0" v-model="item.no">
                                    </input>
                                </div>
                            </div> -->

                            <div class="layui-form-item bitian">
                                <label class="layui-form-label">
                                    <b class="required-icon">＊</b>部门名称：</label>
                                <div class="layui-input-block">
                                    <input type="text" id="moduleName" placeholder="请输入中文或英文" name="title" required lay-verify="required" placeholder="" autocomplete="off"
                                        class="layui-input " maxlength="10" data-num="0" v-model="item.name">
                                    </input>
                                </div>
                                <div class="tip"></div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">部门描述：</label>
                                <div class="layui-input-block">
                                    <textarea id="note" name="desc" placeholder="" class="layui-textarea" maxlength="150" v-model="item.note"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">是否对外：</label>
                                <div class="layui-input-block">
                                    <input class="checks" type="checkbox" :value="item.around" :checked="item.around == 1" @click="check($event)">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-normal" id="btnSave">
                                        保存
                                    </button>
                                </div>
                            </div>

                        </div>
                </div>


            </div>
        </div>
    </div>
    <!-- jSCommon -->
    <script type="text/javascript" src="../common/assets/hplus/js/jquery.min.js"></script>
    <script type="text/javascript" src="../common/assets/hplus/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../common/assets/layui-v2.0.1/layui/layui.all.js"></script>
    <script type="text/javascript" src="../common/js/yyCache.js"></script>
    <script type="text/javascript" src="../common/js/util/util.js"></script>
    <!-- 
        <script type="text/javascript" src="../common/js/common.js"></script>

        
        <script type="text/javascript" src="../common/js/util/pub.js"></script> -->
    <!-- jSCommon -->
    <script type="text/javascript" src="../common/assets/zTree_v3/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../common/assets/zTree_v3/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="../common/assets/zTree_v3/js/jquery.ztree.exedit.js"></script>


    <script type="text/javascript" src="../common/assets/vue/vue.min.js"></script>
    <script type="text/javascript" src="js/system_organization.js"></script>

</body>

</html>