.container-fluid {
	font-size: 16px;
	color: #666666;
}
.row {
	margin: 0 !important;
}
.subtitle {
	width: 100%;
	height: 48px;
	line-height: 48px;
	background-color: #f7f7f7;
	border-bottom: 1px dashed #e5e5e5;
	padding: 0 0 0 15px;
	margin: 0 0 15px 0 !important;
}
#upload1 {
	display: block;
	width: 250px;
	height: 250px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: url("../img/add-3.png") no-repeat center center;
	background-size: cover;
}

.form-horizontal .form-group {
	margin-right: 0 !important;
}

.verify {
	color: red;
	display: none;
	line-height: 34px;
}

.verifyInfo {
	border: 1px solid red !important;
}

.tip {
	color: red;
	padding-right: 3px;
}