.search-bar{
    margin-top: 1rem;
}

.search-bar .form-inline{
    padding-top: 0;
    padding-bottom: 0;
}

.date-wrap{
    padding:0.5rem 4.5rem 1.5rem 0;
    text-align: right;

}
.date-wrap .datetime{
    display:inline-block;
    width:8rem;
    margin-bottom:0;
    background-color: #fff!important;
    border-color: #999!important;
}
.row .small-4{
    text-align: left;
}
.row input{
    border-color: #999;
}
.row .btn-normal{
    padding-left:3.1rem;
    padding-right: 3rem;
    outline: none;
}
.row #shopName{
    border-color: #999;
    outline: none;
}
.select2-container .select2-selection--single{
    height: 2.3rem;
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 2.3rem;
    text-align: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:0.4rem;
}
#page-selection{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

}
#page-selection .ui-paging-container .js-page-first,
#page-selection .ui-paging-container .js-page-last{
    display: none;
}
#page-selection .ui-paging-container{
    font-family: SimSun;
}
.ui-paging-container li.focus, .ui-paging-container li.ui-pager:hover{
    background-color: #fe6869;
}
.ui-paging-container li{
    padding: 0.6rem 1rem;
}