.main-wrapper{
    height:100vh;
    background-color: #fff;
}
.main-title{
    background-color: #f2f2f2;
}
.main-content{
    padding:2rem;

}
.statistic-nav{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.statistic-nav .nav-item {
    width:25%;
    margin-bottom:3rem;
    text-align: center;
}

.statistic-nav .nav-item .nav-link{
    display:inline-block;
    width:5.375rem;
    height:5.375rem;
    overflow:hidden;
}
.nav-item .nav-link img{
    width:100%;
    height:100%;
}
.nav-item .title{
    display:block;
    margin-top:0.5rem;
    font-size:1.25rem;
    color:#666;
}
