.selector-box{
	position:absolute!important;
	left:4rem!important;
	top:0.75rem!important;

	background-color:#fff;
}
.select2-container{
	width:10rem!important;
}
.date-wrap{
	padding:0.5rem 4.5rem 1.5rem 0;
	text-align: right;

}
.date-wrap .datetime{
	display:inline-block;
	width:7.5rem;
	margin-bottom:0;
	background-color: #fff!important;
    border-color: #fe6869!important;
}

.store-detail .detail-item{
	display: flex;
	align-items: center;
	height:6rem;
	padding-left:2rem;
	background-color: #fff;
	margin-bottom:0.625rem;
}

.store-detail .detail-item+.detail-item{
	border-left:0.625rem solid #f2f2f2;
}

.detail-item .icon{
	display:inline-block;
	height:2.5rem;
	width:2.5rem;
	margin-right:0.5rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.detail-item .xse-icon{
	background-image: url(../image/icon_xse.png);
}

.detail-item .xhe-icon{
	background-image: url(../image/icon_xhe.png);
}

.detail-item .czje-icon{
	background-image: url(../image/icon_czje.png);
}

.detail-item .xkrh-icon{
	background-image: url(../image/icon_xkrh.png);
}

.detail-item .czrc-icon{
	background-image: url(../image/icon_czrc.png);
}

.detail-item .xbhy-icon{
	background-image: url(../image/icon_xbhy.png);
}

.detail-item .ddsl-icon{
	background-image: url(../image/icon_ddl.png);
}

.detail-item .yyrc-icon{
	background-image: url(../image/icon_yyrc.png);
}

.detail-item .dbxf-icon{
	background-image: url(../image/icon_zddbxf.png);
}
.detail-item .ddrc-icon{
	background-image: url(../image/icon_ddrc.png);
}
.detail-item .zszjz-icon{
	background-image: url(../image/icon_zszjz.png);
}
.detail-item .item-tit{
	display:block;
	font-size: 1.125rem;
	color:#333;
}

.detail-item .item-num{

}
#xseNum{
	color:#8cbeec;
}
#xheNum{
	color:#977ad4;
}
#czjeNum{
	color:#fe8590;
}
#xkrhNum{
	color:#59c3ea;
}
#czrcNum{
	color:#f5939d;
}
#xbhyNum{
	color:#89ecbe;
}
#ddslNum{
	color:#977ad4;
}
#yyrcNum{
	color:#75e3df;
}
#zddbxfNum{
	color:#8cbeec;
}
#ddrcNum{
	color:#f8b92b;
}
#zszjzNum{
	color:#ffd2d4;
}

/**all store*/
.statistics-bar {
	text-align: center;
	margin: 30px 0 20px;
}
.statistics-bar .consumetotal, .statistics-bar .salestotal {
	display: inline-block;
	width: 220px;
	border-radius: 35px;
	height: 70px;
	color: #FFFFFF;
	text-align: center;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.statistics-bar .consumetotal {
	background-color: #f6cd64;
}
.statistics-bar .consumetotal:hover{
	background:rgb(250,190,100);
}
.statistics-bar .salestotal {
	background-color: #cc9fe2;
	margin-left: 30px;
}
.statistics-bar .salestotal:hover{
	background-color: rgb(200,130,220);
}
.statistics-bar .consumetotal span, .statistics-bar .salestotal span {
	display: block;
}
.statistics-bar .consumetotal .total, .statistics-bar .salestotal .total {
	font-size: 18px;
	line-height: 30px;
	margin-top: 10px;
}
