.account-wrap {
	position: relative;
}

.account-item {
	margin: 10px 0;
}

.account-item .account-item-gt,
.account-item .account-item-gd {
	float: left;
	padding: 6px 0;
}
.account-item .account-item-gt {
	width: 152px;
}
.account-item .account-item-gd {
	position: relative;
	width: calc(100% - 152px);
	color: #999;
}
.account-item .modify {
	position: absolute;
	display: block;
	right: 80px;
	top: 3px;
	color: #999;
	font-size: 18px;
}
.account-item .account-img {
	float: left;
}
.account-item .account-gl {
	float: left;
	margin-left: 26px;
	padding-top: 4px;
}
.account-item .account-btn {
	min-width: 72px;
	background-color: #e5e5e5;
	padding: 2px 6px;
	color: #999;
}
.account-item .account-sign {
	margin-top: 10px;
	line-height: 30px;
}
.account-submit {
	width: 134px;
}