.comment {
	padding: 14px;
	border: 1px solid #E5E5E5;
	margin-bottom: 15px;
}
.comment .comment-face {
	float: left;
	width: 52px;
	height: 52px;
}
.comment .comment-content {
	margin-left: 62px;
}
.comment .comment-name,
.review .review-title {
	color: #ff8b6f;
	font-size: 16px;
}
.comment .comment-date {
	color: #999999;
	float: right;
}
.comment .comment-desc,
.review .review-desc {
	padding: 5px 0;
	font-size: 16px;
}
.comment .comment-newstitle {
	padding: 2px;
	background-color: #f5f5f5;
	color: #999;
}
.comment .comment-newstitle a {
	color: #7cbae5;
}
.comment .comment-tags {
	margin-top: 12px;
}
.comment .comment-tags .tags {
	color: #999;
	margin-right: 20px;
}
.comment .comment-tags .tags .fa {
	font-size: 16px;
	margin-right: 4px;
}
.comment .handle a {
	color: #7cbae5;
	margin-left: 10px;
}
.comment .handle a:hover {
	color: #f6623f;
}
.comment .handle .fa {
	font-size: 16px;
	margin-right: 4px;
}
.review {
	margin-top: 12px;
	padding-top: 8px;
	border-top: 1px solid #f5f5f5;
}
.review .review-face {
	float: left;
	width: 40px;
	height: 40px;
}
.review .review-content {
	margin-left: 50px;
}