.form-group {
	margin-top: 20px;
	clear: both;
}
.form-group .form-label {
	width: 100px;
	float: left;
	font-size: 16px;
	padding-left: 18px;
	padding-top: 8px;
}
.form-group .form-content {
	width: calc(100% - 110px);
	float: right;
	position: relative;
} 
.news .title {
	border: 1px solid #dcdcdc;
	border-bottom: none;
	position: relative;
}
.news .limit,
.videos .limit,
.atlas .limit {
	position: absolute;
	top: 50%;
	right: 20px;
	color: #999;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}
.news .newstitle {
	display: block;
	width: 100%;
	border: none;
	padding: 15px;
	font-size: 18px;
}
.addimg {
	width: 110px;
	height: 110px;
	text-align: center;
	line-height: 120px;
	background-color: #eee;	
}
.addimg .fa-plus {
	font-size: 32px;
	color: #fff;	
}
.form-sign {
    margin: 5px 0;
    color: #9E9E9E;
}
.drop {
	float: left;
}
.form-btn-wrap {
	margin: 30px 0 20px;
	padding-left: 110px;
}
.form-btn {
	position: relative;
	width: 110px;
	height: 34px;
	margin-right: 20px;
	font-size: 16px;
}
.video-wrap {
	padding: 18px 0;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;	
}
.video-btn {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
}
.form-input-wrap,
.form-radio-wrap {
	position: relative;
	width: 640px;
}
.form-input {
	display: block;
	width: 100%;
	border: 1px solid #d2d2d2;
	line-height: 34px;
	padding: 0 8px;
}
.form-radio-wrap {
	padding: 4px 0 0;
}
.form-radio {
	font-weight: 400;
	font-size: 16px;
	padding-top: 4px;
	margin: 0 20px 0 0;
}
.form-radio .radio {
	display: inline-block;
	margin: 0;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 10px;
	background: url(../images/ico/radio-ico.png) no-repeat;
}
.form-radio .radio.checked {
	background-position: -34px 0;
}
.atlas-item li {
	float: left;
	height: 110px;
}
.atlas-item .img {
	width: 110px;
	background: #DDDDDD;
}
.atlas-item .imgdesc {
	width: 583px;
	margin: 0 36px;
}
.atlas-item .imgdesc .form-input {
	height: 110px;
}
.atlas-item .imgoperate a {
	display: inline-block;
	color: #9e9e9e;
	margin-top: 40px;
	margin-right: 12px;
}
.atlas-wrap .atlas-upload {
	background: #EEEEEE;
	padding: 22px;
}
.atlas-wrap {
	position: relative;
}
.atlas-wrap .img-upload {
	font-size: 16px;
	margin-top: 15px;
	padding: 8px 0;
}
.atlas-wrap .form-sign {
	float: right;
	margin: 0;
}
.atlas-wrap .img-add {
	color: #ff8b6f;
}