* {
	margin: 0px;
	list-style: none;
	text-decoration: none;
}

.row {
	margin: 0px;
}

.col-xs-2 {
	padding: 0px
}

.user {
	height: 80px;
}

.pic {
	height: 80px;
	padding-left: 0px;
	padding-top: 15px !important;
}

.pic img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.user .p-time {
	font-weight: normal;
	font-size: 13px;
	color: #c5c5c5;
}

.user .user-id {
	height: 80px;
	padding-top: 15px;
}

.id {
	font-weight: bold;
	font-size: 16px;
	padding: 0px;
}

.article p {
	font-size: 16px;
	font-weight: normal;
}

.share {
	margin-left: -2px;
	margin-right: -2px;
}

.share .col-xs-4,
.share .col-xs-6,
.share .col-xs-7 {
	padding-left: 2px;
	padding-right: 2px;
}

.share .pic1 {
	overflow: hidden;
	float: left;
	margin-bottom: 4px
}

.share .pic1 img {
	width: 100%;
	height: 160px;
}

.share .videoCover {
	position: relative;
}

.share .videoCover img {
	width: 100%;
	height: 200px;
}

.share #play {
	background: url(../images/play.png) no-repeat;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.pics div {
	height: 240px;
}

.amounts,
.amounts div {
	height: 50px;
	line-height: 50px;
}

.amounts .read-amounts {
	padding: 0px
}

.amounts .read-amounts span {
	font-size: 14px;
	letter-spacing: 1px;
	color: #c5c5c5;
}

.amounts .like-amounts {
	background: url(../images/zan.png) no-repeat 0px 50%;
	padding: 0px;
	background-size: 80%;
	cursor: pointer;
	margin-right: 5px;
}

#like-amounts,
#collect-amounts {
	float: left;
	color: #C5C5C5;
}

.amounts .collect-amounts {
	background: url(../images/shoucang.png) no-repeat 0px 50%;
	padding: 0px;
	background-size: 80%;
	cursor: pointer;
	margin-left: 14px;
	margin-right: 5px;
}

.part {
	width: 100%;
	height: 22px;
	background-color: #f2f2f2;
}

.reply .li1 {
	background: url(../images/矩形1@2x.png) no-repeat 0 10px;
	text-indent: 20px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	background-size: 4px 20px;
}

.reply .li1 .number {
	font-size: 13px;
	margin-left: 14px;
}

.reply ul {
	padding-left: 20px;
}

.reply .lis {
	height: auto;
	padding-bottom: 15px;
	border-bottom: solid 1px #f2f2f2;
	overflow: hidden;
	padding-right: 20px;
	padding-top: 10px;
}

.reply .reply-headpic {
	height: 60px;
	width: 50px;
	float: left;
}

.reply .reply-headpic img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.reply .reply-id {
	color: #878787;
	font-size: 16px;
	height: 60px;
	float: left;
	margin-left: 15px;
}

.reply .reply-id .time {
	font-size: 13px;
	color: #c5c5c5;
}

.reply .reply-content {
	margin-left: 65px;
	line-height: 25px;
	clear: left;
}

.reply .reply-content p {
	margin-bottom: 5px;
}

.reply .other-reply {
	margin-left: 65px;
	font-size: 13px;
	color: #878787;
}

.reply .other-reply .other-id {
	color: #ff9969;
}

.reply .other-reply .other-content {
	letter-spacing: 1px;
	margin-left: 5px;
	line-height: 20px;
}

video::-internal-media-controls-download-button {
	display: none;
}

video::-webkit-media-controls-enclosure {
	overflow: hidden;
}

video::-webkit-media-controls-panel {
	width: calc(100%+ 30px);
}

#blankBox{
	margin-top:200px;
	
}

p{
	color: #999999;
}