.main-color {
  color: #26c3b2;
}

.main-color-bg {
  background: #26c3b2;
}

.ml25 {
  margin-left: 25px;
}

.layui-input, .layui-select, .layui-textarea, .layui-table-cell {
  height: 35px;
  line-height: 35px;
}

.layui-btn {
  font-size: 16px;
  border-radius: 3px;
}

.layui-form-label {
  padding: 7px 15px;
}

.layui-table-view .layui-table {
  width: 100%;
}

.layui-table-view .layui-table td, .layui-table-view .layui-table th {
  padding: 10px 0;
  font-size: 16px;
}

.layui-table thead tr {
  background: #26c3b2;
  color: #fff;
}

.layui-table tbody tr:hover, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool {
  background: #f3f3f3;
}

.layui-form-select dl dd.layui-this {
  background: #26c3b2;
}

.layui-form-select .layui-input {
  padding-right: 0;
}

.layui-btn .layui-icon {
  margin-right: 0;
}

.layui-btn-sm i {
  font-size: 22px !important;
}

.layui-table-body, .bg-white {
  background: #fff;
}

.layui-table, .layui-table-view {
  margin: 0;
}

.layui-laypage {
  float: right;
  padding-right: 10px;
}

.layui-layer-btn .layui-layer-btn0 {
  background-color: #26c3b2 !important;
  border-color: #26c3b2 !important;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: #333333;
  background: #f3f3f3;
}

.main-wapper {
  height: auto;
}

.hearder {
  background: #fff;
}

.hearder label {
  width: 100%;
  display: block;
  line-height: 2em;
}

.hearder ul {
  padding: 15px;
}

.hearder li {
  float: left;
  padding-right: 15px;
}

.main .btn-box {
  padding: 18px 0;
}

.main .btn-box button {
  padding: 0 40px;
  background: #f8ab59;
  line-height: 44px;
  height: 44px;
}

.layui-table-cell {
  overflow: unset !important;
}

.layui-input-block {
  margin-left: 0;
}
