#add_shop {
  width: 100%;
  height: 100%;
  padding: 48px 72px;
}

#add_shop .layui-form-label {
  width: 100px;
}

.layui-form-item label {
  font-size: 14px;
  color: #666;
}

.layui-input-block {
  width: 509px;
}

.layui-unselect {
  width: 254px;
}

.layui-textarea {
  min-height: 153px;
}

#uploadImg {
  width: 236px;
  height: 141px;
  cursor: pointer;
  background: url(../img/add-4.png) no-repeat;
  border: 1px solid #cccccc;
  img {
    width: 100%;
    height: 100%;
  }
}