html, body{
    background-color: #fff;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
body{
    overflow-y: scroll;
}
.row-body{
    height: 550px;
}
#selectEdit{
    display: block;
}
.ztree i{
    margin-left: 5px;
    font-family: 'Glyphicons Halflings';
}
.ztree li>div.line{
    padding: 0.25rem 0;
}
.ztree li>div.line:hover{
    background-color: #fbfbfb;
}
.ztree li>div.line input{
    border: none;
    outline: none;
}
.ztree li span.num{
    float: right;
}
.top-title{
    border-bottom: 2px solid #ddd;
}
.top-title>span{
    position: relative;
    display: inline-block;
    line-height: 1;
    padding: 16px 0 12px 0;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.top-title>span.active{
    color: #20c7cd;
    border-bottom: 4px solid #23c6cb;
}
.title-sum>b{
    font-weight: 500;
}
.search-row{
    margin: 20px 0 20px 0;
}
.select-row{
    height: 100%;
    overflow-y: auto;
}
.button-row{
    margin: 10px 0 20px 0;
}
.button-row button{
    width: 300px;
}
.ztree li>div.line.active{
    background: #eee;
}
.btn-unselect{
    border: 1px solid #E17473;
    border-radius: 4px;
    height: 35px;
    line-height: 35px;
    width: 130px;
    display: inline-block;
    color: #E17473;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}
.btn-unselect:hover{
    background: #ddd;
}
.search-box{
    display: none;
    z-index: 10;
    position: absolute;
    background: #fff;
    width: 96%;
    height: 500px;
    overflow-y:overlay;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-top: 0;
    box-sizing: border-box;
    /* box-shadow:2px 2px 5px #333333; */
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
