body {
  font-size: 16px;
  color: #666666;
  font-family: '微软雅黑';
  overflow-y: hidden;
}

.container-fluid {
  padding: 0;
}

.subtitle {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #f7f7f7;
  border-bottom: 1px dashed #e5e5e5;
}

.title {
  margin-top: 30px;
}

.btn-green:hover {
  color: orange;
}

.btn-active {
  background-color: #e6e6e6;
}

.tableBox {
  margin-top: 30px;
}

button {
  outline: none;
}

.btn:focus {
  outline: none;
}

th {
  font-weight: bold;
}

.table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}

.table > tbody > tr > th {
  text-align: center;
  vertical-align: middle;
}

tr {
  height: 50px;
}

.footer {
  margin-top: 30px;
}

#pageBtns {
  float: right;
  margin-right: 30px;
}

#modelBox {
  width: 800px;
  height: 668px;
  background: #fff;
}

/*body .coupon-class .layui-layer-btn .layui-layer-btn0 {
  background-color: #23c6c8;
  border: none;
}

body .coupon-class .layui-layer-setwin a {
  color: #fff;
}

body .msg-class .layui-layer {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 2px;
}

body .msg-class .layui-layer-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 2px;
}*/

#editBox {
  padding-top: 20px;
}

#editBox .form-group span {
  width: 300px;
  text-align: right;
  display: inline-block;
}

#editBox .form-group input, #editBox select, #editBox textarea {
  width: 300px !important;
}



