/*权限管理*/
body{
    min-width: 1299px;
    overflow-y: auto;
}
.jurisdiction-content{
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.jurisdiction-title{
    width: 100%;
    font-size: 16px;
    color:#666;
    padding: 15px 32px;
    background: #f7f7f7;
    border-bottom: 1px dashed #e5e5e5;
}
.system-nav{
    background: #f7f7f7;
    height: 100%;
    min-width: 183px;
    overflow-y: auto;
}
.system-nav h4{
    font-size: 16px;
    color:#333;
    text-indent: 12px;
    padding: 17px 0;
    cursor: pointer;
}
.system-nav h4 span{
    margin-right: 12px;
}
.jurisdiction-info{
    height: 100%;
}
.system-nav ul li .jurisdiction-nav-li{
    text-indent: 12px;
    padding: 17px 0;
    cursor: pointer;
}
.system-nav>ul>li .jurisdiction-nav-li{
    background: #ededed;
    color:#333;
    font-size: 14px;
}
.jurisdiction-info-nav li .jurisdiction-nav-li{
    text-indent: 24px;
    font-size: 14px;
    color: #666666;
}
.jurisdiction-info-nav{
    background: #e5e5e5;
}
.jurisdiction-label{
    float: left;
    line-height: 34px;
    padding: 0 15px 0 0;
    font-weight: normal;
}
.jurisdiction-right-body .form-inline .form-group:first-child{
    width: 510px;
    height: 34px;
    margin-right: 20px;
}
.jurisdiction-right-body .form-inline .form-group{
    width: 20%;
}
#jurisdiction-name{
    width: 418px;
    height: 34px;
    float: left;
    border-radius: 3px;
}
.jurisdiction-select{
    width: 40%;
    min-width: 100px;
}
.jurisdiction-select button{
    width: 100%;
    text-align: left;
}
.jurisdiction-select button .caret{
    float: right;
    margin-top: 9px;
}
.system-detail{
    padding: 0 35px;
}
.system-detail table tr th{
    text-align: center;
    height: 41px;
    line-height: 41px;
    padding: 0;
}
.system-detail table tr td{
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #666;
    padding: 0;
}
.m5{
    margin:0 5px;
}
.jurisdiction-detail .remove-modifier i{
    cursor: pointer;
    margin-top: 7.5px;
}
.green{
    color: #23ad44;
}
.red{
    color:#f05050;
}
.dropdown-menu{
    min-width: 130px;
}
.dropdown-menu li{
    text-indent: 13px;
}
.jurisdiction-info-nav .jurisdiction-info-nav-li{
    color:#666;
    padding: 10px  0;
    cursor: pointer;
    text-indent: 20px;
}
.jurisdiction-info-secondnav li{
    text-indent: 70px;
    padding: 0 0 10px 0;
    cursor: pointer;
    color:#666;
}
.jurisdiction-info-secondnav li .glyphicon-circle{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #7d7d7d;
    margin-bottom: 5px;
}
.jurisdiction-info-secondnav li .glyphicon-circles{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #7d7d7d;
    margin-bottom: 5px;
}
.jurisdiction-info-secondnav li .glyphicon-nocircle{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    border:1px solid #7d7d7d;
    margin-bottom: 5px;
}
.jurisdiction-info-thirdnav-li{
    font-size: 14px;
    color:#666;
    padding: 8px 0;
}
.jurisdiction-info-thirdnav li{
    text-indent: 80px;
}
.pageview{
    text-align: center;
}
.btn-success{
    width: 100px;
    margin-left: -10px;
}
.btn-success i{
    margin-right: 5px;
}
.system-nav>ul>li .jurisdiction-nav-li a{
    color: #333;
    font-size: 14px;
    display: inline;
}
.jurisdiction-info-nav .jurisdiction-info-nav-li a{
    color: #666;
    display: inline;
}
.jurisdiction-info-nav,.jurisdiction-info-secondnav,.jurisdiction-info-thirdnav{
    display: none;
}
.navList .glyphicon{
    margin-right: 12px;
}
.jurisdiction-info-thirdnav-li a{
    display: inline;
    color: #666;
}
.navList .addorz.acve{
    color:#c83d2d;
}
.navList .addorz.acve a{
    color:#c83d2d;
    text-decoration: underline;
}
.navList .addorz.acve .glyphicon-circle{
    background:#c83d2d;
}
.jurisdiction-right-body{
    height: 100%;
  /*  overflow: auto;*/
}
.navList{
    height: 83%;
    overflow-y: auto;
}
.remove-modifier>div{
    height: 20px;
    line-height: 20px;
    display: inline-block;
    margin-top: 2.5px;
}
.remove-modifier>div:first-child{
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.remove-modifier>div:last-child{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.delBtn{
    font-size: 18px;
    float: left;
    cursor: pointer;
}