.table th, .table td { 
text-align: center;
vertical-align: middle!important;
}
.w50{
	width: 44%;
}
.p20{
	padding: 15px 0;	
}
#content{
	width: 100%;
	height: 100%;
}
.red{
    color:#f05050;
}
.remove-modifier{
    cursor: pointer;
}
.paging-number{
    font:normal 14px/34px 'MicrsoftYaHei';
}
li.paging-number div{
    display: inline-block;
}
.input-group .input-group-addon{
    width: 100px;
    text-align: right;
    border: 0 none;
    background-color: transparent;
}
.input-group .form-control{
    width: 450px;
}
.input-group  button.btn-parameter{
    width: 450px;
}
.modal-dialog .modal-footer{
    transition:all .3s;
}
.modal-dialog .modal-footer:hover{
    background-color: #f1f1f1;
}
.remove-modifier>div{
    height: 30px;
    line-height: 30px;
    display: inline-block;
}
.remove-modifier>div:first-child{
     float: left;
     margin-left: 10px;
     cursor: pointer;
 }
.remove-modifier>div:last-child{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.delete-parameter i{
    font-size: 18px;
    float: left;
    cursor: pointer;
    margin-right: 5px;
}
/**/
td.td1{width: 60px;}
td.td2{width: 425px;}
td.td3{width: 230px;}
td.td4{width: 230px;}
td.td5{width: 120px;}
td.td6{width: 200px;}
td.td7{width: 165px;}
div.details{
	width: 76px;
	background-color: #00a0e8;
	color:#fff;
	height: 30px;
	line-height: 30px;
}
i.edicticon{
	position: relative;
	top: 4px;
	left: 10px;
}
i.delete{
	position: relative;
	top: 4px;
	left: 10px;
}
