span.form-control,
div.form-control {
    border: none;
    box-shadow: none;
    height: auto;
}

.form-horizontal .control-label {
    padding-left: 18px;
    text-align: left;
}

#prizeStatus {
    background-color: #21c7c9;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: middle;
}

#prizeStatus.down {
    background-color: #f0ad4e;
}

.form-group {
    margin-bottom: 0;
}