.removeContainer{width: 100%;height: 100%;overflow-y: auto;}
.remove{float: left;width: 380px;}
.userInfo{margin-top: 20px;margin-left: 10px;border: solid 1px #d9d9d9;overflow: hidden;}
.username,.name,.department{width: 120px;height: 64px;background-color: #F5F5F5;text-align: center;line-height: 64px;color: #696969;border-bottom: solid 1px #d9d9d9;border-right: solid 1px #d9d9d9;}
.userInfo div{float: left;height: 70px;width: 120px;}
.userInfo #username,.userInfo #name,.userInfo #department{width: 247px;line-height: 70px;text-indent: 50px;border-bottom: solid 1px #d9d9d9;}
.department,#department{border-bottom: none!important;height: 258px!important;}
.authorityContainer{border: solid 1px #d9d9d9;text-align: center;float: left;margin-top: 20px;border-left: none;}
.authority{width: 150px;background-color: #eeeeee;height: 400px;float: left;color: #696969;line-height: 70px;}
.roleContainer{float: left;width: 260px;height: 400px;overflow-y: auto;}
.roleContainer select{width: 240px;height: 30px;border-color: #e6e6e6;margin-top: 20px;}
.roleContainer .layui-input-block{margin-left: 0;}
