/* 
* @Author: Marte
* @Date:   2017-05-09 10:53:31
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-17 15:31:04
*/
.green{
	color:green;
}
.red{
	color:red;
}
.ft{
	font-style: normal;
}
.w50{
	width: 50%;
	float: left;
}
.td1{
	width: 70px;
}
.td2{
	width: 320px;
}
.td3{
	width: 160px;
}
.td4{
	width: 100px;
}
.td5{
	width: 200px;
}
.table th,
.table td {
	text-align: center;
	vertical-align: middle!important;
}

#body-box .left-b{
	float: left;
	width: 940px;
	padding: 30px;
}
#body-box .left-c{
	float: left;
	padding: 30px;
    width: calc(100% - 940px);
}
.inputbox>div{
	float: left;
}
.inputbox>div.serach{
	width: 480px;
}
.inputbox>div.serach span{
	line-height: 34px;
}
.inputbox>div.serach input{
	float: left;
	width: 90%;
	margin-left: 5px;
}
.inputbox>div.sta{
	width: 230px;
	margin-left: 50px;
}
.inputbox>div.ser{
	margin-left: 10px;
}
#add-users{
	margin:30px 0;
	width: 140px;
	height: 40px;
}
#addUserYh{
	margin:30px 0;
	width: 140px;
	height: 40px;
}
/**/
#tbodyParameterL tr.act{
	background-color: rgb(245, 245, 245);
}
/**/
.left-c{
	background-color: #f3f3f3;
}
#add-userstwo{
	margin:30px 0;
	width: 140px;
	height: 40px;
}
#rtable{
	background-color: #fff;
}
/*新增角色motai*/
#commer .modal-body .input-group{
	padding: 10px 20px;
	width: 100%;
}
#commer .modal-body .input-group>.lt{
	padding: 6px 12px;
	width: 100px;
	position: relative;
	text-align: right;
	
}
#commer .modal-body .input-group>.lt>i.lx{
	position: absolute;
	width: 12px;
	height: 12px;
	line-height: 12px;
	color:red;
	left: -5px;
    top: 9px;
    font-size: 26px;
    font-style: normal;
} 
#commer .modal-body .input-group>input{
	width: 80%;
}
#commer .modal-body .input-group>select{
	width: 50%;
}
/*修改角色modal*/
#commerChange .modal-body .input-group{
	padding: 10px 20px;
	width: 100%;
}
#commerChange .modal-body .input-group>.lt{
	padding: 6px 12px;
	width: 100px;
	position: relative;
	text-align: right;
	
}
#commerChange .modal-body .input-group>.lt>i.lx{
	position: absolute;
	width: 12px;
	height: 12px;
	line-height: 12px;
	color:red;
	left: -5px;
    top: 9px;
    font-size: 26px;
    font-style: normal;
} 
#commerChange .modal-body .input-group>input{
	width: 80%;
}
#commerChange .modal-body .input-group>select{
	width: 50%;
}
/*modal新增权限*/
#jurisdiction .modal-body{
	padding: 20px 80px;
}
#jurisdiction .modal-body>p{
	padding: 20px 0;
	font-size: 16px;
	color:#999
}
/**/
/**/
/*ztree*/
#treeDemo{
	float: left;
	margin: 0;
    padding: 5px;
    color: #333;
    width: 476px;
    height: 380px;
    overflow: auto;

}
#treeDemo2{
	float: left;
	margin: 0;
    padding: 5px;
    color: #333;
    height: 400px;
    overflow: auto;
}
#rtable{
	margin-top: 14px;
}
