html, body{
    background-color: #F9F9F9;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 16px;
}
body{
    overflow-y: scroll;
}
.input-body{
    width: 56%;
    min-width: 200px;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
}
.red{
    color:red;
}
.selection{
    font-size: 16px;
    color: #999;
}
.input388{
    width: 388px;
}
.input800{
    width: 800px;
}
.input90{
    width: 90%;
}
/* 登记列表 */
.regist-table{
    background: #fff;
    margin-top: 20px;
    padding: 20px 10px;
}
#recycleTable thead{
    background: #1DC0AF;
    color: #fff;
}