img{
    width:100%;
    height:100%;
}
#positionSelector{
    width:8rem;


}
.select2-container{

}

.main-wrapper{
    height:100%;
    padding-top:3rem;
    background-color: #f2f2f2;
    overflow: hidden;
}
.main-top{
    position:absolute;
    top:0;
    width:100%;
    overflow:hidden;
}
.main-top .return-icon{
    display: inline-block;
    height: 2.25rem;
    width: 1.25rem;
    margin:0.15rem 1rem;
    background-image:url(../image/icon_return.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.main-top .exit-btn{
    display:inline-block;
    width:2rem;
    height:2.125rem;
    margin: 0 1rem;
    background:url(../image/icon_exit.png) no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.main-top .right-box{
    width:20.5%;
}
.main-top .order-title{
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 75%;
    background-color: #374260;
    color: #fff;
    text-align: center;
}

.main-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom:3rem;
    background: none;
}
.main-content .duty-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 78%;
    z-index: 9;
    height: 100%;
    overflow: hidden;
}
.duty-box .duty-list{
    width: 104%;
    height: 100%;
    overflow-y: auto;
    background: transparent;
}

.main-content .order-box{
    position: absolute;
    top: 0;
    width: 104%;
    height: 100%;
    overflow-y: auto;
}
.order-box .order-list-show {
    position: relative;
    height: 90%;
    width: 100%;
    overflow-y: auto;
}
.order-list {
    position: absolute;
    top: 0;
    right: 3%;
    width: 20%;
    z-index:99;
}

.todo-list-inner dl{
    overflow:hidden;
}

.todo-list-inner dl .user-info{
    float:left;
    position: relative;
    width:15rem;
    height:11.25rem;
    padding-top:2.5rem;
}
.user-info .ava{
    position: absolute;
    top:0;
    left:50%;
    margin-left:-2.5rem;
    width:5rem;
    height:5rem;
    border:0.125rem solid #fff;
    border-radius:100%;
}
.user-info .name{
    width:100%;
    height:6.25rem;
    padding-top:2.5rem;
    line-height: 4rem;
    background-color:#f6fbff;
    font-size:1.5rem;
    font-weight:normal;
    color:#333;
    text-align: center;
}
.user-info .count{
    position: absolute;
    right: -1rem;
    top: 0.75rem;
    background: #fff;
    width: 2rem;
    height: 2rem;
    display: block;
    text-align: center;
    line-height: 2rem;
    border-radius: 100%;
    color:#333;

}
dl:nth-child(odd) .user-info .count{
    box-shadow: inset -1px 1px 1px #f6b37f;
}
dl:nth-child(even) .user-info .count{
    box-shadow: inset -1px 1px 1px #448aca;
}
dl:nth-child(odd) .user-info .name,
dl:nth-child(odd) .todo-item .item-info{
    border:1px solid #f6b37f;
}
dl:nth-child(even) .user-info .name,
dl:nth-child(even) .todo-item .item-info{
    border:1px solid #448aca;
}
.todo-list-inner .list-item{
    height:15.5rem;
    overflow:hidden;
}
.todo-list-inner dl .todo-item{
    float:left;
    width:25rem;
    height:15.5rem;
    margin-left:1.5rem;
    padding:1.25rem;
    background-color:#f6fbff;
}

.todo-item .item-info{
    width:100%;
    height:8.75rem;
    padding:0.5rem 1rem;
}

.todo-item .item-info p{
    font-size:1.5rem;
    color:#333;
}
.todo-item .handle-box{
    margin-top:1rem;
    text-align: right;
}

.todo-item .handle-box .btn{
    padding:0;
    width:6.25rem;
    height:3.125rem;
    font-size:1.5rem;
    border-radius:0.25rem;
}
.todo-item .handle-box .btn:nth-of-type(1){
    margin-right: 0.625rem;
}
.order-list .order-item{
    width:95%;
    height:6.25rem;
    padding:0.625rem 0;
    background-color:#fff;
    border:1px solid #374260;
    margin-bottom:3rem;
}
.order-list .order-item p{
    line-height:2.5rem;
    font-size:1.5rem;
    color:#333;
    text-align: center;
}

@media screen and (max-width:90rem){
    .main-top .right-box{
        width:19%;
    }
    .main-top .order-title{
        width:70%;
    }
    .order-list{
        width:18%;
    }
    .order-list .order-item {
        height: 5.25rem;
        margin-bottom: 2rem;
    }
    .order-list .order-item p{
        line-height: 2rem;
        font-size: 1.25rem;
    }
    .todo-list-inner dl .user-info{
        width: 12rem;
        height: 7.25rem;
        padding-top: 2rem;
    }
    .user-info .ava{
        margin-left: -2rem;
        width: 4rem;
        height: 4rem;
    }
    .user-info .name{
        height: 5.25rem;
        padding-top: 2rem;
        line-height: 3rem;
        font-size: 1.25rem;
    }

    .todo-list-inner .list-item{
        height:14.5rem;
    }
    .todo-list-inner dl .todo-item{
        width:24rem;
        height:14.5rem;
    }
    .todo-item .item-info{
        height:7.5rem;
    }
    .todo-item .item-info p{
        font-size:1.25rem;
    }
    .todo-item .handle-box .btn{
        width: 5.25rem;
        height: 2.5rem;
        font-size:1.25rem;
    }
}
@media screen and (max-width:80rem){
    .main-top .right-box{
        width:18%;
    }
    .main-top .order-title{
        width:68%;
    }
    .order-list{
        width:18%;
    }
    .order-list .order-item {
        height: 5.25rem;
        margin-bottom: 2rem;
    }
    .order-list .order-item p{
        line-height: 2rem;
        font-size: 1rem;
    }
    .todo-list-inner dl .user-info{
        width: 12rem;
        height: 7.25rem;
        padding-top: 2rem;
    }
    .user-info .ava{
        margin-left: -2rem;
        width: 4rem;
        height: 4rem;
    }
    .user-info .name{
        height: 5.25rem;
        padding-top: 2rem;
        line-height: 3rem;
        font-size: 1rem;
    }

    .todo-list-inner .list-item{
        height:13.5rem;
    }
    .todo-list-inner dl .todo-item{
        width:23rem;
        height:13.5rem;
    }
    .todo-item .item-info{
        height:7.5rem;
    }
    .todo-item .item-info p{
        font-size:1rem;
    }
    .todo-item .handle-box .btn{
        width: 5.25rem;
        height: 2.5rem;
        font-size:1rem;
    }
}

@media screen and (max-width:64rem){
    .main-top .right-box{
        width:20%;
    }
    .main-top .order-title{
        display:inline-block;
        height:2.5rem;
        line-height: 2.5rem;
        width:6.25rem;
    }
    .main-content .duty-box{
        width: 80%;
    }
    .order-list {
        position: absolute;
        top: 0;
        right: 3%;
        width: 20%;
    }
    .todo-list-inner dl .user-info{
        float: left;
        position: relative;
        width: 12rem;
        height: 9rem;
        padding-top: 2rem;
    }
    .user-info .ava{
        margin-left: -2rem;
        width: 4rem;
        height: 4rem;

    }
    .user-info .name{
        width: 100%;
        height: 5rem;
        padding-top: 2rem;
        line-height: 2.5rem;
        background-color: #f6fbff;
        font-size: 1rem;
        font-weight: normal;
        color: #333;
        text-align: center;
    }
    .todo-list-inner .list-item{
        height:12rem;
        overflow: hidden;
    }
    .todo-list-inner dl .todo-item{
        float: left;
        width: 18rem;
        height: 12rem;
        margin-left: 1rem;
        padding: 1rem;
        background-color: #f6fbff;
    }

    .todo-item .item-info{
        width: 100%;
        height: 7rem;
        padding: 0.5rem 1rem;
    }
    .todo-item .item-info p{
        font-size:1rem;
        color:#333;
    }
    .todo-item .handle-box{
        margin-top:0.5rem;
        text-align: right;
    }

    .todo-item .handle-box .btn{
        padding: 0;
        width: 5rem;
        height: 2.5rem;
        font-size: 1rem;
        border-radius: 0.25rem;
    }

    .order-list .order-item{
        height: 5rem;
        padding: 0.5rem 0;
        margin-bottom: 1.5rem;
    }
    .order-list .order-item p{
        line-height: 2rem;
        font-size: 1rem;
        color: #333;
        text-align: center;
    }
}
@media screen and (max-width:60rem){
    .main-top .right-box{
        width:22%;
    }
    .main-top .order-title{
        width:65%;
    }
    .order-list{
        width:22%;
    }
    .main-content .duty-box{
        width:78%;
    }
    .order-list .order-item {
        height: 4.25rem;
        margin-bottom: 1.5rem;
    }
    .order-list .order-item p{
        line-height: 1.5rem;
        font-size: 0.875rem;
    }
    .todo-list-inner dl .user-info{
        width: 10rem;
        height: 6.25rem;
        padding-top: 1.75rem;
    }
    .user-info .ava{
        margin-left: -1.75rem;
        width: 3.5rem;
        height: 3.5rem;
    }
    .user-info .name{
        height: 4.25rem;
        padding-top: 1.25rem;
        line-height: 2.5rem;
        font-size: 0.875rem;
    }

    .todo-list-inner .list-item{
        height:10rem;
    }
    .todo-list-inner dl .todo-item{
        width: 16rem;
        height: 10rem;
        padding: 0.875rem;
    }
    .todo-item .item-info{
        height:5.5rem;
    }
    .todo-item .item-info p{
        font-size:0.875rem;
    }
    .todo-item .handle-box .btn{
        width: 4rem;
        height: 2rem;
        font-size:0.875rem;
    }
}
@media screen and (max-width:50rem){
    .main-top .right-box{
        width:22%;
    }
    .main-top .order-title{
        width:60%;
    }
    .todo-list-inner dl .user-info{
        width:8.5rem;
    }
    .user-info .count{
        right:-0.75rem;
    }
    .todo-list-inner dl .todo-item{
        width: 14rem;
        height: 10rem;
        padding: 0.875rem;
    }
}
