.clear{
    clear: both;
}
.down-content{
    width: 100%;
    overflow: hidden;
}
.down-content{
    padding: 5px 10px;
}
.down-content .down-list h4{
    padding: 5px 0;
    color:#000;
    text-align: center;
}
.content-body{
    padding: 15px 0 20px 0;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.down-last{
    height: 30px;
    width: 100%;
}
.common-container {
    width: 100%;
    background: #fff;
}
.content-wrapper{
   background: #fff !important;
}
/*顶部标题*/
.content-body .title{
    position: relative;
    margin: 5px 10px 20px 5px;
}
.title h4{
    display: inline-block;
    background: #fff;
    position: absolute;
    top: -8px;
    width: 70px;
    font-size: 18px;
}
.content-body .title hr{
    height: 4px;
}
.top-content{
    width: 100%;
    height: auto;
}
.top-content .course{
    font-size: 16px;
    width: 100px;
    cursor: pointer;
    margin-bottom: 15px;
}
.top-content .course i{
    display: block;
    margin-left: 5px;
    float: right;
    width: 14px;
    height: 14px;
    background: url(../img/source.png) no-repeat;
    background-size: 100%;
    margin-top:3.5px;
}
.down-content{
    width: 100%;
    height: auto;
    margin-top:15px;
}
.down-content h4{
    margin-bottom: 15px;
}
.menu-top{
    margin:0 0 15px 0;
}
.menu-top ul{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.menu-top ul li{
    display: inline-block;
    float: left;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px 0 0;
}
.menu-top ul li.acv{
    color:#00a0e9;
    border-bottom: 2px solid #0272c6;
}
.button-box{
    display: inline-block;
    float: right;
    margin-bottom: 15px;
}
.button-box .dropdowns{
    float: left;
    margin-right: 25px;
}
.dropdowns{
    position: relative;
}
.dropdow-menu{
    z-index: 33;
    width: 340px;
    left: -173px;
    position: absolute;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 10px #ccc;
    padding: 5px;
    display: none;
}
.dropdow-menu h4{
    border-top: 1px solid #dfdfdf;
    color: #ccc;
    padding: 10px 15px;
}
.time-info .date{
    width: 150px;
    padding: 0 5px;
}
.time-info input{
    width: 120px;
    height: 32px;
    border: 0;
    padding: 0 5px;
    cursor: pointer;
}
.time-info .lasttime{
    float: left;
    margin-left: 10px;
}
.time-select .sure{
    margin: 10px 38% 5px;
    padding: 5px 30px;
}
.dropdow-menu li{
    padding: 5px;
}
.dropdow-menu li:last-child{
    padding: 0;
}
.content-top{
    margin-bottom: 20px;
    height: 30px;
}
/*菜单的下一级操作*/
.service-left{
    display: inline-block;
    float: left;
    font-size: 16px;
}
.service-left span{
    display: inline-block;
    margin:0 10px;
    cursor: pointer;
}
.service-left span.acv{
    color:#00a0e9;
}
.dropdow-menu li{
    cursor: pointer;
}
.dropdow-menu li.acv{
    color:#00a0e9;
}
/*公用iframe*/
.content-bottom{
    width: 100%;
    height: 750px;
    padding: 20px 0;
}
.content-bottom iframe{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    border: 0;
}