
/*折线图*/
.echarts{
    width:100%;
    margin:0 auto;
    height: 450px;
}
/*数据详情展示*/
.down-content{
    width: 100%;
    height: auto;
    border:1px solid #dfdfdf;
    background: #f5f5f5;
    overflow: hidden;
    padding: 15px 0;
    margin: 15px 0;
}
.down-content .down-list{
    width: 13%;
    float: left;
    text-align: center;
    border-right: 1px solid #dfdfdf;
}
.down-content .down-list:nth-child(2){
    width: 24%;
}
.down-content .down-list:nth-child(4){
    width: 24%;
}
.down-list .list-num{
    color:#00a0e9;
    padding:0 10px 15px;
    border-bottom: 1px dashed #000;
    text-align: center;
    font-size: 15px;
    margin:0 auto;
    display: inline-block;
}
.down-list .num1,.down-list .num2{
    color:#7d7d7d;
    margin:15px 0;
    text-align: center;
}
.down-content .down-list:last-child{
    border-right:0;
}
.down-list-box{
    margin-top:40px;
}