* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  height: 100%!important;
}
.right {
  float: right;
}
.h100 {
  height: 100px!important	;
}
.h30 {
  height: 30px!important	;
}
.h4 {
  height: 40px;
}
.topcontrol {
  width: 100%;
  background: #EDEDED ;
  margin: 0;
  padding-right: 20px;
  padding-top: 5px;
}
.topcontrol .searchbutton {
  float: left;
  margin-left: 10px;
}
.searchform {
  display: none;
  margin-top: 0;
  padding-left: 10px;
  height: 50px;
  padding-top: 5px;
  padding-left: 20px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  position: relative;
  margin-bottom: 10px;
}
.searchform #searchbtn {
  background: #049FE8 ;
}
.searchform #resetbtn {
  color: #049FE8 ;
}
.searchform div {
  margin-right: 10px;
}
.searchform .inputhidden {
  float: right;
  margin-right: 30px;
  color: #00A2E6 ;
  font-size: 35px;
  position: relative;
  font-weight: bold;
}
.searchform .inputhidden .iconlft {
  position: absolute;
  top: 10px;
  right: 0;
}
.content {
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
}
.content .trees-box {
  float: left;
  width: 310px;
  min-height: 800px;
  border-right: 10px solid #EEEEEE;
}
.content .trees-box .trees-btn {
  background-color: #EEEEEE ;
  padding: 5px;
  position: relative;
}
.content .trees-box .side-handle-left {
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 40px;
  color: #049FE8 ;
  background: gainsboro;
  font-size: 20px;
  padding-top: 10px;
}
.content .trees-box h4 {
  background: gainsboro;
  padding: 5px;
}
#closebtn {
  display: none;
}
#demo111 {
  margin: 20px;
  display: none;
  border: 1px solid gainsboro;
}
#demo111 #loginName {
  font-size: 12px;
}
#demo111 form.innerform {
  width: 70%;
  padding-right: 23px;
  margin-top: 10px!important;
}
#demo111 .layui-form-label {
  width: 20%;
  padding: 0;
}
#demo111 .belongs {
  width: 10%;
  height: 445px;
  padding-top: 200px;
  background: gainsboro;
}
#demo111 .righttree {
  height: 440px;
  padding-top: 50px;
}
#app {
  position: relative;
  margin-left: 320px;
}
#app .side-handle-right {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  width: 10px;
  height: 40px;
  color: #049FE8 ;
  background: gainsboro;
  font-size: 20px;
  padding-top: 10px;
  z-index: 9999;
}
.layui-table-view {
  margin-top: 0!important;
}
#demo222 {
  display: none;
}
#demo222 .userdetail {
  width: 760px;
  height: 330px;
  border: 1px solid gainsboro;
  margin: 20px;
  padding: 0;
}
#demo222 .userdetail ul {
  float: left;
}
#demo222 .userdetail ul li {
  margin-top: 20px;
  padding-left: 30px;
}
#demo222 .userdetail .logo,
#demo222 .userdetail .dptbelong {
  height: 330px;
  width: 150px;
  background: #EFEFEF;
}
#demo222 .userdetail .logo li,
#demo222 .userdetail .dptbelong li {
  text-align: right;
  padding-right: 30px;
}
#demo222 .userdetail .logo > li:first-child {
  height: 60px;
  line-height: 60px;
}
#demo222 .userdetail .logovalue {
  height: 330px;
  width: 250px;
}
#demo222 .userdetail .logovalue li {
  height: 19px;
}
#demo222 .userdetail .logovalue li:first-child {
  height: 60px;
}
#demo222 img {
  width: 60px;
  height: 60px;
}
#demo222 .binddetail {
  width: 760px;
  height: 170px;
  margin-left: 20px;
  border: 1px solid gainsboro;
  padding: 0;
  position: relative;
}
#demo222 .binddetail p {
  position: absolute;
  top: -10px;
  left: 25px;
}
#demo222 .binddetail ul {
  float: left;
}
#demo222 .binddetail ul li {
  margin-top: 20px;
  padding-left: 30px;
}
#demo222 .binddetail .phonedetail,
#demo222 .binddetail .register {
  height: 170px;
  width: 150px;
  background: #EFEFEF;
}
#demo222 .binddetail .phonedetail li,
#demo222 .binddetail .register li {
  text-align: right;
  padding-right: 30px;
}
#demo222 .binddetail .phonevalue {
  height: 170px;
  width: 250px;
}
