.editContainer{width: 100%;height: 100%;overflow-y: auto;}
.edit{float: left;padding-top: 20px;padding-left: 10px;}
.layui-form-item .layui-input-inline{margin-right: 0;}
.layui-form-item,.layui-form-item .layui-inline{margin-bottom: 0;margin-right: 0;}
.layui-form-item label{display: inline-block;width: 120px;height: 64px;line-height: 64px;background-color: #F5F5F5;color: #696969;font-size: 13px;padding: 0;text-align: center;border: solid 1px #d9d9d9;}
.layui-form-item .layui-input-inline{height: 64px;border: solid 1px #d9d9d9;width: 260px;border-left: none;}
.layui-form-item .layui-input-block{width: 260px;height: 64px;margin-left: 121px;border: solid 1px #d9d9d9;}
#department{height: 300px;}
.layui-input,select{width: 240px;height: 30px;margin-top: 17px;margin-left: 10px;border-color: #e6e6e6;}
#select2{height: 300px;border-bottom: solid 1px #d9d9d9;;}
.authorityContainer{border: solid 1px #d9d9d9;text-align: center;float: right;margin-top: 20px;margin-right: 10px;}
.authority{width: 120px;background-color: #eeeeee;height: 400px;float: left;color: #696969;line-height: 70px;}
.ztree{float: left;width: 260px;height: 390px;overflow-y: auto;}
