.top-nav{
	width:100%;
	height:100px;
	overflow-x: auto;
}
.top-nav ul{
	/*height:94px;*/
	width:900px;
	padding-left:15px;
	overflow:hidden;
}
.top-nav ul>li{
	float:left;
	height:100%;
}
.top-nav ul>li a{
	display:block;
	padding:15px;
	font-size:18px;
	color:#333;
	text-align: center;
}
.top-nav ul>li a.active,
.top-nav ul>li a:hover{
	color:#fe6869;
}
.top-nav ul>li a .nav-item-icon{
	display:block;
	width:30px;
	height:30px;
	margin:0 auto;
	background-size:cover;
	background-repeat: no-repeat;
}
.top-nav ul>li:nth-child(1) a .nav-item-icon{
	background-image:url(../img/app_nav_wdsy.png);
}
.top-nav ul>li:nth-child(2)  a .nav-item-icon{
	background-image:url(../img/app_nav_mdsy.png);
}
.top-nav ul>li:nth-child(3)  a .nav-item-icon{
	background-image:url(../img/app_nav_khyy.png);
}
.top-nav ul>li:nth-child(4)  a .nav-item-icon{
	background-image:url(../img/app_nav_xhkd.png);
}
.top-nav ul>li:nth-child(5)  a .nav-item-icon{
	background-image:url(../img/app_nav_gdgl.png);
}
.top-nav ul>li:nth-child(6)  a .nav-item-icon{
	background-image:url(../img/app_nav_pb.png);
}
.top-nav ul>li:nth-child(7)  a .nav-item-icon{
	background-image:url(../img/app_nav_ddgl.png);
}
.top-nav ul>li:nth-child(8)  a .nav-item-icon{
	background-image:url(../img/app_nav_khgl.png);
}
.top-nav ul>li:nth-child(9)  a .nav-item-icon{
	background-image:url(../img/app_nav_tjbb.png);
}
.top-nav ul>li:nth-child(1) a.active .nav-item-icon,
.top-nav ul>li:nth-child(1) a:active .nav-item-icon,
.top-nav ul>li:nth-child(1) a:hover .nav-item-icon{
	background-image:url(../img/app_nav_wdsy_active.png);
}
.top-nav ul>li:nth-child(2) a.active .nav-item-icon,
.top-nav ul>li:nth-child(2) a:active .nav-item-icon,
.top-nav ul>li:nth-child(2) a:hover .nav-item-icon{
	background-image:url(../img/app_nav_mdsy_active.png);
}
.top-nav ul>li:nth-child(3) a.active .nav-item-icon,
.top-nav ul>li:nth-child(3) a:active .nav-item-icon,
.top-nav ul>li:nth-child(3) a:hover .nav-item-icon{
	background-image:url(../img/app_nav_khyy_active.png);
}
.top-nav ul>li:nth-child(4) a.active .nav-item-icon,
.top-nav ul>li:nth-child(4) a:active .nav-item-icon,
.top-nav ul>li:nth-child(4) a:hover .nav-item-icon{
	background-image:url(../img/app_nav_xhkd_active.png);
}
.top-nav ul>li:nth-child(5) a.active .nav-item-icon,
.top-nav ul>li:nth-child(5) a:active .nav-item-icon,
.top-nav ul>li:nth-child(5) a:hover .nav-item-icon{
	background-image:url(../img/app_nav_gdgl_active.png);
}
.top-nav ul>li:nth-child(6) a.active .nav-item-icon,
.top-nav ul>li:nth-child(6) a:active .nav-item-icon,
.top-nav ul>li:nth-child(6) a:hover .nav-item-icon{
	background-image:url(../img/app_nav_pb_active.png);
}
.top-nav ul>li:nth-child(7) a.active .nav-item-icon,
.top-nav ul>li:nth-child(7) a:active .nav-item-icon,
.top-nav ul>li:nth-child(7) a:hover .nav-item-icon{
	background-image:url(../img/app_nav_ddgl_active.png);
}
.top-nav ul>li:nth-child(8) a.active .nav-item-icon,
.top-nav ul>li:nth-child(8) a:active .nav-item-icon,
.top-nav ul>li:nth-child(8) a:hover .nav-item-icon{
	background-image:url(../img/app_nav_khgl_active.png);
}
.top-nav ul>li:nth-child(9) a.active .nav-item-icon,
.top-nav ul>li:nth-child(9) a:active .nav-item-icon,
.top-nav ul>li:nth-child(9) a:hover .nav-item-icon{
	background-image:url(../img/app_nav_tjbb_active.png);
}

#pageView{
	width: 100%;
	height: 100%;
}

#mainRightDiv{
	height: 1536px;
}

#rightTitleDiv{
	text-align: center;
	vertical-align: middle;
}

.right-page {
	height: 100%;
	background-color: #CCCCCC;
}

.singleMenuImg{
	width: 256px;
	height: 100px;
	padding-top: 35px;
}
