.main-content .recording-module{
    margin-bottom:1.5rem;
    padding:0;
}

.recording-module .module-inner{
    height:16.5rem;
    background-color:#fff;
}
.module-inner .module-title{
    color: #333;
    padding:.875rem 1.5rem;
    font-size:1.25rem
}
.module-inner a {
  color: #333;
}
.module-inner a:hover {
  color: #fe6869;
}
.recording-module .color-grey {
  display: block;
  color: #999;
}
.recording-module p{
    margin-bottom:0;
}
.recording-module .item .sub-title{
    color:#666;
}

.module-1 .dividing-line,
.module-6 .dividing-line,
.module-7 .dividing-line {
  border-right: 1px solid #ccc;
}
.module-1 .module-con .item,
.module-6 .module-con .item,
.module-7 .module-con .item {
  padding-left: .75rem;
  margin-bottom:2rem;
}
.module-1 .module-con .count-num,
.module-6 .module-con .count-num,
.module-7 .module-con .count-num {
  margin-top: .75rem;
}
.module-2 .module-con,
.module-5 .module-con {
  margin-top: .75rem;
  padding-left: 1.5rem;
}
.module-2 .item + .item,
.module-5 .item + .item {
  margin-top: 2rem;
}
.module-2 .item p,
.module-5 .item p,
.module-7 .item p{
  font-size: 1.25rem;
}
.module-2 .item:first-child p {
  font-size: 1.5rem;
  color: #fe6869;
}
.module-5 .module-con .radius-chart{
    width:96%;
    height:12rem;
    margin:0 auto;
}
.module-3 .module-con .bar-chart,
.module-4 .module-con .bar-chart {
  width:96%;
  height: 12rem;
  margin:0 auto;
}
