body{
  background-color: #f3f3f4;
}
.clearfix::after {
  content: " ";
  display: block;;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
/**title和关闭按钮*/
.header{
  width: 100%;
  height: 40px;
  background-color: #5e637a;
  line-height: 40px;
  padding: 0 10px 0 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  >span{
    float: left;
    color: #FFFFFF;
    font-size: 14px;
  }
  >i{
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
  }

}
/**路径显示和tabNav按钮*/
.path-radio{
  width: 100%;
  height: 55px;
  line-height: 55px;
  background-color: #fff;
  padding: 0 20px;
  margin-top: 40px;
  .path{
    float: left;
    font-size: 16px;
    color: #333333;
    i{
      font-family: SimSun;
      font-weight: 700;
    }
  }
  .radioBtn{
    float: right;
    ul{
      li{
        float: left;
        margin-left: 20px;
        font-size: 14px;
        color: #333333;
        cursor: pointer;
        i{
          display: inline-block;
          width: 20px;
          height: 20px;
          border: 1px solid #dddddd;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background-color: #fff;
          vertical-align: middle;
          margin-right: 10px;
        }
        &.active{
          i{
            border: 6px solid #1e9fff;
          }
        }
      }
    }
  }
}
/**主要内容*/
.main{
  padding: 0 20px;
  .online{
    //display: none;
  }
  .inShop{
    display: none;
  }
}
/**统计概览*/
.overview{
  width: 100%;
  ul{
    li{
      float: left;
      width:400px;
      height: 98px;
      background-color: #fff;
      padding: 16px 20px;
      margin-top: 20px;
      div{
        float: left;
        &:first-of-type{
          width: 46px;
          height: 46px;
          background: url("../images/ic_xscjbishu.png") no-repeat center;
          -webkit-background-size: 100%;
          background-size: 100%;
        }
        &:nth-of-type(2){
          margin-left: 10px;
          p{
            font-size: 15px;
            color: #333333;
          }
          h4{
            font-size: 26px;
            color: #333333;
            font-weight: 700;
            margin-top: 16px;
          }
        }
        &:nth-of-type(3){
          float: right;
          color: #666666;
        }
      }
      &:nth-of-type(2){
        margin: 20px 40px 0 40px;
        div:first-of-type{
          background: url("../images/ic_yjsdingdan.png") no-repeat center;
          -webkit-background-size: 100%;
          background-size: 100%;
        }
      }
      &:nth-of-type(3){
        div:first-of-type{
          background: url("../images/ic_wjsdingdan.png") no-repeat center;
          -webkit-background-size: 100%;
          background-size: 100%;
        }
      }
    }
  }
}
/**订单走势图*/
.orderTrend{
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 1px solid #dddddd;
  margin-top: 20px;
  >div{
    width: 100%;
    height: 100%;
  }
}
/**报表*/
.reportContent{
  background-color: #fff;
  padding: 0 20px;
  margin-top: 20px;
  /**报表内容*/
  .title-export{
    width: 100%;
    height: 55px;
    line-height: 54px;
    .title{
      float: left;
      span{
        font-size: 15px;
        color: #333333;
      }
    }
    .export{
      float: right;
      a{
        display: inline-block;
        width: 80px;
        height: 34px;
        line-height: 34px;
        border: 1px solid #dddddd;
        text-align: center;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        i{
          display: inline-block;
          width: 24px;
          height: 23px;
          vertical-align: -6px;
          background: url("../../../assets/common/img/exportIcon.png") no-repeat center;
          -webkit-background-size: 100%;
          background-size: 100%;
        }
      }
    }
  }
  /**报表内容*/
  .tableBox{
    padding-bottom: 10px;
    height: 441px;
    overflow-y: auto;
    table{
      margin: 0;
      td,th{
        padding: 9px;
      }
      td:first-of-type,
      th:first-of-type{
        text-align: center;
      }
      td:last-of-type,
      th:last-of-type{
        text-align: right;
        a{
          color: #1e9fff;
        }
      }
      td:nth-last-of-type(3){
        white-space:nowrap;
      }
    }
  }
}
/**分页*/
.pageBox{
  padding: 0 20px;
  margin-bottom: 20px;
  >div{
    height: 55px;
    background-color: #fff;
    padding: 0 20px;
    >div{
      float: right;
    }
  }
}
/**店外购物订单详情*/
.onlineDetail{
  .top{
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #353B53;
    span{
      font-size: 14px;
      color: #FFFFFF;
      float: left;
      margin-left: 20px;
    }
    i{
      float: right;
      color: #FFFFFF;
      font-size: 20px;
      cursor: pointer;
      width: 34px;
      height: 34px;
      text-align: center;
      margin-right: 10px;
    }
  }
  .detailContent{
    padding: 0 20px;
    .orderStatus{
      padding: 20px 0;
      >div{
        width: 100px;
        text-align: center;
        margin: 0 auto;
        img{
          display: inline-block;
          width: 60px;
          height: 60px;
        }
        p{
          margin-top: 10px;
        }
      }
    }
    .orderInfo{
      width: 100%;
      border: 1px solid #cccccc;
      background-color: #fbfbfb;
      padding: 0 0 20px 20px;
      >div{
        margin-top: 16px;
        label{
          display: inline-block;
          vertical-align: top;
          font-size: 15px;
          color: #333333;
        }
        >div{
          display: inline-block;
          vertical-align: top;
          p{
            font-size: 15px;
            color: #333333;
            line-height: 22px;
          }
        }
      }
    }
    .goodsInfo{
      max-height: 250px;
      margin: 10px 0;
      overflow-y: auto;
      table{
        border-color: #cccccc;
        margin: 0;
        td,th{
          text-align: center;
          padding: 9px 0;
          border-color: #cccccc;
        }
        tbody tr:hover{
          background-color: transparent;
        }
        .goodsMsg{
          text-align: left;
          padding-left: 10px;
          img{
            display: inline-block;
            width: 50px;
            height: 50px;
            vertical-align: middle;
            border: 1px solid #cccccc;
          }
          div{
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            margin-left: 6px;
            p{
              line-height: 26px;
              width: 148px;
              &:first-of-type{
                overflow: hidden;
                white-space: nowrap;
                text-overflow:ellipsis;
              }
            }
          }

        }
      }
    }
    .payType-money{
      .payType{
        float: left;
        span{
          font-size: 14px;
          color: #333333;
          &:last-of-type{
            color: #666666;
          }
        }
      }
      .money{
        float: right;
        span{
          &:first-of-type{
            font-size: 14px;
            color: #333333;
          }
          &:last-of-type{
            font-size: 20px;
            color: #ff0606;
          }
        }
      }
    }
  }
}
/**店内购物订单详情*/
.inShopDetail{
  .top{
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #353B53;
    span{
      font-size: 14px;
      color: #FFFFFF;
      float: left;
      margin-left: 20px;
    }
    i{
      float: right;
      color: #FFFFFF;
      font-size: 20px;
      cursor: pointer;
      width: 34px;
      height: 34px;
      text-align: center;
      margin-right: 10px;
    }
  }
  .orderBaseInfo{
    width: 100%;
    height: 55px;
    line-height: 55px;
    span{
      margin-left: 20px;
      font-size: 16px;
      color: #333333;
      i{
        color: #ff3030;
        font-weight: 700;
      }
    }
  }
  .detailTableBox{
    padding: 0 20px;
    overflow-y: auto;
    table{
      margin: 0;
      td:first-of-type,
      th:first-of-type{
        text-align: center;
      }
    }
  }
}