.layui-form label{
    display: block;
    line-height:28px;
}
.layui-input-block{
    margin-left: 0;
    padding-right: 20px;}


.required-icon{
    color: red;
}
.layer-box{
    padding:20px;}
/*     
.app-layer{
    border: 1px solid #E3E3E3;
    border-top: 2px solid #009688;


}
.app-layer .package{

    height: 40px;
    line-height: 40px;
    background-color: #F5F5F5;
    cursor: pointer;
}
.app-layer .package .package-title{
    float: left;
    margin-left: 15px;
}
.app-layer .package .package-some{
    float: right;
}
.app-layer .package .package-some>i.icon{
    margin-right: 15px;
    color:#009688;
    display: inline-block;
    transition: all 0.3s;
}
.app-layer .package .package-some>i.description{
    font-style: normal;
    color:#000;
    font-size: 12px;
}
.app-layer .package .package-some>i.deg{
    transform: rotate(180deg);
}
.app-layer .app-layer-content{
    padding: 35px 60px
}
.app-layer .layer-place{
    display: none;
    font: normal 12px/30px "微软雅黑";
    color: #8D8D8D;
    text-align: center;
    cursor: pointer;
}
.app-layer .layer-place i{
    font: normal 12px/30px "微软雅黑";
    color: #8D8D8D;
    padding: 5px;
}
.layui-input-block img{
    display: inline-block;
    max-width: 100%;
    max-height: 224px;
}
.img-box{
    border:1px solid #ddd;
    overflow: hidden;
    width: 100%;height: 222px;
    text-align: center;
    line-height:222px;
}
.tool-box-label{font-weight: normal}
.layui-table-view .layui-table{
    width: 100%;}
.layui-btn-md{
    height: 28px;
    line-height: 28px;}


.app-table {
    margin-top: 25px;
    border-top: 2px solid #009688;
}
.layui-table, .layui-table-view{
    margin: 0;}
.layui-fluid{
    margin-bottom:10px;}


.p0{
    padding: 0;}
.w50{
    width:50%;
    display: inline-block;
}
.mr20{
    margin-right: 20px!important;}
.progress-my{
    margin-bottom: 20px;}
.zImg{
    cursor: pointer;}

.left-app,.right-app{
    float: left;
    width: 45%;}
.left-app li{
    cursor: pointer;}
.rolename li.aee {
    background: #cbefff;
    color: #17abf5;
}
.ml70{
    width:-webkit-fill-available;
    margin-left: 70%;}
.w70{
    width: 70%;}
.w150{
    width: 120px;}
.layui-disabled{
    background: #eee;
}
 */

 .op5{
    background: rgb(236, 236, 236);
    color: #000;
}
.op5:hover{
    color: #000;
}

.layui-disabled{
    background: #eee;
}
.tool-box-li{
    float: left;
    padding-right: 20px;
}
#addOrder{
	margin:20px;
}
.layui-layer-wrap .layui-input-block{
    margin-left: 115px;
    padding-right: 0;
}
.liTableBox .layui-input-block{
    margin-left: 0;
}
#addOrder .layui-table tbody tr:hover, .layui-table-hover{
	background-color: transparent!important;
}
.labelMe{
	display: block; float: none; padding: 0;text-align: left;line-height: 39px; margin-bottom: 0;line-height: 39px
}
.inputBockMe{
	margin-left: 0;
}
.posr{
	position: relative;}
.mb10{
	margin-bottom: 10px;}
.autoBox{
	margin-left: 0px;float: left;
	width: 40%;
	line-height:38px;
}
.top_box{
	margin-bottom: 10px;
}
.bottom_box{

	margin-bottom: 10px;
}
.autoBox2{
	width: 20%;
}
.autoBox input{
	width: 95%;
}
.autoBoxMerchant{
	margin-right: 80px;
}
.autoBoxMerchant+button{
	width: 80px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.inputBockMe img{
	width: 100%;
	max-width: 256px;
	max-height: 160px;
	
}
.fl{
	margin-right:20px;
	float: left;}
.layui-form-select .layui-select-title input{
	height: 38px!important;
}
.layui-form-item .layui-input-inline{
	margin-right: 0;
}
.layui-form-item{
	clear: none;
}
.layui-table td, .layui-table th{
	padding:5px 5px;
}