body{
    /*min-width: 1299px;*/
    overflow-y: auto;
}
.jurisdiction-content{
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.jurisdiction-title{
    width: 100%;
    font-size: 16px;
    color:#666;
    padding: 15px 32px;
    background: #f7f7f7;
    border-bottom: 1px dashed #e5e5e5;
}
.system-nav{
    background: #f7f7f7;
    height: 100%;
    min-width: 183px;
    overflow-y: auto;
}
.system-nav h4{
    font-size: 16px;
    color:#333;
    text-indent: 12px;
    padding: 17px 0;
    cursor: pointer;
}
.system-nav h4 span{
    margin-right: 12px;
}
.jurisdiction-info{
    height: 100%;
}
.system-nav ul li .jurisdiction-nav-li{
    text-indent: 12px;
    padding: 17px 0;
    cursor: pointer;
}
.system-nav>ul>li .jurisdiction-nav-li{
    background: #ededed;
    color:#333;
    font-size: 14px;
}
.jurisdiction-info-nav li .jurisdiction-nav-li{
    text-indent: 24px;
    font-size: 14px;
    color: #666666;
}
.jurisdiction-info-nav{
    background: #e5e5e5;
}
.jurisdiction-label{
    float: left;
    line-height: 34px;
    font-weight: 400;
}
.btn-success {
    width: 100px;
}
.form-inline .form-group{
    margin-right: 46px;
    height: 34px;
    margin-bottom: 5px;
}
.jurisdiction-detail, .system-detail {
    padding: 0 35px;
}
.system-detail table tr th, .system-detail table tr td {
    text-align: center;
    height: 43px;
    padding: 0;
    vertical-align: middle;
}
.glyphicon-calendar{
    color:#b3b3b3;
}
.signature{
    width: 150px;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.btn-success{
    margin-bottom: 5px;
}
/*修改*/
.changeinfo .icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 21px;
    height: 20px;
    background: url(../../commonold/image/edit_icon.png) no-repeat;
}
.statu-tr .statu-control {
    display: inline-block;
    padding: 3px 10px;
    background: #eee;
    cursor: pointer;
}
.statu-tr .statu-control:last-child.acve {
    background: #2cbb4e;
    color: #fff;
}
.statu-tr .statu-control:first-child.acve {
    background: #000;
    color: #fff;
}
.control-tr{
	text-align: left;
}
.control-tr a{
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
}
.control-tr a:hover{
    color:#fff;
}
.control-tr .update-buss {
    background: #23b7e5;
    color:#fff;
}
.control-tr .user-check{
    background: #fcaf1b;
    color:#fff;
    margin: 0 15px;
}
.control-tr .changeinfo{
    padding: 3px 0;
}
.control-tr .changeinfo:hover{
    color: #000;
}
.control-tr .info{
    background: #5cb85c;
    color:#fff;
    margin: 0 15px 0 0;
}
.changepwd{
    background: #00c1de;
    color: #fff;
    margin: 0 15px 0 0;
}
.common-table table tr th:last-child{
    min-width: 500px;
}
.common-table table tr td {
    text-align: left!important;
}