
html{
	height: calc(100% - 90px);
}


.h100{
	height: 100px!important	;
}
.h140{
	height: 140px!important	;
}
.h180{
	height: 180px!important	;
}
.h240{
	height: 240px!important	;
}
.h48{
	height: 48px!important	;
}
.h60{
	height: 60px!important	;
}
.h30{
	height: 30px!important	;
}
.h370{
	height: 370px!important	;
}
.plh{
	width: 90%;
	height: 90%;
	opacity: 1;
}
.layui-form-label>i.star{
	color: red;
    position: relative;
    font-size: 16px;
    top: 4px;
    left: -3px;
}

div[lay-filter="LAY-table-1"]{
margin-top:0!important;
margin-bottom:0!important;
}
.flex{
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	height: 100%!important;
}

#app{
	padding: 5px;
}

#common-tool{
	height: 40px;
	background-color: #F8F7F7;
	border-top: 1px solid #DCDCDC;
	border-bottom:1px solid #DCDCDC;
}
#common-tool #search{
	float: left;
}
#common-tool #rig-tool{
	float: right;
}
#rig-tool>button{
	float: left;
}
/*end*/
#search-tool{
	background-color: #fff;
	border-top: 1px solid #DCDCDC;
	border-bottom:1px solid #DCDCDC;
	padding: 10px 6px;
	position: relative;
	display: none;
}
#search-tool .input-group{
	float: left;
	margin-left: 10px;
}
#search-tool .input-group:first-child{
	margin-left: 0;
}
#search-tool .input-group>span{
	line-height: 30px;
	font-size: 12px;
	color: #666666;
	margin-right: 5px;
}
#search-tool-show{
	float: right;
}
/*layer*/
#demo111{
	padding: 20px 10px 0;
	display: none;
}

#demo111>.leftCon,#demo111>.rightCon{
	width: 50%;
	float: left;
}
#demo111 .layui-input-block {
    margin-left:112px!important;
    top: 0;
}
#demo111 .layui-form-label {
    background-color: #F5F5F5;
    width: 110px;
    height: 100%;
    margin-bottom: 0;
}
#demo111 .layui-form-item {
	margin-bottom: 0!important;
    border: 1px solid #E9E9E9;
}
#demo111 .layui-input, .layui-textarea {
    width: 98%!important;
    position: static!important;
}
#demo111 .layui-textarea {
    width: 98%!important;
    position: static!important;
    height: 160px!important;
}
#demo111 .layui-textarea {
    min-height: 80px!important;
}
#demo111 .layui-form-select {
    width: 98%!important;
    }
    
#demo111 #layImg{
    width: 95%;
    height: 90%;
}
#demo222{
	padding: 20px 10px 0;
	display: none;
}

#demo222>.leftCon,#demo222>.rightCon{
	width: 50%;
	float: left;
}
#demo222 .layui-input-block {
    margin-left:156px!important;
    top: 0;
}
#demo222 .layui-form-label {
    background-color: #F5F5F5;
    width: 156px;
    height: 100%;
    margin-bottom: 0;
}
#demo222 .layui-form-item {
	margin-bottom: 0!important;
    border: 1px solid #E9E9E9;
}
#demo222 .layui-input, .layui-textarea {
    width: 98%!important;
    position: static!important;
}
#demo222 .layui-textarea {
    width: 98%!important;
    position: static!important;
    height: 160px!important;
}
#demo222 .layui-textarea {
    min-height: 80px!important;
}
#demo222 .layui-form-select {
    width: 98%!important;
    }
    
#demo222 #layImg{
    width: 95%;
    height: 90%;
}
#demo222 .passLevel{
	float: left;
}
#demo222 .passLevel .mBorder{
	border: 1px solid #e6e6e6;
	border-top: none;
	border-right: none;
}
#demo222 .passLevel .levelbox{
	width: 668px;
	height: 59px;
	border: 1px solid #e6e6e6;
	border-top:none ;
	border-left:none ;
}
#demo222 .passLevel .levelbox li{
	float: left;
	width: 45px;
	height: 25px;
    background-color: red;
    margin: 19px;
    line-height: 25px;
    text-align: center;
    background-color: #E5E5E5;
    transition: all .3s;
}
#demo222 .passLevel .levelbox li.act{
    background-color: #23B7E5;
    color: #fff;
}
#demo333{
	display: none;
}
#demo333 .addsystem{
    width: 100%;
    height: 100%;
    padding: 30px 0px;
}
#demo333 .layui-form-item label .required-icon{
    color: #ff0000;
}
#demo333 .firstlayui{
    width: 155px !important;
}
#demo333 .lastlayui{
    width: 160px !important;
    margin-right: 0 !important;
    float: right !important;
}
#demo333 select[disabled]{
    background-color: #eee;
    opacity: 1;
}
#demo333 .layui-select-disabled .layui-disabled {
    border-color: #ccc!important;
    background: #eee;
    opacity: 1;
}
#demo333 .layui-form .layui-form-item{
    width: 48%;
    float: left;
    clear: none;
}
#demo333 .layui-form-item label{
    width: 100px;
}
#demo333 .layui-form-item label {
    width: 160px;
}
#demo333 .layui-form-item .layui-input-block{
    margin-left: 160px;
}
#demo333 .pwd-strength .s-level {
    display: inline-block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
#demo333 .layui-form-select dl{
    max-height: 120px;
}
#demo333 .pwd-strength .level1.active {
    background-color: #f12e00;
}
#demo333 .pwd-strength .level2.active {
    background-color: #f5851a;
}
#demo333 .pwd-strength .level3.active {
    background-color: #67a201;
}
    
/*------------------------------------*/
#search .search-ul{
	padding: 0 18px 10px;
}

#search .search-ul .search-li{
	margin-right: 48px;
	float: left;
	border-bottom: 2px solid transparent;
	transition: all .3s;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
}
#search .search-ul .search-li:hover{
	border-bottom: 2px solid #02a0ea;
	color: #02a0ea;
}
#search .search-ul .search-li.act{
	border-bottom: 2px solid #02a0ea;
	color: #02a0ea;
}
/*右侧*/
#tableBox{
	float: left;
	width:100%;
}
/*tree*/
#addName{
	margin-top: 4px;
}
#treeDemo{
	width: 278px;
	height: 368px;
	padding: 8px 20px 0;
	overflow: auto;
}

/**/
#tableBox{
    position: relative;
}  
#laypageLeft{
	float: right;
} 

/**/
select.form-control{
	font-size: 12px;
}
#hideBox{
	position: relative;
}
#hideBox .holder{
	width: 100%;
	height: 100%;
	background-color: #F5F5F5;
	position: absolute;
	left: 0;
	top: 0;
}
/*开关样式*/
.layui-form-switch{
	width: 100%!important;
	top: -5px!important;
	}
.layui-form-onswitch>i{
	left: 42px!important;
}
#subscription dl{
	height: 140px;
}
/**/
#oneDemo .leftCon{
	width: 50%;
	float: left;
}
#oneDemo .rightCon{
	width: 50%;
	float: left;
}
#oneDemo .imgid>label{
	display: flex;
	align-items: center;
	height: 170px!important;
}
#demo222 .w50{
	width: 50%!important;
}
.tool-box-label{
	line-height: 32px;
	display: block;}
.tool-box-li{
	float: left;}
.disn{
	display: none;}




#addOrder{
	margin:20px;
}
#addOrder .layui-table tbody tr:hover, .layui-table-hover{
	background-color: transparent!important;
}
.labelMe{
	display: block; float: none; padding: 0;text-align: left;line-height: 39px; margin-bottom: 0;line-height: 39px
}
.inputBockMe{
	margin-left: 0;
}
.posr{
	position: relative;}
.mb10{
	margin-bottom: 10px;}
.autoBox{
	margin-left: 0px;float: left;
	width: 40%;
	line-height:38px;
}
.top_box{
	margin-bottom: 10px;
}
.bottom_box{

	margin-bottom: 10px;
}
.autoBox2{
	width: 20%;
}
.autoBox input{
	width: 95%;
}
.autoBoxMerchant{
	margin-right: 80px;
}
.autoBoxMerchant+button{
	width: 80px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.inputBockMe img{
	width: 100%;
	max-width: 256px;
	max-height: 160px;
	
}
.fl{
	margin-right:20px;
	float: left;}
.layui-form-select .layui-select-title input{
	height: 38px!important;
}
.layui-form-item .layui-input-inline{
	margin-right: 0;
}
.layui-form-item{
	clear: none;
}
.layui-table td, .layui-table th{
	padding:5px 5px;
}