
ul.tool-box-ul>li.tool-box-li {
    width: 250px;

    margin-right: 20px;
    float: left;

}
.tool-add-box{
    padding: 0 35px;
}


div.layui-input-inline {
    width: 100%!important;
}
#add-course {
    width: 112px;
    height: 38px;
}
#search-btn {
    width: 112px;
    height: 38px;
}
ul.tool-box-ul>li.tool-box-li .tool-box-label {
    display: block;
    font: normal 14px/2em "微软雅黑";
}
#app{
    padding: 0 25px;
}
input:focus { outline: none; } 

input{  
	background:none;  
	outline:none;  
	border:0px;
}
.header{
    margin-top: 20px;
    padding: 0 30px;
}

.left-btn {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: #31b0d5;
    color:#fff;
    cursor: pointer;
    float: left;
}

 input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #bababa;
    /* placeholder字体大小  */
    font-size: 16px;         
 
}

.left-btn span{
    font-size: 20px;
}
.rigth-search {
    float: right;
    color:#fff;
    height: 40px;
    text-align: center;
    margin-right: 30px;
    font-size: 0px;
}
 
.input-search {
    width: 180px;
    height: 30px;
    border: 1px #ccc solid;
    border-right: none;
    border-radius: 6px;
    /*border-top-right-radius: 0px;*/
    /*border-bottom-right-radius: 0px;*/
    padding: 0 30px;
    line-height: 30px;
    font-size: 16px;    
}

.rigth-search span{
    display: inline-block;
    margin-left: 10px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    /*font-size: 16px;*/
    /*color: #333;*/
    text-align: center;
    /*border-top: 1px #ccc solid;*/
    /*border-right: 1px #ccc solid;*/
    /*border-bottom: 1px #ccc solid;*/
}


.class-content {
    text-align: left;
}
.class-content img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    float: left;
    position: relative;
    top: 15px;
}


.class-desc {
    /*color: #31B0D5;*/
}
.content-price{
    color: #E73B80;
    font-size: 16px;
}
.layui-btn{
    height: 28px;
    line-height: 28px;
}
.class-content {
    height: 80px;
}
.class-right {
    height: 60px;
    margin-left: 60px;
    padding-top: 8px;
    /* margin-top: 9px; */
}

.class-right p {
    height: 50%;
    line-height: 40px;
}

.layui-layer.layui-layer-tips.layui-table-tips .class-right p {
    height: 50%;
    line-height: 24px;
}
.layui-table-main .layui-table-cell{
    height: 80px!important;
    line-height: 80px!important;
}
.duration {
    height:60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.duration p{
    text-align: center;
    line-height: 30px;
}
.online-price p{
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.online-price {
    margin-top: 10px;
}
p.fir{
    height: 70px;
    line-height: 70px;
}
p.fee{
    height: 100%;
    line-height: 70px;
}
.content-price {
    color: #e73b80;
}

.layui-table-view .layui-table{
    width: 100%;
}
/*table 顶部边框*/
.layui-border-box.layui-table-view {
    border-top:2px solid #009688;
}
.table-rgt{
    text-align: right;
}
.layui-table-cell{
    padding: 0px 10px;
}