.clearfix:after{
	content:'.';
	display: block;
	height:0;
	font-size: 0;
	clear: botn;
}
.clearfix{
	*zoom:1;
}
ul {
	  list-style: none;
	  margin: 0;
	  padding-top:20px;
	}
	
	.ele-block {
		width:390px;
		height:200px;
		float:left;
		margin-left: 30px;
		margin-bottom: 70px;
		border-radius:10px;
		cursor:pointer;
	}
	.block-title {
		font-family: "Microsoft Yahei";
		font-size: 24px;
		padding: 20px;
		color:#f9f9f9;
		border-bottom: solid rgba(249,249,249,0.2);
	}
	.block-content {
		padding-left: 20px;
	}
	
	.txshenqing {
		background-color: #8792f2;
		box-shadow: 0px 5px 30px #8792f2
	}
	.txtongguo {
		background-color: #bc8cec;
		box-shadow: 0px 5px 30px #bc8cec
	}
	.txbutongguo {
		background-color: #fda998;
		box-shadow: 0px 5px 30px #fda998
	}
	.txfafang {
		background-color: #83c3f9;
		box-shadow: 0px 5px 30px #83c3f9
	}
	.txtuihui {
		background-color: #87d0f2;
		box-shadow: 0px 5px 30px #87d0f2
	}
	
	.icon1{
		 background: #8792f2 url("../img/-apply-.png") no-repeat 300px 90px;
	}
	.icon2{
		 background: #bc8cec url("../img/through.png") no-repeat 300px 90px;
	}
	.icon3{
		 background: #fda998 url("../img/-nothrough.png") no-repeat 300px 90px;
	}
	.icon4{
		 background: #83c3f9 url("../img/issue.png") no-repeat 300px 90px;
	}
	.icon5{
		 background: #87d0f2 url("../img/Back-.png") no-repeat 300px 90px;
	}
	
	.block-sub-title {
		font-family: "Microsoft Yahei";
		font-size:18px;
		color:#f9f9f9;
	}
	.block-sub-content {
		font-family: "Microsoft Yahei";
		font-size:24px;
		color:#f9f9f9;
	}