.clear{
    clear: both;
}
.top-content{
    background: #fff;
    overflow: hidden;
}

.down-content{
    width: 100%;
    overflow: hidden;
}
.down-content{
    padding: 5px 10px;
}
.down-content .down-list{
    width: 49.5%;
    height: 356px;
    float: left;
    border:1px solid #dfdfdf;
    margin-bottom: 10px;
}
.down-content .down-list:nth-child(odd){
    margin-right: 1%;
}
.down-content .down-list h5{
    border-left: 3px solid #00a0e9;
    padding: 5px 0;
    background: #eeeeee;
    color:#0068b7;
    text-indent: 10px;
}
.content-body{
    height: auto;
    overflow: hidden;
    padding: 0 0 20px 0;
    width: 95%;
    margin:15px auto;
}
.down-last{
    height: 30px;
    width: 100%;
}
.common-container {
    width: 100%;
    background: #fff;
    border-left: 1px solid #dcdcdc;
}
/*折线图*/
.echarts{
    width:100%;
    margin:0 auto;
    height: 331px;
}
/*顶部标题*/
.content-body .title{
    position: relative;
    margin: 5px 10px 20px 5px;
}
.title h4{
    display: inline-block;
    background: #fff;
    position: absolute;
    top: -8px;
    width: 70px;
    font-size: 18px;
}
.content-body .title hr{
    height: 4px;
}
.top-content{
    width: 100%;
    height: auto;
}
.top-content .course{
    font-size: 16px;
    width: 100px;
    cursor: pointer;
    margin-bottom: 15px;
}
.top-content .course i{
    display: block;
    margin-left: 5px;
    float: right;
    width: 14px;
    height: 14px;
   background: url(../img/source.png) no-repeat;
    background-size: 100%;
    margin-top:3.5px;
}
.content-left{
    width: 75%;
    float: left;
}
.content-left .down-list{
    width: 100%;
    height: auto;
    position: relative;
}
.down-list .select{
    position: absolute;
    top:0;
    right: 0;
    padding: 10px 20px;
}
.content-left .down-list h5{
    font-size: 16px;
}
.content-right{
    width: 23%;
    height: 300px;
    background: #f2f2f2;
    float: right;
    padding: 25px;
}
.content-right .numlist{
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 15px;
}
.content-right .numlist span{
    color:#0272c6;
    margin-left: 10px;
}
.content-right .look-all{
    margin: 20px;
    color:#0272c6;
    float: right;
    cursor: pointer;
}
.down-content{
    width: 100%;
    height: auto;
    margin-top:15px;
}
.down-content h4{
    font-size: 16px;
    margin-bottom: 15px;
}
.down-content .downlist{
    width: 25%;
    float: left;
    border-right: 1px solid #dfdfdf;
}
.down-content .downlist:last-child{
    border:0;
}
.down-content .downlist .listicon{
    cursor: pointer;
    width: 80px;
    margin:0 auto;
}
.down-content .downlist .listicon span{
    color:#3b96e5;
    font-size: 18px;
    margin: 10px auto;
    display: block;
    text-align: center;
}
.down-content .downlist:first-child i{
    display: block;
    width: 43px;
    height: 43px;
    background: url('../img/icon1.png') no-repeat;
    background-size: 100%;
    margin: 0 auto;
}
.down-content .downlist:first-child i.acv{
    display: block;
    width: 43px;
    height: 43px;
    background: url('../img/icon01.png') no-repeat;
    background-size: 100%;
    margin: 0 auto;
}
.down-content .downlist:nth-child(2) i{
    display: block;
    width: 33px;
    height: 43px;
    background: url('../img/icon2.png') no-repeat;
    background-size: 100%;
    margin: 0 auto;
}
.down-content .downlist:nth-child(3) i{
    display: block;
    width: 43px;
    height: 43px;
    background: url('../img/icon3.png') no-repeat;
    background-size: 100%;
    margin: 0 auto;
}
.down-content .downlist:nth-child(4) i{
    display: block;
    width: 43px;
    height: 43px;
    background: url('../img/icon4.png') no-repeat;
    background-size: 100%;
    margin: 0 auto;
}
.down-content .downlist .listdetail{
    width: 100%;
    height: 150px;
}
.downlist:nth-child(1) .listdetail ul li{
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}
.downlist:nth-child(1) .listdetail ul li span{
    margin-left: 10px;
}
.online{
    color:#49d3a0;
}
.leave{
    color:#c8c8c8;
}
.downlist .listdetail ul li{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.listdetail ul li span{
    padding: 0 5px;
}
