
.item-group-content {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 20px;
	/*border: 1px solid#ccc;*/
	box-shadow: 0 0px 8px rgba(7, 17, 27, 0.2);
	/*margin-left: 95px;*/
}

.select-jquery-plugin {
	width: 200px!important;
}

.swal2-modal{
	margin-top:-200px!important;
}

/*分割线*/
.background-color-cutting-line{
	background-color: #d9edf7;height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*按钮组 垂直竖线*/
.vertical-vertical-virgule{
    border-right: solid 1px #9E9E9E;
    border-left: solid 1px #9E9E9E;
		padding-left: 0px;
    padding-right: 0px;
}

.ibox-content-table-zdy{
	box-shadow: 0 0px 8px #1b7ed4;
	padding-top: 10px;
	padding-right: 10px;
	border-left-width: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

/*table td tr span */
.table-td-tr-span{
	color: #fff;
	background-color: #31b0d5;
	border-color: #31b0d5;
	margin-bottom: 0px;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 2px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 2px;
}

.btn-success{
	padding: 0px 8px!important;
	border-radius: 0px!important;
}

.col-md-4-zdy{
	padding-top: 6px;
  padding-bottom: 6px;
}

.btn-info{
	margin-bottom: 5px;
	margin-top: 5px;
}

h1{
	  margin-bottom: 20px;
}
.zdy-btn-list-h1{
	line-height: 80px;
}

.zdy-div-height{
		padding-top: 8px;
		padding-bottom: 8px;
		height: 79px;
}

.zdy-div-border-bottom-split-line{
		padding-top: 5px;
    border-bottom: solid 1px #9E9E9E;
}
