.h100{
    height: 100px!important	;
}
.h30{
    height: 30px!important	;
}
.flex{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100%!important;
}
.p4{
    padding: 4px 10px;
}


#common-tool{
    height: 40px;
    background-color: #F8F7F7;
    border-top: 1px solid #DCDCDC;
    border-bottom:1px solid #DCDCDC;
}
#common-tool #search{
    float: left;
}
#common-tool #rig-tool{
    float: right;
}
#rig-tool>button{
    float: left;
}
.input-group .form-control {
    width: 200px;
    height: 30px;
}
/*end*/
#search-tool{
    background-color: #fff;
    padding: 10px;
    position: relative;
}
#search-tool .input-group{
    float: left;
    margin-left: 10px;
}
#search-tool .input-group:first-child{
    margin-left: 0;
}
#search-tool .input-group>span{
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    margin-right: 5px;
}
#search-tool-show{
    float: right;
}
/*layer*/
.common-tip>.leftCon,.common-tip>.rightCon{
    width: 50%;
    float: left;
}
.common-tip{
    padding: 20px 10px 0;
    display: none;
}

.common-tip .layui-input-block {
    margin-left:112px!important;
    top: 0;
}
.common-tip .layui-form-label {
    background-color: #F5F5F5;
    width: 120px;
    height: 100%;
    margin-bottom: 0;
}
.common-tip .layui-form-item {
    margin-bottom: 0!important;
    border: 1px solid #E9E9E9;
}
.common-tip .layui-input, .layui-textarea {
    width: 98%!important;
    position: static!important;
}
.common-tip .layui-textarea {
    min-height: 80px!important;
}
.common-tip .layui-form-select {
    width: 98%!important;
}
.common-tip .layui-unselect{
    width: 99%!important;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
.levelusual{
    display: none;
}
.tabale-list{
    padding: 0 35px;
}
.layui-table-body{
    overflow: auto;
}
.input-group select{
    padding: 0 6px;
}
#textBox label{
    height: 80px !important;
}
#textBox textarea{
    resize:none;
    height: 80px
}
.jiange{
    width: 100%;
    height: 20px;
}

.tool-box {
	 padding: 0px 10px;
}
ul.tool-box-ul {
	padding: 25px 25px 0;
}

ul.tool-box-ul>li.tool-box-li {
	width: 250px;
	margin-right: 20px;
	float: left;
}
.tool-add-box{
	padding: 0 35px;
}
.tool-add-box .add{
	width: 112px;
    height: 38px;
    float: right;
}
.required-icon{
	color: red;
}
.tool-box-ul button {
	position: relative;
	top: 27px;
	width: 112px;
    height: 38px;
}

div.layui-input-inline {
	width: 100%!important;
}

ul.tool-box-ul>li.tool-box-li .tool-box-label {
	display: block;
	font: normal 14px/2em "微软雅黑";
}

.layui-btn.my-btn {
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    font-size: 12px;
}
.table-rgt {
	text-align: right;
}
.layui-app {
    border-top:2px solid #009688;
}
.layui-table, .layui-table-view {
    margin: 0 0;
}
.layui-table, .layui-table-view {
	width: 100% !important;
}