* {
  box-sizing: border-box;
}
body {
  font-family: 'microsoft yahei';
  background: #F1F7F9;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.thirty {
  font-size: 30px;
  text-align: center;
}
.twenty {
  font-size: 20px;
  text-align: center;
}
.eighteen {
  font-size: 16px;
  text-align: center;
}
.seacrch {
  height: 50px;
  position: absolute;
  top: 5px;
  right: 20px;
  min-width: 510px;
}
.seacrch li {
  float: left;
  margin-right: 10px;
  font-size: 24px;
  color: #333333;
}
.seacrch li:first-child {
  margin-top: 5px;
  margin-right: 14px;
}
.seacrch li:nth-child(3) {
  margin-top: 4px;
}
.centerContent {
  min-width: 1720px;
  margin-top: 30px;
  margin-left: 100px;
}
.centerContent ul {
  float: left;
  margin: 0 5px;
}
.centerContent .thefirst {
  width: 500px;
  height: 150px;
  border-radius: 6px;
  margin-top: 338px;
  position: relative;
  background: url("../img/headline/total amount.png") no-repeat;
}

.centerContent .thefirst .totalMoney div:hover{
  padding-top: 13px;
  border: 1px solid #00C1DE;
  background-color: #368aa5;
  background-position: -60px -60px;
  padding: 3px 3px;
  cursor:pointer;
}

.centerContent .thefirst .totalMoney {
  width: 300px;
  height: 100px;
  border-radius: 6px;
  background: #0044a1;
  color: #fbeb0d;
  position: absolute;
  top: 25px;
  right: 10px;
  /*padding-top: 13px;*/
}
.centerContent .thefirst .nextOne {
  position: absolute;
  top: 47px;
  right: -65px;
}
.centerContent .thesecond {
  position: relative;
  margin-left: 63px;
  margin-top: 100px;
}
.centerContent .thesecond li {
  position: absolute;
  left: 4px;
}
.centerContent .thesecond .one {
  top: 20px;
  left: 0px;
  z-index: 10px;
}
.centerContent .thesecond .two {
  top: 37px;
}
.centerContent .thesecond .three {
  top: 211px;
  left: 0px;
}
.centerContent .thesecond .four {
  top: 228px;
}
.centerContent .thesecond .five {
  top: 400px;
  left: 0px;
}
.centerContent .thesecond .six {
  top: 417px;
}
.centerContent .thesecond .seven {
  top: 590px;
  left: 0px;
}
.centerContent .thethird {
  margin-top: 60px;
  margin-left: 20px;
}
.centerContent .thethird li {
  width: 250px;
  height: 140px;
  background: #FFFFFF;
  margin-bottom: 50px;
  border-radius: 6px;
  position: relative;
  padding-top: 50px;
}

.centerContent .thethird div:hover{
  border: 1px solid #00C1DE;
  background-color: #fff;
  background-position: -60px -60px;
  padding: 3px 3px;
  cursor:pointer;
}

.centerContent .thethird img {
  position: absolute;
  top: -23px;
  left: 85px;
}
.centerContent .thethird li:first-child {
  color: #ff5442;
}
.centerContent .thethird li:nth-child(2) {
  color: #fc9e28;
}
.centerContent .thethird li:nth-child(3) {
  color: #7f4fe4;
}
.centerContent .thethird li:nth-child(4) {
  color: #85E05E;
}
.centerContent .thefourth {
  margin-top: 300px;
}
.centerContent .thefive {
  margin-top: 154px;
  position: relative;
}
.centerContent .thefive li {
  position: absolute;
  left: 0px;
}
.centerContent .thefive .one {
  top: 0px;
}
.centerContent .thefive .two {
  top: 17px;
  left: 4px;
}
.centerContent .thefive .three {
  top: 161px;
}
.centerContent .thefive .four {
  top: 178px;
  left: 4px;
}
.centerContent .thefive .five {
  top: 321px;
}
.centerContent .thesix {
  margin-top: 120px;
  margin-left: 10px;
}
.centerContent .thesix li {
  width: 310px;
  height: 80px;
  background: white;
  margin-bottom: 80px;
  box-shadow: 0 0 1px 0px #FF9B0F;
  border-radius: 6px;
  position: relative;
  padding-left: 80px;
  padding-top: 15px;
  font-size: 18px;
  color: #333333;
}
.centerContent .thesix li span {
  position: absolute;
  top: 0px;
  left: 0;
  width: 60px;
  height: 80px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #FF9B0F ;
}
.centerContent .thesix li .one {
  background: #FF9B0F url(../img/headline/labor.png) no-repeat 16px 23px;
}
.centerContent .thesix li .two {
  background: #FF9B0F url(../img/headline/Income-tax.png) no-repeat 16px 23px;
}
.centerContent .thesix li .three {
  background: #FF9B0F url(../img/headline/Not-to-issue.png) no-repeat 16px 23px;
}


.thesix .div-hover:hover{
  border: 1px solid #00C1DE;
  background-color: #fff;
  background-position: -60px -60px;
  padding: 3px 3px;
  cursor:pointer;
}
