*{
  box-sizing: border-box;
}
body {

  font-family: 'microsoft yahei';
  background: #F1F7F9;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
.thirty{
  font-size: 30px;
  text-align: center;
}
.twenty{
  font-size: 20px;
  text-align: center;
}

.eighteen{
  font-size: 18px;
  text-align: center;
}
//搜索框
.seacrch{
  height: 50px;
  position: absolute;
  top: 5px;
  right: 20px;
  min-width: 510px;
 li{
   float: left;
   margin-right: 10px;
   font-size: 24px;
   color: #333333;
 }

  li:first-child{
    margin-top: 5px;
    margin-right: 14px;
  }

  li:nth-child(3){
    margin-top: 4px;
  }
  input{
    height: 32px;
  }
}

//中间内容
.centerContent{
  min-width: 1720px;
  margin-top: 30px;
  ul{
    float: left;
    margin: 0 5px;
  }

  .thefirst{
    width: 500px;
    height: 150px;
    border-radius: 6px;
    margin-top: 400px;
    position: relative;
    background:url("../img/headline/total amount.png") no-repeat;

    .totalMoney{
      width: 300px;
      height: 100px;
      border-radius: 6px;
      background: #0044a1;
      color: #fbeb0d;
      position: absolute;
      top: 25px;
      right: 10px;
      padding-top: 13px;
    }

    .nextOne{
      position: absolute;
      top: 47px;
      right: -65px;
    }
  }

  .thesecond{
    position: relative;
    margin-left: 63px;
    margin-top: 100px;
    li{
      position: absolute;
      left: 4px;
    }
    .one{
      top:0px;
      left: 0px;
      z-index: 10px;
    }
    .two{
      top:17px;
    }
    .three{
      top:239px;
      left: 0px;
    }
    .four{
       top:257px;
     }
    .five{
      top:482px;
      left: 0px;
    }
    .six{
      top:499px;
    }
    .seven{
      top:717px;
      left: 0px;
    }

  }
  .thethird{
    margin-top: 60px;
    margin-left: 20px;
    li{
      width: 250px;
      height: 150px;
      background: #FFFFFF;
      margin-bottom:90px;
      border-radius: 6px;
      position: relative;
      padding-top: 50px;
    }

    img{
      position: absolute;
      top: -23px;
      left: 85px;

    }

    li:first-child{
        color: #ff5442;

    }

    li:nth-child(2){
      color: #fc9e28;
    }

    li:nth-child(3){
      color: #7f4fe4;
    }

    li:nth-child(4){
      color: #85E05E;
    }

  }

  .thefourth{
    margin-top: 345px;
  }

  .thefive{
    margin-top: 197px;
    position: relative;
    li{
      position: absolute;
      left: 0px;
    }
    .one{
      top: 0px;
    }
    .two{
      top: 17px;
      left: 4px;
    }
    .three{
      top: 161px;
    }
    .four{
      top: 178px;
      left: 4px;
    }
    .five{
      top: 321px;
    }

  }

  .thesix{
    margin-top: 167px;
    margin-left: 10px;
    li{
      width: 310px;
      height: 80px;
      background:white;
      margin-bottom: 80px;
      box-shadow: 0 0 1px 0px #FF9B0F;
      //box-shadow: 0px 0px 5px #FF9B0F;
      border-radius: 6px;
      position: relative;
      padding-left: 80px;
      padding-top: 15px;
      font-size: 18px;
      color: #333333;

      span{
        position: absolute;
        top: 0px;
        left: 0;
        width: 60px;
        height: 80px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        background-color:#FF9B0F ;
      }
      .one{
        background:#FF9B0F url(../img/headline/labor.png) no-repeat 16px 23px;
      }
      .two{
        background:#FF9B0F url(../img/headline/Income-tax.png) no-repeat 16px 23px;
      }
      .three{
        background:#FF9B0F url(../img/headline/Not-to-issue.png) no-repeat 16px 23px;
      }
    }
  }

}