* {
	-webkit-tap-highlight-color: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
hr {
	margin: 0;
	padding: 0
}

html,
body {
	width: 100%;
	color: #353b53;
	background:#f6f6f6;
	font-size: 22px;
	font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, sans-serif;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #6e6e6e;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

img {
	border: none;
}

::-webkit-input-placeholder {
	color: #abafbe;
	font-size: 19px;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #abafbe;
	font-size: 19px;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #abafbe;
	font-size: 19px;
}

:-ms-input-placeholder {
	color: #abafbe;
	font-size: 19px;
}

input[type=text] {
	font-size: 18px;
	color: #abafbe;
}

input,
button,
select,
textarea {
	outline: none;
}

textarea {
	resize: none;
}

button {
	outline: none;
}

