.myForm{
	padding: 1rem 2rem;
}
.myTitle{
	display: block;
	background-color: #353b53;
	font-size: 2rem;
	padding: 1rem 0 1rem 3.8rem;
}
.myTitle .fa-close{
    font-size: 2.8rem;
    margin-right: 1rem;
}
.form-group{
	padding-left: 15px;
	display: flex;
}
.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.form-title{
	font-size: 2rem;
	float: left;
}
.form-text{
	float: left;
	margin-left: 1rem;
}
.status{
	display: inline-block;
	padding: 0.25rem 0.5rem;
	margin-top: 0.25rem;
	background-color: #23c6c8;
	color: #fff;
	font-size: 1rem;
	margin-left: 0.7rem;
}
.my-btn-group{
	padding: 1rem 1rem 0 0;
}
.my-btn-group .btn{
	border-radius: 0;
	margin: 0 0.5rem;
}
.my-btn-group .btn span:before{
	content: "("
}
.my-btn-group .btn span:after{
	content: ")"
}
.bootstrap-table {
    margin-top: 6px;
}