body{
  background: #fff;

}
.wrapper-main{
  padding:10px;
}
.layui-form-label{
  width:auto;
}
.main{
  border-top: 2px solid #009688;
}
.layui-table-view{
  margin: 0;
}
.fr{
  float: right;
}
.mb10{
  margin-bottom: 10px;}
.tac{
  text-align: center;}
.addDemo{
  margin: 25px 70px;
  display: none;
  height:350px;
}
.layui-layer-btn .layui-layer-btn0{
  background: #009688!important;
  border-color:#009688!important;
}

.layui-laypage{
  float: right;
}
.header{
  .btn-box{
    padding:9px 10px 8px 10px;
    border-bottom:1px solid #ddd;
    background: #f2f2f2;
  }
  .layui-form-item{
    margin-bottom: 0;
  }
  .layui-input-block{
    margin-left: 0;
    padding-right:10px;
  }
  label{
    display: block;
    line-height:38px;
  }
  &_ul{
    padding:10px;
  }
  margin-bottom:20px;
}
.xiadan{
  width: 100%;

  li{
    position: relative;
    float: left;
    border:1px solid #019688;
    padding: 10px;
    width: 210px;
    margin:10px 9px;

  }
  .layui-form-item{
    clear: none;
  }
  h3{
    font-size: 16px;
    padding-left: 5px;
  }
  .layui-input-block{
    width: 100%;
    margin-left: 0;
    padding-left: 5px;
  }
  p{
    display: block;}
  em{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 40px solid #019688;
    border-left: 40px solid transparent;
  }
  i.ime{
    position: absolute;
    top: -36px;
    left: -19px;
    color: #fff;
  }
}
.layui-form-checked[lay-skin=primary] i {
  border-color: #019688;
  background-color: #019688;
  color: #fff;
}
.layui-form-radio i:hover, .layui-form-radioed i{
  color: #019688;
}
.layui-disabled, .layui-disabled,.layui-disabled, .layui-disabled:hover{
  color: #333!important;
}