#add_thesaurus {
  width: 100%;
  height: 100%;
  padding: 50px 25px;
}

#add_thesaurus .layui-form-label {
  width: 100px;
}

.layui-form-item label {
  font-size: 14px;
  color: #666;
}

.layui-input-block {
  width: 300px;
}