header {
	background: #fff;
} 
.header-btn  {
	padding: 1.0rem 1.2rem;
	display: flex;
	align-items: center;
}
.header-btn  .am-u-sm-8{
	display: flex;
	padding-left: 0;
	align-items: center;
} 
.header-btn .logo {
	width: 4.0rem;
	height: 4.0rem;
	margin-right: 1.0rem;
}

.logo-title span{
	display: block;
}
.logo-title span:first-child{
	font-size: 1.6rem;
	font-weight: bold;
	color: #333;
}
.logo-title span:last-child{
	font-size: 1.2rem;
	color: #999;
}
.header-btn .logo img {
    border-radius: 50%;
    object-fit: cover;
}
.am-comment-avatar {
	object-fit: cover;
}
.fortification-btn {
	padding-right: 0 !important;
}
.header-btn .am-btn {
	width: 7.5rem;
	height: 3.0rem;
	line-height: 3.0rem !important;
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	color: #fff;
	outline: none !important;
	border: none;
	position: relative;
	z-index: 2;
	top: 0;
	left: 0;
}
.header-btn .am-btn img {
	width: 2.0rem;
	height: 1.7rem;
	margin-right: 0.5rem;
	vertical-align: text-bottom;
}
.description {
	font-size: 1.5rem;
	color: #333;
	margin-bottom: 0.8rem;
	line-height: 1.5rem;
}

.fortification {
	background: #fe4c74;
	float: right;
}

.am-gallery {
	padding: 0 !important;
}

.am-gallery-default>li {
	padding: 0 0.2rem 0.2rem 0;
   	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-slide img {
	object-fit: cover;
}
.gif-box .am-u-sm-6 {
	padding: 0 1.2rem;
}
.gif-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 2.2rem 0 1.5rem;
}
.gif-box .am-u-sm-6:first-child{
	text-align: left;
	color: #131313;
	font-size: 1.8rem;
	font-weight: bold;
}
.gif-box .am-u-sm-6:last-child{
	text-align: right;
	color: #999999;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.gif-box .total{
	padding-right: 0.4rem;
}
.gif-box .flower {
	padding: 0 0.4rem 0 0.5rem;
}

.swiper-slide img {
	width: 5rem;  
	height: 5rem;
    border-radius: 50%;
}

.swiper-slide  span{
	display: inline-block;
}
.img3{
	width: 1.3rem;
	height: 1.3rem;
	display: inline-block;
}

.img3 img{
	width: 100%;
	height: 100%;
	display: block;
}

.am-slider {
	padding: 0 1.2rem;
}
.am-slider-carousel li {
  margin-right: 5px;
  
}
.am-comment-hd h3 , .am-comment-hd .time {
	display: block;
}
.am-comment-hd {
	border: none;
}
.am-comment {
	margin-bottom: 2rem;
}
.am-comment-main {
	border: none;
}
.am-comment-main:before{
	border: none;
}

.am-comment-bd {
	padding: 0.6rem 0 0;
}

.list-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-content span:first-child{
	padding-right: 0.3rem;
}
.comment {
	margin-bottom: 1.2rem;
}
.comment span:first-child{
	color: #131313;
	font-size: 1.8rem;
	font-weight: bold;
}
.comment span:last-child{
	color: #999;
	font-size: 1.5rem;
	padding-left: 0.6rem;
}

.comment-name {
	color: #333333;
	font-size: 1.5rem;
	font-weight: bold;
}
.comment-time {
	color: #999999;
	font-size: 1.3rem;
}
.comment-content  , .reply {
	color: #333;
	font-size: 1.4rem;
}
.reply {
	padding-right: 0.2rem;
}
.reply-content , .reply-name{
	color: #999999;
	font-size: 1.4rem;
}
.am-direction-nav {
	display: none !important;
}
.am-control-nav {
	display: none !important;
}
.am-control-paging {
	display: none !important;
}
.am-slider-default { 
	margin: 0 !important;
}
.swiper-slide  {
	width: auto;
}
.am-pureview-direction {
	display: none;
}

#shopListBox{
	width: 100%;
	overflow-x: auto;
	margin-top: 0.8rem;
	margin-bottom: 1.1rem;
}

#shopList{
	display: flex;
	flex-direction: row;
	width: auto!important;
	float: left;
}

#shopList .slide{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 6rem;
	width: 26.6rem;
	justify-content: space-between;

}

#shopList .logo{
	width: 5rem;
	height: 5rem;
	border-radius: 0.6rem;
	margin: 0 1rem;
}

#shopList .info{
	display: flex;
	flex-direction: row;
}

#shopList #infoBox{
	display: flex;
	flex-direction: column;
}

.infoBox .shopName{
	font-size: 1.6rem;
	font-weight: bold;
}

.infoBox .address{
	font-size: 1.28rem;
	color: #999999;
	/* display: flex;
	align-items: center; */
}

.infoBox .addressIcon{
	width: 0.83rem;
	height: 1rem;
	margin-right: 0.45rem;
}

.shopName,.address{
	width: 13.4rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 2.5rem;
}

.enterShop{
	width:6rem;
	height: 2.68rem; 
	line-height: 2.52rem;
	border-radius: 1.34rem;
	border: solid 0.08rem #FE4C74;
	text-align: center;
	color: #FE4C74!important;
	margin-right: 0.48rem;
	font-size: 1.4rem;
}

#storeTitle{
	font-weight: bold;
	padding-left: 1.2rem;
	font-size: 1.8rem;
	color: #131313;
}