header {
	padding-top: 7.4rem;
	background: #fe4e54;
}

.header-img {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 8.3rem;
}

.header-img .bj {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-85%);
	left: 0;
}

.header-img .bj img {
	width: 100%;
	height: 100%;
}

.header-img .logo-img {
	width: 8.3rem;
	height: 8.3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header-img .logo-img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: block;
	object-fit: cover;
}

.header-name {
	margin-top: -4.5rem;
	padding-top: 4rem;
	text-align: center;
}

header .am-g {
	background: #fff;
}

.content-img {
	background: #fff;
}

.header-name .name {
	font-size: 2.0rem;
	font-weight: bold;
	color: #333333;
	padding-top: 2.0rem;
}

.header-name .info {
	font-size: 1.2rem;
	font-weight: bold;
	color: #999;
	line-height: 2.0rem;
	margin-bottom: 1.4rem;
}

.header-btn .am-btn {
	width: 7.5rem;
	height: 3.0rem;
	line-height: 3.0rem !important;
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	color: #fff;
	outline: none !important;
	border: none;
	position: relative;
	z-index: 2;
	top: 0;
	left: 0;
}

.header-btn .img1 {
	position: absolute;
	width: 7.5rem;
	height: 3.0rem;
	top: 1.2rem;
	right: 0;
	transform: translateX(-14%);
	z-index: 1;
}

.header-btn .img2 {
	position: absolute;
	width: 7.5rem;
	height: 3.0rem;
	top: 1.2rem;
	left: 0;
	z-index: 1;
	transform: translateX(14%);
}

.header-btn .am-btn img {
	width: 2.0rem;
	height: 1.7rem;
	margin-right: 0.5rem;
	vertical-align: text-bottom;
}

.fortification {
	background: #fe4c74;
	float: right;
}

.chat {
	background: #5582f4;
	float: left;
}

.header-num {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.5rem;
}

.header-num span {
	display: block;
	text-align: center;
}

.header-num span:first-child {
	font-size: 2.0rem;
	font-weight: bold;
	color: #333333;
}

.header-num span:last-child {
	font-size: 1.2rem;
	color: #999;
}

.family {
	height: 3.7rem;
	line-height: 3.7rem;
}

.family .am-u-sm-6:first-child {
	text-align: left;
	font-size: 1.2rem;
	color: #999;
}

.family .am-u-sm-6:last-child {
	text-align: right;
	font-size: 1.3rem;
	color: #999;
}

.family .am-u-sm-6:last-child i {
	padding-left: 0.5rem;
}

.am-accordion-content {
	padding: 0 !important;
}

.content-list {
	padding: 0 !important;
	list-style: none;
}

.content-list .list {
	margin-bottom: 1.0rem;
}

.content-list .family {}

.content-list .family img {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
	margin: -0.1rem 0.5rem 0 0;
}

.content-list .family .am-u-sm-6:last-child {
	font-size: 1.2rem !important;
}

.am-gallery {
	padding: 0 !important;
}

.am-gallery-default>li {
	padding: 0.1rem !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: rgba(0,0,0,0.1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.95);
	z-index: 999;
	display: none;
}

.header-box {
	background: #fff;
}
