.iservicet{
  padding: 19px 25px;
  .isername-text{
    width: 100px;
  }
  .isername-input{
    width:50%;
  }
}

.tablewrap{
  padding: 0 25px;
}

.redtext,.repeattext{
  color: #FF5722;
  line-height: 30px;
  font-size: 14px;
}
.addpage{
  display: none;
  width: 480px;
  margin: 20px auto;
  .itemcon{
    margin-bottom: 10px;
    .layui-form-item{
      margin-bottom: 0;
      .layui-input-inline{
        width: 400px;
      }
      
    }
    .reducebtn{
      font-size: 16px;
      color: #c9c9c9;
      padding: 0 12px;
    }
  }

  a.add{
    color: #1E9FFF;
    line-height: 30px;
    font-size: 14px;
    i{
      margin-right: 10px;
    }
  }
}
.updatekeyword{
  .itemcon{
    margin:30px auto 0;
    .layui-input-inline{
      width: 500px!important;
    }
  }
}