body{
  background: #fff;

}
.wrapper-main{
  padding:10px;
}
.layui-form-label{
  width:auto;
}
.main{
  border-top: 2px solid #009688;
}
.layui-table-view{
  margin: 0;
}
.fr{
  float: right;
}
.mb10{
  margin-bottom: 10px;}
.tac{
  text-align: center;}
.addDemo{
  margin: 25px;
  display: none;
}
.layui-layer-btn .layui-layer-btn0{
  background: #009688!important;
  border-color:#009688!important;
}
.layui-laypage{
  float: right;
}
.layui-table-view .layui-table{
  width: 100%;
}