* {
  margin: 0;
  padding: 0;
}
html ,body{
  width: 100%;
  height: 100%;
}
.flex {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  height: 100%!important;
}
.right {
  float: right;
}
.h100 {
  height: 100px!important	;
}
.h30 {
  height: 30px!important	;
}
.h4 {
  height: 40px;
}
.topcontrol {
  width: 100%;
  background: #EDEDED ;
  margin: 0;
  padding-right: 20px;
  padding-top: 5px;
}
.topcontrol .searchbutton {
  float: left;
  margin-left: 10px;
}
#rig-tool{
	float:right;
	margin-right: 20px;
}
.searchform {
  display: none;
  margin-top: 0;
  padding-left: 10px;
  height: 50px;
  padding-top: 5px;
  padding-left: 20px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  position: relative;
  margin-bottom: 10px;
}
.searchform #searchbtn {
  background: #049FE8 ;
}
.searchform div {
  margin-right: 10px;
}
.searchform .inputhidden {
  float: right;
  margin-right: 30px;
  color: #00A2E6 ;
  font-size: 35px;
  position: relative;
  font-weight: bold;
}
.searchform .inputhidden .iconlft {
  position: absolute;
  top: 10px;
  right: 0;
}
.searchform .form-group .form-control{
  height: 30px;
}
.content {
  position: relative;
  padding-left: 10px;
  margin-top: 5px;
}
.content .trees-box {
  float: left;
  width: 310px;
  height: 720px;
  border: 1px solid #EEEEEE;
  margin-top: 10px;
}
.content .trees-box .trees-btn {
  background-color: #EEEEEE ;
  padding: 5px;
  position: relative;
}
.content .trees-box .side-handle-left {
  position: absolute;
  top: 0;
  right: 0px;
  width: 10px;
  height: 40px;
  color: #049FE8 ;
  background: gainsboro;
  font-size: 20px;
  padding-top: 10px;
}
.content .trees-box h4 {
  background: gainsboro;
  padding: 5px;
}
#closebtn {
  display: none;
}

#app {
  position: relative;
  margin-left: 320px;
}

/*表单修改*/
.layui-form-label{
    width: 115px;
}
.layui-input-block{
    margin-left: 115px;
}
.tips{
    display:block;
    color: red;
    margin: 5px 0 0;
    padding-left:130px;
}
.layui-form-selected dl{
  height: 200px;
}
#blindApp{
  display: none;
}
.apptable{
  width: 750px;
  margin: 0 auto;
}
.appSearchbox{
  padding: 10px 20px;
}
.table-rgt {
  margin-right: 10px;
}
.ztree {
  height: 650px;
  overflow: auto;
}

/*layer*/
.tipdemo{
    padding: 20px 10px 0;
    display: none;
}

.tipdemo .layui-input-block {
    margin-left:112px!important;
    top: 0;
}
.tipdemo .layui-form-label{
    background-color: #F5F5F5;
    width: 120px;
    height: 100%;
    margin-bottom: 0;
}
.tipdemo .layui-form-item{
    margin-bottom: 0!important;
    border: 1px solid #E9E9E9;
}
.tipdemo .layui-input {
    width: 98%!important;
    position: static!important;
}
.visiable{
    visibility: hidden;
    padding: 1px 0;
}

/*表单修改*/
.layui-form-label{
    width: 115px;
}
.layui-input-block{
    margin-left: 115px;
}

/*tab*/
.table-rgt{
    float: right;
    margin-right: 10px;
}
.publishtype .layui-form-select{
    width: 98%;
    margin: 0 auto;
}
.publishtype .layui-input{
    margin: 0 auto;
    height: 30px;
    width: 100% !important;
}
