.common-container{
    height: 855px;
    padding: 5px 0 0 10px;
    overflow: auto;
    position: relative;
}
.jurisdiction-content{
    height: 100%;
    background: #fff;
    border-top:1px solid #dfdfdf;
}
.jurisdiction-content .jurisdiction-left{
    width: 220px;
    height: 100%;
    float: left;
    border: 1px solid #e5e5e5;
    border-top:none;
}
.jurisdiction-left ul{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.jurisdiction-left ul li{
    padding: 10px 0 0;
    cursor: pointer;
}
.jurisdiction-left ul li a{
    display: block;
    width: 100%;
    padding: 0 10px 5px;
}
.jurisdiction-left ul li .heline{
    margin-top:5px;
    width: 100%;
    height: 4px;
    background: url("../img/hr.png") no-repeat;
    background-size: 100%;
}
.jurisdiction-left ul a .downicon{
    color:#74b6f0;
    margin-right: 5px;
}
.jurisdiction-left ul a .addicon{
    float: right;
}
.jurisdiction-left .hidemenu{
    width: 100%;
    height: auto;
}
.jurisdiction-left .hidemenu li{
    font-size: 12px;
    padding: 5px;
    position: relative;
    height: 27px;
}
.jurisdiction-left .hidemenu li:hover,.jurisdiction-left .hidemenu li.actv{
    background: #f6f6f6;
}
.actv{
    background: #f6f6f6;
}
.resBtn{
    display: none;
}
.knowClassify{
    max-height: 500px;
    overflow: auto;
}
.hidemenu li .change-input{
    position: absolute;
    top:5px;
    left: 5px;
    z-index: 22;
    display: none;
    background: #f6f6f6;
}
.change-input input{
    width: 120px;
    float: left;
    margin-right: 5px;
    padding: 2px;
    border-radius: 2px;
    border:1px solid #dfdfdf;
}
.change-input i{
    background: #e8e8e8;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
}
.change-input .savebtn{
    margin-right: 4px;
}
.hidemenu li .listtext{
    width: 110px;
    padding: 0 0 0 25px;
    float: left;
}
.addli{
    position: relative;
}
.addli .addicon{
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 10px;
}
.searchicon{
    cursor: pointer;
}
/*富文本*/
.edit{
   border:1px solid #e6e6e6;
}
.edit:hover{
    border:1px solid #D2D2D2;
}
.edit .w-e-toolbar{
    border: none !important;
}
.edit .w-e-text-container{
    border: none !important;
}
.edit .w-e-text{
    overflow-y: auto;
}
/*列表部分*/
.jurisdiction-center{
    width: 250px;
    height: 100%;
    float: left;
    border: 1px solid #e5e5e5;
    border-top:none;
    border-left: 0;
}
.jurisdiction-center .search-box{
    height: 34px;
    width: 90%;
    margin: 20px auto 10px;
    border-radius: 5px;
    border: 1px solid #3b96e5;
}
.search-box i{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/search.png) no-repeat;
    float: right;
    margin: 5px;
}
.search-box input{
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.jurisdiction-center .detail{
    width: 100%;
    height: 690px;
    overflow: auto;
}
.detail .detail-list{
    height: auto;
    width: 100%;
    overflow: hidden;
    border:1px solid #dfdfdf;
    padding: 10px;
    cursor: pointer;
}
.detail .detail-list:hover,.detail .aov{
    background: #e5ecf2;
}
.detail .detail-list .detail-top{
    padding-bottom: 5px;
    overflow: hidden;
}
.detail-list .detail-top .detail-title{
    width: 180px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detail-statu{
    padding: 2px 3px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    float: right;
}
.redbg{
    background: #f4887b;
}
.blubg{
    background: #0ebcef;
}
.redCol{
    color:#f4887b;
}
.blueCol{
    color:#0ebcef;
}
.datail-content{
    clear: none;
    width: 227px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detail-foot{
    width: 100%;
    overflow: hidden;
    height: auto;
}
.detail-foot .detail-user{
    display: inline-block;
    color:#72716f;
    float: left;
}
.detail-user img{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    float: left;
    margin-right: 5px;
}
.detail-foot .create-time{
    color:#72716f;
    line-height: 20px;
    float: right;
}
.nodata1{
    display: none;
}
.nodata2{
    display: none;
}
/*右侧*/
.jurisdiction-right{
    position: absolute;
    left: 480px;
    right: 0;
    height: 849px;
    float: left;
    border-bottom: 1px solid #e5e5e5;
}
.jurisdiction-right .right-ctronl{
    height: 55px;
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 10px;
}
.right-ctronl button{
    font-size: 12px;
    padding: 3px 10px;
    background: #f3f3f3;
    float: left;
    margin-right:10px;
}
.right-ctronl select{
    height: 25px;
    border-radius: 4px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    padding: 0 5px;
}
.jurisdiction-right .right-title{
    padding: 15px 10px 0;
    border-bottom:1px solid #dfdfdf;
    height: 120px;
    overflow: auto;
}
.right-title .title-connm{
    margin-bottom: 6px;
    color:#717171;
}
.title-connm .question-titl{
    color:#5fa207;
}
.jurisdiction-right .detail-info{
    padding: 15px 10px;
    height: 670px;
    overflow: auto;
    word-wrap: break-word;
}
.red-border{
    border-left: 3px solid #f4887b !important;
}
.blue-border{
    border-left: 3px solid #0cbeec !important;
}
.managelist .list-ctronl{
    display: none;
}
.noaudit-ctronl{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.havedata2{
    display: none;
}
/*新增*/
.newknow{
    width: 100%;
    padding:15px 0 0;
    position: absolute;
    z-index: 33;
    top: 0;
    background: #fff;
}
.newkonw-box{
    width: 800px;
    height: auto;
    position: relative;
}
.newkonw-box .layui-form-item:first-child{
    width: 300px;
}
textarea{
    resize: none !important;
}
/*修改*/
.changeknow,.audit-info{
    width: 100%;
    padding: 15px 0;
    position: absolute;
    z-index: 33;
    top: 0;
    bottom: 0;
    background: #fff;
}
.changebox{
    width: 800px;
    height: auto;
}
.changeknow>.layui-form-item{
    height: 55px;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 10px 15px;
}
.changeknow>.layui-form-item .layui-input-block{
    margin: 0 10px;
}
.changeknow>.layui-form-item button{
    font-size: 14px;
    background: #f3f3f3;
    float: left;
    margin-right:10px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #000;
}
/*待审列表*/
.noaudit .audit-ctronl{
    height: 55px;
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 10px;
}
.audit-ctronl button{
    font-size: 12px;
    padding: 3px 10px;
    background: #f3f3f3;
    float: left;
    margin-right:10px;
}
.audit-ctronl button:first-child{
    background: #3b96e5;
    color:#fff;
    border:1px solid #3b96e5;
}
/*审核详情*/
.audit-info .audit-ctronl{
    height: 55px;
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 10px;
}
.audit-ctronl button{
    font-size: 12px;
    padding: 3px 10px;
    background: #f3f3f3;
    float: left;
    margin-right:10px;
}
.audit-info .detail-info{
    height: 450px;
    overflow: auto;
    border-bottom: 1px solid #dfdfdf;
}
.audit-info .layui-form-item{
    width: 700px;
    margin-bottom: 0;
}
.audit-info .layui-form-item .layui-form-label{
    width: 100%;
    text-align: left;
}
.audit-info .layui-form-item .layui-input-block{
    margin-left: 10px;
}
/*分页*/
.common-page1{
    padding: 0;
    text-align: center;
}
#paging-box-count{
    float: none;
    line-height: normal;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color:#0cbeec;
}
.nodata1{
    display: none;
    text-align: center;
    height: 100%;
    width: 100%;
    background: url("../img/nodata1.png") no-repeat;
    background-position: center;
}
.nodata2{
    display: none;
    text-align: center;
    height: 500px;
    width: 100%;
    background: url("../img/nodata2.png") no-repeat;
    background-position: center;
}
/*textare*/
.layui-textarea{
    min-height: 70px;
}
.layui-form-label{
    width:90px;
}
/*添加相似问题*/
.add-tag .adatitle{
    margin-left: 110px;
    color:#1E9FFF;
    padding-bottom: 5px;
    cursor: pointer;
    display: inline-block;
}
.add-tag .layui-input-block{
    margin-bottom: 5px;
    margin-left: 110px;
}
.add-tag .layui-form-text{
    width: 800px !important;
}
.add-tag .tagbox{
    max-height: 170px;
    overflow: auto;
}
.tagbox input{
    width: 95%;
    float: left;
    margin-right: 5px;
}
.add-tag{
    position: relative;
}
.tagboxs{
    position: absolute;
    z-index: 22;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-shadow:  1px 1px 5px #dfdfdf;
    top: 60px;
    height: 130px;
    width: 82%;
    left: 110px;
    overflow: auto;
}
.tagboxs{
    display: none;
}
.notag{
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 100px;
    color: #aaa;
}
.tag-ul li{
    padding: 5px;
}
.tag-ul li:hover{
    background: #1E9FFF;
    color:#fff;
}
.tagbox i{
    font-size: 20px;
    color: red;
}
.tags .listtext{
    width: 100% !important;
}
.resetbtn{
    font-size: 12px;
    padding: 3px 10px;
    background: #f3f3f3;
    float: right;
    margin:0 10px 10px 0;
    display: none;
}

/*标签*/

.add-tag[class*="span"] {
    float: none;
    margin-left: 0;
}
.add-tag input[type="text"],.add-tag input[type="text"]:focus {
    /*border: 0 none;*/
    box-shadow: none;
    display: inline;
    line-height: 22px;
    margin: 0;
    outline: 0 none;
    padding: 4px 6px;
}
.add-tag .tag {
    background-color: #91b8d0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 22px 5px 9px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
    margin: 5px 5px 0 0;
}
.add-tag .close {
    bottom: 0;
    color: #fff;
    float: none;
    font-size: 12px;
    line-height: 20px;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 18px;
}
.add-tag .close:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.add-tag .close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}
.add-tag .close:hover,.add-tag .close:focus {
    color: #000;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
.add-tag button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.add-tag .tag-warning {
    background-color: #ffb752;
}
.edits{
    width: 100%;
    height: 400px;
    border: 1px solid #dfdfdf;
    padding: 10px;
}