.layout-top{height: 50px;margin: 10px 0px;}
.layout-top .seacrch{float: right;line-height: 46px;height: 48px;margin: 0px 25px;font-size: 22px;background-color: #e2e2e2;}
.layout-top .seacrch li{display: inline-block;}
.a-btn{text-align: center;width: 130px;display: block;height: 32px;line-height: 32px;background: #2f94e5;padding: 0 35px;color: #fff;text-decoration: none;font-size: 16px;}
.seacrch a:hover{text-decoration:none;color: #fff;background: #3b75a3;}
.datetimepicker{top: 60px!important;}
.time-input{text-align: center;font-size: 16px;}
.seacrch .left{margin-left: 15px;}
.seacrch .right{margin-right: 15px;}
