/*通用搜索*/
.h100{
    height: 100px!important	;
}
.h30{
    height: 30px!important	;
}
.flex{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100%!important;
}
.p4{
    padding: 4px 10px;
}
.c0{
	color: #000!important;
	}


#common-tool{
    height: 40px;
    background-color: #F8F7F7;
    border-top: 1px solid #DCDCDC;
    border-bottom:1px solid #DCDCDC;
}
#common-tool #search{
    float: left;
}
#common-tool #rig-tool{
    float: right;
}
#rig-tool>button{
    float: left;
}
.input-group .form-control {
    width: 130px;
    height: 30px;
    padding: 0 5px;
    z-index: 0!important;
}
/*end*/
#search-tool{
    background-color: #fff;
    border-top: 1px solid #DCDCDC;
    border-bottom:1px solid #DCDCDC;
    padding: 10px;
    position: relative;
    display: none;
}
#search-tool .input-group{
    float: left;
    margin-left: 10px;
}
#search-tool .input-group:first-child{
    margin-left: 0;
}
#search-tool .input-group>span{
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    margin-right: 5px;
}
#search-tool-show{
    float: right;
}
#search-tool .glyphicon{
	top:-22px!important;
	left:105px!important;
	}

/*layer*/

.visiable{
    visibility: hidden;
    padding: 1px 0;
}
.tabale-list{
    padding: 0 10px;
}



.date{
    padding: 0;
}
.date input{
    border:0;
    height: 28px;
    text-indent: 10px;
    width:101px;
}
/*tab*/
.tab-title{
    height: 42px;
    border-bottom: 1px solid #ddd;
}
.tab-title ul li{
    height: 42px;
    padding: 10px 15px;
    float: left;
    cursor: pointer;
}
.tab-title ul li a{
    display: inline-block;
}
.tab-title ul li.active{
    border-bottom: 2px solid #02a0ea;
}
.table-rgt{
    margin-right: 10px;
}




