::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #C3C3C3!important;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #C3C3C3!important;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #C3C3C3!important;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #C3C3C3!important;
}

.allWrapper {
	width: 100%;
}

.banner img,
.pic img {
	width: 100%;
}

.register {
	background: url(../images/beijing.png) no-repeat 0 0;
	padding: 0.3rem 0.3rem 1.2rem 0.3rem;
	background-size: 100% 100%;
	position: relative;
}

.register .form-group div:not(.passNum) {
	margin-bottom: 0.3rem;
}

.register .form-group div.tip {
	height: 0.6rem;
	line-height: 0.6rem;
	color: #ff474d;
	margin-bottom: 0;
	text-indent: 0.2rem;
	font-size: 0.16rem;
	position: relative;
}

.register .typeChange {
	height: 0.55rem;
	padding: 0 0.3rem 0 0.3rem;
}

.register .typeChange span {
	display: inline-block;
	height: 0.55rem;
	width: 50%;
	background-size: 100%!important;
	float: left;
}

.register .typeChange #normalUser {
	background: url(../images/putongyonghu.png) no-repeat 0 0;
}

.register .typeChange #normalStore {
	background: url(../images/putongshanghu＿2.png) no-repeat 0 -1px;
}

.register input {
	height: 0.46rem;
	border-radius: 0.23rem;
	border: none;
	box-shadow: 0 0.02rem 0.08rem 0.02rem #ffb296;
	text-indent: 0.4rem;
	font-size: 0.16rem;
	color: #C3C3C3;
	background-color: #FFFFFF!important;
	background-size: 0.2rem!important;
}

.register input:focus {
	box-shadow: none;
}

.register .phoneNum input {
	background: url(../images/shouji.png) 0.2rem 50% no-repeat;
}

.register .codeNum {
	height: 0.5rem;
}

.register .codeNum input {
	background: url(../images/yanzhengma.png) 0.2rem 50% no-repeat;
	width: 55%;
	float: left;
}

.register .codeNum .btn{
	padding: 0;
}

.register .passNum input {
	background: url(../images/mima.png) no-repeat 0.2rem 50%;
}

.register #storeName input {
	background: url(../images/dianpu.png) no-repeat 0.2rem 50%;
}

.register #storeTypes input {
	background: url(../images/icon_hy.png) no-repeat 0.2rem 50%;
}

.register #adminName input {
	background: url(../images/icon_lc.png) no-repeat 0.2rem 50%;
}

.register #storeAddress input {
	background: url(../images/didian.png) no-repeat 0.2rem 50%;
	padding-right: 0.38rem;
}

.register .codeNum button {
	display: block;
	width: 35%;
	height: 0.5rem;
	margin-left: 10%;
	border-radius: 0.25rem;
	float: left;
	background-color: #f55145;
	color: #FFFFFF;
	text-align: center;
	font-size: 0.14rem;
	outline: none!important;
}

.storeInfo .tip img {
	width: 0.16rem;
	height: 0.16rem;
	position: absolute;
	right: 0.4rem;
	top: 0.22rem;
}

.storeInfoContainer{
	margin-bottom: 0!important;
}

#storeTypes,
#storeAddress {
	position: relative;
}

#storeTypes input,
#storeAddress input {
	width: 100%;
	padding: 6px 12px;
}

#storeTypes .caret,
#storeAddress .caret {
	position: absolute;
	top: 0.21rem;
	right: 0.2rem;
	display: block;
	width: 0.16rem;
	height: 0.08rem;
	border-top: 0.08rem dashed;
	border-right: 0.08rem solid transparent;
	border-left: 0.08rem solid transparent;
	color: #ff7f69!important;
}

.picUpload {
	overflow: hidden;
	margin-bottom: 0!important;
}

.picUpload div.preview{
	width: 100%;
	height: 1.1rem;
	top: -1.1rem;
}

.picUpload div.preview div{
	width: 100%!important;
	height: 1.1rem!important;
	top: 0!important;
}

.picUpload .uploads {
	width: 48%;
	height: 1.1rem;
	float: left;
	background-size: 100% 100%!important;
}

.picUpload .uploadLeft {
	margin-right: 4%;
}

.picUpload #licence1 {
	background: url(../images/yingyezhizhao1.png) no-repeat;
	margin-bottom: 0.12rem;
}

.picUpload #licence2 {
	background: url(../images/yingyezhizhao2.png) no-repeat;
	margin-bottom: 0.12rem;
}

.picUpload #licence3 {
	background: url(../images/shenfenzhengzheng.png) no-repeat;
	margin-bottom: 0;
}

.picUpload #licence4 {
	background: url(../images/shenfenzhengfan.png) no-repeat;
	margin-bottom: 0;
}

.picUpload button {
	width: 100%;
	height: 100%;
	opacity: 0;
}

#regist{
	margin-top: 0.35rem;
}

#regist #registNow {
	border: none;
	background: url(../images/anniu.png) no-repeat;
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	background-size: 100% 0.6rem;
	cursor: pointer;
	outline: none;
	box-shadow: none;
}

.smartCity {
	position: absolute;
	z-index: 999;
	width: 90%;
	left: 5%;
	bottom: -3.2rem;
	background-color: #FFFFFF;
	border-radius: 0.04rem;
	box-shadow: 0.01rem 0.08rem 0.1rem 0.05rem #f2ced0;
}

.smartCity .head,
.appInfoList .head,
.smartManage .head {
	height: 1.1rem;
	text-align: center;
	line-height: 0.4rem;
	padding-top: 0.1rem;
	font-size: 0.24rem;
}

.smartCity .head strong,
.appInfoList .head strong,
.smartManage .head strong {
	background: url(../images/fengexian.png) no-repeat 50% 0.42rem;
	display: block;
	height: 0.45rem;
	background-size: 0.35rem 0.03rem;
}

.smartCity .head p,
.appInfoList .head p,
.smartManage .head p {
	font-size: 0.13rem;
	color: #838383;
	margin-bottom: 0;
}

.smartCity li {
	height: 1rem;
	border-bottom: solid 0.01rem #f1f1f1;
	padding-top: 0.1rem;
}

.smartCity .appName,
.smartCity .appIcon {
	float: left;
}

.smartCity .appName {
	padding: 0.05rem 0 0 0.05rem;
}

.smartCity .appIcon {
	width: 0.8rem;
	height: 0.8rem;
}

.smartCity .appIcon img {
	width: 100%;
}

.smartCity .appName .app-name {
	font-weight: bold;
	font-size: 0.15rem;
}

.smartCity .appName .app-info {
	font-size: 0.13rem;
	color: #C3C3C3;
}

.appInfoList {
	padding: 3.8rem 5% 0 5%;
}

.appInfoList ul {
	padding-left: 0.2rem;
}

.appInfoList li {
	height: 0.9rem;
	background-color: #ffb180;
	box-shadow: 0 0 0.08rem 0.02rem #ffd4c8;
	position: relative;
	border-radius: 0.04rem;
	color: #FFFFFF;
	margin-bottom: 0.2rem;
}

.appInfoList .appName {
	font-size: 0.18rem;
	height: 0.9rem;
	padding: 0.1rem 0.1rem 0 0.8rem;
}

.appInfoList .appIcon {
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
	z-index: 999;
	top: 0.1rem;
	left: -0.28rem;
}

.appInfoList .appIcon img {
	width: 100%;
}

.appInfoList .appName .app-info {
	font-size: 0.13rem;
}

.smartManage .goTop {
	display: none;
	position: fixed;
	z-index: 999;
	width: 0.6rem;
	height: 0.6rem;
	right: 0;
	bottom: 2rem;
}

.smartManage {
	position: relative;
	padding: 0 5% 0 5%;
}

.smartManage .goTop img {
	width: 100%;
}

.weui-picker-modal{
	height: 2.8rem;
}

.weui-picker-modal .picker-modal-inner{
	height: 2.8rem;
}

.weui-picker-modal .picker-items-col.picker-items-col-center{
	padding-top: 0;
}

.weui-picker-modal .picker-items{
	font-size: 0.14rem;
}

.toolbar, .toolbar .title{
	font-size: 0.16rem;
}
