.allWrapper {
	border-top: 15px solid #f8f8f8;
	font-family: "microsoft yahei";
}

.col-xs-6 {
	padding: 0;
}

.container-fluid {
	padding: 0px;
	margin-left: 0;
	margin-right: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.data .my-data {
	height: 300px;
	padding-left: 30px;
	padding-right: 30px;
	border-bottom: solid 8px #f8f8f8;
}

.my-data .title {
	height: 80px;
	font-size: 20px;
	padding-top: 15px;
}

.visit-amounts,
.novisit-amounts,
.regist-amounts,
.noregist-amounts,
.client {
	color: #666666;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 25px;
}

.visit-amounts,
.novisit-amounts,
.client {
	margin-bottom: 20px;
}

#visit-amounts,
#novisit-amounts,
#regist-amounts,
#noregist-amounts,
.client-name,
.client-amounts {
	color: #999999;
	letter-spacing: 1px;
	line-height: 25px;
}

.day-amounts,
.month-amounts {
	font-size: 15px;
	color: #999999;
	padding-left: 10px;
	line-height: 25px;
	margin-bottom: 20px;
}

#day-amounts,
#month-amounts,
#day-gifts,
#month-gifts {
	font-size: 20px;
	color: #666666;
}

#main3,
#main4 {
	font-family: "microsoft yahei";
}

@media (max-width:360px){
	.visit-amounts,.novisit-amounts,
	.regist-amounts,
	.noregist-amounts,
	.client {
		font-size: 13px;
	}
}
