.allWrapper {
	border-top: 15px solid #f8f8f8;
	font-family: "microsoft yahei";
}

.col-xs-6 {
	padding: 0;
}

.container-fluid {
	padding: 0px;
	margin-left: 0;
	margin-right: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.data .store-data {
	height: 300px;
	padding-left: 30px;
	padding-right: 30px;
	border-bottom: solid 8px #f8f8f8;
}

.best-product{
	padding-left:15px!important;
	padding-right:15px!important;
}

.store-data .title {
	height: 80px;
	font-size: 20px;
	padding-top: 15px;
}

.best-product .title{
	padding-left: 15px;
}

.product,
.client,
.employ,
.gift {
	margin-bottom: 15px;
}

.product-right {
	margin-bottom: 40px;
}

.product{
	color: #999999;
}

.productName,
.client-name,
.employ-name,
.gift-amounts,
.useCount{
	color: #666666;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 25px;
}

.product-amounts,
.client-amounts,
.employ-amounts,
.today,
.use-amounts {
	color: #999999;
	letter-spacing: 1px;
	line-height: 25px;
}