.common-container{
    position: relative;
    height: 100%;
}
.jurisdiction-content{
    height: 100%;
    background: #fff;
    position: relative;
}
.jurisdiction-content h4{
    font-size: 16px;
    color:#000;
}
/*左侧*/
.jurisdiction-content .jurisdiction-left{
    width: 80%;
    height: 100%;
    float: left;
    padding: 20px 35px;
    position: relative;
}
.jurisdiction-left h4 a{
    color:#1E9FFF;
    cursor: pointer;
}
.jurisdiction-left .title{
    margin:20px 0;
    font-size: 15px;
}
.jurisdiction-left .content{
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}
.jurisdiction-left .message-input{
    width: 100%;
    height: 280px;
    margin: 10px 0;
}
.jurisdiction-left .ctrol-left{
    width: 50%;
    float: left;
}
.jurisdiction-left .ctrol-right{
    width: 50%;
    float: right;
    text-align: right;
}
.jurisdiction-left .tip{
    margin: 10px 0;
}
.jurisdiction-left .ctrol-right button{
    padding: 0 20px;
}
.jurisdiction-left .ctrl-log{
    margin-top: 20px;
    height: 340px;
    position: absolute;
    bottom: 80px;
    width: 96%;
}
.message-info-lists{
    width: 100%;
    height: 310px;
    overflow: auto;
}
.ctrl-title{
    height: 29px;
}
.jurisdiction-left .ctrl-log .ctrl-title span{
    border-bottom: 3px solid #1E9FFF;
    padding: 5px 15px;
    color:#1E9FFF;
}
/*右侧*/
.jurisdiction-content .jurisdiction-center{
    width: 20%;
    height: 100%;
    float: right;
    border-left: 1px solid #dfdfdf;
}
.jurisdiction-center h2{
    font-size: 16px;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    color:#000;
    padding: 10px 0;
}
.jurisdiction-center h3{
    padding: 10px 0 0 10px;
    font-size: 15px;
    color:#1E9FFF;
}
.jurisdiction-center h3 i{
    margin-right: 10px;
}
.jurisdiction-center table{
    font-size: 13px;
    margin:10px;
}
.jurisdiction-center .layui-table td, .layui-table th{
    padding: 6px 15px;
}
.w-e-text-container{
    height:180px !important;
}
.info-list{
    width: 100%;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
    margin:10px 0;

}
.info-list .info-list-top{
    height: 38px;
    line-height: 38px;
}
.info-list-content{
    width: 95%;
    margin:0 auto;
    background: #ececec;
    padding: 5px;
    border:1px solid #dfdfdf;
}
.info-list i{
    display: inline-block;
    width: 24px;
    height: 38px;
    float: left;
    margin-right: 5px;
}
/*.info-list i.action0{
    background: url("../img/action1.png") no-repeat;
    background-position: left center;
}*/
.info-list i.action1{
    background: url("../img/action1.png") no-repeat;
    background-position: left center;
}
.info-list i.action2{
    background: url("../img/action1.png") no-repeat;
    background-position: left center;
}
.info-list i.action3{
    background: url("../img/action3.png") no-repeat;
    background-position: left center;
}
.info-list i.action4{
    background: url("../img/action4.png") no-repeat;
    background-position: left center;
}
.info-list i.action5{
    background: url("../img/action5.png") no-repeat;
    background-position: left center;
}
.info-list i.action6{
    background: url("../img/action6.png") no-repeat;
    background-position: left center;
}
.info-list i.action7{
    background: url("../img/action7.png") no-repeat;
    background-position: left center;
}
/*转交工单*/
.turn-order{
    display: none;
    width: 90%;
    margin: 25px auto;
}
.turn-order .layui-form-label{
    width: 115px;
}
.turn-order .layui-input-block{
    clear: both;
    margin: 0 auto;
    width: 90%;
}
.turn-order dl{
    height: 250px;
}
.open-hid{
    display: none;
}
.content img{
    height: 100px;
}
.content p{
    width: 100%;
    word-wrap:break-word;
}
.img-hide{
    display: none;
    width: 100%;
    height: 600px;
}
.img-hide img{
    display: block;
    height: 100%;
}