body {
  font-size: 16px;
  color: #666666;
  font-family: '微软雅黑';
  overflow-y: hidden;
}
.container-fluid {
  padding: 0;
}
label {
  font-weight: normal;
  font-size: 14px;
}
#get_lexicon {
  width: 700px;
  height: 550px;
}
#get_lexicon .search-area {
  height: 84px;
}
#get_lexicon .search-area .form-inline {
  margin: 23px 0 0 0;
}
#get_lexicon .search-area .form-inline .form-group {
  display: inline-block;
  margin: 0 20px 0 0;
}
#get_lexicon .search-area .form-inline .form-group .form-control {
  display: inline-block;
  width: 154px;
}
#get_lexicon table {
  margin: 0;
}
#get_lexicon table th,
#get_lexicon table td {
  text-align: center;
  vertical-align: middle;
}
#get_lexicon p {
  float: right;
  line-height: 40px;
  font-size: 14px;
  margin: 0 0 0 10px;
}
#get_lexicon .active {
  background: #E8FFED;
}
#get_lexicon .glyphicon-minus-sign {
  color: #ff0000;
  margin: 0 5px 0 0;
}
#get_lexicon .delete {
  cursor: pointer;
}
