body {
  font-family: "微软雅黑";
}
#qbz .content .title {
  height: 80px;
  line-height: 80px;
  font-size: 28px;
  color: #333;
  text-indent: 60px;
  background-color: #F5F5F5;
}
#qbz .content .c_warp {
  display: flex;
  height: 100px;
  background-color: #fff;
  margin-left: 45px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
#qbz .content .c_warp div span {
  display: block;
  color: #999;
}
#qbz .content .c_warp .c_left {
  margin-left: 15px;
}
#qbz .content .c_warp .c_left span:first-child {
  font-size: 28px;
}
#qbz .content .c_warp .c_left span:last-child {
  font-size: 24px;
  margin-top: 10px;
}
#qbz .content .c_warp .c_right {
  margin-left: 72px;
}
#qbz .content .c_warp .c_right span:first-child {
  font-size: 38px;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#qbz .content .c_warp .c_right span:first-child i {
  font-size: 18px;
  margin-right: 10px;
}
#qbz .content .c_warp .c_right span:last-child {
  font-size: 24px;
  display: flex;
  align-items: center;
}
#qbz .content .c_warp .c_right span:last-child i {
  font-size: 14px;
  margin-top: 2px;
  color: #FF7733;
  margin-right: 10px;
}
#zwz .nav {
  height: 80px;
  line-height: 80px;
  background-color: #ffd600;
}
#zwz .nav ul {
  display: flex;
  margin: 0 40px;
}
#zwz .nav ul li {
  flex: 0 0 25%;
}
#zwz .nav ul li a {
  font-size: 30px;
  color: #555;
  padding: 9px 4px;
}
#zwz p[class="time"] {
  text-indent: 27px;
  height: 75px;
  line-height: 75px;
  background-color: #F5F5F5;
  font-size: 30px;
  color: #000;
}
#zwz .canvas {
  background-color: #fff;
  margin-bottom: 24px;
}
#zwz .canvas .title {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
}
#zwz .canvas .title span:first-child {
  font-size: 33px;
  color: #333;
  text-align: left;
  margin-top: 36px;
  margin-bottom: 52px;
  font-weight: 600;
  letter-spacing: 1px;
}
#zwz .canvas .title span:last-child {
  font-size: 30px;
  color: #999;
  margin-top: 40px;
  margin-bottom: 52px;
  text-align: right;
}
#zwz .canvas .count {
  display: flex;
  margin: 0 36px;
  padding-top: 27px;
  padding-bottom: 30px;
}
#zwz .canvas .count .c {
  width: 50%;
}
#zwz .canvas .count .c .dian {
  display: flex;
  align-content: center;
  margin-bottom: 24px;
}
#zwz .canvas .count .c .dian i {
  font-size: 20px;
  margin-top: 5px;
}
#zwz .canvas .count .c .dian span {
  font-size: 33px;
  color: #333;
  margin-left: 16px;
}
#zwz .canvas .count .c span[class="num"] {
  font-size: 33px;
  color: #333;
  margin-left: 36px;
}
#zwz .canvas .count .c_left .icon-yuandian {
  color: #10b5ff;
}
#zwz .canvas .count .c_right .icon-yuandian {
  color: #ff7733;
}
#zwz .canvas .line {
  margin: 0 auto;
  margin-top: 30px;
}
.line_warp {
  background-color: #F5F5F5;
}
.water {
  background-color: #fff;
}
.water ul {
  margin-left: 64px;
  margin-right: 26px;
}
.water ul li {
  height: 100px;
  line-height: 100px;
  border-top: 1px solid #dadada;
}
.water ul li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.water ul li div span {
  font-size: 28px;
  color: #999;
  display: flex;
  align-items: center;
}
.water ul li div span i {
  font-size: 24px;
  margin-bottom: 5px;
}
.water ul li div .money {
  color: #333;
}
#zwz .nav li.nav_active a {
  font-weight: 500;
  color: #000;
  border-bottom: 3px solid #fff;
}
