/*禁止选择*/
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
.layui-btn.my-btn{
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    font-size: 12px;
}
.layui-table, .layui-table-view {
     margin:0!important;
    }
/*common*/
.p0{
	padding: 0!important;
}
.w30{
	width: 30%!important;
}
.mr5{
	margin-right: 5%!important;
}
.tr90{
	transform: rotate(90deg)!important;
}
.dn{
	display: none!important;
	}
/*common end*/


ul.tool-box-ul {
	padding: 25px 25px 0;
}

ul.tool-box-ul>li.tool-box-li {
	width: 250px;
	margin-right: 20px;
	float: left;
}
.tool-add-box{
	padding: 0 35px;
}
.tool-add-box .add{
	width: 112px;
    height: 38px;
    float: right;
}


div.layui-input-inline {
	width: 100%!important;
}

ul.tool-box-ul>li.tool-box-li .tool-box-label {
	display: block;
	font: normal 14px/2em "微软雅黑";
}

#searchBtn {
	width: 112px;
	height: 38px;
	position: relative;
	top: 27px;
}
/*搜索框结束*/
#addBtn{
	float: right;
	width: 100px;
	height: 40px;
	line-height: 40px;
}
#resetBtn {
	width: 112px;
	height: 38px;
	position: relative;
	top: 27px;
}

/*APP开始*/
.layui-app{
	padding: 0px 25px;
}
.layui-app .app-table,.layui-app .app-ztree{
	float: left;
}
.layui-app .app-ztree{
	width: 850px;
    height: 625px;
    margin-top: 25px;
    margin-right: 10px;
    border-top:2px solid #009688;
    overflow: auto;
}

#layTableLeftPage{
	text-align: right;
}

    
#myListName{
	line-height: 40px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
}

#btnCon {
    padding: 10px;
}

#layTableRightPage{
	text-align: right;
}









    

.layui-app .app-table{
	width: calc(100% - 870px);
}


.layui-app .select-search .select-search-div{
	width: 100px;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
	float: left;
	color: #000000;
	font: normal 14px/40px "微软雅黑";
	text-align: center;
	background-color: #ECECEC;
	border: 1px silid #C6C6C6;
	cursor: pointer;
	transition: all .3s;
}
.layui-app .select-search .select-search-div.act{
	color: #fff;
	background-color: #009688;
}
.layui-app .app-table{
	margin-top: 25px;
	border-top: 2px solid #009688;
}
.layui-app .app-table div.layui-form{
	margin-top: 0;
	}
.layui-app .app-table div.layui-form .layui-table-body{
	overflow-x: hidden;
}
/*分页*/
#layTablePage{
	text-align: right;
}
/*LAYER*/

#addLayer{
	display: none;
	padding: 30px 40px;
}
.required-icon{
	color: red;
}
.app-layer{
	border: 1px solid #E3E3E3;
	border-top: 2px solid #009688;
}
.app-layer .package{
	height: 40px;
	line-height: 40px;
	background-color: #F5F5F5;
	cursor: pointer;
}
.app-layer .package .package-title{
	float: left;
	margin-left: 15px;
}
.app-layer .package .package-some{
	float: right;
}
.app-layer .package .package-some>i.icon{
	padding: 5px;
	color:#009688;
	display: inline-block;
	transition: all 0.3s;
}
.app-layer .package .package-some>i.description{
	font-style: normal;
	color:#000;
	font-size: 12px;
}
.app-layer .package .package-some>i.deg{
	transform: rotateX(180deg);
}
.app-layer .app-layer-content{
	padding: 35px 60px;
	position: relative;
}
.app-layer .tool-box-li:nth-of-type(3n){
/*	margin-right: 0!important;*/
}
.app-layer .layer-place{
	display: none;
	font: normal 12px/30px "微软雅黑";
	color: #8D8D8D;
	text-align: center;
	cursor: pointer;
}
.app-layer .layer-place i{
	font: normal 12px/30px "微软雅黑";
	color: #8D8D8D;
	padding: 5px;
}
#uploadImg1,#uploadImg2,#uploadImg3,#uploadImg4,#uploadImg5{
	width: 100%;
	height: 222px;
}
#changeLayer{
	display: none;
	height: 100%;
	padding: 30px 40px;
}
#changeLayer .app-layer{
	height: 100%
}
#changeLayer .left-app{
	float: left;
	width: 60%;
}
#changeLayer .right-app{
	float: left;
	width: 40%;
}
#changeLayer .layui-input-inline{
	width: 250px;
}
#fatherTree{
	background: gainsboro;
    padding: 5px;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
}
.mid-line{
	position: absolute;
	background-color:#009688;
	height: 100%;
	width: 2px;
	left: 50%;
	top: 0;
	margin-left: -1px;
	
}
#changeLayer #treeDemo{
	height: 304px;
	overflow: auto;
}


#layerFormDiv{
	display: none;
	height: 100%;
	padding: 30px 40px;
}
#layerFormPage{
	text-align: right;
}
