.gray-bg{
	padding-top:60px;
}
.h600{
	height:600px;
}
.h30{
	height:30px;
	line-height: 30px;
}
.trees-box{
	width:100%;
	height:auto;
}
.trees-box h4{
    background: #dcdcdc;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    text-indent: 10px;	
}
.ztree{
    height: 600px;
    overflow: auto;
}

/*right*/
.jurisdiction-right{
    margin-left: 315px;
    height: 96%;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.jurisdiction-right .addcontent{
    width: 100%;
    position: relative;
}
.addcontent .addcontent-title{
    position: absolute;
    padding: 0 5px;
    top: 16px;
    left: 12px;
    background: #fff;
    font-size: 14px;
    color: #333;
    z-index: 3;
}
.addcontent .addcontent-table{
    margin:26px 10px 0 0;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    width: 99%;
    padding: 30px 0;
}
.addcontent-table .layui-form-item{
    width: 620px;
}
/*表单修改*/
.layui-form-label{
    width: 142px;
}
.layui-input-block{
    margin-left: 142px;
}
.layui-input-block input{
	display: inline-block;
	border:none;
	border:1px solid #ccc;

	padding-left: 10px;	
	
}
.layui-input-block input,.layui-input-block button{
	height:36px;

}
.layui-input-block .layui-btn + .layui-btn{
	margin:0
}
.addcontent-table #merchant{
	display: none;
}


.flex{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100%!important;
}




ul.tool-box-ul {
	padding: 35px 25px;
}

ul.tool-box-ul>li.tool-box-li {
	width: 250px;
	margin-right: 20px;
	float: left;
}

div.layui-input-inline {
	width: 100%!important;
}

ul.tool-box-ul>li.tool-box-li .tool-box-label {
	display: block;
	font: normal 14px/2em "微软雅黑";
}
