.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.formContent>div{
	margin-top: 1rem;
}
.formContent label{
	font-size: 1.5rem;
	line-height: 1;
}
.formContent span{
	font-size: 1rem;
	line-height: 1.5rem;
	color: #888;
}
/* 标题 */
.formContent .formTitle {
	display: block;
	margin: 0;
	font-size: 2rem;
	font-weight: 600;
	line-height: 3rem;
}
.formTitle .title{
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    vertical-align: middle;
}
.shelve{
	display: inline-block;
	padding: 0.1rem 0.5rem;
	font-size: 0.5rem;
	font-weight: normal;
	background-color: #21c7c9;
	color: #fff !important;
}
.shelve.off{
	background-color: #f8ac59;
}
.shelve.outdate{
	background-color: #ADADAD;
}
.myForm{
	padding: 1rem 2rem;
}
.myTitle{
	display: block;
	background-color: #353b53;
	font-size: 2rem;
	padding: 1rem 0 1rem 3.8rem;
}
.myTitle .fa-close{
    font-size: 2.8rem;
    margin-right: 1rem;
}

.shelveBtn{
	background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFF;
}
.off{
	background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFF;
}