.maintitle {
	background-color: #F2F2F2;
}

.search-bar {
	background-color: #FFFFFF;
	padding: 15px 20px;
	text-align:center;
}

.table tbody tr td, .table thead tr th {
	text-align: center;
}

.table thead tr th {
	background-color: #FE6869;
	color: #FFF;
	font-size: 16px;
	border-bottom: none!important;
}

.pageview {
	text-align: center;
}


.layui-layer-title {
	height: 42px;
	line-height: 42px;
	font-size: 18px;
}

.layui-layer-setwin {
	top: 6px;
	right: 6px;
}

.layui-layer-setwin a {
	width: 30px;
	height: 30px;
}

/*.echartPieWrap {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

#echartPieSales,
#echartPieConsume {
	position: relative;
	height: 400px;
}

#echartPieSales {
	border-right: 1px solid #ccc;
}

#echartPieSales .nodata,
#echartPieConsume .nodata {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}

.nodata p {
	color: #999999;
}*/


.tab-bar {
	overflow: hidden;
	padding: 10px;
	text-align: center;
}
.tab-bar .main-tab .btn{
	width: 100px;
	color: #FE6869;
	background-color: #FFFFFF;
	border:1px solid #fe6869;
	font-size: 16px;
}
.tab-bar .main-tab .btn.active {
	color: #FFFFFF;
	background-color: #FE6869;
}
.tab-bar.absolute {
	position: absolute;
	right: 10%;
	top: 5px;
	padding: 0;
	z-index: 99;
}
.tab-bar.absolute .btn {
	border:1px solid #d98b41;
	width: 50px;
	height: 22px;
	line-height: 22px;
	padding:0;
	color: #d98b41;
	background-color: #FFFFFF;
}
.tab-bar.absolute .btn.active{
	color: #FFFFFF;
	background-color: #d98b41;
}
.echarts-wrap {
	position: relative;
	width: 100%;
}
.echarts-bar-box, .echarts-pie-box{
	position:relative;
	height:320px;
	width:80%;
	text-align: center;
	margin:0 auto;
}
.echarts-pie-box{
	height:300px;
	margin-top:20px;
}
.echarts-date-wrap {
	height: 40px;
}
.date-wrap {
	margin:10px auto;
	text-align: center;
}
.date-wrap .btn{
	background:#fe6869;
	color:#fff;
}

.echats-salesconsumption {
	position: relative;
	width: 80%;
	margin: 0 auto;
	height: 250px;
}
.echarts-bar{
	height:320px;
} 
.echarts-pie {
	height: 270px;
	width:100%;
}
.pie-wrap {
	padding-top: 40px;
	position: relative;
}

.echats-pie .nodata {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.echats-pie .nodata p {
	color: #999999;
	margin: 0;
}
.layui-layer-dialog .layui-layer-content {
	font-size: 16px;
	padding: 20px;
	line-height: 1.4275;
}
.startTime, .endTime {
	width: 120px!important;
}
