body {
  background: #fff;
}

.wrapper-main {
  padding: 10px;
}

.layui-form-label {
  width: auto;
}

.main {
  border-top: 2px solid #009688;
}

.layui-table-view {
  margin: 0;
}

.fr {
  float: right;
}

.mb10 {
  margin-bottom: 10px;
}

.tac {
  text-align: center;
}

.detailDemo {
  margin: 25px;
  min-height: 500px;
  display: none;
}

.detailDemo .layui-form-item {
  clear: none;
}

.detailDemo .title {
  margin-bottom: 25px;
  font-size: 24px;
}

.detailDemo .title span {
  margin-left: 10px;
  font-size: 14px;
  color: #fff;
  padding: 2px 5px;
}

.detailDemo .down {
  background: #f0ad4e;
}

.detailDemo .up {
  background: #21c7c9;
}

.detailDemo ul {
  overflow: hidden;
}

.detailDemo .span_normal {
  margin-right: 25px;
  display: inline-block;
  height: 100%;
  float: left;
  font-weight: bold;
}

.detailDemo .discript {
  display: block;
  margin-left: 80px;
}

.addDemo {
  margin: 25px;
  display: none;
}

.addDemo .layui-input-block {
  text-align: center;
  margin-left: 0;
}

.addDemo label {
  line-height: 2em;
}

.addDemo .img_box {
  background: #f5f5f5;
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.addDemo img {
  max-width: 100%;
  max-height: 160px;
  display: block;
  margin: 0 auto;
}

.layui-layer-btn .layui-layer-btn0 {
  background: #009688 !important;
  border-color: #009688 !important;
}

.layui-laypage {
  float: right;
}

.layui-table-view .layui-table {
  width: 100%;
}

.header .layui-form label {
  display: block;
  line-height: 28px;
}

.header .layui-input-block {
  margin-left: 0;
  padding-right: 20px;
}

.main .layui-table-cell {
  line-height: 50px;
  height: 50px;
}

.main .layui-table-cell img {
  height: 100%;
}

.main .layui-form-switch {
  width: 80px;
}

.main .layui-form-onswitch i {
  left: 68px;
}
