/* 
* @Author: Marte
* @Date:   2017-05-10 10:24:53
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-10 11:13:48
*/
.modal-dialog{
    
}
.modal-dialog .modal-content{
    
}
.modal-header{
    height: 40px;
    background-color: #303030;
/*    font:normal 16px/40px 'MicrsoftYaHei';*/
    color:#fff;
}
.modal-header .close{
    color:#fff;
    opacity: 1;
}
.modal-body{

}
.modal-footer{
    text-align: center;
}
.modal-footer .close-btn{
    background-color: transparent;
    color:#29b24a;
    border:none;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
.modal-footer .close-btn:focus{
    color: #29b24a;
    background-color: transparent;
    border: none;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}