#common-save{
	padding: 5px;
	background-color: #EEEEEE;
}
#common-save .notice{
	display: inline-block;
	line-height: 32px;
	font-size: 12px;
	margin-left: 12px;
	color: #333;
}
#common-save>button{
	margin-left: 0;
}
.app-model>div{
	float:left;
}
.tree{
	width: 250px;
	height:1000px;
	overflow-y: auto;
}
.menu{
	width: calc(100% - 250px);
}

.menu .menu-table{
	padding: 0;
}
#drag-notice{
	display: none;
    width: calc(100% - 250px);
    
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px solid #e5e5e5;
}

#drag-notice.act{
	display: flex;
}
 #drag-notice p{
 	font-size: 30px;
    color: lightsalmon;
 }   






/*权限*/
.system-nav{
    background: #f7f7f7;
    height: 100%;
    min-width: 183px;
}
.system-nav h4{
    font-size: 16px;
    color:#333;
    text-indent: 12px;
    padding: 17px 0;
    cursor: pointer;
}
.system-nav h4 span{
    margin-right: 12px;
}
.system-nav ul li .jurisdiction-nav-li{
    text-indent: 12px;
    padding: 17px 0;
    cursor: pointer;
}
.system-nav>ul>li .jurisdiction-nav-li{
    background: #ededed;
    color:#333;
    font-size: 14px;
}
.jurisdiction-info-nav li .jurisdiction-nav-li{
    text-indent: 24px;
    font-size: 14px;
    color: #666666;
}
.jurisdiction-info-nav{
    background: #e5e5e5;
}
#jurisdiction-name{
    width: 418px;
    height: 34px;
    float: left;
}
.jurisdiction-select{
    width: 40%;
    min-width: 100px;
}
.jurisdiction-select button{
    width: 100%;
    text-align: left;
}
.jurisdiction-select button .caret{
    float: right;
    margin-top: 9px;
}
.system-detail {
    padding: 0 35px;
}
.system-detail table tr th{
    text-align: center;
    height: 43px;
    line-height: 43px;
}
.system-detail table tr td{
    text-align: center;
    color: #666;
    height: 43px;
    line-height: 43px;
}
.navList .addorz.acve{
    color:#c83d2d;
}
.navList .addorz.acve span{
    color:#c83d2d;
}
.navList .addorz.acve a{
    color:#c83d2d;
    text-decoration: underline;
}
.navList .addorz.acve .glyphicon-circle{
    background:#c83d2d;
}
.system-orztitle{
    display: inline;
}
.jurisdiction-info-nav-li .glyphicon{
    display: inline;
}
.jurisdiction-info-thirdnav-li {
    font-size: 14px;
    color: #666;
    padding: 8px 0;
}
.jurisdiction-info-secondnav li .glyphicon-circle {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #7d7d7d;
    margin-bottom: 5px;
}
.navList .glyphicon {
    margin-right: 12px;
}
.jurisdiction-info-nav .jurisdiction-info-nav-li{
    color:#666;
    padding: 10px  0;
    cursor: pointer;
    text-indent: 40px;
}
.jurisdiction-info-secondnav li{
    text-indent: 70px;
    padding: 0 0 10px 0;
    cursor: pointer;
    color:#666;
}
.jurisdiction-info-secondnav li .glyphicon-circle{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #7d7d7d;
    margin-bottom: 5px;
}
.jurisdiction-info-secondnav li .glyphicon-nocircle{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    border:1px solid #7d7d7d;
    margin-bottom: 5px;
}
.jurisdiction-info-thirdnav-li{
    font-size: 14px;
    color:#666;
    padding: 8px 0;
}
.jurisdiction-info-thirdnav li{
    text-indent: 80px;
}
.jurisdiction-info-nav, .jurisdiction-info-secondnav, .jurisdiction-info-thirdnav {
    display: none;
}
.jurisdiction-right-body{
    height: 100%;
    overflow: auto;
}
.navList{
    height: 83%;
    overflow-y: auto;
}

