.ml-1{
    margin-left:1rem;
}
.mr-1{
    margin-right:1rem;
}
.ml-2{
    margin-left:2rem;
}
.mr-2{
    margin-right:2rem;
}
.mb-half{
    margin-bottom:0.5rem;
}
.main-content{
	padding-top:0.75rem;
}
.con-left{
	padding-left:0;
	padding-right:0;
}
.con-right{
	padding-right:0;
}
.customer-info{
	height:9.375rem;
	width:100%;
	padding-left:3.125rem;
	padding-top:2.125rem;
	background-color: #fff;
}

.customer-info label,
.customer-info span{
	color:#333;
	font-size:0.938rem;
	line-height: 2;
}
.customer-info .customer-name{
	font-size:1.25rem;
}
.remarks-history{
	width:100%;
	height:32.5rem;
	margin-top:0.75rem;
	background-color:#fff;
}

.remarks-history .title,
.remark-box .title{
	height:2.5rem;
	line-height: 2.5rem;
	border-bottom:0.063rem solid #eee;
	text-align: center;
	color:#333;
	font-size:1.073rem;
}
.remarks-history .list-box{
	width:100%;
	height:28.75rem;
	padding:0 2rem;
	overflow-y: auto;
}
.remarks-history ul>li{
	height:4.5rem;
	padding-top:0.75rem;
	font-size:0.938rem;
	color:#666;
}
.remarks-history ul>li+li{
	border-top:0.063rem solid #eee;
}

.billing-list{
    width:100%;
    height:38.5rem;
    overflow-y: auto;
}
.billing-list .list-item{
    position: relative;
    padding:0.75rem 1.25rem;
    margin-bottom:0.5rem;
    background-color:#fff;
}
.list-item label{
    font-size:1rem;
}
.list-item select, .list-item input{
    display:inline-block;
    width:10rem;
}
.list-item .remove-btn{
    position: absolute;
    right:0.75rem;
    top:0.75rem;
    display:block;
    width:1rem;
    height:1rem;
    background-image: url(../image/close_btn_grey.png);
    background-size: contain;
}
.add-btn{
	display: block;
	height:2.75rem;
	width:90%;
	margin:1.25rem auto;
	font-size:1.25rem;
	border-radius:0.25rem;
}
.select2-search{
    display:block!important;
}
.select2-container .select2-selection--single{
    height:32px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 32px;
}
